[2018-06-27 11:59] doktordirk commented on #894
hmm, i don't have a 'browser-polyfill' in my tsc project. i did find some in some babel projects!?

[2018-06-27 12:02] alexss3 commented on #894
I should comment that my issue is most likely not related to the aurelia project, but I stumbled upon this thread from a Google search.  Perhaps my previous comment can help provide clues as to how these errors are occurring.

[2018-06-27 13:11] hanssens commented on #894
I think I found the cause - and the solution to this. I asked a colleague to try and reproduce the problem. Without success. He ran pretty much the same configuration as me.

I started playing around with my Chrome Extensions, disabling them one-by-one, and the problem was resolved once I **disabled the Selenium IDE** extension.

![image](https://user-images.githubusercontent.com/493382/41975752-e

[2018-06-27 13:11] #894 closed

[2018-06-28 22:06] thomas-darling commented on #868
Do we know whether this will be fixed elsewhere, or what's going on here?
Seems the issue linked above (webpack-contrib/extract-text-webpack-plugin#763) was closed with a comment stating that we should use something else to extract CSS - which I assume means the CLI needs to be changed accordingly?

This really needs to work out of the box, and just locking the Webpack version is not a sustainable

[2018-06-29 06:50] JeroenVinke commented on #868
@thomas-darling I agree. I'll take a look

[2018-07-02 08:46] #896 closed

[2018-07-02 08:53] #874 closed

[2018-07-02 09:13] JeroenVinke commented on #231
@geomorillo there is some documentation here: https://aurelia.io/docs/cli/updating

[2018-07-02 09:18] JeroenVinke commented on #891
This issue has been fixed in aurelia-dependency-injection. When I create a new app it works again

[2018-07-02 09:18] #891 closed

[2018-07-02 09:20] JeroenVinke commented on #889
Closing this issue, please reopen with additional information about the issue

[2018-07-02 09:20] #889 closed

[2018-07-02 10:17] arabsight commented on #846
you can use the legacy option with the new plugin, and if you're using class-properties then the decorators plugin must come before class-properties pluginn and the later must must use loose mode:
[code]

[2018-07-03 01:47] geomorillo commented on #231
@JeroenVinke  its not about updating the cli but the libraries inside the project

[2018-07-03 11:12] Alexander-Taran commented on #895
Why are node_modules recursive? does not seem right for npm 3+
could you reinstall node/npm as well as delete `C:\Users\mrrob\AppData\Roaming\npm\node_modules\`
and reinstall aurelia-cli ?

[2018-07-04 10:12] JamesFenton opened #898 "Duplicate index.html created with au new and Asp.Net Core"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.5

* **NPM Version:**
3.10.9

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**
After running `au new --here` the index.html file is created in both the current folder and in the wwwroot folder

* **What is the exp

[2018-07-05 16:54] zcaotica commented on #895
Same problem, I have completely removed node and reinstalled.
NODE: 10.6.0
NPM: 6.1.0
SO: W10Pro

My installation on AU is not under VS but standalone ("Web (Default)" platform).
I also tried with all default option without success.

Thk
Zeta

[2018-07-06 22:39] ajoslin103 opened #899 "[Bluebird] Warning: a promise was created in a handler at [..] but was not returned from it"
I'm submitting a correction request, to ease the adoption of Aurelia by new users

* **Library Version:**
aurelia/cli vers 0.33.1

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**
with a standard usage of the au cli to create a new project, the main.[js|ts] file (resulting from the main-webpack.[js|ts] & main-cli.[js|ts] templates) do not return the result of aurelia.start() -

[2018-07-07 20:34] ghiscoding opened #900 "WebPack 4 should use "mini-css-extract-plugin" instead of "extract-text-webpack-plugin""
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.11.1

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack 4

**Current behavior:**

* **What is the expected behavior?**
Try to run a Prod build with ` au build --env prod` or `npm run build

[2018-07-07 20:45] ghiscoding commented on #900
So it took me about 2 hours to get it working, but the good news is I got it working. I'm not sure if it's the most efficient way and if the settings are correct.

#### Step 1 (`package.json`)
in `package.json` do the following change
[code]
#### Step 2 (`webpack.config.js`)
in `webpack.config.js` I changed the following
[code]

I'm not sure about the `publicPath`, I don't fully understand what th

[2018-07-07 20:57] doktordirk commented on #900
good work, but: https://github.com/webpack-contrib/mini-css-extract-plugin#readme

This plugin should be used only on production builds without style-loader in the loaders chain, especially if you want to have HMR in development.

[2018-07-07 21:11] ghiscoding commented on #900
Unless I'm wrong, this code `['style-loader', ...cssRules]` is executed only when it's Dev (not Prod). While this portion
[code]
is executed for Prod build (that is when `extractCss` is true.

[2018-07-08 07:59] doktordirk commented on #900
right. and seems to work fine

[2018-07-09 06:58] anwnqvis opened #901 "NetCore Webpack generates broken links in Prod builds"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.10.0

* **NPM Version:**
6.1.0

* **Browser:**
 all?

* **Language:**
TypeScript 2.8.1

* **Loader/bundler:**
Webpack

**Current behavior:**
Files loaded with file-loader get no prefix in path but they are put in 'dist'. This makes IIS

[2018-07-10 12:20] Stickiler commented on #556
With a brand new project, Typescript, RequireJS, Aurelia-Cli bundler setup, importing the `ol` npm package, causes this error to occur.
This is the only thing added to aurelia.json from a basic cli setup.
`{
            "name": "ol",
            "path": "../node_modules/ol",
            "main": "index"
          },`

[2018-07-13 04:18] stuartbale commented on #900
Might be worth considering splitting this issue into two separate ones?
One for the mini-css-extract-plugin, and the other for Tapable.plugin.
BTW - thanks for the info re: css extract. I'm sure it saved me hours of time.

[2018-07-13 12:52] ghiscoding commented on #900
Why separate?
The `Tapable.plugin` error **is** because of `ExtractTextPlugin`

[2018-07-14 00:55] stuartbale commented on #900
Hmm - are you sure? I followed your steps to remove ExtractTextPlugin, and I still get the DeprecationWarning. Perhaps there is something else you did?
I am also using HtmlWebpackPlugin, which appears to have a similar/same issue:
(see: https://github.com/jantimon/html-webpack-plugin/issues/879)
so maybe that is where the difference is?

[2018-07-14 02:32] ghiscoding commented on #900
hmm no I don't think there's anything that needs to be done. Every search on Google that points to GitHub issues, on half of them they say to use the MiniCssExtract or try updating to `@latest` of `Text-Extract` but I didn't have any luck with the later and it worked with the MiniCssExtract so I sticked with that.

You can take a look at the project, which is a demo for Aurelia-Slickgrid that is s

[2018-07-14 22:23] jawa-the-hutt commented on #868
I had this issue today and was able to fix it via the [Mini Css Extract Plugin](https://github.com/webpack-contrib/mini-css-extract-plugin) that was referenced in  [webpack-contrib/extract-text-webpack-plugin/#763](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/763)

Below are the relevant (and commented out) parts of my webpack.config.js that I used.  Your mileage may vary

[2018-07-16 16:10] aerickson1024 opened #902 "Auto generated Navbar not displaying route titles in Firefox/Safari"
**I'm submitting a (possible) bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
macOS 10.13 | Windows 10

* **Node Version:**
6.10.3 | 8.13.3

* **NPM Version:**
3.10.10 | 6.2.0

* **Browser:**
Firefox 61.0.1 | Firefox Developer Edition 62.0b8 | Safari 11.1.2

* **Language:**
Javascript

* **Loader/bundler:**
Webpack

**Current behavior

[2018-07-16 18:19] avrahamcool commented on #902
I don't think this issue is related to the CLI.

look like the issue that is talked here:

https://stackoverflow.com/questions/51348676/aurelia-nav-bar-not-showing-up-any-more

https://discourse.aurelia.io/t/using-require-breaks-router/1411/23?u=huochunpeng

https://github.com/aurelia/templating-resources/issues/355

[2018-07-17 04:58] #902 closed

[2018-07-18 16:26] eviatarkhen opened #903 "Build Fail returns a success exit code"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.4

* **Node Version:**
10.6.0

* **NPM Version:**
6.1.0

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
`Built at: 07/18/2018 7:13:30 PM
                                Asset      Size  Chunks

[2018-07-18 18:32] sundayz commented on #878
Same issue with 0.33.1, npm 5.6.0 and node 8.9.4. Downgraded to 0.32.0 and same thing. Everything was working fine until I installed the http client packages.

[2018-07-18 18:38] JeroenVinke commented on #257
@eastermike can you share a small reproduction of the problem?

[2018-07-19 09:55] JeroenVinke commented on #903
Can you try this in `aurelia_project/tasks/build.ts`?

[code]

[2018-07-19 09:57] JeroenVinke commented on #900
Made the change here: https://github.com/aurelia/cli/commit/e9641e4c86fe0e08ecd18dbe96ace8d69fe05a7b

Thanks everyone, let me know if there's anything else that has to be updated/changed

[2018-07-19 09:57] #900 closed

[2018-07-19 10:00] #899 closed

[2018-07-19 10:19] JeroenVinke commented on #855
https://github.com/aurelia/cli/pull/867

[2018-07-19 10:19] #855 closed

[2018-07-19 10:19] doktordirk commented on #900
@JeroenVinke
just collection quickly

prevent eg bluebird to be included in both, vendor and app bundle
[code]

don't parse json twice. needed eg for aurelia-i18n with build-in loader
[code]

i think over css setting isn't minifing, se needs eg
[code]

it could be explored if following could be added with some useful defaults
- PreloadWebpackPlugin
- ResourceHintWebpackPlugin

[2018-07-19 10:24] JeroenVinke commented on #901
Hey @anwnqvis 👋

is this when using javascriptservices or not?

[2018-07-19 10:30] eviatarkhen commented on #903
Perfect. Worked.
Thanks and best regards.

[2018-07-19 10:30] #903 closed

[2018-07-19 10:44] #898 closed

[2018-07-19 10:55] #885 closed

[2018-07-19 11:00] JeroenVinke commented on #868
Thanks everyone! https://github.com/aurelia/cli/commit/e9641e4c86fe0e08ecd18dbe96ace8d69fe05a7b

[2018-07-19 11:00] #868 closed

[2018-07-23 12:20] JeroenVinke commented on #895
https://github.com/npm/npm/issues/19989#issuecomment-391153745

[2018-07-23 12:20] #895 closed

[2018-07-23 12:22] #878 closed

[2018-07-23 12:23] JeroenVinke commented on #888
Yeah we should just run `npm install` from the project directory

[2018-07-23 15:48] TylerJPresley commented on #878
I've had this issue consistently with NPM 5.6.0. Upgrading NPM fixed this for me. I still have coworkers that run into it after reinstalling node (which installs NPM 5.6.0)

[2018-07-24 03:11] PankajMoolrajani commented on #894
It was selnium after all :)

[2018-07-24 07:39] #870 closed

[2018-07-25 06:55] JeroenVinke commented on #852
After consideration we don't see any use cases for `au run` without a watch mode. So I've made `--watch` the default for the run command (https://github.com/aurelia/cli/commit/26cce92ae8e3315c4c2b738c937e4c1752a5b801).

[2018-07-25 06:55] #852 closed

[2018-07-25 15:04] gcastre commented on #868
@JeroenVinke I'm still having this issue after updating the aurelia cli using the guide here https://aurelia.io/docs/cli/updating/

Am I missing something ?

[2018-07-25 15:24] JeroenVinke commented on #868
@gcastre we are currently doing last testing before we create the release. Until then you might be able to install from the master branch instead of installing the latest version (something like `npm install github:aurelia/cli.git#master`)

[2018-07-26 06:56] zewa666 commented on #888
@JeroenVinke so something like the following should be enough?

[code]

[2018-07-26 07:02] JeroenVinke commented on #888
@zewa666 exactly

[2018-07-26 07:46] #801 closed

[2018-07-27 07:52] #883 closed

[2018-07-27 07:52] #490 closed

[2018-07-28 12:07] rahulmeharkar commented on #478
send proper anser

[2018-07-28 23:00] darwinguz commented on #894
pfff thanks so much, selenium was the problem.

[2018-07-29 13:17] huochunpeng opened #909 "webpack setup .babelrc.js probably used useBuiltIns wrongly"
Current webpack .babelrc.js set `userBuiltIns` to `true`

[code]

But preset-env's `useBuitIns` only has three options: `"usage"`, `"entry"`, or `false`.

https://github.com/babel/babel/issues/6830
https://babeljs.io/docs/en/next/babel-preset-env.html#usebuiltins

I suspect the current `"useBuiltIns": true` has same effect as `"useBuiltIns": false`.

[2018-07-29 23:37] huochunpeng commented on #866
Answered by @jods on discord

[2018-07-29 23:37] #866 closed

[2018-07-30 13:00] jalmansa88 commented on #878
I still have this issue here, with v0.33.1 and npm 5.6.0. Removing the npm_modules and making `npm install`, works. However, the issue still happens everytime I make` npm install -somelibrary-`.

[2018-07-30 14:31] zewa666 commented on #878
The issue is definitely related to npm in v < 6.x.x. This is happening all over the places, also with other frameworks, so please just make sure to update npm.

[2018-07-30 15:14] JeroenVinke commented on #878
In the next version `au install` asks wheter to use yarn or npm. Package lock files are not cross compatible so you typically want to use either npm or yarn. That should solve the problems we are seeing in this issue

[2018-07-31 07:05] VijayTallolli12 commented on #894
Yes it was selenium extension installed in my browser so am i was getting those errors in console thank you so much for guiding us.

[2018-08-01 02:28] huochunpeng commented on #872
Ref bpmn-io/bpmn-js#842

[2018-08-01 07:45] jalmansa88 commented on #878
Thank you guys.

[2018-08-02 21:27] jamesond commented on #883
How does one use the new terser code? Do I need to manually go in and change some things or will the aurelia-cli have it build in soon?

[2018-08-02 22:34] huochunpeng commented on #883
It's going to be release in next cli version. You need to change nothing in code, it's all handled in cli.

If you want to try now, use `"aurelia-cli": "aurelia/cli#master"`. You don't need to add terser to your app dependencies.

[2018-08-10 07:08] huochunpeng commented on #837
I also want my `aurelia.json` to be upgraded to `aureliarc.js`, not only for comments (which I want too), but also for simplifying cli implementation. We can conditionally build the config, so we can cut off some code from cli that supports condition in `aurelia.json`, like:
[code]

[2018-08-15 00:00] huochunpeng opened #911 "[BUG] with webpack, inlineView deps (<require from="./style.css"></require>) doesn't work"
**I'm submitting a bug report**

* **Library Version:**
0.34.0

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
all

* **NPM Version:**
all

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**

`aurelia-webpack-plugin` did its job to bring in the inlineView required "./style.css". But our cli `webpack.config.js`

[2018-08-15 09:04] jods4 commented on #911
@huochunpeng's analysis is correct.
This is a problem with the way loaders are configured.

The `issuer` tests in config ensure `.css` dependencies from a `.ts` file are loaded with `style-loader`.

This is adequate for `import "main.css"` pattern. Not standard JS but quite common.

It is _not_ adequate for `@inlineView("<require from='main.css'>")` because this one would be loaded by `aurelia-loa

[2018-08-15 23:18] huochunpeng commented on #911
The solution you proposed is a breaking change for users' source code.
We can do the other way around to avoid breaking users' code.

Since all dynamic loading of css files are traced and ONLY traced by aurelia-webpack-plugin,
1. from a html template
2. from an inlineView template
3. from `PLATFORM.moduleName`, like `@noView([PLATFORM.moduleName('./style.css')]);`

When aurelia-webpack-plugin do `

[2018-08-15 23:55] jods4 commented on #911
@huochunpeng
That's quite hard to do. Not everyone uses `css!`. I use `css!less!`, others use `css!sass!` and yet other users can pipe more loaders to do additional transforms.

Webpack is very flexible and the philosophy of `webpack-plugin` is to embrace this flexibility and let users configure their build, with some reasonable defaults when it comes to Aurelia.

I am not familiar with our CLI bu

[2018-08-15 23:59] huochunpeng commented on #911
Yes, it's a cli issue. I also sensed adding prefix by webpack-plugin is an violation of webpack design.

But is there any way for webpack-plugin to give a hint (other than just issuer) for later webpack config file that a css file is for dynamic loading?

[2018-08-16 00:01] huochunpeng commented on #911
An update to cli template is unavoidable since the current one has bug to support basic aurelia convention. In that sense, it's not a breaking change but a hot fix.

[2018-08-16 10:18] ricardograca opened #912 "Using NODE_ENV instead of --env produces incorrect warning"
**I'm submitting a bug report**

* **Library Version:**
0.34.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 16.04.5

* **Node Version:**
8.9.3

* **NPM Version:**
6.1.0

* **Browser:**
all
* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**

When running `NODE_ENV=prod au run` I'm greeted with this contradictory message:

Which is obviously wrong sin

[2018-08-16 13:36] avrahamcool commented on #912
you should run `au run --env prod`

[2018-08-16 13:41] ricardograca commented on #912
That doesn't change the fact that the message is incorrect and using `NODE_ENV` is still a supported way of specifying the environment, so it should work properly.

[2018-08-16 17:00] Alexander-Taran commented on #257
I remember there was an issue with a PR for deterministic bundles. That ordered dependencies by path/filename.. to have consistent hash so bundles would not be changed/redeployed/redownloaded between builds if nothing changed in the bundle.

[2018-08-16 20:11] avrahamcool commented on #912
didn't know about that. sorry 👍

[2018-08-16 23:52] huochunpeng commented on #257
@eastermike is right, currently deps are sorted by path to maintain consistent output. I encountered same issue when developing auto-trace #862, which I then updated the sorting algorithm to add shim deps in consideration too. auto-trace fixed this.

The fact is, the existing possible wrong order of deps only affects module shipped in a format that executes immediately. Something like this (copied

[2018-08-16 23:57] MaximBalaganskiy commented on #257
Luckily for me, it's not relevant anymore as materialize V1 is a proper AMD module and doesn't have jQuery dependency as well

[2018-08-16 23:59] huochunpeng commented on #257
Great to hear :-)

[2018-08-17 00:43] huochunpeng commented on #257
@MaximBalaganskiy a small trouble with `materialize-css` `1.0.0-rc.2`. I don't know why they define the module under name "M", not "materialize-css".
[code]

I have to an alias in auto-trace cli to get it work
[code]
Also has to match the name with `import 'M';` and `<require from="M/css/materialize.css"></require>`.

In fact, `materialize-css` doesn't have to define a named module, using anonymou

[2018-08-17 00:55] MaximBalaganskiy commented on #257
Not sure what auto-trace does but I've written these docs https://aurelia-ui-toolkits-1.gitbook.io/materialize-bridge-docs/2.-installation/aurelia-cli which work fine...

[2018-08-17 03:34] huochunpeng commented on #257
Update: auto-trace is updated to improve compatibility with named amd module. Just do `import 'materialize-css';` for the js part.

[2018-08-20 18:31] khuongduybui opened #914 "Question about dependency on npm"
The npm package itself is pretty cumbersome. Is there any particular reason why we have to depend on it?

[2018-08-20 22:26] huochunpeng commented on #914
I guess you were asking why webpack app still has aurelia-cli dep in package.json?

If so, you are right, aurelia-cli package is not really needed for webpack app. It's just for convenience to run `aurelia_project/tasks/*`. You can try remove aurelia-cli, then have a direct gulp v4 setup to all those tasks.

1. those tasks are in es6 or TS format, you probably need to update them into commonjs for

[2018-08-20 23:46] khuongduybui commented on #914
Thanks for the answer, which might be what I will end up doing.
However, my question is really about https://github.com/aurelia/cli/blob/master/package.json#L41

[2018-08-20 23:50] huochunpeng commented on #914
Interesting.
@JeroenVinke why we need an explicit "npm" package?
https://github.com/aurelia/cli/commit/987cc68cc6800be6814caa3996ccb2f61011fce7

[2018-08-21 05:45] JeroenVinke commented on #914
I don’t know why that dependency was introduced, instead of spawning a “npm install” process. We’re already doing that when the user has yarn installed. We can remove the dependency and replace it with spawn()

[2018-08-21 05:47] JeroenVinke commented on #914
https://github.com/aurelia/cli/issues/888 mentions the same, so I think we can close this issue and continue there

[2018-08-21 05:49] huochunpeng commented on #914
@khuongduybui for reference, that "npm" is for `au install` command which is irrelevant for webpack users.

[2018-08-22 19:57] #914 closed

[2018-08-22 19:59] JeroenVinke commented on #888
@huochunpeng can we really close this, or are there other vulnerabilities left?

[2018-08-22 20:33] huochunpeng commented on #888
There are two low vulnerabilities left due to outdated deep dep on loash from browser-sync. Nothing I can do about it.

[2018-08-30 03:10] 3cp opened #916 "To support vNext "view!" requirejs plugin"
Task for aurelia/aurelia#112

[2018-09-02 00:28] fkleuver commented on #916
Yesplz

[2018-09-02 22:59] huochunpeng commented on #916
The cli needs to be redesigned to support vNext "view!" plugin.

Current cli is designed based on vCurrent convention. All html and css files are packed based on assumption that they will be consumed by text plugin `"text!foo.html"` (`"text!foo.css"`). That's why the text plugin applies to all files with file extension `.html` and `.css`, without consulting module tracing.

With vNext, all deps ar

[2018-09-05 17:51] Deterus commented on #581
Adding another example package in case multiple instances were useful. https://www.npmjs.com/package/uuid

[2018-09-06 05:28] huochunpeng opened #918 "webpack default setup has malfunctioned dual entry (app, vendor)"
Originated https://discourse.aurelia.io/t/bluebird-included-twice/1602

![image](https://user-images.githubusercontent.com/1188806/45136583-17863300-b1e8-11e8-91a5-0301bc7c9726.png)

There are two abnormalities:
1. bluebird is packed twice, one in app bundle, another in vendor bundle.
2. vendor bundle is almost empty, all deps are in app bundle. This defeats the purpose of having a vendor bundle.

[2018-09-09 07:46] zedL commented on #554
I had the same issue. I solved it for me by changing the karma.conf.js and delete the created bundle files on each build.

karma.conf.js changes:
`
const scriptsFolder = './scripts/';
const fs = require('fs');

...

let appSrc = fs.readdirSync(scriptsFolder).filter(fn => (fn.startsWith('app-bundle') || fn.startsWith('vendor-bundle')) && !fn.endsWith('.map')).map(fn => path.join(output, fn));

cons

[2018-09-12 16:59] #754 closed

[2018-09-12 17:05] #912 closed

[2018-09-15 15:59] stevies commented on #911
Any update on this?  Is there a work-around to get .scss files working with '@inlineView'?

[2018-09-15 20:52] jods4 commented on #911
@stevies I am not sure there has to be a "work-around" here.

You just need a webpack config that matches your usage. If you don't `import "x.scss"` in your JS files, then it makes perfect sense to use the simplified rule you're using. That's what I do in my own project.

When it comes to 3rd party, you can always filter `node_modules` out from your loader config.

[2018-09-15 20:57] stevies commented on #911
Thanks, I'll keep it simple for now.

[2018-09-19 16:16] 1q2q1q1q opened #920 "ValueError: Error when checking input: expected lstm_11_input to have shape (372, 1) but got array with shape (1, 28)"
Hi, I am trying to use RNN in Keras to do feature selection. I have encountered an issue that "ValueError: Error when checking input: expected lstm_11_input to have shape (372, 1) but got array with shape (1, 28)".  How to solve this issue? Thanks a lot!

BTW, np.reshape has been applied to shape the 2D to 3D.

The image is showing how I implement it on Azure Jupyter Notebook Platform. BTW, I enco

[2018-09-19 20:00] 1q2q1q1q commented on #920
Post to the wrong tag. Sorry

[2018-09-19 20:00] #920 closed

[2018-09-20 12:53] huochunpeng opened #922 "[suggestion] use "npm" as the default choice of package installer."
Currently yarn is the default choice. I feel npm should be the default since it is the default Nodejs package installer.

Default to yarn has two small problems:
1. not exact 100% compatible with npm.
2. might confuse less experienced JavaScript programmers.

[code]

[2018-09-21 07:03] vedprakash289 commented on #478
Uncaught Error: Bootstrap's JavaScript requires jQuery
To resloved these issue in angular 2,4,6
first just install in window os
1. npm install jquery --save
2. stop the ng server if running by ctr+c then press y for yes

3. again type  ng serve

[2018-09-21 13:15] davidtimovski commented on #922
I believe the Aurelia team chose Yarn as the default because it's better. NPM is just patch after patch of infinite bugfixes and frequent releases. It's become hard to maintain and update. Why would compatibility between Yarn and NPM pose an issue for a new project?

[2018-09-21 13:36] JoshuaVSherman commented on #922
i agree yarn is better

On Fri, Sep 21, 2018 at 9:15 AM David Timovski <notifications@github.com>
wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-09-22 01:41] huochunpeng commented on #922
That's why I created an issue instead of PR to check the reaction on this :-) It's fine if we sided on yarn.
Based on my exp, I felt npm is catching up with yarn, but still not as fast.
One compatibility issue bothered me quite a while is to on dependency with hosted git repo. https://github.com/yarnpkg/yarn/issues/5235

[2018-09-23 07:02] JeroenVinke commented on #922
How it currently works is that you're given the option to use Yarn only if you have yarn installed. So it assumes that you prefer yarn over npm if you went through the process of installing yarn

[2018-09-23 07:07] #922 closed

[2018-09-27 19:35] oising opened #923 "Tapable.plugin is deprecated. Use new API on `.hooks` instead (au build / webpack 4.x )"
The offending line is:

https://github.com/aurelia/cli/blob/c91fb3ef5e3b83f57d3da30ad1d1f225112fec7d/lib/resources/tasks/build-webpack.ts#L26

Rewriting as:
[code]
This removes the deprecation warning. Sorry I can't offer a PR, but I know little about webpack internals or the aurelia-cli -- I just dug enough to fix this issue. Again, I think this only rears its ugly head with webpack 4.x

[2018-09-29 21:46] timfish commented on #217
I created a boilerplate Electron Aurelia app where both processes bundle with webpack.

The app uses a native node module to list attached USB devices.

https://github.com/timfish/aurelia-electron-webpack

[2018-10-01 10:58] ricardograca opened #924 "Error: Unhandled "error" event. ([object Object]) in some cases"
**I'm submitting a bug report**

* **Library Version:**
0.35.1

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 16.04.5

* **Node Version:**
8.9.3

* **NPM Version:**
6.1.0

* **Browser:**
all

* **Language:**
ESNext

* **Loader/bundler:**
SystemJS

**Current behavior:**

I've renamed all environments to their more verbose counterparts: `dev` -> `development`, etc.
If I d

[2018-10-06 20:59] #579 closed

[2018-10-06 20:59] #872 closed

[2018-10-07 22:55] #909 closed

[2018-10-08 05:58] zewa666 commented on #888
I think this is good enough. The mission with this story was to eliminate the critical ones.

[2018-10-08 05:58] #888 closed

[2018-10-08 06:01] #773 closed

[2018-10-08 06:02] zewa666 commented on #309
@huochunpeng this should be resolved with the new auto-tracer right?

[2018-10-08 06:03] zewa666 commented on #341
@huochunpeng this should be pretty much obsolete with the new auto-tracer right?

[2018-10-08 06:04] zewa666 commented on #533
Fixed with new auto-tracer

[2018-10-08 06:04] #533 closed

[2018-10-08 07:35] huochunpeng commented on #309
I have to point out while rename generally works, it is not enough for this velocity case.

`aurelia-animator-velocity` requires `velocity-animator/velocity.ui`, then `velocity-animator/velocity.ui` requires `velocity` (resulting to search npm package velocity) instead of `./velocity`.

Both `velocity-animate` and `velocity` has to point to the same package. So https://github.com/aurelia/animator-

[2018-10-08 07:39] huochunpeng commented on #341
Not by me, but current cli stubs text! plugin to throw a readable exception.

[code]

[2018-10-09 06:43] ariovistus opened #928 "TypeError: Cannot read property '_walk' of null"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Linux (fedora)

* **Node Version:**
8.12.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
RequireJS

**Current behavior:**
I managed to build something that uglifyjs pukes on:
https://travis-ci.org/frc3223/stats/builds/4389883

[2018-10-09 07:10] huochunpeng commented on #928
Your version is too old.
v0.34.0 has replaced uglify with terser for modern JS syntax compatibility.

If you upgrade to today's release v1.0.0-beta.1, make sure you follow the migration guide https://aurelia.io/blog/2018/10/08/release-aurelia-cli-with-auto-tracing-bundler

[2018-10-09 11:18] vermilion commented on #928
@huochunpeng, faced same issue while building with prod-minify config @v1.0.0-beta.1
Everything worked fine using v0.35

[code]

[2018-10-09 11:44] huochunpeng commented on #928
@vermilion are you using `async-done`, is it the one causing trouble? I could not get async-done working in browser, my app fails.
But the bundling is ok, even with minify in prod plus your minify config.

[2018-10-09 11:47] vermilion commented on #928
This is my new auto-tracing log. I don't use it explicitly, maybe some of deps are using it... How could I find such?
[code]

[2018-10-09 11:47] huochunpeng commented on #928
Looks like this is related terser-js/terser#120

[2018-10-09 11:50] huochunpeng commented on #928
@vermillion nvm, async-done is deep dep of cli itself, not your frontend.

[2018-10-09 11:51] huochunpeng commented on #928
@vermillion can you share your full error log? Must be some package triggered that terser bug.

[2018-10-09 11:53] vermilion commented on #928
Here it is - prod log
[code]

[2018-10-09 11:58] huochunpeng commented on #928
@vermilion can you try this temporary fix suggested in that terser issue?
[code]

[2018-10-09 11:59] huochunpeng commented on #928
Seems like an issue affected the whole uglify family :-)
HubSpot/tether#291

[2018-10-09 12:02] vermilion commented on #928
@huochunpeng, your workaround works fine! Now waiting for an official bugfix :)

[2018-10-09 12:05] huochunpeng commented on #928
@ariovistus I guess you only need the compress config patch.
[code]

[2018-10-10 14:03] fragsalat opened #930 "Unable to load package metadata of ..."
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.1

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 18.10

* **Node Version:**
10.7.0

* **NPM Version:**
6.1.0

* **Browser:**
all

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:**
When importing a yaml file as text like this: `import 'app/feature/i18n/locale/de.yaml';` and yo

[2018-10-10 15:19] fragsalat commented on #930
I also tested to include the yaml files via the bundle config and got an empty bundle as result
[code]

As mentioned above I configured the loader as well
[code]

[2018-10-10 20:34] huochunpeng commented on #930
I will get this sorted.

Meantime, temporary fix:
if your `aurelia_project/tasks/process-markup.js` didn't use htmlmin, update your `aurelia.json`, that's all you need.
[code]
If you did use htmlmin, make another task `aurelia_project/tasks/process-yaml.js`, you need to adjust the content if using TypeScript.
[code]
Update `aurelia_project/tasks/build.js` to take the new task.
[code]

[2018-10-10 21:22] fragsalat commented on #930
i'll try this tomorrow thank you! :)

[2018-10-10 21:30] huochunpeng commented on #930
You can try the cli branch `"aurelia-cli": "huochunpeng/cli#missing-yaml",`

[2018-10-11 08:20] cluka opened #932 "Aurelia application wont start on au run"
**I'm submitting a bug report**

* **Library Version:**
^1.0.0-beta.1

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
10.10.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
TypeScript 3.0.1

* **Loader/bundler:**
RequireJS

**Current behavior:**
The application does not start after i issue au run command
it throws an error.

* *

[2018-10-11 09:45] huochunpeng commented on #932
I could not reproduce the error with nodejs v10.10.0 and yarn on macOS.
Could you try normal nodejs in windows? I mean not in mingw64.

[2018-10-11 09:51] huochunpeng commented on #930
It should be soon.

[2018-10-11 10:14] cluka commented on #932
I did, tried in windows command prompt. The result is the same error.

[2018-10-11 10:16] fragsalat commented on #930
I've another bug for you^^
It's about revisions are not inserted into index.html for other bundles as vendor-bundle.
I'll create a new issue for it, just a second :)

[2018-10-11 10:20] huochunpeng commented on #932
I will find a windows box to test tomorrow.

Not very familiar with win. Your win command line nodejs, is a different installation than the mingw one, right? If not, please try a normal windows nodejs installation.

Would you mind to test nodejs v8 on your windows box? Thx. It at least worked for few guys I know.

[2018-10-11 10:21] fragsalat opened #933 "Revisions are not inserted into index.html properly"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.1

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 18.10

* **Node Version:**
10.7.0

* **NPM Version:**
6.1.0

* **Browser:**
all

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:**
When enabling the revision option in the bundler, it is generating bundles with revision but not

[2018-10-11 10:34] cluka commented on #932
Ok,
I tried the following:
1. au run in MingW - same error
2. au run in Windows Command Prompt - same error
3. au run in Windows Command Prompt with Administrative privilegies - same error
4. disable windows firewall and windows defender - same error
5. I tried **netstat -ao**,  and no 9000 or 3001 port is used

Then I tried to start it in a vmware virtual machine that runs Windows 10 too
**it wor

[2018-10-11 10:38] huochunpeng commented on #933
This is the old v0.35.1 code before auto-tracing

https://github.com/aurelia/cli/blob/c91fb3ef5e3b83f57d3da30ad1d1f225112fec7d/lib/build/bundle.js#L233-L249

Note line 248, it only touches index file for (line 233) a single bundle `loaderOptions.configTarget === this.config.name`, that's vendor bundle by default.

[2018-10-11 11:15] cluka commented on #932
Yep it seems that **Acrylic UI DNS proxy** was the cause of my problems. After i have deinstalled it, all works.

[2018-10-11 11:15] cluka commented on #932
Closing issue

[2018-10-11 11:15] #932 closed

[2018-10-11 11:16] cluka commented on #932
The problem was not part of aurelia ecosystem, but machine configuration and used software

[2018-10-11 11:54] fragsalat commented on #933
I also found this code and understood it but I can say that I moved the scripts into the index.html by intent to improve the performance.
I want to load all bundles in parallel to have the code ready when the framework is bootstrapped.

[2018-10-11 11:58] huochunpeng commented on #933
Do you have some benchmark comparing to one single fat bundle? Interested to see how much you gain.

[2018-10-11 12:04] huochunpeng commented on #933
I have to say code splitting is designed to improve performance by limiting first load.

If you split your code probably, your first page load should be small. For example, if a 3rd party lib is only used by part-a, put the dependence to part-a-bundle.

[2018-10-11 12:41] cluka opened #934 "Error when using material-design-iconic-font with new CLI/require"
**I'm submitting a bug report**

* **Library Version:**
^1.0.0-beta.1

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
10.10.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
TypeScript 3.0.1

* **Loader/bundler:**
RequireJS

**Current behavior:**
**au start** displays an error when it tries to bundle **material-design-iconic-font

[2018-10-11 13:51] fragsalat commented on #933
1. First of all I'm on a PR to propose a fix of this issue.

2.
I began like you said and had every npm package in the vendor bundle which were quite slow. Now I've splitted up the aurelia core, plugins, 3rd-party which is used by the app and the app itself. With this split I can load the app, the used plugins and so on while the vendor-bundle has to be loaded, parsed, evaluated and the bootstrapp

[2018-10-11 16:04] zewa666 commented on #934
@huochunpeng the main of the package is [an array](https://github.com/zavoloklom/material-design-iconic-font/blob/master/package.json#L13-L16). Never seen that

[2018-10-11 17:16] cluka commented on #934
Ok.
So it's all ok with my registration of the font in Aurelia bundler?
And this font does work without problem in Aurelia webpack

[2018-10-11 17:18] zewa666 commented on #934
@cluka actually no idea, but thats what I'd guess. Just mentioned that I wasn't aware you could use an array for main, so perhaps this is causing the new aurelia auto-tracer to choke

[2018-10-11 20:40] huochunpeng commented on #934
There are two issues here.

1. strange main. They definitely didn't follow spec https://docs.npmjs.com/files/package.json#main
This is not a bug for us to fix, it's one for them.

This issue can be fixed with an explicit config
[code]

For that reason, this issue can be closed.

2. I saw you updated your post to use `<require from="some.css"></require>`. cli+requirejs has never supported `import "

[2018-10-11 23:18] huochunpeng opened #937 "[discuss] should we switch from gulp-typescript to gulp-babel + preset-typescript?"
Microsoft has worked with babel team on this.
https://blogs.msdn.microsoft.com/typescript/2018/08/27/typescript-and-babel-7/

To aurelia-cli,

**Pros**
1. unified setup for esnet and TypeScript, only with different babel preset.
2. gulp-cache can finally work with TypeScript app. It means big performance improvement.
3. provide users a smooth path, if they want to migrate their app from esnext to

[2018-10-12 00:05] huochunpeng commented on #934
I will make cli more resilient in this situation, instead of panic, I can ignore the malformed main. You will see a missing main warning, but css import will still works.

[2018-10-12 00:37] #934 closed

[2018-10-12 07:50] huochunpeng commented on #934
Congratulations for migrating from webpack to cli bundler!

It will take some time to heal your trauma, you might still wake up in nightmare in next few weeks.
Deep breathe, brother, Deep breathe... it was all over now.
🤣

[2018-10-12 09:15] cluka commented on #934
Lol

On Fri, Oct 12, 2018, 09:51 huochunpeng <notifications@github.com> wrote:

[2018-10-12 09:15] fragsalat commented on #933
Minified bundles:
[code]

[2018-10-12 09:29] huochunpeng commented on #933
It's actually not big. Your users got very limited bandwidth?

[2018-10-12 19:02] #846 closed

[2018-10-14 06:17] magnusdanielson commented on #749
We always have the Aurelia project separated from the .Net project and move the output to a specific folder for example scripts. So the folder structure looks like this:

-aurelia-app
-aspnet
--scripts

Add the following gulp task

[code]

And then add the gulp task to the build.ts file.
@magnusdanielson

[2018-10-14 13:25] IngoBleile opened #940 "ASP.NET core 2 project: Cannot change target to dotnet core 2.1"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.1

* **Operating System:**
Windows 10

* **Node Version:**
8.12.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
TypeScript 3.0

* **Loader/bundler:**
Webpack

**Current behavior:**
I cannot change the Visual Studio Project's target from dotnet core 2.0 to dotnet core 2.1, which is installed on my PC. In other ASP.N

[2018-10-14 16:11] Alexander-Taran commented on #940
@IngoBleile can you provide steps to reproduce your issue?

[2018-10-14 16:17] Alexander-Taran commented on #933
I might be wrong, but script tag in that way tells browser to:

- stop everything..
- load script.
- run it.
- and only then go to the next line of html.

so you are gaining nothing.

[2018-10-14 16:36] Alexander-Taran commented on #924
latest CLI does provide a meaningful error:
[code]
or you can modify your local CLI `cli-options.js`  line 35:
`  let env = this.getFlagValue('env') || process.env.NODE_ENV || 'dev';`

[2018-10-14 16:40] Alexander-Taran commented on #911
Can be closed?

[2018-10-14 16:44] Alexander-Taran commented on #928
It is "moment"
it does not like to be minified.

[2018-10-14 21:03] huochunpeng commented on #911
Still a cli wepack config issue with no solution.

[2018-10-14 21:10] huochunpeng commented on #928
It seems like a nasty bug that uglify/terser guys have yet to fix. This is a combination of compress options, turn off any one of them could bypass the issue.

I think we can ship cli with a default compress options patch. I will do a PR.

[2018-10-14 21:17] huochunpeng commented on #933
But it obviously made some difference for @fragsalat's app. The "run" step is definitely sequential, but modern browser maybe parallel the fetch (load) step?

[2018-10-15 04:05] bahmutov opened #943 "Add Cypress.io as another option for integration tests"
**I'm submitting a feature request**

Add [Cypress.io](https://www.cypress.io/) as another option for integration tests.

[2018-10-15 09:00] Robbe64 opened #944 "Uncaught ReferenceError: global is not defined"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.14

* **Node Version:**
9.8.0

* **NPM Version:**
5.7.1

* **Browser:**
all

* **Language:**
TypeScript 3.1.3

* **Loader/bundler:**
RequireJS

**Current behavior:**
I'm using the new auto tracing feature and try to to use "sockjs-client:1.3.0". It accesse

[2018-10-15 09:35] huochunpeng commented on #944
This is in the doc.
https://aurelia.io/docs/cli/cli-bundler/dependency-management

Check "Known problem of auto stubbing core Node.js modules".

[2018-10-15 09:36] huochunpeng commented on #944
Try the solution in the doc first.
The sockjs-client probably mapped `global` to `window`.

[2018-10-15 09:43] huochunpeng commented on #944
I will test sockjs-client, it got some interesting browser patch.
Meanwhile, you can try its UMD build, I think it will work properly. Add following explicit config to `aurelia.json`.

[code]

[2018-10-15 09:57] huochunpeng commented on #944
It's a huge pain for sockjs-client to work with any bundler (including webpack). https://github.com/sockjs/sockjs-client/issues/401

Let me know if my suggested work-around works for you.

[2018-10-15 10:13] huochunpeng commented on #944
Ok, tested with 2 successful solutions. You can use either one.

**option1** stub process and global in `main.js`
[code]

**option2** add explicit dependency config in `aurelia.json` vendor-bundle` dependencies section.
[code]

You can close this issue, there is no way I can make the npm package automatic.

[2018-10-15 12:38] Robbe64 commented on #944
Many thanks!

[2018-10-15 12:38] #944 closed

[2018-10-15 14:05] mekbiba commented on #894
In my case, it was Adblock Plus, I was testing a vuejs application so i had to white-list the domain.

[2018-10-15 14:11] Alexander-Taran commented on #530
I think there was an import command introduced.. and install calls import by default.
Maybe can be closed

[2018-10-15 20:34] huochunpeng commented on #530
This is irrelevant now because `au import` and `au install` commands were removed in v1 beta.

[2018-10-15 22:57] Alexander-Taran commented on #530
Can be closed then?

[2018-10-16 03:09] #928 closed

[2018-10-16 03:10] #923 closed

[2018-10-16 05:54] #530 closed

[2018-10-16 08:05] sirudog commented on #794
I agree with @NightWulfe. I just bumped into the same issue. Then I found this issue, so I went to check the aurelia docs here:
https://aurelia.io/docs/cli/basics#webpack-vs-built-in-bundler

This section especially suggests that if you need to customize your config, the webpack.config is the place to do that:
`Webpack is a bundler with built-in module loader. If you choose to use Webpack then you

[2018-10-16 13:04] huochunpeng commented on #794
Although I don't use webpack, I agree overwriting webpack config in run task is difficult for me to follow.

BTW, I wrote that newly updated piece of doc for webpack, without really understand the whole setup. The doc needs to be updated to describe how we control webpack config.

[2018-10-17 09:12] timfish commented on #217
@Alexander-Taran can do.

I still want to simplify the config.

It's also possible to get Aurelia + Electron working without Webpack with a much simpler setup but it would lack bundling of `node_modules`. I'm tempted to see what the new cli bundler can do but I'm guessing it can only target the browser which won't work for the Electron main process.

[2018-10-17 09:36] huochunpeng commented on #217
Yes, the new cli bundler only targets browser.

[2018-10-17 09:42] huochunpeng commented on #217
@zewa666 could you share some inside on how did you use cli bundler to build an electron app?

[2018-10-18 23:05] Alexander-Taran commented on #582
Is it relevant with new bundler?

[2018-10-19 23:45] #582 closed

[2018-10-21 03:05] Rud156 opened #953 "Special Character on Path prevents project from being created"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3

* **Operating System:**
Windows 10

* **Node Version:**
10.9.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
all

* **Current behavior:**
If a special character exists on the path. Then `au new` command displays `No Aurelia project found.` then stops asking for the prompts to create th

[2018-10-22 09:11] jvik opened #954 "au generate component <name> returns SyntaxError"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.14

* **Node Version:**
v10.12.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
When I run `au generate component info-box` this error is returned
[code]

* **What is the expected be

[2018-10-22 09:59] zewa666 commented on #954
can you create a file named `.babelrc` inside your root project folder with the content:

[code]

and make sure that your package.json contains `babel-plugin-transform-decorators-legacy`. Likely the version will be ^1.3.4. Try the generate command afterwards again

[2018-10-23 07:15] jvik commented on #954
There already is a .babelrc.

It looks like this

[code]
This is the one I found in package.json.
`"babel-plugin-transform-decorators-legacy": "^1.3.5",`

[2018-10-23 08:12] zewa666 commented on #954
so adding `"transform-decorators-legacy"` into plugins, just as a string entry after the two others, didn't help?

[2018-10-23 10:08] huochunpeng commented on #954
All au commands do not use local babelrc file, it uses internal babel config to just run task files. This has to be fixed in cli code.

I am not sure why the au generate command needs to validate the generated files (which use decorator), maybe we should skip that check.

If we need that check, and don’t want to change babelrc:false, then need to add `['@babel/plugin-proposal-decorators', { legacy

[2018-10-24 08:25] chabou-san opened #955 "Error with auto-traced jQuery and Bootstrap v3"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
8.12.0

* **NPM Version:**
yarn 1.10.1

* **Browser:**
Chrome 70 | Firefox 63.0 | Safari 12.0

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:**
I've just upgraded an old app of mine from Aurelia-cli `v0.

[2018-10-24 09:05] huochunpeng commented on #955
Following the cookbook, are you sure you have `"deps":["jquery"]` for bootstrap in aurelia.json?

That deps (shim) should enforce the order of jquery and bootstrap.

[2018-10-24 09:14] chabou-san commented on #955
Yes, this is the `Bootstrap v3` configuration I have :

[code]

The test I make to reproduce the issue is adding/removing the `"jquery"` (raw, just that string) dependency from the `dependencies` array in my `aurelia.json`.

[2018-10-24 09:32] huochunpeng commented on #955
There must be some regression in latest beta. But I can not do anything now because of vacation. I will come back to you on this bug. Sorry for the inconvenience.

[2018-10-25 00:50] #887 closed

[2018-10-25 01:30] Vheissu opened #956 "Webpack Production Build Broken Using `au build --env prod`"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3

* **Operating System:**
Windows 10

* **Node Version:**
8.11.3

* **NPM Version:**
6.4.1

* **Browser:**
N/A

* **Language:**
TypeScript 3.0.3

* **Loader/bundler:**
Webpack

**Current behavior:**

Build a fresh project using Webpack as the bundler (default). Then attempt to do a production build using `au build --env prod` - th

[2018-10-25 01:52] Vheissu commented on #956
Anyone coming across this issue, even if you update the CLI it won't fix the issue unless you replace `build.js` or `build.ts` in your tasks folder with the new version.  However, the fix is easy to manually make to existing projects.

Replace this line `compiler.hooks.done.tap('AureliaCLI', done);` inside of `aurelia_project/tasks/build.ts` (or .js if you're not using TypeScript) with this: `comp

[2018-10-25 11:40] chrisckc opened #958 "Duplication in bundle output using CLI generated webpack config (duplicated modules)"
With the default CLI generated webpack config, adding jQuery and bootstrap causes issues.

When either jQuery, Bluebird or the jQuery bootstrap extensions are used in code, running webpack results in duplication across both the app and vendor bundles. This causes all kinds of issues when using jQuery.

The CLI generates a package.json that references webpack v4, this also occurs in webpack v3 as u

[2018-10-25 12:04] chrisckc commented on #958
This will also be the cause of this issue:
https://github.com/aurelia/cli/issues/918

[2018-10-25 13:28] chrisckc commented on #958
Here is a CLI generated project with source files from the skeleton added and various improvements including this fix:
https://github.com/chrisckc/aurelia-cli-skeleton-typescript-webpack

Consider incorporating some of my changes to the webpack config into the CLI code generator to improve the starting experience for newcomers to either Webpack, Aurelia or both.

I have previously started from the

[2018-10-25 23:08] bigopon commented on #958
@chrisckc Very nice. Thanks for this work.

[2018-10-29 11:09] jvik commented on #954
No, unfortunately this did not help.

I tried to add ['@babel/plugin-proposal-decorators', { legacy: true }] to .babelrc and run `npm install @babel/plugin-proposal-decorators`. I stilll get the same error.

[2018-10-29 11:34] huochunpeng commented on #954
As I said, it does NOT use local babelrc. Changing your local babelrc would not help. This has to be fixed in cli code base.

[2018-10-29 11:36] jvik commented on #954
Ah! Sorry. My bad. Thanks anyways. 👍

[2018-10-29 13:04] huochunpeng commented on #954
If nobody picked this up, I will fix it after my vacation (about 2 more weeks). Sorry for the inconvenience.

[2018-10-29 16:59] jrgcubano opened #959 "add async/await by default to new project with ESNext"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.3

* **Language:**
ESNext

* **Loader/bundler:**
SystemJS | RequireJS

* **Current behavior:**
Not async/away by default

* **What is the motivation / use case for changing the behavior?**
It would be wonderful to have async/await by default or at least addible with the new project options.

[2018-10-31 01:47] ramya494 commented on #954
I am experiencing the same issue.

[2018-11-01 13:23] jvalst commented on #658
Any news on this?

[2018-11-01 14:04] zewa666 commented on #658
@huochunpeng had a fantastic way of using the aurelia-cli for both the plugin and a Dev sample at the same time. Once he's back from vacation I'd definitely like to review that and make it part of the cli

[2018-11-01 14:29] huochunpeng commented on #658
My way is documented here https://github.com/aurelia-contrib/aurelia-getting-started/blob/master/guides/how-to-use-cli-to-develop-plugin.md

It is different from any plugin skeletons you saw before, but I think my way is intuitive and specially great on writing test.

I wound love to gather some feedbacks, and whether it makes sense to be included in cli.

[2018-11-01 14:50] vermilion opened #960 "CLI auto-tracing es2015/commonjs paths problem"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **Browser:**
Chrome 17

* **Language:**
TypeScript 3.1

* **Loader/bundler:**
RequireJS

**Current behavior:**

* **What is the expected behavior?**
We have to run our aurelia project on really ol

[2018-11-01 16:35] huochunpeng commented on #960
@EisenbergEffect @JeroenVinke this is a serious bug needs fix and release now.

As many aurelia repos have added "module" field in package.json pointing to es2015 folder. I did not foresee this issue.

Need to modify this file
https://github.com/aurelia/cli/blob/master/lib/build/amodro-trace/read/es.js

To add option to turn off strict mode
[code]
Ref: https://babeljs.io/docs/en/babel-plugin-trans

[2018-11-01 16:42] huochunpeng commented on #960
Sorry. I am not sure does Chrome 17 support `const`?

If not, my proposed solution would not help. Any es2015 code with `const` would not work in old browsers without `const` support.

@EisenbergEffect @JeroenVinke if we want, we could bring in preset-env to the above `es.js` file to tranpile all es2015 files to support old browsers.

[2018-11-01 16:59] huochunpeng commented on #960
@vermilion, temporary fix is to add explicit config to aurelia.json

[code]

You need few more for other aurelia packages with "module" field in their package.json. Note you can either use dist/amd or dist/commonjs.

[2018-11-02 00:47] EisenbergEffect commented on #658
@huochunpeng I'd love to have built-in support for creating and building plugins from our CLI. It's a long-time feature request for the community. If you look in the `aurelia.json` file, there's a `type` property with a value of "project:application". I had always hoped we could add support for "project:plugin".

[2018-11-02 05:56] vermilion commented on #960
@huochunpeng no, as we can see from error message Chrome 17 doesn't support const in strict mode.. :(

[2018-11-02 06:02] JeroenVinke commented on #658
I think we can continue with https://github.com/aurelia/cli/pull/793

[2018-11-02 06:09] EisenbergEffect commented on #658
Good call @JeroenVinke I forgot about that PR.

[2018-11-02 06:10] huochunpeng commented on #960
Does the temporary fix work for you?

[2018-11-02 06:36] vermilion commented on #960
@huochunpeng yes, thank you
I had to add almost all aurelia packages from AMD folder

[2018-11-02 16:07] jbockle opened #961 "webpack resolves symlinked child node_modules due to unused nodeModulesDir in template"
**I'm submitting a bug report**

* **Library Version:**
current (I'm using 0.34.0)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.4

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
TypeScript

* **Loader/bundler:**
Webpack

**Current behavior:**
See https://github.com/webpack/webpack/issues/8322
child node_modules dependencies a

[2018-11-04 09:29] JamesFenton opened #962 "Duplicate index.html created with au new and Asp.Net Core"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
8.9.4

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
SystemJS

**Current behavior:**
After running `au new --here` and selecting SystemJS, the index.html file is created in both the curre

[2018-11-04 19:03] HamedFathi opened #963 "Import json file in Typescript 2.9+"
**I'm submitting a bug report** (I am not sure!)

* **Library Version:**
1.0.0-beta.3

**Please tell us about your environment:**
* **Operating System:**
10

* **Node Version:**
v10.1.0

* **NPM Version:**
6.4.0

* **Language:**
TypeScript 3.1.3

* **Loader/bundler:**
Webpack

**Current behavior:**
I created a webpack, typescript sample with aurelia-cli.
I updated Typescript compiler to latest ver

[2018-11-04 21:09] jbockle commented on #963
I think its due to it being outside the scope of tsconfig, so its inheriting from tslint:recommended.  try adding ```"./aurelia_project/**/*.ts"``` to the tsconfig include array

[2018-11-05 06:10] HamedFathi commented on #963
@jbockle

Thanks, it works now :)

[2018-11-05 06:10] #963 closed

[2018-11-05 14:04] dagtveit commented on #954
yea same here.  what parts do we need to update when its fixed

[2018-11-05 14:07] huochunpeng commented on #954
It will be fixed in a new version of cli. All you need will be update package.json and reinstall packages.

[2018-11-05 14:46] jods4 commented on #960
@huochunpeng Webpack transpiles nothing -- except modules of course... `import`, `export`, `require`, `define` and co. -- by itself. Transpiling JS is the job of a Webpack loader.

Webpack likes ES `import` much more than other module format. They enable quite a few additional optimizations (most notably tree shaking and scope hoisting). This is why I made `native-modules` the default distribution

[2018-11-07 17:57] chrisckc opened #966 "Inconsistency in CLI generated webpack project configuration"
**I'm submitting a bug report**

**Current behavior:**
Looking at the structure of a CLI generated project based on webpack, the webpack dev server client is added in both the index.ejs file and also in 'aurelia_project/tasks/run.ts' when HMR is used.

index.ejs contains this:
[code]

run.ts contains this:
[code]

As a result of this, when HMR mode is used, the script entry in index.ejs become red

[2018-11-07 18:26] chrisckc opened #967 "CLI generated webpack config uses a specific host:port for the dev server websocket client"
**I'm submitting a feature request**

**Current behavior:**
When running a CLI generated project based on webpack, the path used by the webpack dev server client to make it's websocket requests is unnecessarily specified to be the same as the host:port specified in the aurelia.json and run.ts files. (port is specified in aurelia.json and host in run.ts)

Specifying the host:port is not required as

[2018-11-07 21:14] chrisckc opened #968 "Including images from the 'static' dir to a CLI generated Webpack project results in duplication in output bundle"
**I'm submitting a bug report**
Here is another issue with the CLI generated webpack config that soon becomes apparent once an app starts to be built.

* **Loader/bundler:**
Webpack

**Current behavior:**
If you go down the logical steps needed to include an image in your app, ie. add an image inside 'static/images' dir then add the image to your html file like this:
[code]
After running 'au build

[2018-11-07 21:41] chrisckc commented on #966
It looks like it can also be simplified because according to the webpack v4 docs it is not necessary to add the "HotModuleReplacementPlugin" as it is done automatically when webpack is launched with the --hot option, which happens in package-scripts.js
https://webpack.js.org/configuration/dev-server/#devserver-hot

[2018-11-07 22:15] Alexander-Taran commented on #966
Would you like to provide a pull request for it @chaskim ?

[2018-11-07 22:18] Alexander-Taran commented on #968
Questionable

[2018-11-07 22:20] Alexander-Taran commented on #967
Would you like to provide a pull request for it @chrisckc ?

[2018-11-08 11:56] chrisckc commented on #968
Indeed, however if it is to be left as it is, there needs to be something in the docs that says something along the lines of "When including images that are referenced in the source, do not put them in the 'static' dir, instead either include them next to the source files or in another root directory such as /assets/" along with an explanation as to why this is necessary.

For example we could use

[2018-11-08 11:59] chrisckc commented on #966
No problem, ill get on to it next week.
Btw. I tried removing the HotModuleReplacementPlugin as indicated could be possible in the webpack docs, but it broke hmr, so i guess that statement in the webpack docs in incorrect.

[2018-11-08 13:01] chrisckc commented on #968
The Vue CLI generated webpack config is much more comprehensive than the one generated by Aurelia CLI. The Vue webpack docs start off with a full description of the project structure:
http://vuejs-templates.github.io/webpack/structure.html
which makes it easy for newcomers using webpack to understand how it works and where to put things.

Going from zero to a working app is much quicker and easier

[2018-11-08 23:20] Alexander-Taran commented on #968
are you using some plugin for webpack to process images?
if not.. why it touches them and produces hashed versions?
If yes.. then it is "src" because they are not static (-:

[2018-11-08 23:54] chrisckc commented on #968
I am using the section in the standard CLI generated config which uses url-loader for processing images.

I have been a fan of Aurelia ever since it came out and i am just trying to suggest ways to improve the starting experience for newcomers.

The point i am making is that the CLI generated project structure does not indicate to a newcomer where images should go, or rather that they should not g

[2018-11-11 06:40] BStrickland01 commented on #535
Hey,
Any news on a Aurelia PWA tutorial?

[2018-11-11 06:51] EisenbergEffect commented on #535
What exactly are you looking for that is Aurelia-specific in a PWA tutorial? You should be able to turn an Aurelia app into a PWA by following any article on service-worker and other PWA "umbrella" web features. If you can talk a bit more about what specifically you are looking for in an article, we can see about writing up a tutorial.

[2018-11-13 13:05] chrisckc opened #969 "Improvements in CLI generated Webpack config"
**I'm submitting a feature request**
Improvement of generated webpack config in relation to bundle splitting, long term cachability and other aspects inline with the following document:
https://developers.google.com/web/fundamentals/performance/webpack/

* **Loader/bundler:**
Webpack (v4)

**Current behavior:**
Webpack config is not optimised

* **What is the expected behavior?**
Webpack config sh

[2018-11-13 13:59] Alexander-Taran commented on #961
Would you like to provide a pull request for it @jbockle ?

[2018-11-13 16:34] chrisckc commented on #969
Here are the results of tests using HTTP/1/1 and different webpack configs.

The test were conducted using a project which consists of a CLI generated project with the Skeleton source files transplanted.
The repo for the above project is here: https://github.com/chrisckc/aurelia-cli-skeleton-typescript-webpack
I commented out the bootstrap sass import and replaced it with the bootstrap css import

[2018-11-13 16:57] chrisckc commented on #969
Also note that none of the above configs split out the lazy loaded aurelia-fetch-client.
Looking at the default splitChunks config:
https://webpack.js.org/plugins/split-chunks-plugin/#optimization-splitchunks it will only try and split async chunks, so it looks like it should  pick up aurelia-fetch-client and add it to an async 'vendor' bundle because that particular node module is being loaded as

[2018-11-13 17:57] chrisckc commented on #969
To fix the above issue with lazy loading aurelia-fetch-client the following needs to be done:
Edit app.ts and update the users route by adding a second parameter to PLATFORM.moduleName as follows:
[code]
The second parameter tells webpack to create a separate on-demand / async chunk with the name supplied. This means that aurelia-fetch-client is no longer loaded from an 'initial' module.

Now add

[2018-11-13 18:06] chrisckc commented on #969
Note that i am working on a more generic config which avoids having to call out specific modules in the webpack config, however this config might be more suited to HTTP/2 as it's going to result in more chunks. In the meantime ill post some results of using HTTP/2 with the same tests that i did above.

[2018-11-14 05:57] EisenbergEffect commented on #969
@jods4 Just want to make sure you've got your eyes on this to provide feedback as @chrisckc puts this work in. Lots of good info here.

[2018-11-14 10:59] chrisckc commented on #969
### HTTP/2 results:
I used the following package to get a HTTP/2 server: https://www.npmjs.com/package/static-http2-server with a self signed certificate. (HTTP/2 requires HTTPS)

For each test the HTTP/2 server was restarted to avoid "HTTP/2 Server Push" coming into play when re-requesting the page.
Obviously the browser cache was also disabled as in the previous tests.

The results were a little

[2018-11-14 11:05] chrisckc commented on #969
Here is the HTTP/2 waterfall for the test i carried out with 40 chunks:
![image](https://user-images.githubusercontent.com/2445837/48478723-fa2f9f80-e7fc-11e8-9725-99cd7c343c6d.png)

As can be seen, larger chunks look they hold up the download, and the last request at the bottom is a separate one for the font file.

[2018-11-14 15:03] chrisckc commented on #969
Ok, so i removed font-awesome and split the bootstrap css into 2 separate chunks using this method:
[code]

I then carried out the tests with both a 41 chunk split and 4 chunk split using both HTTP/1.1 and HTTP/2

### 41 Chunk Split:

#### HTTP/1.1

Custom 4G (4.0Mb/s 50ms latency)
41 requests | 648KB transferred | finish 1.45s | Load 1.58s

Fast 3G
41 requests | 648KB transferred | finish 5.83s |

[2018-11-14 18:54] #933 closed

[2018-11-14 21:20] huochunpeng commented on #955
@chabou-san could you try `"aurelia-cli": "huochunpeng/cli#fix-shim-order",` in your app's package.json (plus re-run `npm install`?

It should fix the Bootstrap v3 problem, let me know if it works. Thx!

[2018-11-15 00:15] EisenbergEffect commented on #969
nice work @chrisckc ! I'm not a Webpack expert so ultimately I need to rely on other members of my team to provide feedback. @jods4 can you review the extensive info above and share your thoughts? Also @huochunpeng since you are working on the CLI, can you review as well?

[2018-11-15 00:54] #954 closed

[2018-11-15 00:57] #959 closed

[2018-11-15 01:38] huochunpeng commented on #955
1.0.0-beta.5 released, pls test against it.

[2018-11-15 02:15] huochunpeng commented on #918
fixed in #965

[2018-11-15 02:15] #918 closed

[2018-11-15 02:56] huochunpeng commented on #969
Webpack is over my head, I cannot judge. But I can see @chrisckc got pretty comprehensive test result here. 👍

[2018-11-15 09:07] chabou-san commented on #955
Just tested it, and it's not fixed sorry.
So I've taken a quick look at your PR and the related code, and here's something that might be helpful:
I've logged the array from [`getBundledFiles`](https://github.com/aurelia/cli/blob/68e9de0aae58d87c5d16eee1490077a33a773b1e/lib/build/bundle.js#L160) and my jQuery dependency is listed as `jquery/dist/jquery`.
But when the sort is done, dependencies are

[2018-11-15 09:56] huochunpeng commented on #955
The sort is based on package name jquery, not module name jquery/dist/jquery.

Can you sent me your generated vendor-bundle.js in gitter or discourse? I need to see what’s happening inside. Thx!

[2018-11-15 12:02] chabou-san commented on #955
✅  Done on Aurelia-discourse.

Ah, ok. But I can tell that the array `bundleFiles` still contains `jquery` after `bootstrap`.
Not sure if that helps, but I could provide you with my full list of dependencies, or custom steps I could execute to help you.
Also, custom logs I added seem to show that in the shim sorting function, `jquery` is never tested against `bootstrap`. 😮 They are just both calle

[2018-11-15 12:56] chrisckc commented on #969
The long and short of it is that many of the web performance best practices become anti-patterns when used with HTTP/2. Maybe there should be an option on the CLI which asks what the webpack config should be optimised for?

Use of HTTP/2 is on the rise: https://w3techs.com/technologies/details/ce-http2/all/all
Some of the will be off the back of the rise of HTTPS due to increased web security awar

[2018-11-15 17:06] jmoerdyk commented on #940
This is more a dotnet core SDK issue,
It's being pinned by  the global.json file to dotnet core SDK 2.0.0, which only supports dotnet core 2.0 or below:

`{
  "sdk": { "version": "2.0.0" }
}`

 If you install a newer dotnet SDK that supports dotnet core 2.1 (latest is SDK 2.1.500) and update  the sdk version in the global.json, you will be able to change the Target Framework to 2.1 in Visual Studi

[2018-11-15 21:22] huochunpeng commented on #955
Thx for the file vendor-bundle, you can remove the gist now. I can reproduce the issue.

Working on it, the sorting is still unstable, because not all combination of two packages were checked by the sorting.

[2018-11-15 21:36] huochunpeng commented on #955
@fkleuver can I borrow you for few minutes? How to make the above code stable?

[2018-11-15 22:18] fkleuver commented on #955
@huochunpeng sure.. let me understand the sorting rules correctly.. what is the meaning of sorting first by moduleId and then by dependencies? is your intent to fall back to sorting by dependencies if the moduleId is identical, or are both parts always meant to influence the sort?

[2018-11-15 23:06] huochunpeng commented on #955
@fkleuver I am talking about the simple a,b,c sorting snippet above. Forget about the cli sorting, cli sorting is to ensure order of shimmed packages.

For instance, I want to make sure string "a" is after string "c", and don't care about other strings (don't care about the order between "a" and "b", or "b" and "c", or "x" and "y".

[2018-11-16 00:18] huochunpeng commented on #955
@chabou-san you can temporarily work around this issue with wrapShim.

wrapShim delays executing of bootstrap js to the time you do `import 'bootstrap';`.

[code]

[2018-11-16 00:19] fkleuver commented on #955
For it to be stable, you need to include the in-between values in the sort as well. I believe this should work:
[code]

[2018-11-16 00:20] huochunpeng commented on #955
Thx @fkleuver I will see what I can do.

[2018-11-16 00:33] huochunpeng commented on #955
I have two choices:

1. the simple one: remove wrapShim option, enforce wrapShim for all shim packages. This might not be a bad idea, I need to read more and study on this topic.

2. the complex one: fix the sorting.
I think I need to dice the packages into

* all packages not involved in shim
* packages group a for a shim tree (e.g. jquery -> bootstrap)
* packages group b for another shim tree

T

[2018-11-16 00:36] fkleuver commented on #955
I don't know enough about the cli internals to be able to decipher the precise implications of what you just described, unfortunately. Could you summarize into a bullet list of abstract sorting rules? e.g. "if a is a shim and b is ... then a comes before b". I'll be able to help you more easily with the sorting then.

[2018-11-16 00:42] EisenbergEffect commented on #969
This is tricky because there's a fine balance with the UX of the CLI and the questions that we ask. Perhaps for the default, we use our existing setup, but if you choose custom and Webpack, then we let you decide between the two setups. @huochunpeng @JeroenVinke what do you all think? If that sounds good @chrisckc would you be willing to tweak a PR or two to submit the change in that form?

[2018-11-16 00:46] huochunpeng commented on #955
To make a legacy lib into AMD module, we use shim config, so for bootstrap v3, we says `"deps": ["jquery"]` to identify it depends on jquey. Since bootstrap v3 is plain old JavaScript, it assumes global jQuery object is ready, hence we need to bundle jquery before bootstrap v3.

The sorting rule is, for shimmed package "foo", if it depends on "bar", ensure package "bar" is before "foo".

Pseudo co

[2018-11-16 01:01] huochunpeng commented on #969
Or put some alternative config in webpack.config template, but comment them out with clear instruction what it can offer. Users can unlock the config when they are more experienced with webpack.

In this way, it's simpler for cli, it also retains all possible alternative config in users local app.
If we ask user to choose upfront, some (me for example) may not have enough knowledge to make correct

[2018-11-16 01:43] fkleuver commented on #955
How about a regular topological sort then?
[code]

[code]

[2018-11-16 01:47] huochunpeng commented on #955
Awesome!

[2018-11-16 01:57] fkleuver commented on #955
let me know if works / doesnt work :)

[2018-11-16 02:12] huochunpeng commented on #955
It works, slightly changed to
[code]

[2018-11-16 03:38] freshcutdevelopment opened #977 "au new command exits early when a local CLI is installed in the current folder"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.5

* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all
* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**
If you accidentally install the Aurelia CLI locally rather than globally by running `npm install aurelia-cli` rather t

[2018-11-16 08:41] chabou-san commented on #955
Ok, I can confirm it's working for me now. 👍 Many thanks. :)

Don't worry, I've always had a workaround by setting jquery in the `"prepend"` array property in aurelia.json, or even in the usual "dependencies" too. But it's not needed anymore, and `jQuery` is now correctly sorted AND auto-traced. :)

[2018-11-16 09:16] IngoBleile commented on #940
Thank you, that solved it! I wasn't aware of the global.json and the settings in there.

[2018-11-16 17:47] Alexander-Taran commented on #940
@IngoBleile can you close this?

[2018-11-16 18:44] #940 closed

[2018-11-18 07:03] tareqimbasher opened #979 "ASP.NET Core template app does not run"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.0

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
TypeScript 3.0

* **Loader/bundler:**
Webpack

**Current behavior:**
Use `au new` to create a new Typescript/AspNetCore/Webpack project. Once it is complete and d

[2018-11-19 05:10] #955 closed

[2018-11-20 12:50] chrisckc commented on #969
@EisenbergEffect  I can see benefits to both approaches, asking about HTTP/2 in the CLI menu, under the custom choice will prompts users to think about this. This is good because an app would ideally need to be designed with HTTP/2 in mind from the start to take the most advantage from it.

But as @huochunpeng stated, it does require more upfront knowledge / upfront learning to answer the CLI ques

[2018-11-20 13:04] chrisckc commented on #969
Btw. i have updated my test repo:
https://github.com/chrisckc/aurelia-cli-skeleton-typescript-webpack

It now contains a more generic webpack config. The new config contains a "vendorSplit" cacheGroup which works by using a function for the name property in each cacheGroup.

This results in each node module being split individually if the size is bigger than the specified minSize (20000 bytes)

[c

[2018-11-20 13:13] chrisckc commented on #958
Closing this as original issue is now fixed, further improvements to webpack config to be discussed here: https://github.com/aurelia/cli/issues/969

[2018-11-20 13:13] #958 closed

[2018-11-20 19:45] milkshakeuk commented on #979
It seems to be related to this recent commit in the [webpack.config.template](https://github.com/aurelia/cli/commit/6996274041c3faf2e7d8eeadb000d8c19607f869#diff-3405e3fe31194a9466fcee9348d3cfed) which adds some optimisations but breaks the develop build of the aspnet core app.

I made it work by changing the following file [Views/Home/Index.cshtml](https://github.com/aurelia/cli/blob/00ed99754233

[2018-11-20 20:32] huochunpeng commented on #979
@milkshakeuk I am not dotnet user, but I think the other way you can fix this is to remove all the additional bundles, just keep app and vendor.

[code]

[2018-11-20 20:38] milkshakeuk commented on #979
@huochunpeng I would assume including everything in `node_modules` is not the best approach since a lot of `devDependencies` will also reside here.

What I do know is that before the removal of the `vendor` entry in the `webpack.config.template.js` this worked fine, its only since the move to use the optimized chunked files that this began to fail.

[2018-11-20 20:43] huochunpeng commented on #979
I guess it's because of the file name change. Here are files generated with `au build` (default dev env).

[code]

It's not `vendor.bundle.js`, it's `vendor.*.chunk.js` now.

[2018-11-20 20:45] milkshakeuk commented on #979
@huochunpeng this is the conclusion I came to which is why my Index.cshtml amendment works.

[code]

[2018-11-21 03:05] EisenbergEffect commented on #969
@chrisckc I like your idea. So, if custom is selected and Webpac, we can ask about HTTP/2. If they choose no, we include the link to GitHub. We can also include the link if they take the default setup.

Would you be interested in submitting a PR to make these changes. Perhaps @huochunpeng could help guide you as to where/how to make these changes.

[2018-11-22 16:16] chrisckc commented on #969
No problem, first we have to agree on how many chunks should be created for the non HTTP/2 config and how many for the HTTP/2 config. Also need to decide if we are adding the following config which enables long term caching to work properly, this would be added to both configs.

[code]

**HTTP/1.1**
The config in the recent PR creates 6 chunks so maybe use this as the default HTTP/1.1 config.

**H

[2018-11-23 09:39] chrisckc commented on #969
The webpack issue has already been started on and they seem to have regular releases so i think it would be worth waiting so that we can use the maxSize option. The package.json will need to specify the minimum webpack version.

[2018-11-23 10:59] chrisckc commented on #979
@milkshakeuk @huochunpeng This is unfortunate, my testing was done using the new style ASP.NET Core Spa method which use SpaProxy in dev mode and serve the Aurelia bundle from ClientApp/dist when in production mode. Using that method there is no tie-in between the MVC Index view and the SPA code.

I guess this kind of issue may be one of the reasons why Microsoft have moved away from the old metho

[2018-11-23 11:34] chrisckc opened #983 "Add `--extractCss' flag to CLI Webpack"
**I'm submitting a feature request**
add `--extractCss' flag to au commandline in webpack projects

This can be acheived by editing "/aurelia_project/tasks/build.ts" as follows:

line 14, from:
[code]
To
[code]

**Current behavior:**

The following does not result in separate css files:
[code]
instead you have to revert to using an npm command:

[code]

* **What is the expected behavior?**

To be

[2018-11-23 12:03] chrisckc commented on #969
Documentation also requires updating, just commented on this:
https://github.com/aurelia/documentation/issues/348

[2018-11-23 13:24] nenadvicentic opened #984 "RequireJS loader `stub` option with `@useView` decorator - throws errors"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta6

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v10.13.0

* **NPM Version:**
6.4.1

* **Browser:**
all
* **Language:**
TypeScript 3.1.6

* **Loader/bundler:**
RequireJS/Aurelia-CLI Auto-tracing Bundler

**Current behavior:**

When having a view model class with `useView` decorato

[2018-11-23 13:29] milkshakeuk commented on #979
@chaskim I have not seen the latest ASP.Net Core SpaProxy method used in any tutorials or in the spa templates that microsoft provide do you have any examples.

however if this is the case I agree the aurelia cli should share the approach.

[2018-11-23 13:30] chrisckc commented on #979
@EisenbergEffect Perhaps a better approach than updating the CLI would be to convince the ASP.NET Core team to reintroduce the Aurelia template into their core templates package https://github.com/aspnet/Templating and then ditch the CLI generated.NET core template.

[2018-11-23 13:36] chrisckc commented on #979
@milkshakeuk I have a blog post here which links to a git hub repo using the new method:
https://www.chrisclaxton.me.uk/chris-claxtons-blog/aspdotnetcore-aurelia

[2018-11-23 13:46] milkshakeuk commented on #979
alternatively the aurelia team could create there own custom aurelia template ala [custom-templates](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates).

[2018-11-23 13:51] milkshakeuk commented on #979
@chrisckc Thanks for the link.

[2018-11-23 15:18] chrisckc opened #985 "Undesirable behaviour of webpack dev server using CLI generated config"
**I'm submitting a bug report**
**I'm submitting a feature request**

The webpack dev server setting: contentBase sets the path from where static content should be served from.
https://webpack.js.org/configuration/dev-server/#devserver-contentbase

This is set in 2 places in the CLI generated config:
run.ts line 17:
[code]

and also in the webback.config
[code]

This causes the dev server to also

[2018-11-23 18:10] huochunpeng commented on #984
Please remove leading `/`, requirejs module name does not starts with `/`, also please use html file extension.

Pls try
[code]

Relative module id should also work
[code]

[2018-11-25 02:56] EisenbergEffect commented on #979
@milkshakeuk I wish we could convince them. For whatever reason they refuse to support anything besides Angular and React even with Angular moving into decline and React beginning to be supplanted by other VDom-based frameworks. When I was employed at Microsoft I even internally gave a "piece of my mind" to a few people about this but it didn't seem to make any difference. On the whole, I'm not co

[2018-11-25 20:10] chrisckc commented on #979
Looks like the .NET team are open to providing links to community created templates in their documentation, here is the issue and discussion i found a while back on the retiring of the templates:

[code]

I am willing to help in the creation of an Aurelia template for `dotnet new`, we would need to decide what sample code is provided in it. Microsoft had their own Aurelia sample in the retired tem

[2018-11-26 04:07] EisenbergEffect commented on #979
I'd like to start with the most basic setup that makes sense and then iterate on it from there based on community feedback. Our plan for the skeletons has been to have them be generated from the CLI and we'd want to have things be as close as possible with the ASP.NET integration as well. @JeroenVinke Any notion of how far we are away from being able to generate the skeletons from the CLI?

[2018-11-26 04:08] EisenbergEffect commented on #979
Oh, in case it wasn't clear, @chrisckc we'd love your assistance in creating the Aurelia template :) I think the community will be very happy about this.

[2018-11-26 16:40] huochunpeng commented on #984
I am not familiar with webpack. It would be difficult if not impossible. I don’t think the effort is justified as existing requirejs setup did the job really well.

Webpack itself does not provide a runtime module loader. Also aurelia’s loader part is abstracted by aurelia-loader, with aurelia-loader-webpack for webpack setup and aurelia-loader-default for requirejs and systemjs setup. I guess you

[2018-11-26 16:44] huochunpeng commented on #984
Stub is only for our requirejs/systemjs setup. It is designed to save little bit on bundle size (by removing text plugin).

I personally think the stub feature should be removed. What it saved is trivial comparing to any real app size, while generating unnecessary confusion.

[2018-11-27 09:40] wallaceturner commented on #977
does the local version simply not work? i've got a situation where i'm using 0.34 for production but want to try out 1.0.0-beta.6 before migrating too it but am running into this same error. you can't have 2 aurelia-cli's side by side ?

[2018-11-27 10:50] chrisckc commented on #969
The webpack issue: https://github.com/webpack/webpack/issues/8407

has now been fixed and released in Webpack v4.26.1

I will work on suitable configs later this week with a view to creating a pull request.

[2018-11-27 11:08] huochunpeng commented on #977
If you install 1.0.0.beta.6 globally, your existing app with 0.34 will still build and run using local 0.34.

Even with global cli upgraded, your existing apps on whatever cli version will continue to use the old version until you update app’s local pacakage.json for aurelia-cli dependency.

You can use `au new` to create new v1.0.0 based apo skeleton. The question is why you need to run `au new`

[2018-11-27 11:15] chrisckc opened #986 "Create ASP.NET Core Aurelia Templates for dotnet new"
**I'm submitting a feature request**

Create ASP.NET Core Aurelia Templates for dotnet new in favour of the Aurelia CLI generated dotnet template.

The ASP.NET Core Aurelia Template was retired in dotnet v2.0.
currently, out of the box, `dotnet new` no longer provides an Aurelia template.

This issue has been created to continue the discussion which was born out of this issue: https://github.com/a

[2018-11-27 11:34] chrisckc commented on #986
It would make sense to use source files from the skeleton repo in the `dotnet new` generated template.

@EisenbergEffect do you know any details of how the skeleton source will be integrated into the CLI, is the source to be embedded and maintained  in the CLI or to be pulled down from the 'skeleton-navigation' GitHub Repo?

It would make sense to keep the the skeleton source in its current repo s

[2018-11-27 11:37] chrisckc commented on #979
No problem, i have created a new issue to continue discussions on this, in the meantime should this issue be fixed in the CLI by editing Index.cshtml?

If so can someone else do a pull request for that please? @milkshakeuk ?

[2018-11-27 12:30] nenadvicentic commented on #984
Just to clarify and perhaps simplify my question.

Is there intention for Aurelia support scenarios where view-templates that are not bundled are fetched from web server?
In other words, is this general feature, regardless of bundler and module loader used behind a scenes by `aurelia-cli`?

[2018-11-27 12:50] bigopon commented on #984
@nenadvicentic  Here is an example how you can do it with a `RemoteViewStrategy` https://codesandbox.io/s/8ljmrq3vql

[2018-11-27 14:14] nenadvicentic commented on #984
@bigopon Thank you! This is very interesting example.
Is it possible to apply `RemoteViewStrategy` only for certain views, instead of globally? In my use-case, only few "special" views are fetched remotely. Default strategy is used for most of the application.

[2018-11-27 22:03] freshcutdevelopment commented on #977
Yes, this issue is specifically about putting in place a friendlier error/ warning message to indicate to new users why they're unable to create their project.

[2018-11-27 22:15] wallaceturner commented on #977
or, as the OP states

[2018-11-27 23:33] milkshakeuk commented on #979
@chrisckc @EisenbergEffect pull request created, though I did update the template to aspnet core 2.1 whilst I was there, basing it on newer `dotnet new mvc` templates.

[2018-11-28 03:09] EisenbergEffect commented on #969
Excellent!

[2018-11-29 03:11] EisenbergEffect commented on #986
@chrisckc Sorry for taking so long to respond to the question. I got backed up on issues :) I really appreciate your dedication and partnership in working on this.

Our plan for the CLI was to keep the source internal to it, in a resources folder. However, there will be a new CLI command that will generate all the skeleton projects. We could use this to generate out the content for the `dotnet new

[2018-11-29 17:47] PWKad opened #989 "Docs not rendering the npm install command"
![image](https://user-images.githubusercontent.com/4238393/49241093-7b299200-f3cc-11e8-8cb6-399876708547.png)

It flashes on for a second so you can see it then the value gets removed.

[2018-11-29 20:41] huochunpeng commented on #989
![screen shot 2018-11-30 at 7 39 00 am](https://user-images.githubusercontent.com/1188806/49250482-05c4cc80-f473-11e8-989e-2362f3d39ba6.png)

It displays fine with "JavaScript" syntax (strangely not "Shell") in my browser.
The doc is moved to https://github.com/aurelia/documentation/master/current/en-us/11.%20cli/

@EisenbergEffect is that syntax auto detected in client side, or preprocessed in ba

[2018-11-29 20:46] EisenbergEffect commented on #989
It's pre-processed as part of the build. Can someone provide the url and browser info, so I can check it out more?

[2018-11-29 20:54] huochunpeng commented on #989
https://aurelia.io/docs/cli/basics#machine-setup
My browser: Safari 12.0 on macOS 10.14.

[2018-11-29 22:50] EisenbergEffect commented on #989
This is odd, I can't reproduce it on Safari on Mac. @PWKad Can you try refreshing with a clear cache and see if it's some old CSS or something?

[2018-11-29 22:55] PWKad commented on #989
This link does it for me each time -

https://aurelia.io/docs/build-systems/aurelia-cli/

It looks like that is a separate link than what @huochunpeng shared so probably there is two separate docs for the same thing, let me look.

[2018-11-29 22:59] huochunpeng commented on #989
That's looks like messed up old cli doc, if you go one level back, there is a strange "aurelia-cli" section under "build system".

@EisenbergEffect How does it get there? There is no source for the menu item.
https://github.com/aurelia/documentation/tree/master/current/en-us/12.%20build-systems

[2018-11-29 23:03] PWKad commented on #989
Fwiw I got there through googling Aurelia cli

[2018-11-29 23:04] EisenbergEffect commented on #989
I'm going to guess that we pushed the new docs and because urls changed, the old docs are still there even though they aren't in the site nav. I'll check on it.

[2018-11-29 23:05] EisenbergEffect commented on #989
Oh! This explains a lot. I had another user report a CSS issue. It's old pages that aren't getting cleaned on a re-build. Thanks! I'll get this handled soon.

[2018-11-29 23:09] huochunpeng commented on #989
@EisenbergEffect besides removing old production files during deployment, please also turn on cli bundle hash.

[2018-11-30 00:14] EisenbergEffect commented on #989
@huochunpeng Mind PRing that change in? 😏

[2018-11-30 09:17] #979 closed

[2018-11-30 10:33] WalterEbbers opened #990 "aurelia-cli TypeError: require.resolve.paths is not a function"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta6

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.2

* **NPM Version:**
3.10.10

* **Browser:**
Not using a browser yet,

* **Language:**
Typescript 3.2.1

* **Loader/bundler:**
webpack

**Current behavior:**
After updating aurelia cli from 0.32.0 to 1.0.0-beta6  when trying t

[2018-11-30 10:59] huochunpeng commented on #990
Cli v1 now requires nodejs v8.9.0+.

[2018-11-30 11:14] zewa666 commented on #990
might be a good idea to add the check at the beginning of the cli and throw a nicer error

[2018-11-30 12:08] chrisckc commented on #986
@JeroenVinke Thanks for the info, i see that work has already been done in your CLI feature to enable the generation of a dotnet project.

So the skeleton navigation repository will be kept up to date with the CLI generated code?

With the current workflow that you have developed, what kind of `dotnet new` templates are supported for adding Aurelia using the CLI?  (eg. mvc, web, razor, webapi)

In

[2018-11-30 12:10] WalterEbbers commented on #990
@huochunpeng thnx will try that.

@zewa666  yeah would a good idea! a requirements check of some sorts.

[2018-11-30 12:45] chrisckc commented on #969
I have updated my test repo again, there is now a separate webpack config for HTTP/2
https://github.com/chrisckc/aurelia-cli-skeleton-typescript-webpack

The normal HTTP/1.1 config creates 8 vendor chunks by using splitChunks.maxSize: 200000
(the total number of files downloaded is a bit more than 8 due to other files such as the app bundle, css and webpack runtime)

The HTTP/2 config creates 21 c

[2018-11-30 15:06] huochunpeng commented on #990
It does check, I guess you have not upgraded global cli?

`npm i -g aurelia-cli` then try again same command.

[2018-11-30 15:53] YardGnomeNinja opened #991 "1.0.0-beta.6 compilation error: TS2339: Property 'config' does not exist on type 'typeof Async'."
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.6

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.12.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
TypeScript 3.1.6

* **Loader/bundler:**
Webpack

**Current behavior:**
1. `au new newproject`
2. Select: Default TypeScript
3. Displays:
[code]
4. Select: Yes (

[2018-11-30 17:58] robinchesterman commented on #991
I'm also seeing this problem

[2018-11-30 19:57] huochunpeng commented on #991
The error is from
[code]

Looks like some bluebird typing messed up.

[2018-11-30 20:09] huochunpeng commented on #991
Latest TS is somehow strict.
do `npm i -D @types/bluebird`

PR coming.

[2018-11-30 20:09] mobilemancer commented on #991
Install the typings to fix the problem.
`npm install @types/bluebird`

[2018-12-01 07:14] EisenbergEffect commented on #986
Our approach to the skeletons is basically to have the CLI generate all the skeletons and then publish those as a release of the skeleton repo on GitHub. Could we just have the CLI generate the files and then copy those over into the asp.net template, and finally publish the template in the same way? How hard it is to create a template?

[2018-12-01 19:58] chrisckc commented on #969
@EisenbergEffect After a quick look i can see that the menu structure is driven by "lib/commands/new/new-application.json" so it looks like i need to add a new question and state config in there and reference it in "lib/resources/content/webpack.config.template.js"

The new option should probably be specified right after the "loaderBundler" question, such that if Webpack is specified, then use a n

[2018-12-01 20:52] chrisckc commented on #986
That should work as there doesn't need to be anything special about the Aurelia project when using the new dotnet SpaProxy method. A standard Aurelia CLI generated webpack project with https://github.com/aurelia/cli/pull/982 merged in will work fine.

The Aurelia project that sits inside the ClientApp dir in the dotnet project is will not be tied back to the dotnet project in any way like it is in

[2018-12-02 21:57] #991 closed

[2018-12-03 02:05] EisenbergEffect commented on #969
@chrisckc Sounds like you've got a good understanding of what's needed. Also, if you'd like to cross-post to the official Aurelia blog or do a guest blog post after we get this all merged and released, we'd love to have you.

[2018-12-03 22:21] rockResolve opened #995 "au new typescript/webpack compile failure"
**I'm submitting a bug report**

* **Library Version:**
au cli 1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.13.0

* **NPM Version:**
6.4.1

* **Browser:**
Chrome 70

* **Language:**
TypeScript

* **Loader/bundler:**
Webpack

**Current behavior:**
au new with typescript/webpack compile fails with
ERROR in ...\git-demo\src\main.t

[2018-12-03 22:42] #995 closed

[2018-12-04 04:53] rockResolve opened #996 "Karma unit test failures: Cant resolve fs, no tests run"
**I'm submitting a bug report**

* **Library Version:**
au cli 1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.13.0

* **NPM Version:**
6.4.1

* **Browser:**
Chrome 70

* **Language:**
TypeScript 3.2.1

* **Loader/bundler:**
Webpack

**Current behavior:**
To reproduce:
au new
choose Default Typescript setup
run au karma

I get the

[2018-12-04 05:00] huochunpeng commented on #996
Could be #970.
Can you try reverting to `modules: [srcDir, 'node_modules'],` in webpack config?

[2018-12-04 05:06] rockResolve commented on #996
Reverting #970 fixed the error, but still 0 tests completed

[2018-12-04 05:17] rockResolve commented on #996
I also found a fix that was explicitly installing fs.
Again while it fixed the error, still 0 tests were completed.

[2018-12-04 05:19] huochunpeng commented on #996
@chrisckc could you have a look?

[2018-12-04 06:29] #967 closed, assigned to nobody

[2018-12-04 11:03] WalterEbbers commented on #990
nope had not upgraded global cli.
Thnx.
running 1.0.0-beta.7 right now.
Walked into another issue, but will find out what that is first, and create new issue if there is none.

ty for the help!

[2018-12-04 11:03] #990 closed

[2018-12-05 12:04] chrisckc commented on #996
Had a quick look at the 2 issues:

**First issue:**

The error "Module not found: Error: Can't resolve 'fs' in" can be fixed by adding the following to the webpack config: `node: { fs: 'empty' },` as mentioned in the referenced issue, rather than reverting to `modules: [srcDir, 'node_modules'],`

**Second issue with the tests not running:**
comment out the `optimization` config section in the webp

[2018-12-05 12:08] chrisckc commented on #969
@EisenbergEffect Creating a PR today, I will also modify the package.json to resolve this issue:

https://github.com/aurelia/cli/issues/996

Are you ok with me updating karma-webpack to an RC version to fix that issue?
 `"karma-webpack": "^4.0.0-rc.3",` in package json

[2018-12-05 12:58] chrisckc commented on #969
I left the fix for 996 out of the PR.

[2018-12-08 10:30] hanssens opened #999 "Error on blank project: TS2339 Property 'config' does not exist on type 'typeof Async'"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
OSX 10.14.1

* **Node Version:**
v8.12

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
TypeScript 3.2.1

* **Loader/bundler:**
Webpack

**Current behavior:**
Clean, empty project crashes with error on `au run --watch`

* **What is the expected beha

[2018-12-08 10:33] hanssens commented on #999
Seems to be a duplicate issue (or regression?) of #991. As mentioned in that issue, can be fixed by running:

[code]

Still seems to occur in beta7 though?

[2018-12-08 11:50] huochunpeng commented on #999
Yes it’s fix but not yet released.

[2018-12-08 11:52] #999 closed

[2018-12-10 02:54] AshleyGrant opened #1000 "Babel loose config option causes issues with spread transform"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta7

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
6.2.0

* **NPM Version:**
8.11.3

* **Browser:**
all

* **Language:**
ESNext

* **Loader/bundler:**
all

**Current behavior:**
Babel config specifies `loose: true`. This causes issues when using the spr

[2018-12-10 03:41] huochunpeng commented on #1000
I questioned loose mode before in #866 but didn't have any interesting code that broke with loose mode.

Alternatively `this.foo = Array.from(new Set([1,2,3]));` (still compact and readable) can avoid the loose mode issue.

I would side with changing user code than pay the price (performance and size) of strict mode.

[2018-12-10 21:35] huochunpeng commented on #991
cli generated skeleton by default didn't turn on esModuleInterop.
esModuleInterop is recommanded by Microsoft for babel compatibility.

@jeremy-holt would you mind to create an issue in aurelia-router on the activationStrategy+TS+ esModuleInterop? Recently the router project has been migrated from esnext+flow to TS, might be related.

[2018-12-10 21:36] jeremy-holt commented on #991
Sure

[2018-12-11 04:34] davismj commented on #996
This error is thrown on Node 8 and Node 10, but not Node 6.

[2018-12-11 11:38] fragsalat opened #1001 "Add alameda as loader option"
**I'm submitting a feature request**

* **Library Version:**
all

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
all

* **NPM Version:**
all

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
RequireJS / Alameda

**Current behavior:**
Right now the cli tool allows to select requirejs as loader.

* **What is the expected behavior?**
It shoul

[2018-12-11 11:41] fragsalat commented on #1001
Question to the code owner, why did you overwrote requirejs.load and created a custom normalize path function? It looks like you only wanted to add /base/ to all urls during test setup?
https://github.com/aurelia/cli/blob/master/lib/resources/test/require.aurelia-karma.js#L47

As far as I tested it and had a look it would be absolutely sufficient to do the following instead
[code]

[2018-12-13 03:30] huochunpeng commented on #989
Looks like Rob cleaned up the outdated pages. Can be closed.

[2018-12-13 03:30] #989 closed

[2018-12-13 09:10] fragsalat commented on #1001
Not yet. I'll first intregrate alameda sucessfully in my work's project and based on that create a PR here :)

[2018-12-14 10:12] nenadvicentic commented on #984
@bigopon just to come back to you. This was very helpful.

I modified `RemoteViewStrategy` to cache template, so it's downloaded only 1st time view is about to be displayed. I also added `useRemoteView` decorator, to make it easier to configure view-model. Code bellow is TypeScript.

Usage ends up being:

[code]
And `RemoteViewStrategy` and `useRemoteView` decorator look like this:

[code]

[2018-12-17 00:08] bigopon commented on #984
@nenadvicentic nice. You may want to use fetch instead of xhr too. not sure why i used it 😄

[2018-12-18 12:34] chrisckc commented on #986
@EisenbergEffect Just putting something together, is there a way to use  the `au new` command non-interactively? The help only shows a single option "--here".

I wanted to have dotnet create the Aurelia project inside ClientApp on first run if does not exist. Instead it will have to show an error message stating that `au new` needs to be ran.

This should be acceptable though,  the Angular templat

[2018-12-18 13:07] chrisckc commented on #986
It would be great if the CLI could be ran fully automated with an option to specify "Default TypeScript" as the type of project to create.

In theory the user should be able to choose any of the available options in `au new` when creating the project, the only one that needs to be avoided is:

What platform are you targeting?
"2. ASP.NET Core"

That option will need to be removed before the templa

[2018-12-18 13:12] chrisckc commented on #986
I also notice that the dotnet angular template is built to use NPM because it forms part of the publishing command which performs `npm install` before the angular build. The Aurelia CLI asks if "Yarn" should be used, this will cause issues unless the .csproj file is edited to change the publishing commands.

[2018-12-18 13:59] chrisckc commented on #986
I have noticed that Yarn is the default when going through the CLI's custom creation path, i also noticed that when using the "--here" option, the CLI no longer no longer asks to create the default project, it skips straight into the custom path.

I wanted to prompt the user to run `au new --here` from within the ClientApp dir rather than run `au new` from the dotnet project root and have to tell

[2018-12-19 05:03] #977 closed

[2018-12-19 05:18] huochunpeng commented on #977
The merged fix did the proper thing: it ensures "au new" is executed by global installed cli.

[2018-12-19 20:30] huochunpeng commented on #996
Should we only use jest in the default webpack setup? So at least users can get a working skeleton.

[2018-12-19 21:31] huochunpeng commented on #996
@peitschie that sounds like it should be fixed in karma-coverage-istanbul-reporter.

I read from webpack doc, when context is undefined, "By default the current directory is used".

But karma-coverage-istanbul-reporter tries to read `webpackConfig.context` directly.
https://github.com/mattlewis92/karma-coverage-istanbul-reporter/blob/50f441f496622b8f923388182d2d9acaad596138/src/util.js#L31

It sho

[2018-12-19 21:38] huochunpeng commented on #996
@peitschie I am not sure what did I do wrongly. I have a default webpack skeleton. The `context: karma ? __dirname : undefined,` didn't fix the missing fs issue for me.

[2018-12-20 01:19] peitschie commented on #996
@huochunpeng sorry, I wasn't clear with my comment.

The fs issue requires the tweak specified in https://github.com/aurelia/cli/issues/996#issuecomment-446069267. My additional config change fixes the next issue @davismj encountered where the coverage was throwing an `Path contains invalid characters`  error.

The tweaks to my webpack to get this working again were:
[code]

[2018-12-20 05:04] EisenbergEffect commented on #986
We can make whatever customizations in the CLI that we need to make this a smooth experience for .NET. For example, we could create a custom workflow.json for the .NET CLI case and then add a command that lets you invoke the Aurelia CLI with the custom workflow. We're open to adding new features that would make this smooth for .NET developers. Let us know what you think would work best.

[2018-12-20 06:04] peitschie commented on #996
Another tweak is also required for `karma.config.js` on Windows, to avoid the html reporter breaking (I added a fix to  https://github.com/mattlewis92/karma-coverage-istanbul-reporter/pull/61 for this as well):

[code]

[2018-12-21 19:08] PWKad opened #1004 "Missing dependencies for bundle task when using CLI with bundler"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser

[2018-12-21 19:12] #1004 closed

[2018-12-21 19:15] PWKad opened #1005 "CLI + JSPM at the end did not install all necessary dependencies"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
Local aurelia-cli v1.0.0-beta.8

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.6

* **Node Version:**
v10.13.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
ESNext

* **Loader/bundler:**
SystemJS

**Current behavior:**

* **What is the expected behavior?**

A

[2018-12-21 19:19] PWKad commented on #1005
Ok I found a file named `browser.js` and updated the bundle section to reference that file but it failed.

[2018-12-21 19:51] PWKad opened #1006 "Link in the README.md does not point to the correct docs, it 404's."

[2018-12-21 21:47] PWKad commented on #1005
Also tried on 8.12.x node with npm 6.4.x and having the same result with the other projects besides webpack.

[2018-12-21 22:01] PWKad commented on #1005
Yeah no idea here I went and looked in the @babel/polyfill repo and as I best I can tell they delete that file after publishing so presumably it is supposed to get published and do something here but I don't see what. 🤷‍♂️

[2018-12-21 22:03] PWKad commented on #1005
https://github.com/babel/babel/issues/9227

[2018-12-21 22:09] PWKad commented on #1005
Linked the issue but the babel polyfill plugin was released yesterday but did not include the dist files that it was supposed to AFAICT, leaving this open until that is resolved since it is going to cause anyone else who starts a new JSPM or Require.js project with the CLI to run in to the same problem

[2018-12-21 22:44] PWKad commented on #1005
Linked issue fixed, closing this.

[2018-12-21 22:44] #1005 closed

[2018-12-21 23:42] huochunpeng commented on #1005
FYI, not for this issue, but the reason we use prepend for babel polyfill instead of direct `import '@babel/polyfill';` is that cli bundler has issue to support tracing babel polyfill.

It's about stubbing the usage of Nodejs global variable "global". I have fixed the issue in my own WIP [bundler](https://github.com/dumberjs/dumber) in [this commit](https://github.com/dumberjs/dumber/commit/a1975c

[2019-01-02 18:02] AquilaSands opened #1013 "Aurelia CLI bundler incorrectly traces the dependencies of Font Awesome v5 JS SVG Core"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.9

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.0.0

* **NPM Version:**
5.5.1

* **Browser:**
Chrome 71

* **Language:**
TypeScript 3.2.2

* **Loader/bundler:**
SystemJS

**Current behavior:**
Installing and using Font Awesome JS + SVG causes the app to fail to load.

When bun

[2019-01-03 21:54] tjad commented on #848
I've run into a similar issue since updating my dependencies. What is the actual meaning / cause of this error?

[2019-01-03 21:59] tjad commented on #848
I generated a fresh project and swapped out my .babelrc for the new .babelrc.js which is not 100% yet, but looks much healthier!

[2019-01-03 22:22] huochunpeng commented on #848
It could be you have babel6 in your existing app. When you upgrade cli on an app you haven’t touched for quite a while, there are lots of other deps have to be upgraded too.

It is easier to create a fresh app skeleton then copy over your existing source code.

[2019-01-03 23:10] veikkoeeva commented on #986
@chrisckc This and the other issues really are a admirable load of work. The very least I could do is to get you coffee if I knew how!

This is exactly the kind of stuff I have been slowly working on (this is mostly an evening hobby for me currently). My angle was more from https://philipwalton.com/articles/deploying-es2015-code-in-production-today/ as wanting to not to transpile on module support

[2019-01-03 23:23] huochunpeng commented on #1013
The fa index.es.js has an internal func named as `function define(...)` which confused rjs parser (cli uses it). It thought that `define('fa',` is an AMD define but it's actually a call to local internal define func.

There is a very strange temporary fix for you. Switch from SystemJS to RequireJS, that actually doesn't fix the generated code, but bypasses the issue. SystemJS and RequireJS treats

[2019-01-05 15:45] Alexander-Taran commented on #1013
I think it would be a good call on FA guys to rename the function
define is pretty much a keyword in js world

[2019-01-05 19:45] huochunpeng commented on #1013
Check the fa issue, they will rename it.

[2019-01-06 12:43] Alexander-Taran commented on #1013
@AquilaSands you can close this one and track FA issue. Meanwhile using the workaround provided.
Thanks

[2019-01-07 17:22] Alexander-Taran commented on #169
@jwx this one is for you (-:

[2019-01-09 17:55] jmoerdyk opened #1014 "ASP.NET Core template app once again does not run"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.9, 1.0.0-beta.8

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.14.0

* **Yarn Version:**
1.12.3

* **Browser:**
all

* **Language:**
TypeScript

* **Loader/bundler:**
Webpack

**Current behavior:**
It looks like the webpack.config changes to the output bundles in 1.0.0-beta.8 h

[2019-01-11 22:54] beatsm commented on #1014
Beta 9 also does not work vendor.css referenced in _layout is missing from the dist folder

[2019-01-13 03:43] #1001 closed

[2019-01-14 21:53] LilSebastian5000 opened #1016 "Karma Unit Test Failures: Cannot find 'babel-plugin-instanbul'"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.9

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.0

* **NPM Version:**
6.5.0

* **Browser:**
Chrome / All

* **Language:**
ESNext

* **Loader/bundler:**
Webpack

**Current behavior:**
Karma tests fail to run with the following error:
`Error: Cannot find module 'babel-plugin-i

[2019-01-14 22:14] LilSebastian5000 commented on #1016
Was able to fix this issue by adding the following to my package.json (NOT included with aurelia-cli):

  `  "babel-plugin-istanbul": "5.1.1"`

That got rid of my initial error. From there, I got the same error that was mentioned in #996 , and was able to fix it by adding this to my webpack.conf.js:

`node: {fs: 'empty'},`

I'm not sure if that has any negative effect on a deployed app in the long

[2019-01-14 22:18] huochunpeng commented on #1016
The webpack setup comes with both `au karma` and `au jest`. Maybe you can use jest for the time being.

[2019-01-15 17:16] AquilaSands commented on #1013
@huochunpeng Thanks for the workaround that allowed us to move a skeleton based project to the CLI which is so much nicer to use 👍

@Alexander-Taran will do, thanks.

[2019-01-15 17:16] #1013 closed

[2019-01-16 08:32] shahabganji opened #1018 "Running jest fails when adding bootstrap, popper.js (navigator is undefined)"
Hello guys,

I have added bootstrap and wanted to start unit testing with jest, then I faced the following issue:

![image](https://user-images.githubusercontent.com/4405518/51235825-b9cbd980-1985-11e9-9462-92b1acd7b129.png)

I think this is due to the fact that popper has been used with bootstrap, so after investigating through this error we find that the issue will be resolved if we add the foll

[2019-01-16 20:54] huochunpeng commented on #1018
jest by default simulate a browser env which provides navigator as one of the global variables.

But Aurelia did something special to turn off the default.
1. it switches the default jest env to node, in your package.json, you can find
[code]
2. it uses special aurelia-pal-nodejs instead of normal aurelia-pal-browser, you can find in `test/jest-pretest.js`
[code]

## The truth is, we don't need to

[2019-01-17 07:33] shahabganji commented on #1018
@huochunpeng

Thanks for your reply, I'll test that and will let you know of the results.

These lines on `test/jest-pretest.ts` can also be used to tackle the issue:

[code]

[2019-01-18 09:15] nenadvicentic opened #1020 "ASP.NET Core with Aurelia-CLI and RequireJS does not create .NET Core project"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli v1.0.0-beta.9

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v10.13.0

* **Yarn Version:**
1.13.0

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView

* **La

[2019-01-21 15:36] darylcober opened #1021 "Auto-bundler produces code error"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.14.0

* **NPM Version:**
6.4.1

* **Browser:**
Chrome 71.0.3578.98

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:**
Some npm packages are missing trailing semicolon in code.
When offending package

[2019-01-22 08:13] BlischkeFlorian opened #1023 "AU Build Fails while bundling"
After update to beta.10:

I get a lot of these errors while bundling in the console:

[code]

[2019-01-22 08:42] huochunpeng commented on #1023
Can I have a look of your aurelia.json?

[2019-01-22 10:49] BlischkeFlorian commented on #1023
i've replaced the 'sensitive' Data with [XXX]

[code]

[2019-01-22 20:48] huochunpeng commented on #1023
Nothing wrong with your config. It's a cli bug with systemjs, I can reproduce it with systemjs + babel/ts. Fix is coming.

[2019-01-22 21:03] huochunpeng commented on #1023
After the fix is released, you need to run `au clear-cache` to purge wrongly cached deps.

[2019-01-23 05:43] BlischkeFlorian commented on #1023
thank you guys. Works like a charm.

[2019-01-24 20:49] jlipford commented on #1014
Running "au run" instead of "dotnet run" works and the references work.  Still looking at what to change to get dotnet to run properly as well

[2019-01-24 21:14] jmoerdyk commented on #1014
You'd need to update the` asp-net-src-include` attributes in the `@scripts` section of `lib/resources/content/javascriptservices/Views/Home/Index.cshtml` to match the new filename patterns to be something more like:
[code]

[2019-01-25 11:13] dtaalbers commented on #1014
What @jmoerdyk proposed as a solution worked for me. `Index.cshtml` now looks like this for me and it runs.

[code]

I had the same problem that @beatsm was having. But I just removed the reference in to `vendor.css` `_Layout.cshtml`. The sass configured in the aurelia project still works as expected. Also tried to publish the project and that worked fine to!

[2019-01-25 16:03] jlipford commented on #1014
While the script files are still loading the app is not initialized with "Hello World!" nor is the vendor.css building or any scss compiling.....

[2019-01-25 16:06] jlipford commented on #1014
My issue was that I kept the original <environment> tags and all 3 levels of scripts as denoted by @dtaalbers  above are needed for the app to render and scss to process.  All fixed once I put in the direct scripts.

[2019-01-25 23:03] TonyLugg opened #1025 "Beta Version Marked Latest in NPM"
The latest beta (11 today) is marked as "latest" in NPM.  This results in the beta version being installed if one doesn't request the latest stable version with `@0.35.1`.  If requesting `@latest`, shouldn't the latest stable version get installed instead of the latest beta version?  Or are you recommending using the beta for production development?

[2019-01-25 23:23] beatsm commented on #1014
Interesting that the app now runs with the above suggestions but unfortunately hmr does not.

Ignored an update to unaccepted module app -> 5jyU -> GmYv -> 0
This is usually because the modules which have changed (and their parents) do not know how to hot reload themselves. See https://webpack.js.org/concepts/hot-module-replacement/ for more details.
[HMR]  - ./src/app.ts
[HMR] Reloading page

Did

[2019-01-26 00:46] huochunpeng commented on #1025
Based on semver, 0.35.1 before 1.0 is not stable either.
Practically our v1 beta should be stabler then the old version with more bug fixes.

[2019-01-26 16:54] TonyLugg commented on #1025
@huochunpeng You are saying there has not yet been a production ready release of Aurelia CLI even though we are using it to build production apps?

[2019-01-26 18:42] TonyLugg commented on #1025
Understood.  Thank you for the detailed explanation.  I am one of the developers that moved to Webpack.  I am keen to try the new built-in bundler, but my application is complex and I don't want to attempt to move it until the new builder is stable (ish).  Keep up the great work.  I love Aurelia.

[2019-01-26 19:03] huochunpeng commented on #1025
The new bundler is considered quite stable now, we even started pumping in new features for it in these beta versions. You can try it now.

As I said, now some other issues kept cli in beta. The built-in bundler is in good shape.

[2019-01-26 19:05] TonyLugg commented on #1025
Any way to easily convert from Webpack to built-in, or is it best to just `au new` and copy everything over?

[2019-01-29 13:37] dtaalbers commented on #1014
@beatsm It is working for me out of the box. Is it correctly configured for you in the `Startup.cs`? E.g.:

[code]

[2019-01-29 20:57] huochunpeng commented on #1025
Sorry for late reply. Copy over should be easier, especially to avoid add/remove deps in package.json.

[2019-01-30 17:06] michaelw85 opened #1027 "Failing unit tests cli master"
**I'm submitting a bug report**

* **Library Version:**
Latest (1.0.0-beta.12)

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
10.15.0 (also tested 11.8.0)

* **NPM Version:**
6.4.1

* **Browser:**
N/A (Jasmine test run)

* **Language:**
JS

* **Loader/bundler:**
N/A

**Current behavior:**
**Given** you cloned the cli repo
**And** performed `np

[2019-01-30 20:42] huochunpeng commented on #1027
See my comments in PR. The real issue is mock-fs in nodejs v10.

[2019-01-30 20:43] huochunpeng commented on #1027
For now, please use nodejs v8 to test your intended contribution.

[2019-02-01 10:45] michaelw85 commented on #854
karma coverage should also be added to the gitignore.

[2019-02-01 11:07] michaelw85 commented on #871
I would love to see this by default. I can't think of a reason why you would not want to use gzip and minification when publishing something to production.

To get gzip compression working with webpack I did the following changes:
1) `npm i compression-webpack-plugin --save-dev`
2) Edit webpack.config,
add to top: `const CompressionPlugin = require('compression-webpack-plugin');`
add to plugins se

[2019-02-01 11:33] huochunpeng commented on #871
Most web server (like nginx) handles gzip for static resources. I believe CDN also handle it transparently. It is most commonly being handled in that stack. It is unnecessary to build js.gz in app bundling.

That is why we did not bring it in here. Pre-build js.gz file might complicate setup in lower stack of the server.

[2019-02-01 11:59] michaelw85 commented on #871
Are you sure this is true? Serving gzip files yes but as far as i'm aware compressing the files is not done by default.

[2019-02-01 12:06] michaelw85 commented on #871
Fair point, make the server handle it instead of adding it to the build would be easier to manage.
Could this issue be closed if it will not be fixed?

[2019-02-01 12:09] huochunpeng commented on #871
Nginx does not need you provide gz file. It does gzip on the wire.

http://nginx.org/en/docs/http/ngx_http_gzip_module.html#gzip

With help of reverse proxy cache, it is likely it will only compress once for a resource.

[2019-02-01 12:33] lorond opened #1031 "Readonly attribute on environment scipt file"
* **Library Version:**
aurelia-cli v1.0.0-beta.12

* **Operating System:**
Windows 10

* **Node Version:**
10.15.0

* **NPM Version:**
6.4.1

* **Browser:**
not applicable

* **Language:**
all

* **Loader/bundler:**
Webpack (didn't tested other)

**Current behavior:**
If target `environment.[tj]s` file is readonly, build fails when trying to copy corresponding file from `aurelia_project\environmen

[2019-02-01 13:37] avrahamcool commented on #1031
I also had the same problem back when I used TFS.
I altered the `transpile` and `copy-files` tasks - so they remove  the `readonly` flag on the target file.

keep in mind that the `cli` generated tasks have changed since then - so you need to carefully change yours accordingly.
also - this need to be fixed in the `ts` versions as well.

first: install `gulp-chmod'` (using npm or yarn)

**transpile

[2019-02-02 05:04] #854 closed

[2019-02-02 15:34] airboss001 commented on #1014
Decided to play with the new CLI (v1.0.0-beta.12), and creating a brand new dotnet project states to run 'dotnet run'. _That is failing to find the app bundle._

'au run' works but that is not what the instructions state to do.

Till it works, I would suggest changing the output instructions to one that actually works to prevent frustration as well as having to blow time trying to figure out why i

[2019-02-03 21:48] magnusdanielson opened #1033 "cli traces wrong type of dependency"
I'm submitting a bug report

**Library version** aurelia-cli v1.0.0-beta.10

**Operating System:**Windows 10

**Node Version:** 8.11.3

**NPM Version:**5.6.0

**Browser:** IE 11

**Language: TypeScript** 3.0.3

**Loader/bundler:** RequireJS

**Current behavior:**
The auto tracer imports the UMD version of aurelia-dialog and aurelia-fetch-client which causes error in IE 11. It works in Chrome

**Wh

[2019-02-03 21:50] bigopon commented on #1033
@https://github.com/magnusdanielson thanks for filing this. Its an issue with our recent releases to introduce module field in package json for better bundling/tree shaking. @fkleuver and @EisenbergEffect have fixed this and a set of releases is coming soon. In the mean time, please downgrade to one minor or patch version lower.

Sorry @chunpenghuo

[2019-02-03 21:50] huochunpeng commented on #1033
cli built-in bundler uses package.json `browser` field before `module` and `main` field. The `browser` field in aurelia-dialog points to umd built.

I am interested to know what's the error in IE11.

[2019-02-03 21:53] huochunpeng commented on #1033
@bigopon this is unrelated to the module field.

umd build is from rollup, which replaced dynamic import with static import.

Furthermore, cli built-in bundler does not support dynamic import yet. It will fail on all browser if the module field was used by cli. The browser field in aurelia-dialog overshadowed the troublesome module field.

[2019-02-03 22:02] magnusdanielson commented on #1033
All you guys in the @AureliaEffect team are the greatest! I really love the work you do!

@huochunpeng the error is caused by the class keyword on line 7 ` class Renderer {  ` in umd:aurelia-dialog.js and same problem with line 22 `  class RetryInterceptor {  ` in umd:aurelia-fetch-client.js

I am using "aurelia-dialog": "^2.0.0-rc.3"
and "aurelia-fetch-client": "^1.6.0",

If you have a fix coming

[2019-02-03 22:03] huochunpeng commented on #1033
This is the root cause, the umd target format is es2015.

https://github.com/aurelia/dialog/blob/fb75f90d87fdfc5bff6d5719355c99e368c2937f/rollup.config.js#L34

[2019-02-04 02:37] huochunpeng commented on #1027
Good news. https://github.com/tschaub/mock-fs/pull/260

[2019-02-04 12:47] lorond commented on #1031
@avrahamcool it's enought just to add 0o200 - own write mode

[2019-02-04 12:50] lorond commented on #1031
@avrahamcool also `gulp-chmod` would change source file attributes, but it could be not desired.

[2019-02-04 20:48] huochunpeng commented on #871
@EisenbergEffect this can be closed.

[2019-02-04 21:01] avrahamcool commented on #287
@EisenbergEffect
considering that the tracer was completely re-written - I think this one is safe to close.

[2019-02-04 21:04] avrahamcool commented on #556
@EisenbergEffect looks like this should work with the new tracer - and can be closed.

[2019-02-04 21:15] huochunpeng commented on #556
Yes, new tracer supports esm module format.

[2019-02-04 23:30] #287 closed

[2019-02-04 23:30] #871 closed

[2019-02-04 23:31] #556 closed

[2019-02-04 23:55] ianrufus opened #1037 "New project fails to build"
**I'm submitting a bug report**

* **Library Version:**
v1.0.0-beta.12

**Please tell us about your environment:**
* **Operating System:**
OSX 10.14

* **Node Version:**
10.15.1

* **NPM Version:**
6.4.1

* **Browser:**
all (build issue)

* **Language:**
ESNext

* **Loader/bundler:**
Webpack

**Current behavior:**
Installed Aurelia CLI, created blank project accepting all defaults - no modificatio

[2019-02-05 00:12] EisenbergEffect commented on #961
We're going to need to revert the above fix due to a regression it caused.

[2019-02-05 00:13] huochunpeng commented on #1037
This is an compilation of #970 and recently wrongly released aurelia-polyfills v1.3.2 which wrongly bring in jsom 0.16.53 to dependencies and that installed core-js v1.2.6 instead of core-s v2 at top level of node_modules.

In short, we will revert #970 and fix this issue.

[2019-02-05 00:15] huochunpeng commented on #1037
For a local fix in the app, change webpack.config.js

from:
[code]
back to
[code]

We are sorry for the regression caused.

[2019-02-05 00:17] ianrufus commented on #1037
Worked like a charm!
Thanks for looking at this so quickly 🙂

[2019-02-05 00:31] huochunpeng commented on #961
Sorry @jbockle we need to find other way to support this. It's too risky to change webpack's default module resolution.

[2019-02-05 00:38] #1037 closed

[2019-02-05 01:10] huochunpeng commented on #996
#970 has been reverted, karma looks fine now.

@rockResolve I cannot reproduce your 0 tests issue after reverting #970.

[2019-02-05 01:20] huochunpeng commented on #1016
This should be fixed by reverting #970.

https://github.com/huochunpeng/cli/commit/3c4d0d6bc8b61554a5fc29f57bd5468412123fb6

☝️Can you try update your webpack.config.js and try `au karma` again?

[2019-02-05 22:09] CuddleBunny commented on #658
After visiting this issue every couple months for over a year I think it is time to give this a shot myself. #793 goes a long way towards implementing this but as discussed in the PR there is a significant amount of duplication present. I think that duplication could be significantly reduced by using the approach outlined by @huochunpeng since it would then be practical to keep most of the existin

[2019-02-05 22:53] fkleuver commented on #658
@CuddleBunny Thanks for writing this up. A few things come to mind when I read your comment:

I don't think there is any. There are vastly different needs and what is ideal for one is the worst possible thing for the other. Thinking about this from a normal API point of view, and then later translating it to a CLI interface could make things easier.
Scaffolding is a hard problem to solve. There ar

[2019-02-05 22:56] huochunpeng commented on #658
@CuddleBunny thank you very much for your thoughts on this.

For vCurrent, in addition to @fkleuver's response:

**Any convention for project structure?**
I like the idea to keep plugin code in `src` and test dev app in other folder. But it could complicate the bundler config little bit. We just need to make sure to not confuse end users on both structure and config.

[2019-02-06 00:47] CuddleBunny commented on #658
Thanks @fkleuver and @huochunpeng. I guess this bit on structure needs broken out into a few different areas: generated project structure, plugin structure, and CLI project structure.

**On Project Structure**
I can see having separate folders being a bit confusing for the bundler and perhaps even the end user. This seems to boil down to using one of two approaches, at least for starters:

[code]

[2019-02-06 01:01] huochunpeng commented on #658
Yes, option2 is what's in my original tutorial as it requires the least change.
When I say I like your idea, I mean I lean towards option1, just need to make sure the cli generated config is easy for user to understand.

[2019-02-06 10:22] nenadvicentic commented on #984
@huochunpeng As far as I'm concerned, it can be closed. You guys provided some very useful information here. Thanks.

[2019-02-06 10:22] #984 closed

[2019-02-06 21:12] huochunpeng commented on #1031
I don't know TFS, is there an way to make sure the source file is not read-only?

https://stackoverflow.com/questions/17970762/all-project-files-get-read-only-attribute-after-download-from-tfs-2010

[2019-02-06 21:14] avrahamcool commented on #1031
even if you can.. it's not something you want to do.
TFS takes control over your files, (editing in VisualStudio makes an implicit `check-out` actiob that clear the readonly flag)

[2019-02-06 21:15] huochunpeng commented on #1031
Sounds like everyone should switch to git...

[2019-02-06 21:18] avrahamcool commented on #1031
in organizations.. this is not always open for you to deiced..

we are making it sound like it's a big issue.. clearing the readonly file while creating the environment file is pretty simple.

[2019-02-06 21:22] huochunpeng commented on #1031
There is other way for cli to not copying environment file, but it's breaking change.

In my own project, I didn't have an environment file, I use `gulp-preprocess` to conditionally modify source code, before sending the file to `gulp-babel`.

[code]

[2019-02-06 21:57] avrahamcool opened #1039 "[RFC] Better way of handling environment files (config files)"
# 💬 RFC
I want to talk about handling variable that are `environment` specific in aurelia.

the way that we handle it now, is by having multiple `json` files in an `environment` folder,
when we start a build process - one of those files is copied into the `src` folder, and gets bundled with the rest of the app.
you can dictate witch file is copied by specifying the "--env" flag while building.

in

[2019-02-06 22:10] avrahamcool commented on #1039
Maybe something like [this] (https://robinraju.github.io/developer/2017-11-14-loading-external-config-in-angular/)?
But better.. _Obviously_

[2019-02-07 11:08] michaelw85 opened #1040 "aurelia-framework and pal not listed as dependency but imported in main.ts/js"
**I'm submitting a bug report**

* **Library Version:**
Latest (Local aurelia-cli v1.0.0-beta.12)

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
10.15.1

* **NPM Version:**
6.4.1

* **Browser:**
N/A

* **Language:**
all

* **Loader/bundler:**
N/A

**Current behavior:**
aurelia-framework and aurelia-pal are imported in main.ts
aurelia-pal is im

[2019-02-07 11:18] huochunpeng commented on #1040
This is a feature of npm since v3, it is called flat node_modules.

aurelia-framework and aurelia-pal and many other aurelia packages were depa of aurelia-bootstrapper.

That means aurelia requires npm v3+.

Aurelia is not the only thing in JS world now implicitly depending on flat node_modules structure. This is a common practice to reduce the complexity of app’s package.json by hiding deps behin

[2019-02-07 11:21] michaelw85 commented on #1040
Ok I will close this issue if this is done by design.
My typescript linter (suggested microsoft ruleset) disagrees with this setup though, deps should be listed.

[2019-02-07 11:21] #1040 closed

[2019-02-07 11:34] huochunpeng commented on #1040
There is something with your ts linter. Ts linter respects the flat structure.

Most aurelia core team members write apps in TS, they haven’t complained the linter issue.

[2019-02-07 11:37] huochunpeng commented on #1040
I guess our default linter config does not have the strict rule that you borrowed from ms.

[2019-02-07 12:05] huochunpeng commented on #1040
I can understand vnext turned that on. It got no massive dep tree :-)

You should check out pnpm, it got the same mindset, that's why they say flat is shameful. With default pnpm, you have to add those missing deps in package.json, otherwise the app would not build.

[2019-02-07 12:08] michaelw85 commented on #1040
I'm running the recommended microsoft ruleset and will try to stick to it as closely as possible. I will be linting on build within a PR flow so when the rule fails the code will not go to master. Thanks for the info though!

[2019-02-07 12:10] huochunpeng commented on #1040
If you don't need karma (it doesn't play well with pnpm), use pnpm, it forces you to follow the rule, and pnpm is dame dame fast.

[2019-02-07 13:13] lorond commented on #1031
@huochunpeng environment file could be the only file processed in the same manner and this will not be a breaking change.

[2019-02-07 19:46] roddharris opened #1041 "Running au new --here targetting .NetCore project trashes VS2017 Outlining"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v10.3.0

* **NPM Version:**
6.1.0

* **Browser:**
N/A

* **Language:**
ESNext

* **Loader/bundler:**
Webpack

**Current behavior:**
I created a ASP.Net Core project using the Web Application template (this happened with API templat

[2019-02-07 19:49] huochunpeng commented on #1033
This is fixed by aurelia/dialog#369

[2019-02-08 12:23] zewa666 commented on #1033
@huochunpeng I think [i18n](https://github.com/aurelia/i18n/blob/master/package.json#L91) and the [store plugin](https://github.com/aurelia/store/blob/master/package.json#L13) are affected as well by this. Anything we should update there?

[2019-02-08 12:26] huochunpeng commented on #1033
:point_up: @bigopon

[2019-02-08 12:32] bigopon commented on #1033
Newer release of those plugins should not have any issues with CLI anymore, at least I believe so

[2019-02-08 12:38] roddharris commented on #1041
You can close this thread.  Apparently Aurelia CLI adds a file called .editorconfig to the project that changes the way the editor works.  I deleted that file and everything is back to normal.

[2019-02-08 12:38] #1041 closed

[2019-02-09 11:15] huochunpeng commented on #796
I think there is no more issue now. @EisenbergEffect this can be closed.

[2019-02-09 18:18] artmasa commented on #1014
`au run` works because its actually creating an `index.html` in the `dist` folder. and not using the `Index.cshtml` to render the page and also is not using dotnet to serve it.
The suggested changes should be made to `Index.cshtml` to get it working again as suggested by @jmoerdyk
Any progress on this? I got my project going but it's going to discourage the community to have these kind of problems

[2019-02-09 18:42] #796 closed

[2019-02-10 03:27] huochunpeng opened #1045 "[notice] webpack is broken"
This affects new webpack based app generated by aurelia-cli.
webpack/webpack#8768

Temporary fix from the thread:

### If you use yarn
add below to package.json

[code]
then run `yarn install`

### if you use npm
[code]

[2019-02-10 03:29] fkleuver commented on #1045
PR'd a quick fix to ajv, hopefully it's picked up soon https://github.com/epoberezkin/ajv/pull/943

[2019-02-10 20:51] huochunpeng commented on #1045
Fixed by ajv.

[2019-02-10 20:51] #1045 closed

[2019-02-10 22:26] huochunpeng commented on #607
Latest cli does support node-libs-browser. It has imperfect support of globals "process" and "Buffer", as described in the doc. https://aurelia.io/docs/cli/cli-bundler/dependency-management#auto-tracing

[2019-02-11 18:26] avrahamcool commented on #658
I think option 2 is very intuitive.
It works well with the current `cli` structure - so no additional leaning curve is required.

having a new command for packaging the plugin is a big **PLUS** in my opinion.
it lets build/run to behave identically to what we are used to, and give the option to customize publishing (maybe we can publish to `npm` directly from the `cli`?)

[2019-02-11 20:45] huochunpeng commented on #658
Good idea.

[2019-02-12 21:53] huochunpeng commented on #1013
Note this is now fixed in font-awesome v5.7.1.

[2019-02-15 15:08] airboss001 opened #1049 "CLI Builtin bundler infinite loop"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli v1.0.0-beta.13

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.11.1

* **NPM Version:**
6.4.0

* **Language:**
TypeScript

* **Loader/bundler:**
BuiltIn - Alameda

**Current behavior:**
See this discourse for context:
https://discourse.aurelia.io/t/aurelia-cli-built-in-bundler

[2019-02-15 16:41] jeremy-holt opened #1050 "Suggestion for documentation on aurelia.io"
On this page https://aurelia.io/docs/cli/cli-bundler/basics#copy-other-files-eg-fonts it explains how to use copyFiles.

It would be useful to also mention that if you need to copy sub-directories you need to be explicit

[code]

I've just spent hours trying all variations on
[code]

It would also be even more useful if the build throws an exception if it can't find the source files.

[2019-02-15 22:26] khuongduybui commented on #1049
Clarification: I blacklist index.html in watch

[2019-02-16 02:52] huochunpeng commented on #1050
If you open your local `aurelia_project/tasks/copy-files.ts`, you will see it uses minimatch.

`**` means arbitrary (0 to n) deep folders, it does not match any files.

The correct glob for your copy is:
[code]

[2019-02-16 06:35] jeremy-holt commented on #1050
Oh - that must be the only variation I didn't try!

[2019-02-16 06:35] #1050 closed

[2019-02-16 17:21] #1049 closed

[2019-02-18 14:06] michaelw85 opened #1052 "au jest task passes when it should fail/throw error/exit 1"
**I'm submitting a bug report**

* **Library Version:**
Local aurelia-cli v1.0.0-beta.12

**Please tell us about your environment:**
* **Operating System:**
[Azure Pipelines Hosted VS2017 image](https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/win/Vs2017-Server2016-Readme.md) (Windows Server 2016)

* **Node Version:**
10.14.2

* **NPM Version:**
6.5.0

* **Browser:*

[2019-02-18 23:12] #943 closed

[2019-02-19 03:38] rockResolve commented on #996
No longer using karma, moved to jest

[2019-02-19 03:54] huochunpeng commented on #996
@EisenbergEffect let's close this issue for now.

[2019-02-19 04:49] #996 closed

[2019-02-19 14:29] salminio opened #1054 "Upgrading to latest cli (1.0.0-beta13) throws error loading require local dependency"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta13

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.0.0

* **NPM Version:**
6.8.0 (initially tried with 5.6.0)

* **Browser:**
Failed on first one tried - Chrome  71.0.3578.98 (Official Build) (64-bit)

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:*

[2019-02-19 20:49] huochunpeng commented on #1054
There is no issue for me. https://github.com/huochunpeng/resize-demo

You could have some other uncommon setup.

You can try migrate to a clean project created out of `au new`.
Or you can show me your aurelia.json file.

BTW, it's unnecessary to have the explicit deps config for aurelia-resize and element-resize-detector. Latest cli can work it out automatically.

[2019-02-20 13:34] darylcober opened #1055 "Support multiple destinations in copy-files.js"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.14.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**
The copy-files method only supports a single destination. Because the instruction list is normalized

[2019-02-20 15:02] salminio commented on #1054
By adding the below to aurelia.json on a newly generated Hello World app... I get it to fail, but if I remove it and let aurelia build it without - then it creates the bundle differently and it works..
[code]

[2019-02-20 15:36] salminio commented on #1054
I referenced by name only and it works... We break up some 3rd party into different bundles for just in time loading so that is important but the following definition in aurelia.json seems to work
[code]

[2019-02-20 16:43] airboss001 opened #1056 "CLI Build target directory change causes Content-Security-Policy errors"
Bug report

CLI version
1.0.0-beta.13

I ran into an issue with a project when I redirected build artifacts to a 'dist' directory to prevent src & root pollution, and to ease files needed to be moved to staging and production as can be seen in the following link:
https://discourse.aurelia.io/t/aurelia-cli-built-in-bundler-recreating-the-dist-folder-for-deployments/2271

This issue is that CSP star

[2019-02-20 17:27] michaelw85 opened #1057 "Cypress task should fail in build when test(s) fail"
**I'm submitting a bug report**

* **Library Version:**
Local aurelia-cli v1.0.0-beta.12

**Please tell us about your environment:**
* **Operating System:**
[Azure Pipelines Hosted VS2017 image](https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/win/Vs2017-Server2016-Readme.md) (Windows Server 2016)

* **Node Version:**
10.14.2

* **NPM Version:**
6.5.0

* **Browser:*

[2019-02-20 18:13] #1054 closed

[2019-02-20 18:13] salminio commented on #1054
referencing by name seems to fix both of the issues I had reported

[2019-02-20 18:18] jeremy-holt opened #1059 "au build --watch/alameda/typescript - fails to refresh browser"
Hi

As requested https://discourse.aurelia.io/t/aurelia-cli-alameda-au-run-as-proxy/2255/15?u=jeremyholt

Thanks
Jeremy

[2019-02-20 20:12] michaelw85 commented on #837
I would like to add a different motivation to prefer js over json config files. In my Aurelia setup I moved all my config files in an npm package (coding standards). JS files can easily extend another js/json config and be merged using a spread operator.

(Not a fan of adding comments btw, if you need to comment code it generally means something needs to be improved)

[2019-02-20 20:43] huochunpeng commented on #837
I think most coders will disagree 😃

[2019-02-20 20:54] huochunpeng commented on #1054
The problem is the element-resize-detector dist file.

Without explicit config, element-resize-detector uses main file `src/element-resize-detector.js` as pointed by package.json main field (very strange, the package.json didn't have a browser field pointing to the `dist/element-resize-detector.js`). That's why there is no issue when using default auto tracing.

I will have a look what went wrong

[2019-02-20 21:34] k-j-kleist commented on #781
YAML rocks! which I firmly believe is one of the reasons for the popularity of [Ansible](https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html).

[2019-02-20 21:59] huochunpeng commented on #1054
The fix will be in next release.

[2019-02-21 00:20] huochunpeng commented on #1056
Can you show me the final index.html? Not your local file, view source in browser.

[2019-02-21 00:22] huochunpeng commented on #1056
Does this help? https://stackoverflow.com/questions/17766817/refused-to-apply-inline-style-because-it-violates-the-following-content-security

[2019-02-21 01:27] airboss001 commented on #1056
No changes to the generated index.html was made or any other .ts or .html,, only change was to aurelia.json.

[code]

[2019-02-21 01:46] airboss001 commented on #1056
As to the link, sure, if you setup your web server to reset the CSP to allow unsafe-inline it works, but this is using 'au run' and it fails to with that message with the default out of the box if you change where the files are place, oddly it works if you don't change the build folder.

[2019-02-21 01:56] huochunpeng commented on #1056
You missed index.html in dist folder, update copyFiles to add
`"index.html": "dist"`

[2019-02-21 02:04] airboss001 commented on #1056
Gah, missed that due to that infinite loop issue that is not live yet and my copy/paste of those changes.
I have the issue on my full project in stage/prod and was trying to replicate it in a sample project.
I'll close this, till I can get that localized.

Sorry, and thank you.

[2019-02-21 02:04] #1056 closed

[2019-02-21 02:29] #1052 closed

[2019-02-21 02:30] #1057 closed

[2019-02-21 20:41] huochunpeng commented on #1055
cli gives you all the tasks files in `aurelia_project/tasks`, it's designed for user to customize the tasks.

The cli logic itself does NOT implement copy files logic. It's in your local `aurelia_project/tasks/copy-files.js`.

To support `"copyFiles": {"source/*": ["target1", "target2"]}`, you can do following in esnext (need some minor adjustment for typescript). You need `npm i -D merge2` or `ya

[2019-02-21 21:05] huochunpeng commented on #1055
There is better solution. Personally I am against adding features to any software tool, because minimum feature sets actually can result better flexibility and simplicity. Sadly the whole industry had drifted away from this old unix wisdom.

Here is a solution, imaging cli doesn't provide copyFiles field in aurelia.json.

Same copy-files task file. Get the job done in plain gulp way, while provide

[2019-02-21 21:22] darylcober commented on #1055
Thanks for responding.
I have used both of the above solutions and both work equally well.

However, both require me to make modifications to the "out of the box" Aurelia platform.
While I certainly can do that, I believe that since you already provide a hook with the copy-files method, to help achieve flexibility in custom builds, having the copy-files method support multiple destinations would j

[2019-02-21 21:30] huochunpeng commented on #1055
I understand, thanks for the feedback.

The solution1 might go into cli default offering. But I don't think we will provide default setup for pre-build/post-build, because
1. it's confusing to light/medium users.
2. for complex apps, there is no one solution fitting all. You inevitably need to customise the flow, which also means it's mandatory for the advanced users to master the tool chain in pl

[2019-02-22 02:10] darylcober commented on #1055
If you go forward to implement solution1 you may consider the following changes I make to my custom solution :

<pre><code>
function getNormalizedInstructions() {
  const files = project.build.copyFiles;
  let normalizedInstruction = {};

  for (let key in files) {
    let instruction = files[key]
    if ( typeof (instruction) === 'string') {
      instruction = [instruction]
    }
    normalizedI

[2019-02-22 02:12] huochunpeng commented on #1055
The solution1 covered that here:
[code]

[2019-02-22 02:13] darylcober commented on #1055
yup ... sorry .. I missed that :)

[2019-02-22 09:11] michaelw85 commented on #179
I would very much like to see a type definition for the cli. Is there any progress on this topic? Does it have any priority?

I'm setting up a new project and we are using ts lint, we do not allow code without type declaration. I now have to ignore all the code in the aurelia project since i'm missing type definitions and its not a trivial task to create them (I would have to make lots of guesses

[2019-02-23 00:43] EisenbergEffect commented on #179
We've been discussing moving the entire CLI to TypeScript and some general refactoring across the board as well. @huochunpeng and @jwx might have some thoughts on that. It's not the top priority at this moment.

@michaelw85  If you've got a partial d.ts file that you've generated, we could bring that into this project to help other community members and then we could just patch that along the way

[2019-02-23 07:01] michaelw85 commented on #179
Ok good to hear, if I can help rewriting some part to ts please let me know where to start.

For the generated d.ts file, sure I can share but its very crude. Its missing methods and defaults all params and return types to any. Would it be an idea to put this in a types package (@types/aurelia-cli)?

[2019-02-23 07:06] michaelw85 commented on #179
Here's the auto generated file:
[aurelia-cli.d.ts.txt](https://github.com/aurelia/cli/files/2896568/aurelia-cli.d.ts.txt)

I only edited a single method with different types I think.

[2019-02-23 07:32] EisenbergEffect commented on #179
Let's hear what @huochunpeng and @jwx think is best at this point since they are our core team members who usually end up working on the CLI most.

[2019-02-23 07:38] michaelw85 opened #1061 "(Suggestion) Rename custom_typings to types"
**I'm submitting a change request**

* **Library Version:**
cli latest

* **Operating System:**
N/A

* **Node Version:**
N/A

* **NPM Version:**
N/A

* **Browser:**
all

* **Language:**
TS

* **Loader/bundler:**
Webpack

**Current behavior:**
Additional typing are placed in a folder called `custom_typings`

* **What is the requested behavior?**
Place typings in a folder called `types`

* **What is

[2019-02-23 07:42] huochunpeng commented on #179
I know nothing about TS (one less problem for me than all of you) :-) But I don’t mind someone to convert the code base.

The main problem of the conversion: we don’t have enough test coverage.

[2019-02-23 08:45] michaelw85 commented on #179
@huochunpeng Good time to start 😉
I was skeptic about the benefits at first but I feel like plain JS is holding me back these days. TS helps me improve overall quality in my code, it also helps me be more productive because of improved intellisense.

To start somewhere I think we could try and setup the typescript compiler to allow js and see if we could output the current setup as-is. This would

[2019-02-23 18:33] EisenbergEffect commented on #179
@michaelw85 If you are interested to give this a shot, we're open to that. My guidance would be to try to make the smallest possible initial PR to get things in place and working. Minimal changes at first. Send us a PR for that, and we can review and discuss. Once the initial setup is in place, we can then do small, successive PRs to chip away at the conversion. I'd like to avoid a "big bang" giga

[2019-02-23 18:38] michaelw85 commented on #179
Yes I would love to try!
I totally agree on the agile approach, I will try to refrain as much as possible from editing existing files for the first setup.

[2019-02-23 21:20] zewa666 commented on #1061
I recently discovered said functionality in Vscode. I agree that it makes sense to rename to "types" to stay in line with VSCode, allthough this is no strict standard.

[2019-02-23 23:41] atsu85 commented on #179
@michaelw85, if you plan to start with the PR containing just the autogenerated file you linked previously, then i suggest you to mark the unknown types so later it whould be possible to distinguish parameters and return types that are really `any` vs those that are just unknown. So initially you could just add following as a first line
`declare type undiscovered = any;`
and replace all other occu

[2019-02-23 23:59] atsu85 commented on #179
aah, by the way, if anyone is interested in solution how i managed to get rid of IntelliJ IDEA warnings from TypeScript files from aurelia_project/tasks folder after generating new aurelia project with TS, then:
1) i created aurelia_project/tasks/tsconfig.json:
[code]
2) added some devDependencies to package.json:
[code]
3) ignored couple of packages in tasks TS files using `// @ts-ignore` before

[2019-02-24 07:28] michaelw85 commented on #179
That is a very good suggestion! Definitely one to keep in mind.
For a first PR I will only focus on enabling writing TS and get all code to run as-is. So only adding a tsc build. I will have a look if I can already compile with a similar auto generated d.ts else I will manually include it at first.

[2019-02-25 10:49] Alexander-Taran commented on #851
would be nice to specify npm/yarn versions as well

[2019-02-25 10:55] Alexander-Taran commented on #823
@EisenbergEffect  maybe can be closed.
Maybe there needs to be some explanation on relative vs absolute paths in bundle production.

[2019-02-25 21:40] #823 closed

[2019-02-26 14:54] salminio opened #1063 "Sourcemaps producing absolute paths for html and json files in bundles (1.0.0-beta13)"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta13

**Please tell us about your environment:**
* **Operating System:**
Windows  10

* **Node Version:**
10.0.0

* **NPM Version:**
6.8.0

* **Browser:**
chrome

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:**
Trying to generate a code coverage report for my app and the remap-instanbul is failing and as

[2019-02-26 16:06] salminio commented on #1063
After studying a bit more, I was able to work around this by breaking up my app bundle into 2 separate bundles - one that just includes just js and one that includes html and json... Interestingly enough the non-js bundle didn't even create a source map file.

[2019-02-26 20:55] huochunpeng commented on #1063
You can try editing your `aurelia_project/tasks/process-markup.js` (and `process-json.js`, `process-json.js`).
[code]

We will have the sourcemaps turned on by default after my current refactoring work.

[2019-03-03 16:12] michaelw85 commented on #1061
@zewa666 Added a PR changing the folder name.

[2019-03-18 21:05] rockResolve commented on #961
Once this fix was reverted I started getting warnings that I had multiple versions of jquery: one from root & one in a child node_modules.

I checked via --analyze, where I was only getting one version. But It appears a separate aliasing fix of adding a ProviderPlugin entry, was also fixing the module resolution to just the root version.

So if you really want to use a single version (i.e. you kno

[2019-03-20 17:16] jmoerdyk opened #1072 ".NET Core run fails with missing module exception"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.14

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.3

* **Yarn Version:**
1.13.0

* **Browser:**
all
* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
For the .Net Core platform, the _clean-webpack-plugin_ is now missing, so running the project
with t

[2019-03-20 18:10] jmoerdyk opened #1073 "Navigation App option says Bootstrap v4, installs v3"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.14

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.3

* **Yarn Version:**
1.13.0

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**
The Custom App option for scaffolding with the _Navigation App_ option claims

But it does not install

[2019-03-20 19:47] huochunpeng commented on #1073
That was my fault. I thought about upgrading the demo code to bootstrap v4, then left it out because the change in PR #1069 is big enough.

[2019-03-20 23:36] #1072 closed

[2019-03-20 23:36] #1073 closed

[2019-03-21 07:39] robinchesterman commented on #1033
Aurelia validation has this issue as well :)

[2019-03-22 02:15] huochunpeng commented on #658
The PR #1075 uses option1, it has dedicated folder `dev-app/` for the app, in order to keep all plugin sources under `src/`. The README.md in generated project has more explanations.

Please help to play the PR. If the option1 (separate dev app and src folder) is confusing, we can revert to option2 (`src/` for dev app, and `src/resources` for plugin code) which is easier to implement.

[2019-03-22 12:24] roddharris commented on #1014
For those who are having issues with HMR, I have found the following to work as a temporary fix.

1. Do not make the changes to the `Index.cshtml` file as people proposed.  For Development, be sure that you keep the line `<script type="text/javascript" src="~/dist/app.bundle.js" asp-append-version="true"></script>
2. Edit the `webpack.config.js` file and remove the entire `optimization` section.

[2019-03-22 15:17] jmoerdyk commented on #1014
I'm wondering if there are any changes that can be made to the `webpack.netcore.config.js` that would work with the optimized chunks, or if there is a way to disable the optimized chunking for development and leave it for production.  Then we can update the script references in `Index.cshtml` accordingly.  Unfortunately, I don't know enough about webpack or the .NET JavaScript Services WebpackDevM

[2019-03-25 19:57] ajoslin103 opened #1077 "ESNext webpack via au build not using aurelia_project.environments file values"
**I'm submitting a bug report**

au --version
1.0.0-beta.6

OS X 10.14.3

node -v
v10.14.0

npm -v
6.7.0

ESNext & Webpack

When I specify different values for baseUrl in my aurelia_project environment files they are NOT propagated into the .../dist/index.js file (via the index.ejs template)

When I add some commenting I can see that the aurelia environment files values have not been imported into

[2019-03-25 21:17] huochunpeng commented on #1077
The env file is copied from `aurelia_project/environments/name.js` to `src/environment.js` everytime when you run `au build` or `au run`. It can be used in any source file.

For example the `src/main.js` uses it like this `import environment from './environment';`. Use those values in your code, you don't need to touch webpack config.

[2019-03-26 00:03] #1061 closed

[2019-03-26 13:33] ajoslin103 commented on #1077
Usage within my source files has never been a problem at all, that works very well.

My problem with those environments files comes in during the setup of the build process.

The contents of index.ejs include this line:

	    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>”>

But I cannot figure out how to get baseUrl from the environment file into the htmlWebpackPlugin.options.metad

[2019-03-27 04:41] huochunpeng commented on #1077
The baseUrl is directly written in your `webpack.config.js`

[code]

[2019-03-27 04:47] huochunpeng commented on #1077
If you wonder about this line in `webpack.config.js`.
[code]

It was called by `aurelia_project/tasks/run`
[code]

The config in `aurelia_project/tasks/build`
[code]

It means you can
control production with `au run --env prod`
control server, extractCss, coverage in `aurelia_project/aurelia.json` "build.options" (which enable option based on environment).
`"extractCss": "prod"` means true for pro

[2019-03-27 04:48] huochunpeng commented on #1077
I agree this is overly complicated, I prefer those options were directly written in `webpack.config.js` instead of jumping through 4 files.

[2019-03-27 13:35] ajoslin103 commented on #1077
Yes, in another project I went through the rigamarole of changing the params to the module.exports = ({ production, server, ... in the webpack.config.js file and then changing the params that it was called with from build and run...

I was hoping that someone had a better solution.  Something that wan't so project-specific and involved changing so many files that are delivered by: au new

I would

[2019-03-28 22:45] huochunpeng opened #1079 "'Promise' is undefined on IE11"
**I'm submitting a bug report**

* **Library Version:**
v1.0.0-beta.14

**Please tell us about your environment:**
* **Operating System:**
Windows

* **Node Version:**
10.15.2

* **NPM Version:**
6.9.0

* **Browser:**
IE11

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**

The default apps (both webpack and cli-bundler) don't work on IE11, showing error 'Promise' is undefined.

[2019-03-28 23:05] EisenbergEffect commented on #1079
We can't handle this inside the framework. It needs to ensure promise before anything runs. That's why we used prepend before. I think we should just add it back. Or add a cli install step that asks whether they need to support IE11, and then add it conditionally.

[2019-03-28 23:06] #658 closed

[2019-03-28 23:36] huochunpeng commented on #1079
Ok. I tested webpack, this patch works
[code]

But we had a new issue with cli-bundler now. Latest core-js v3 does NOT provide an umd build like @babel/polyfill did before, I need to figure out how to prepend it...

The worst solution would be revert back from core-js v3 back to deprecated @babel/polyfill.

[2019-03-28 23:41] EisenbergEffect commented on #1079
Why do we need all of core-js? Can't we just add a promise polyfill like bluebird?

[2019-03-28 23:55] huochunpeng commented on #1079
Probably not, since @babel/polyfill = core-js + regenerator-runtime, we use @babel/polyfill before to bring in promise and regenerator-runtime (for babel only, to support transpiled async/await).

Now they are two lines
[code]

We only need second line in esnext app.
But I am not exactly sure how much babel relies on the core-js polyfill, but we have aurelia-polyfill that covered decent chunk.

Ye

[2019-03-28 23:59] bigopon commented on #1079
Maybe a script tag to polyfill.io?

[2019-03-29 00:06] EisenbergEffect commented on #1079
At what point did we become dependent on the regenerator runtime. We were explicitly not using async/await in order to avoid that type of dependency in vCurrent.

[2019-03-29 00:14] huochunpeng commented on #1079
No, it was to support user app, requested in #959.

[2019-03-29 00:16] huochunpeng commented on #1079
I can change the line to be like
[code]

[2019-03-29 00:18] EisenbergEffect commented on #1079
Well, we should probably keep it actually. It's not too bad. I guess I forgot or wasn't thinking when we added that. But, I don't think we should change it now.

I'm open to handling promise with whatever polyfill you think makes sense (and works).

[2019-03-29 01:39] huochunpeng commented on #1079
@bigopon that polyfill.io promise is pretty good. I will make a PR later today.

[2019-04-01 20:09] regolas opened #1081 "Aurelia CLI compatibility error with .NET Core 2.2"
**I'm submitting a bug report**
* **Library Version:**
aurelia CLI v1.0.0-beta.13

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
10.15.2

* **NPM Version:**
6.8.0

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**

Uncaught promise rejection:
A compatible SDK version for global.json version : [2.1.500]

[2019-04-01 21:15] avrahamcool commented on #1079
the solution to add a script tag for polyfill.io don't resolve the problem for apps that run in closed environments.
is this polyfill also available as an NPM package?

[2019-04-01 21:24] huochunpeng commented on #1079
We can use es6-promise in prepend, but it got a small problem on patching Promise.prototype.finally(), the author seems not keen to fix it.

[2019-04-01 23:43] huochunpeng commented on #1079
@avrahamcool I am evaluating https://github.com/taylorhakes/promise-polyfill (seems better than es6-promise)

[2019-04-04 05:00] veikkoeeva opened #1082 "Deprecated libraries warnings on scaffolding a new project"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.15

* **Operating System:**
Windows 10

* **Node Version:**
10.9.0

* **NPM Version:**
6.2.0

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**

* **What is the expected behavior?**
No deprecation warnings when scaffolding a new project.

* **What is the motivation / use case for cha

[2019-04-04 05:16] huochunpeng commented on #1082
circular-json can be removed by upgrading karma from 3.1.4 to latest 4.0.1. We will do that.

istanbul is a dep of karma-coverage which has no new version for last year. There is nothing we can do about it unless migrate to another coverage setup for karma. cc @Alexander-Taran

[2019-04-04 13:41] SetTrend commented on #843
Same issue here.

This is breaking our project.

After adding `import "@babel/polyfill"` to our project, IE11 reports "Out of stack space".

This is the `package.json` `devDependencies` we're using:

[code]

Our entry file starts like this:

[code]

The `.babelrc` file looks like this:
[code]

Our `browserslist` file looks like this:
[code]

And the Babel part of our `webpack.config.js` file looks

[2019-04-04 21:41] huochunpeng commented on #843
Please try #1080, it should get rid of babel/polyfill and core-js related issue.

[2019-04-04 21:43] huochunpeng commented on #843
Currently core-js v3 is having some issue on IE. https://github.com/zloirock/core-js/issues/496#issuecomment-479855910

[2019-04-04 22:55] SetTrend commented on #843
@huochunpeng:

Would you mind elaborating on the steps you want me to perform? I'm not sure I know how to integrate your PR into our project and check for the differences.

[2019-04-04 23:00] huochunpeng commented on #843
@SetTrend
1. Remove `import '@babel/polyfill';` or `import 'core-js/stable';` from your main.js or main.ts.
2. `npm i -D promise-polyfill`

3.
If you use webpack, update webpack.config.js
[code]

If you use cli built-in bundler, update aurelia.json
[code]

[2019-04-05 08:10] arjendeblok opened #1083 "SASS does not get extracted to CSS for production"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.15

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.13..0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
TypeScript

* **Loader/bundler:**
Webpack

* **Current behavior:**
When running a build for production, CSS is extracted to .CSS files, but SASS files do not

[2019-04-05 11:16] SetTrend commented on #843
I did as you suggested:

1. removed `import '@babel/polyfill';` from my `.js` file.
1. installed `promise-polyfill`
1. added the following lines to my `webpack.config.js` file:

[code]

Yet, the polyfills are not used then. `Array.prototype.find()`, for example is not available int IE11.

So, unfortunately, no success, I'm afraid.

[2019-04-05 11:27] huochunpeng commented on #843
aurelia-polyfills covered it.

https://github.com/aurelia/polyfills/blob/bebda2a8b350cc2597f2f00a9662843af16aab2f/src/array.js#L49

aurelia-polyfills is loaded by aurelia-bootstrapper at first line of code.

https://github.com/aurelia/bootstrapper/blob/6b8437a8faf73b56baf6b2fdf953e73ef723760c/src/index.js#L1

What's your new error in IE11?

[2019-04-05 11:44] huochunpeng commented on #843
@SetTrend if you use async/await syntax with babel, you need
[code]
[code]

This is the default offering from #1080

[2019-04-05 12:44] SetTrend commented on #843
@huochunpeng:

I believe I made a terrible mistake here: I'm not using Aurelia. I'm using bare Babel ...

I'm wrong here, ain't I ..? 😢 😊

[2019-04-05 12:57] huochunpeng commented on #843
😆 however, you can use promise-polyfill + aurelia-polyfills if babel's offering does not work for you.

[2019-04-08 21:59] CollinHerber opened #1086 "Npm package 'qrcode' causes Uncaught RangeError: Maximum call stack size exceeded"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.15

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.11.3

* **NPM Version:**
6.7.0

* **Browser:**
all

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:**
Importing 'qrcode' npm package causes an "Exceeded Callstack" error. Prevent page load.
`VM1366

[2019-04-08 22:23] avrahamcool commented on #1086
what browser did you test? IE? or doe's it crash in chrome also?

if the problem is with IE only, it reminds me of a problem I had a while back that was caused because of bluebird.

try setting this in your code:

[code]

[2019-04-08 22:58] huochunpeng commented on #1086
I can reproduce this problem on with requirejs and systemjs. It seems has something to do with the Buffer object. I haven't figured out what exactly happened.

It looks like the other bundler I am working on, is immune to this issue. Technically, not the bundler, but the [new AMD module loader](https://github.com/dumberjs/dumber-module-loader) I implemented, is immune.

If you want, you can try to

[2019-04-08 23:22] huochunpeng commented on #1086
Update: please ignore my suggestion on dumber.

You can make it work with current Aurelia-CLI, I just found out qrcode shipped with a precompiled umd build.

Use explicit dep config in aurelia.json
[code]

[2019-04-08 23:38] jmoerdyk commented on #1081
The problem is they have to pick a version of .NET Core, and pin it in the `global.json`, because the config and startup options seem to change with every version of .Net Core.  I've thought about it and v2.1 is probably a better choice at the moment because it is the current LTS version, whereas support for 2,2 will end 3 months after 3.0 is released (If I understand their support policy)   The o

[2019-04-08 23:39] huochunpeng commented on #1086
Now I understand why it broke.

qrcode has an inner implementation of `Buffer` in `qrcode/lib/typedarry-buffer.js` (for browser only), but one of it's depenendecies, `core-util-is` uses `Buffer` as NodeJs global var.

Aurelia-CLI doesn't have proper solution for localized `Buffer` stub, due to limitation of rjs parser. The workaround in Aurelia-CLI was to manually bring in Buffer.
[code]

But this

[2019-04-08 23:46] huochunpeng commented on #1086
@CollinHerber what was your setup with v0.33 with this qrcode app? Do you have aurelia.json to share?

[2019-04-09 01:48] huochunpeng commented on #1086
@CollinHerber thx, that's the umd build, same as my suggested fix for working within the new cli bundler. That cleared my doubt how the old cli bundler worked.

Basically you need to retain that explicit config for qrcode. That's unfortunate due to the limitation of current cli bundler.

[2019-04-09 08:23] avrahamcool commented on #1079
looking forward for this to be released.
It'll simplify some of my apps that require IE.

[2019-04-11 13:02] brandonseydel commented on #1081
Just delete global.json and run.

[2019-04-12 23:29] regolas commented on #1081
@brandonseydel I setup an ASP.Net project using 2.2.105. According to the aurelia docs, The cli should have installed aurelia overtop of this and had an error.
When I used the template as you suggested, it generated 18 errors. It also appears to be a VS project not a VS Code project as the aurelia docs suggest and it uses the CLI 1.0.0.

And, to make it more confusing. It says the aurelia CLI serv

[2019-04-13 04:08] brandonseydel commented on #1081
The cli server is on port 8080 the website is running on 5001/5000 and using a reverse proxy for dev.  The project.  The dotnet template doesn't use MVC to support the application only html/js and webapi.  The more standard approach in modern web apps.

[2019-04-18 01:34] #1079 closed

[2019-04-19 17:01] CollinHerber commented on #1083
This is probably the biggest annoyance with the current beta build of the CLI. Please fix this!

[2019-04-23 05:16] huochunpeng commented on #1083
If someone can clean up the webpack config, we would love to merge it.

For requirejs build, I am not sure whether we need to seperate css files. Currently css files are bundled in as a wrapped text module. We could use seperate css files for requirejs to do dynamic loading at runtime, requirejs/systemjs supports that. But it creates additional burden for app deployer to maintain correct requirejs

[2019-04-23 06:03] arjendeblok commented on #1083
I will have a look and make a pull request.

The last thing that you mention is not a solution for SASS files. Or if you use a third party component library that uses SASS.

[2019-04-23 17:43] MichaelPetrinolis opened #1090 "Build Error TS4090 when using Protractor"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.15

* **Operating System:**
Windows [10]

* **Node Version:**
v10.15.0

* **NPM Version:**
6.4.1

* **Browser:**
Chrome 73

* **Language:**
TypeScript 3.4

* **Loader/bundler:**
Webpack

**Current behavior:**
au run returns
[tsl] ERROR
      TS4090: Conflicting definitions for 'q' found at 'xxx/node_modules/@types/q/index.d.ts' and

[2019-04-23 22:54] huochunpeng commented on #1090
I could not reproduce this issue. But I encountered another typing issue with latest TypeScript even without protractor, just with default webpack typescript jest app.
[code]

[2019-04-23 23:34] huochunpeng commented on #1090
typeRoots also solves the issue I saw. I will get the fix in.

[2019-04-24 05:34] zewa666 commented on #1090
Can you remove your dependency on @types/q? Protractor is going to provide it anyways

[2019-04-24 09:08] MichaelPetrinolis commented on #1090
@zewa666 i tried to remove @types/q but it cannot be removed, it exists in the package-lock probably is a dependency. You must manualy remove the conflicting @types/xxx from protractor/node_modules in order the au build to work

[2019-04-24 10:48] MichaelPetrinolis opened #1092 "VS Code F5 Debug starts Chrome, loads page and closes chrome"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.15

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
10.15.3

* **NPM Version:**
6.2.0

* **Browser:**
Chrome 73

* **Language:**
TypeScript 3.4

* **Loader/bundler:**
Webpack

**Current behavior:**
create new webpack project
au run
F5 from vscode
chrome opens, displays app and cl

[2019-04-25 18:15] michaelw85 opened #1093 "CLI Bundler alias/paths matched incorrectly (Plugin development)"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-cli:  `^1.0.0-beta.15`
**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
v10.15.0

* **NPM Version:**
6.9.0

* **Browser:**
Not browser related

* **Language:**
TS but assume it's an issue for all

* **Loader/bundler:**
CLI Bundler

**Current behavior:**
When the bundler tries to add

[2019-04-25 22:28] huochunpeng commented on #1093
TS is different, it requires config in tsconfig.

Here is a fix unreleased.
https://github.com/aurelia/cli/commit/eeb59c86e6aac66ea1289d21a6ef68e20616622e

Note this fix only config "resources", means you can only do
[code]
But not
[code]

You might be able to enhance tsconfig to support `'elements/hello-world'` but I don't know TS enough.

So for dev-app to access anything in the inner-plugin, us

[2019-04-26 06:40] michaelw85 commented on #1093
@huochunpeng Thanks for reply.

This issue is not about typescript. Let me try to explain.
In typescript I can write multiple aliases for all of the path entries. This could be configured like this:
[code]
This would make both of the following imports possible from a TS point of view:
`import { Foo } from resources/elements/foo`
and
`import { Foo } from elements/foo`

But as you already mentioned

[2019-04-26 07:04] huochunpeng commented on #1093
I acknowledged that shortcuts issue. Will fix that.

[2019-04-26 07:05] michaelw85 commented on #1093
@huochunpeng I have some time to take a look. I will give it a go if you don't mind 😃

[2019-04-26 07:06] huochunpeng commented on #1093
Sure. Thx!

[2019-04-26 23:48] #1093 closed

[2019-04-27 08:54] MichaelPetrinolis commented on #1092
Found who to blame :)
I use VS Code 1.33.1 , rolled back to 1.29.1 and F5 debugging works just fine.
VSCode auto updated to latest version, and after reopening IDE the same project does not work. So it seems to be an issue with VSCode, neither aurelia-cli/webpack nor vscode-chrome-adapter unless there is some special option that i did not find...

[2019-04-27 09:10] MichaelPetrinolis commented on #1092
I close the issue, a quick fix for anyone else facing the same bug is to set VSCode's update.mode to manual/none and downgrade to a previous version.

[2019-04-27 09:10] #1092 closed

[2019-04-27 09:37] huochunpeng commented on #1092
Is there any related issue on vs code repo?

[2019-04-27 10:18] MichaelPetrinolis commented on #1092
Could not find something similar. Tried Code Insider, and issue still exists.

[2019-04-28 05:40] arjendeblok commented on #1083
Problem solved with merge.

[2019-04-28 05:40] #1083 closed

[2019-04-29 01:06] huochunpeng commented on #1033
@bigopon were all Aurelia packages cleaned up?

[2019-04-29 01:21] bigopon commented on #1033
I think so.

[2019-04-29 01:21] huochunpeng commented on #1033
@EisenbergEffect this can be closed.

[2019-04-29 06:00] #1033 closed

[2019-05-01 22:27] huochunpeng commented on #1090
For reference, @MichaelPetrinolis noticed the issue can be reproduced with
[code]

The conflicting @types/q is from cssnano (by selecting postcss-typical).
[code]

[2019-05-02 04:13] 3cp opened #1097 "TODO: update protractor to v6"
protractor v6 is not latest version yet, the latest is still v5.4.3.

When protractor v6 is released as latest, update it, and revert https://github.com/aurelia/cli/pull/1091/commits/d85ca5c5e7f561b0bb428385594843977284a2dc
because protractor v6 doesn't need `@types/q` any more.

[2019-05-02 06:13] #1090 closed

[2019-05-06 08:20] milkshakeuk commented on #986
@crisckc any news / updates on this?

[2019-05-06 18:58] Krossmaskinen commented on #1090
I downloaded aurelia cli fresh today, created a project with typescript using protractor. Got the same message.

[2019-05-06 19:31] MichaelPetrinolis commented on #1090
Aurelia Cli is still in beta 15 so the fix for protractor with cssnano is not included. What options do you use to create the new project? What error do you get?

[2019-05-07 06:06] veikkoeeva commented on #986
@milkshakeuk Some of the ideas have made their way to the current setup, I think. I did some ad hoc experiments with going further, noted at https://github.com/aurelia/cli/pull/1067#issuecomment-485676282.

[2019-05-14 20:23] Sayan751 opened #1098 "[Proposal] CLI-less webpack build"
**I'm submitting a feature request (proposal)**

* **Library Version:**
aurelia-cli v1.0.0-beta.15

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
11.14.0

* **NPM Version:**
6.9.0

* **Browser:**
NA

* **Language:**
NA

* **Loader/bundler:**
Webpack

**Current behavior:**

The current build and run pipeline for webpack projects looks a bit overk

[2019-05-15 01:26] 3cp commented on #1098
@jods4 @fkleuver can you guys share your webpack setup here too?

@Sayan751 big thanks for your effort! This is a great start.

It's all about how aggressive we can be, I would vote to get rid of `aurelia.json` and start very clean :)
I don't think user acceptance is a big issue, if this is going to be only simpler.

[2019-05-15 01:42] fkleuver commented on #1098
This (or some slight variation of it) is what I use in most of my projects:

[code]

[2019-05-15 03:52] 3cp commented on #1098
Here is @jods4's minimal webpack setup for reference https://github.com/jods4/aurelia-webpack-build

[2019-05-15 05:32] Sayan751 commented on #1098
I would like to point out that a webpack config that includes more loaders and plugins to cover wise range of use cases is useful for the developers just starting with webpack.

If the aim is to have a simpler/minimal webpack config, then the examples of some involved cases must be included in comments along with the use-cases.

[2019-05-15 06:18] 3cp commented on #1098
Agree, those config was for reference, we sure need to retain all the supported features (less/scss/postcss/http1/2) in our webpack offering.

[2019-05-15 22:21] Sayan751 commented on #1098
I have [started working on this](https://github.com/Sayan751/cli). I had an issue with dealing the `environment.ts` file. The problem is as we don't have the CLI in place, setting the environment variable in a gulp task (for the prebuild activities) was a bit tricky and verbose.

I wrote a [very basic loader](https://github.com/aurelia/cli/commit/203405803506d956d725006c1e134503cea2035b) that merg

[2019-05-15 22:40] 3cp commented on #1098
I am no webpack master. Here is a possible simple solution came to me.

Keep env config our of src folder, as `environment/dev.js` ... Don't copy the file, but use alias in webpack config.
[code]
The down side is you have to do `import ... from 'environment'`, cannot do `import ... from './environment'`.

[2019-05-15 22:51] magnusdanielson commented on #969
Excellent work! I have always wondered what the load stat would look like.

[2019-05-15 22:59] magnusdanielson commented on #837
Remeber that we are discussing add comments to configurations. I would say it is really valuable to have comments in configuration.

I would love to se .ts instead of .json

[2019-05-15 23:04] 3cp commented on #969
@chrisckc pls close this issue if it's considered fixed, thx.

[2019-05-16 04:55] Sayan751 commented on #1098
I agree that the config/environment files need to be kept outside `src`.

I considered the environment file as general application settings. In that context, certain settings are common among different environments (dev/prod), and certain stuff has environment specific value. With the merging-via-loader approach, a developer does not need to duplicate these values. With the alias approach, the dup

[2019-05-16 05:02] 3cp commented on #1098
It's probably due to the original cli-bundler (amodro based) doesn't support tracing JSON files out of the box. The limitation doesn't exist in latest cli.

[2019-05-16 18:58] michaelw85 opened #1099 "[BUG] Typing issues Jest + Cypress"
**I'm submitting a bug report**

* **Language:**
TypeScript

* **Loader/bundler:**
Webpack

**Current behavior:**
Newly created project with Aurelia CLI shows errors when running the app. Due to compile errors HMR fails to work and Cypress is not working properly.

**Steps to reproduce**
Create new custom app with the following settings (jest & cypress combination is critical):
`au new sample-app`

[2019-05-17 20:02] bsrdjan opened #1102 ".gitignore missing in generated app?"
Just generated all-defaults ESNext app, with aurelia-cli v1.0.0-beta.15 on node v10.15.3 and see there is no .gitignore in the new generated app root folder.

Is it a bug because the default .gitignore would be convenient?

[2019-05-17 20:43] 3cp commented on #1102
`ls -al` pls

[2019-05-17 21:38] bsrdjan commented on #1102
Here it is. Missing also if skeleton-navigation app selected:
[code]

[2019-05-18 00:53] 3cp commented on #1102
Thanks, I can reproduce the issue. Will fix soon.

[2019-05-19 12:37] michaelw85 commented on #1099
✔ Resolved by #1091

[2019-05-19 12:37] #1099 closed

[2019-05-19 16:25] Sayan751 commented on #1098
#### Short update
I have prepared the loader, and documented it here: https://github.com/Sayan751/app-settings-loader, so that interested readers can check that and provide feedback if the concept has any shortcomings. I also needed similar loader for one of my other project. Therefore, I have put it in a different package altogether. I will continue with testing the changes for CLI.

[2019-05-19 22:40] 3cp commented on #1098
Your loader looks intuitive to understand and use. It can also be used for any `src/foo/bar.json` with `src/foo/bar.development.json` for any env sensitive logic.

[2019-05-21 19:17] #1102 closed

[2019-05-22 11:30] ivanbacher commented on #794
Is there an update on this issue?

[2019-05-22 12:43] ivanbacher commented on #794
Seems to be working now.

[2019-05-22 20:49] 3cp commented on #794
There is a fix #1088 merged but not released.

[2019-05-27 14:46] jmzagorski commented on #1090
the commit attached this issue adding the `typeRoots` does not seem to fix this issue for any typescript project built with the cli.

The change to `ts-loader` in `webpack.config.js` will fix it, referenced in https://github.com/aurelia/cli/pull/1091/commits/36d384ec985ee197c27ac115e7d9722d0d2f4a0f

[2019-05-28 01:51] 3cp commented on #557
@EisenbergEffect this can be closed. Current cli has unattended mode.

[2019-05-28 03:24] #557 closed

[2019-05-29 11:01] nenadvicentic opened #1107 "aurelia-cli v1.0.0-beta.15 - .NET Core, Webpack, TypeScript - broken"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.15

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.3

* **NPM Version:**
6.4.1

* **Yarn Version:**
1.16.0

* **Browser:**
all

* **Language:**
TypeScript 3.4.5

* **Loader/bundler:**
Webpack

**Current behavior:**
After creating new CLI project with following options:
Globa

[2019-05-29 11:38] 3cp commented on #1107
This should be fixed on master.

Can you try latest github master branch with?

[code]

[2019-05-30 12:07] rusch1981 commented on #1107
[code]
Same issue for me.

[2019-05-30 17:17] 3cp commented on #1107
What’s your dotnet core version?

[2019-05-30 21:36] 3cp commented on #1107
Can one of you try latest master branch?

[2019-06-03 07:02] arjendeblok commented on #1107
This issue was reported before. It is solved in the 1.0.0 release. So please update the CLI.

[2019-06-03 08:45] nenadvicentic commented on #1107
@arjendeblok with aureli-cli v1.0.0 this is working!

However, I am not sure now how to run protractor tests? Documentation states:

But when I do what is described above I get exception "Unable to find a config file and none was specified". `nps` version is 5.9.5.

[2019-06-03 09:00] 3cp commented on #1107
Check the generated readme.

au protractor

[2019-06-03 09:11] nenadvicentic commented on #1107
@3cp Yes, that worked.

Two command lines, `au run` in the first one and then  `au protractor` in the second one.

Thanks!

[2019-06-03 09:44] nenadvicentic opened #1108 "aurelia-cli 1.0.0 - .NET Core project with Aurelia built-in bundler does not start"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Browser:**
all

* **Language:**
TypeScript 3.4.5

* **Loader/bundler:**
RequireJS/Aurelia build-in bundler

**Current behavior:**

* **What is the expected behavior?**
When selecting .NET Core project with Aurelia built-in bundler, configuration does not

[2019-06-04 01:21] 3cp commented on #1108
So there is only instruction on how to hook up webpack. That's probably why old cli didn't have cli-bundler option for dotnet-core app.

I am not a dotnet user, I cannot even got a sample dotnet 2.2 app with aurelia+webpack working, `dotnet run` still renders old dotnet page, not aurelia app page.

@brandonseydel @artmasa @arjendeblok do you guys knows how to hook up cli-bundler front-end in the `

[2019-06-04 01:26] m0ngr31 opened #1109 "Unable to load package metadata (package.json) of ..."
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.15

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 18.04)

* **Node Version:**
8.11.3

* **NPM Version:**
5.6.0

* **Browser:**
Firefox 67

* **Language:**
TypeScript 3.1.2

* **Loader/bundler:**
Gulp

**Current behavior:**
Developing an AU plugin right now. Trying to use mapped paths but having is

[2019-06-04 02:13] brandonseydel commented on #1108
https://github.com/aurelia/dotnet/blob/master/README.md

You can download the budget package and follow the readme.  You can also download the template and start from there.

https://www.nuget.org/packages/Aurelia.DotNet.Templates/

[2019-06-04 02:18] 3cp commented on #1109
I got no problem with your setup. I only see the error if I remove `"helpers": "../src/helpers",` from `aurelia.json`, can you share a small sample repo to reproduce it?

[2019-06-04 02:20] 3cp commented on #1109
Can you try `au clear-cache`? It might cached tracing result before you add that line to aurelia.json.

[2019-06-04 04:27] weagle08 opened #1110 "Fails to bundle modules with dynamic imports"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.15

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.0

* **NPM Version:**
6.4.1

* **Browser:**
Chrome XX

* **Language:**
TypeScript 3.3

* **Loader/bundler:**
SystemJS

**Current behavior:**

Fails to bundle modules which use dynamic imports (amcharts4 is the problemat

[2019-06-04 04:38] 3cp commented on #1110
cli-bundler doesn't support dynamic import for now mainly because esprima has not released the feature jquery/esprima#1728

The amcharts4 code looks assume it's consumed in webpack app too. If you move to webpack, beware the dynamic import has some issue on latest webpack https://www.amcharts.com/docs/v4/getting-started/integrations/using-webpack/

[2019-06-04 05:40] 3cp commented on #1110
If you want to avoid webpack, there is the WIP successor of cli-bundler, called [dumber bundler](https://github.com/dumberjs/dumber) I am working on. It's stable enough I am running all my production apps with it. The bad part is the doc is unfinished.

The new bundler solved various shortages (including dynamic `import()`) of cli-bundler due to architecture issue.

If you want to have a look, you

[2019-06-04 07:12] nenadvicentic commented on #1108
@3cp I think combination of cli-bundler and dotnet-core project is valid to have, even without tight development integration and hot-module-replacement in place. I am actually using it like this for years.

Bigger problem is that so many project template combinations in `aurelia-cli` are not setup correctly and do not work from get-go, so new users have no clue what to do.

@brandonseydel I'll tak

[2019-06-04 09:44] 3cp commented on #1108
@nenadvicentic if you know how to hook them up, please send a PR :-)

[2019-06-04 10:03] nenadvicentic commented on #1108
@3cp I did not manage to connect `aurelia-cli` with dev middleware myself, but project templates for .NET Core which @brandonseydel  suggested above have implementation that works. It uses middleware from [aurelia/dotnet](/aurelia/dotnet):

[code]

[2019-06-04 10:07] 3cp commented on #1108
Oh, I didn't know @brandonseydel's solution works for cli-bundler too. We probably should use the middleware in default cli template offering, if someone can create a PR.

[2019-06-04 12:53] nenadvicentic opened #1111 "aurelia-cli 1.0.0 copy-files.ts does not work with au-build command"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.3

* **Language:**
TypeScript 3.4.5

* **Loader/bundler:**
RequireJS

**Current behavior:**
Coping files, defined as bellow, does not work any longer when project is created with Aurelia-CLI 1.0.0, command `au build`
[code]

Excepti

[2019-06-04 13:57] m0ngr31 commented on #1109
Yeah I've tried that a few times with no luck. I ended up fixing it by setting up a new plugin with cli and copying the files over what I had and it worked. So something got messed up, not sure which considering the git diff was pretty minimal.

[2019-06-04 21:38] 3cp commented on #1109
Can you close this one for now? You can reopen it when you find the condition to replicate the error.

[2019-06-04 21:43] 3cp commented on #1111
Just as the error message "Invalid output folder".

You config is not right, should be
[code]

[2019-06-05 01:42] weagle08 commented on #1110
Thanks for the explanation.

[2019-06-05 01:42] #1110 closed

[2019-06-05 05:12] #1109 closed

[2019-06-05 07:03] nenadvicentic commented on #1111
@3cp Folder parth is, unfortunately, correct.

My app is in `ClientApp` folder of .NET Core project, thus, it has to copy data in `wwwroot` in the root of the project. More... this configuration path works perfectly fine when I replace `copy-files.ts` with older version using `changed-in-place`, as I described.

[2019-06-05 07:13] 3cp commented on #1111
Thx. I will do more testing. You can probably temporarily get away from the issue by removing since lastrun.

[2019-06-05 22:38] 3cp commented on #1111
I can reproduce your error. But it might due to you glob syntax is not exactly right, can you try this:
[code]

When you try to watch `"src/static/**"`, it caused some issue.

What you want is `"**/*"` to match files, not folders.

[2019-06-06 08:21] nenadvicentic commented on #1111
@3cp I tested it also. Copying works with `"**/*"`. Thanks a lot!

It's shame that simple replacement of npm package responsible for path matching produces such inconsistencies.

[2019-06-06 08:52] 3cp commented on #1111
Glad it helps. That gulp error message is bit out of context.

I guess this can be closed.

[2019-06-06 10:56] #1111 closed

[2019-06-07 10:02] MichaelPetrinolis opened #1112 "New plugin with autoprefixer warnings"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
v10.15.3

* **NPM Version:**
6.2.0

* **Browser:**
all

* **Language:**
TypeScript

* **Loader/bundler:**
Webpack

**Current behavior:**
when run npm build we get error/warning
  Replace Autoprefixer browsers option to Browserslist conf

[2019-06-07 11:08] AquilaSands opened #1113 "VSCode launch.json has incorrect extension for new projects using the cli bundler"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows10

* **Node Version:**
12.3.1

* **NPM Version:**
6.9.0

* **Browser:**
n/a

* **Language:**
all

* **Loader/bundler:**
RequireJS

**Current behavior:**
Creating a new app or plugin which uses the built in cli bundler and VSCode as the editor places the file lau

[2019-06-07 11:33] 3cp commented on #1113
My bad. Will fix the file name.

[2019-06-09 03:59] #1113 closed

[2019-06-09 04:01] #1112 closed

[2019-06-14 11:07] AquilaSands opened #1117 "VS Code breakpoints not hit due to incorrect paths in sourcemap sources"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.3.1

* **NPM Version:**
6.9.0

* **Browser:**
Chrome

* **Language:**
TypeScript 3.5.1

* **Loader/bundler:**
RequireJS

**Current behavior:**
When creating a plugin the generated paths for the plugin source files in `app-bundle.js.map

[2019-06-15 00:53] 3cp commented on #1117
Thx, I will test your suggestion in few days.

[2019-06-15 06:55] michaelw85 opened #1119 "[Suggestion] Drop .ext and code duplication in js+ts files"
**I'm submitting a suggestion to improve cli maintainability**

1) The CLI skeletons contains `.ext` files to be able to flexibly change the output to either JS or TS based on choices made by the developer setting up a new project.

Although this is a great concept it has some drawbacks.
- IDE does not know what to do with these files (work around: manually setting file type)
- Linter don't work o

[2019-06-15 07:17] 3cp commented on #1119
All skeleton files are never IDE lint ready or even valid code, because there is a lot preprocess directive `@if` in those files, some directives broke js/ts syntax, but they will be processed to generate valid code.

For example, a json file with those if comments appeared broken in linter or IDE. There is not much you can do with it.

They are not runable code, let alone to be unit testable. The

[2019-06-15 07:49] michaelw85 commented on #1119
In my opinion the CLI is an essential tool for new Aurelia users. Having a broken tool will result in people having a negative experience with Aurelia. Best case scenario they either invest time and jump to gitter/discourse/github and try to fix it. Worst case they are so annoyed they immediately stop and spread their experience with others. Where I'm going with this, to grow the community this th