[2017-03-14 10:03] JeroenVinke commented on #539
**Sourcemap as `..`**
![image](https://cloud.githubusercontent.com/assets/2189477/23895363/bfa3cba8-08a5-11e7-8cfa-37bdb7dd10d9.png)

**Sourcemap as `../src`**
![image](https://cloud.githubusercontent.com/assets/2189477/23895359/bcd0f81a-08a5-11e7-8fe2-b9e267655fc9.png)

I believe `../src` is the correct one since the `src` folder is at the same level of `scripts` on disk

[2017-03-14 10:43] JeroenVinke commented on #519
@cavejay yes, please open another issue for that. Thanks!

[2017-03-14 11:33] JeroenVinke commented on #451
@s-hoff

I noticed this as well. Weird

[2017-03-14 13:18] AStoker commented on #472
@RenJing, can you provide me with the details as to how this isn't working? Are you sure you've upgraded the  versions correctly, both the local version and your globally installed version?

[2017-03-14 13:22] suamikim commented on #522
Perfect, this is exactly the hook I was looking for. Thanks for the tip!

[2017-03-14 15:25] EisenbergEffect commented on #342
Give it a shot 😀

On Mar 14, 2017 2:09 AM, "Jeroen Vinke" <notifications@github.com> wrote:

[2017-03-14 18:08] eriklieben commented on #535
Jeroen, thanks!

I can look into this as soon as my energy level is back to normal again, not spending that much time behind a keyboard during evenings / after work atm.

I think it should be an option in the CLI and only be applied once you pick it, because it doesn't make sense to add it for every project/ not every project needs it.

What we can do is once you pick the option to enable PWA, is:

[2017-03-15 09:41] KernowCode commented on #535
I am also keen to know how to perform 'au run --watch' but over HTTPS and not http?

[2017-03-15 09:43] KernowCode opened #542 "Serve in development over HTTPS not http"
Windows 10 using Microsoft Code

How to perform 'au run --watch' over HTTPS and not http in development environment.

[2017-03-15 10:45] JeroenVinke commented on #296
Unfortunately I can't seem to reproduce this issue. Using a new aurelia app (0.26.1), I did this:

- in aurelia.json add ".json" to the text plugin extensions
- create `test.json`
- import the JSON file from app.js:
[code]

Repository is [here](https://github.com/JeroenVinke/aurelia-cli-296-insidesrc). When I moved `test.json` up one folder (so to the root folder) and changed the import statement

[2017-03-15 10:50] KernowCode commented on #542
Answer is to add https: true to browserSync: aurelia_project/tasks/run.js

Perhaps this should be easier to find in Aurelia.io Doc HUB documentation

[2017-03-15 10:50] #542 closed

[2017-03-15 12:06] JeroenVinke commented on #542
@KernowCode thanks, added this suggestion to https://github.com/aurelia/cli/issues/393

[2017-03-15 14:40] RenathoAzevedo commented on #296
@JeroenVinke Thank you man, I got it. Sorry for not providing my environment. My global dependencies were updated but in my local package.json my dependencies weren't.  So I was with aurelia-cli 0.26.1 in the global environment but in my local project it was with the 0.24.0 version, so in the 0.24.0 cli version the problem occurs, I updated my dependencies and with the 0.26.1 the problem disappear

[2017-03-15 16:12] JeroenVinke opened #544 "Rebuilding files that are loaded through plugins does not work as it should"
**I'm submitting a bug report**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v7.4.0

* **NPM Version:**
4.1.1

**Current behavior:**
When you have a JSON file watcher which instructs the bundler to update JSON files whenever one changes, then the resulting moduleId of the file gets messed up.

In the first run ev

[2017-03-15 16:16] JeroenVinke commented on #296
Thanks for the quick response @RenathoAzevedo. Regarding it not doing dynamic loads, try and bundle all JSON files by changing [this line](https://github.com/JeroenVinke/aurelia-cli-296-insidesrc/blob/master/aurelia_project/aurelia.json#L88) to `"**/*.{css,html,json}"`

I did have an issue when I instruct the bundler to update JSON files whenever one changes (using a similar setup as @fabioluz), f

[2017-03-15 16:16] #296 closed

[2017-03-15 17:12] RenathoAzevedo commented on #544
Hi there, even adding this:  "**/*.{css,html,json}" to aurelia.json file, It doesn't load. if you change the name of the JSON file or put it in another folder and change the path where you're importing under --watch flag, it throws the follow error:

![selecao_021](https://cloud.githubusercontent.com/assets/16307350/23961161/d3cdd3b0-0988-11e7-9e21-34a03a2fb72a.png)

By the way, it's not related,

[2017-03-15 18:15] JeroenVinke commented on #533
https://github.com/amodrojs/amodro-trace/issues/7

[2017-03-15 22:13] mobilemancer commented on #304
@JeroenVinke The proxy settings I added was just to fix serving of the app via browsersync on port 9000. This didn't work for ASP.NET Core based projects before. It assumes that the cli setup is ok and serves properly from wwwroot.

The basedir issue, that was not serving from wwwroot, was another problem.

[2017-03-15 22:44] mobilemancer commented on #531
Regarding the documentation, it refers to xproj, which now has been replaced with csproj in the latest .NET Core version.

[2017-03-16 09:41] k2s commented on #539
please fix this issue, it is critical problem

[2017-03-16 09:51] JeroenVinke commented on #539
@k2s are you also debugging from visual code or are you having issues in chrome for example?

[2017-03-16 11:10] johot opened #547 "[Feature] Add view-viewmodel generator"
The first thing I expected to find among the generate commands was a command that would generate a view-viewmodel pair. Is it possible we could have one added?

Thanks!

[2017-03-16 11:30] suamikim commented on #522
Here's a follow up question:

How can I dynamically set the locations of my `vendor-bundle.js` & `app-bundle.js` which are referenced within `index.html` & `vendor-bundle.js` during build based on the chosen environment?

Right now, those are always referenced with a **relative** URL which is working perfectly fine in development but doesn't in my production scenario which looks something like thi

[2017-03-16 15:09] Thanood commented on #535
@KernowCode
BrowserSync has an `https` option. 😃

[2017-03-16 18:34] JeroenVinke commented on #292
I can't seem te reproduce the issue with either toastr or aurelia-dragula when using the latest version of the CLI. And I believe we addressed the path separator problem. So I believe this got fixed. If anyone is still having some issues, let me know

[2017-03-16 18:34] #292 closed

[2017-03-16 23:02] khuongduybui opened #548 "Support minimatch in copyFiles"
**I'm submitting a feature request**

**Current behavior:**
I have to list every single file in copyFiles, e.g.
[code]

**Expected/desired behavior:**
I can specify a pattern matching files I want to copy, e.g.
[code]

**What is the motivation / use case for changing the behavior?**
Most web font packages contain a few file types (eot, ttf, woff, woff2, svg).
On top of that, many web font packages

[2017-03-17 01:37] fabioluz commented on #548
Your code works fine for me.

[code]

It copies everything inside the folder to `static_resources/vendor/mdi/fonts`.

[2017-03-17 02:55] Vheissu commented on #548
@khuongduybui Wildcards should work fine. I'm doing something similar to what @fabioluz is doing and it works fine.

[2017-03-17 07:08] khuongduybui commented on #548
I'm not sure if this is relevant but I'm using aurelia-cli 0.26.1 on Windows.
Putting a * into my copyFiles key gets me a bunch of errors that look similar to this:
[code]

[2017-03-17 07:16] khuongduybui commented on #548
I think the problem is here: https://github.com/aurelia/cli/blob/master/lib/resources/tasks/copy-files.js#L19

```filePath``` here would be the ACTUAL file path (e.g. node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.eot), while ```files``` contain my wildcard (node_modules/bootstrap/dist/fonts/*), so ```key``` will end up being ```undefined```.

[2017-03-17 07:30] khuongduybui commented on #548
I replaced that line with ```      const key = files.find(f => minimatch(filePath, f));``` and wildcards started to work like a charm.

[2017-03-17 08:53] #373 closed

[2017-03-17 13:02] AStoker commented on #547
Creating a view and view model are pretty simple. However, I wonder how exactly we could handle this. With creating resources, we have a semi-defined structure of where things go, so we can automate that task rather well (it also doesn't have to navigate very far).
For creating view/viewmodel pairs, there are a few different ways people do that. Some people might split up their views and view mode

[2017-03-17 13:10] AStoker commented on #530
☝️ https://github.com/aurelia/cli/issues/530#issuecomment-285127835
@JeroenVinke, the tracing might trace dependencies to pull in what it needs, but to create the appropriate loader config, I'm pretty sure we need to have a properly defined `aurelia.json` file, which means we should probably be loading up our `dependencies` into the json file when we run the install command.

[2017-03-17 13:28] AStoker commented on #532
Sourcemaps are typically saved in the form of a comment if they're being brought down into the vendor bundle. I'd imagine that when you minify your code, it would strip out those sourcemaps and therefore they wouldn't be an issue... We'd have to do some special regex to handle inlined sourcemaps (which sounds like your problem) to combine them.

[2017-03-17 13:31] AStoker commented on #527
@TonySpegel, you _will_ get that issue if you're not running higher than node 5 (pretty sure it needs to be the LTS or greater, or at least around 6). Something about being able to use ES6 features (like the `...` spread operator).
Upgrade your node version first. _Then_, try these following commands (exactly, just copy paste) to ensure that you've cleaned and re-installed the latest aurelia cli
`

[2017-03-17 13:45] AStoker commented on #522
Try checking out this issue for how to use an absolute url for your starting location (https://github.com/aurelia/cli/issues/403)
At first glance, it looks like you're trying to take too much control over the output of the files :P I'd try to not control the output of the files, but rather look to see if there's some way you can influence the building itself so the output is what you're expecting.

[2017-03-17 13:58] adamskopl commented on #527
(just want to inform, that @AStoker 's comment works)

[2017-03-17 14:01] johot commented on #547
Hi Andrew, thank you for writing me!

I understand you concerns that different projects use different
conventions. I do however think it is important to have a "au generate
component" generator because it's the first thing you look for when dealing
with a tool such as the aurelia cli. In my case I was very confused that it
didn't exist to the point that I thought the aurelia cli shouldn't be used

[2017-03-17 14:08] AStoker commented on #527
I'm going to go ahead and close this issue for now, as the CLI has needed to be running >=6 for a while. If we need to support previous versions, let's make that a separate issue.

[2017-03-17 14:08] #527 closed

[2017-03-17 14:15] AStoker commented on #547
It sounds simple enough, and helpful. Do you think you could make a PR for that feature?

[2017-03-17 14:19] johot commented on #547
Sure i'll look into! Do you have any suggestions for the default content of
the code and template file?

fre 17 mars 2017 kl. 15:15 skrev Andrew Stoker <notifications@github.com>:

[2017-03-17 14:20] AStoker commented on #510
@jugglingthebits, could you test this again with the latest CLI? We've made a few improvements that might solve your issue.
Links to relevant issues/PR's to have everything referenced:
https://github.com/aurelia/cli/pull/511
https://github.com/aurelia/cli/issues/504
https://github.com/aurelia/cli/pull/498

[2017-03-17 14:23] AStoker commented on #547
I'd imagine that the default content would be as follows (shouldn't be anything special, similar to basic custom elements):
`view.html`
[code]
`viewmodel.js` (Class name should match the file created)
[code]

[2017-03-17 15:31] flekschas opened #549 "Bundles with no source files fail to build on changes"
**I'm submitting a bug report**

**CLI Version:**
0.26.1

**Operating System:**
OSX 10.11.6

**Node Version:**
6.9.5

**NPM Version:**
4.1.2

**Browser:**
all

**Language:**
ESNext

**Current behavior:**
I have bundle definition for simple concatenation of two or more JS files, which looks like this:

[code]

Since I only want to concat files for a JS worker, I have an empty array of source files.

[2017-03-18 09:46] JeroenVinke opened #551 "Custom importers shouls be able to easily add .plugin() statements to main.js"
**I'm submitting a feature request**

One of the common use cases for custom importers is to add .plugin() statements to main.js. We could expose a service to custom importers that can do this. It is quite tricky to patch main.js due to the irregular format of main.js

[2017-03-18 09:50] RWOverdijk commented on #551
It might be nice to use [aurelia config](https://github.com/SpoonX/aurelia-config) for this. We use it in our applications. And I use it in the plugins we have. It's optional, but a (I think) nice standard. It allows merging of configs and makes it super easy to add configs for your plugins.

[2017-03-18 13:23] jugglingthebits commented on #510
Just tested with 0.26.1. `au run --watch` doesn't crash on these syntax errors any more - nice!

Now, it doesn't start the build-run-watch-loop either but just stops with the same really long error message. IMHO, it should should enter the loop and print the same nice error messages as if those error hat been introduced after it was started correctly.

`au build` displays the same error message as

[2017-03-19 10:45] chabou-san commented on #548
The problem is not due to Windows, since I'm also having the issue for Aurelia-cli 0.26.1 on macOS. I tried on `bootstrap` library first since @fabioluz said it worked for him (and so is @Vheissu), but I got the same error than @khuongduybui. Using its proposed solution worked for me too.

[2017-03-20 08:32] suamikim commented on #522
Thanks for the hint with `useAbsolutePath`. Do you have any suggestions according different URLs for different environments?

[2017-03-20 11:28] nawijn opened #553 "Add support for `--watch` argument on `au build` command"
**I'm submitting a feature request**
Add support for `--watch` argument on `au build` command.

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
Fedora 25

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Automatic project rebuilding is not supported for the `au build` command.

*

[2017-03-20 13:27] jimmyvdberg opened #554 "Karma cannot find app and verndor bundles when build revisions are enabled"
**I'm submitting a bug report**

* **Library Version:**
0.26.1

* **Operating System:**
Windows 10

* **Language:**
TypeScript

**Current behavior:**
When creating a new Aurelia project using the CLI `(au new)` with unit testing and build revisions enabled. I get a warning message that karma cannot find the `vendor-bundle.js` and `app-bundle.js`.

I understand that the bundles name should include

[2017-03-20 18:07] JeroenVinke commented on #553
This is definitely something we are going to add. Since we already have an issue tracking this feature request, lets continue there: https://github.com/aurelia/cli/issues/265

[2017-03-20 18:07] #553 closed

[2017-03-20 20:09] AStoker commented on #522
It would depend on what needs to be changed. If you're just hosting your files in different locations, then you only need to modify the index page, which is simple enough with a gulp task.

[2017-03-20 20:11] #510 closed

[2017-03-20 20:12] AStoker commented on #510
If you have some ideas on improving the logging, PR's are more than welcome! :)

[2017-03-20 23:08] djcaesar9114 opened #555 "Node module can't be loaded"
**I'm submitting a bug report**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 16.04)

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.5

* **Browser:**
all

* **Language:**
TypeScript 2.1.6

**Current behavior:**
I'm adding a node_module as described here: http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/the-aurel

[2017-03-21 05:22] #534 closed

[2017-03-21 05:28] #531 closed

[2017-03-21 05:30] #234 closed

[2017-03-21 05:31] #342 closed

[2017-03-21 08:06] RomainLanz opened #556 "Importing ES2015 module throw syntax error"
**I'm submitting a bug report**

* **Library Version:** 0.21.1 (aurelia-cli)
* **Operating System:** OSX 10.12.3
* **Node Version:** 7.4.0
* **NPM Version:** 4.0.5
* **Browser:** all
* **Language:** TypeScript 2.2.1

**Current behavior:**
I have installed a library that's coded using ES2015 syntax and when I'm requiring it inside the `aurelia_project/aurelia.json` `esprima` give me syntax error.

[2017-03-21 09:55] JeroenVinke commented on #555
Disconnect is not a browser lib so it should not be able to work in the browser.

[2017-03-21 09:55] #555 closed

[2017-03-21 11:31] nawijn opened #557 "Add support to create new project non-interactively"
**I'm submitting a feature request**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
Linux Fedora

* **Node Version:**
v6.10.0

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
all

**Current behavior:**
New Aurelia projects have to be created by answering a set of interactive questions.

**Expected/desired behavior:**
By providing

[2017-03-21 12:14] JeroenVinke opened #558 "configuration is not defined"
**I'm submitting a bug report**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
Windows 10

`au import nprogress` results in:

![image](https://cloud.githubusercontent.com/assets/2189477/24146849/e0982b00-0e37-11e7-9903-a723be751530.png)

[2017-03-21 12:21] djcaesar9114 commented on #555
OK, thanks for the info. I didn't know there was a difference. How can I distinguish packages meant for browsers from others? Thanks.

[2017-03-21 12:24] JeroenVinke commented on #555
It usually is mentioned in the README of the library. But in this case, [url](https://github.com/bartve/disconnect/blob/master/lib/client.js#L5) is a nodejs thing. There are some more imports in there that would only work on nodejs

[2017-03-21 12:49] djcaesar9114 commented on #555
OK, thanks for everything, I now know that there are (at least) two kinds of packages!

[2017-03-21 16:20] johot commented on #547
@AStoker

PR created! SEE HERE: https://github.com/aurelia/cli/pull/560

[2017-03-22 03:20] #558 closed

[2017-03-22 08:23] mdemmers commented on #458
- Operating System:
Windows 10

- Node Version:
6.9.1

- NPM Version:
3.10.8

- Browser:
all

- Language:
TypeScript 2.0.1

Experiencing the same issue. When using the baseUrl option in the compileroptions of tsconfig, sources don't get transpiled and bundled. It seems that the typescript transpiler from aurelia_project/tasks/transpile.ts can't find the sources or aurelia is doing some mapping of

[2017-03-22 17:07] sp00ky opened #561 "Repo of valid aurelia.json client library entries"
It would be nice to be able to lookup the correct aurelia.json entries for popular client libraries, rather than trying to figure them out by trial and error.

It obviously wouldn't be comprehensive but I imagine most questions about how to configure them could be answered.

Just a thought :)

[2017-03-22 20:31] zedL opened #562 "Ability to specify Uglify options"
**I'm submitting a feature request**

* **Library Version:**
aurelia-cli@0.26.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.2

* **NPM Version:**
4.3

* **Language:**
TypeScript 2.2.1

**Current behavior:**
I use uglify-js@2.8.14 and get following error when I build with `au build --env stage`
[code]
My options in aurelia.json are
[code]

[2017-03-23 02:28] EisenbergEffect commented on #561
Have you tried the new install feature? @JeroenVinke may have some thoughts on this and how we can further eliminate the need for you to think at all about looking up config.

[2017-03-23 03:16] #548 closed

[2017-03-23 07:32] mdemmers commented on #458
Issue resolved. There were multiple issues. Typescript installed a global compiler in the program files folder and added this to the path variable, with compiler version 2.0. When running tsc from cmdline (from any localtion) in my aurelia project folder there were multiple errors. I removed the windows path variable so when running tsc it would resolve to the locally installed typescript compiler

[2017-03-23 13:47] sp00ky commented on #561
I hadn't seen it until you mentioned it.  Can't wait to try it!

[2017-03-23 14:25] stevies opened #563 "Ability to create separate deployable bundles and not touch source code"
**Current behavior:**
When versioning is switched on -  "rev": true - the CLI bundling process modifies
    index.html
    /src/environment.js

(which would normally be under source control) and leaves the files in place to be manually copied for deployment.

For deploying the app, the docs say:

[code]

**Desired behavior:**
Means of creating fully deployable bundles that keeps the original sourc

[2017-03-23 20:47] Gheoan commented on #561
You could try using github search: https://github.com/search?utf8=%E2%9C%93&q=path%3Aaurelia_project+extension%3Ajson+jquery&type=Code.

[2017-03-24 15:31] JeroenVinke commented on #561
@sp00ky yep, try out `au install <packagename>` (documentation of this feature is on the way). If it doesn't configure the package correctly in your aurelia.json, let us know so we can make the importer smarter, or (in the worst case) add a working configuration to our [configuration registry](https://github.com/aurelia/cli/tree/master/lib/importer/registry) so `au install <packagename>` will work

[2017-03-24 17:46] BringerOD commented on #539
I have not been able to figure out how do configure VS Code debugger.

I am using the latest CLI with typescript.

Does anyone have a launch.json example on how this should look?

Bryan

[2017-03-25 07:15] JeroenVinke commented on #547
The PR was merged and released

[2017-03-25 07:15] #547 closed

[2017-03-27 09:31] RomainLanz commented on #556
Any news on this? @JeroenVinke

[2017-03-27 11:48] JeroenVinke commented on #556
Not yet. Could you share a package that has this issue?

@AStoker do you know if the bundler should support ES2015 modules?

[2017-03-27 12:36] RomainLanz commented on #556
Thanks for your reply.

I haven't tested it but this repository should do the trick: https://github.com/RomainLanz/es2015-module

[2017-03-27 13:01] AStoker commented on #547
Sorry I'm late to the review @johot (was moving last week). Just wanted to say thanks for your contribution!

[2017-03-27 13:06] AStoker commented on #556
@JeroenVinke, I think it should be fine, but what is most likely happening is it is failing on the compiling itself (the babel part). It could be that Babel is receiving the typescript file when it is expecting the module file?
@RomainLanz, I would also try upgrading to the latest version of the CLI to see if that helps, or at least gives some better error logging.

[2017-03-27 13:07] AStoker commented on #556
Also, not sure you need to use `'use strict'` when writing classes, since the compiler will do that for you (in fact, that might be part of the problem?...)

[2017-03-27 16:02] RomainLanz commented on #556
So I have updated `aurelia-cli` to the latest version available (`0.27.0`) and I still have the same error.

I have created a simple application with the code I linked bellow and I have the same error.

[code]

[2017-03-27 19:25] arabsight commented on #556
code outside the __src__ folder is not transpiled.

[code]

[2017-03-28 06:51] RomainLanz commented on #556
What do you think of adding a `format`/`moduleResolution`/`module` into the object syntax when defining dependencies?

It could be something like:

[code]

[2017-03-28 07:55] JeroenVinke commented on #556
Seems like amodrotrace (which uses esprima) does not account for the `export * from x` syntax. Amodrotrace's [parse module](https://github.com/aurelia/cli/blob/master/lib/build/amodro-trace/lib/parse.js) calls esprima as:

    at ErrorHandler.constructError (C:\Development\aurelia-app\node_modules\esprima\dist\esprima.js:3396:22)
    at ErrorHandler.createError (C:\Development\aurelia-app\node_mod

[2017-03-28 08:22] JeroenVinke commented on #556
`import {something} from './test'` doesn't seem to be recognized by Amodrotrace either, making me think that amodrotrace does not support ES2015 at all.

[2017-03-28 09:11] stuartbloom opened #566 "issue with building."
Hi

I am able to perform an `au run` and the application works perfectly.

When i perform a `au build --env prod`, the build runs, I then copy the files to my IIS folder, but when i browse to it I am getting the following error:

![image](https://cloud.githubusercontent.com/assets/7871566/24397639/d360c142-139e-11e7-9171-fee501a58054.png)

I assume there is something missing in my aurelia.json fil

[2017-03-28 09:19] JeroenVinke commented on #566
Hi, could you provide the steps necessary to reproduce the issue?

[2017-03-28 09:23] stuartbloom commented on #566
@JeroenVinke I have a project that makes use of the i18n plugin.  In my main.ts file I have this:
`import * as Backend from "i18next-xhr-backend";`.

In my aurelia.json file I also have this:
[code]

Thanks again

[2017-03-28 09:23] stuartbloom commented on #566
as an addition, if I create a node_modules folder and then add the path and file for i18nextXHRBackend.js it works fine

[2017-03-28 14:01] avrahamcool opened #567 "Error when bundling resources from outside node_modules"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

* **Operating System:**
Windows 10

* **Node Version:**
v6.9.5

* **NPM Version:**
3.10.9

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
1. when I'm trying to bundle npm libraries from outside `node_modules` folder I get an error from `aurelia-templating-resources`.
2. when I'm trying to bundle libraries that don't

[2017-03-28 17:57] JeroenVinke commented on #556
@RomainLanz unfortunately, from what i've seen we would have to do some work to amodrotrace (possibly together in collaboration with the folks from amodrotrace) in order to get this working. So I expect it will take some time to resolve. I suggest to look for alternatives. Perhaps you can fork the library and transpile it, then use the fork in the app, or use a different library that does use AMD/

[2017-03-28 19:22] AshleyGrant commented on #315
@JeroenVinke it looks like I found this old bug. Hope this bug report can help!

[2017-03-28 19:24] JeroenVinke commented on #561
The above is the way to go for now

[2017-03-28 19:24] #561 closed

[2017-03-28 19:51] HamedFathi opened #568 "[Request] Add to CLI : ASP.NET Core 1.1 (VS 2017 or VSCode) + Webpack 2 + Typescript 2 + Aurelia 1?"
I need a simple sample that configured with ASP.NET MVC Core 1.1 + Typescript 2.2 + Webpack 2 + Aurelia 1 .

Can anyone add it to CLI as an item ? (with easywebpack and without it - pure webpack)

based on this article [Jspm vs Webpack - I Like Kill Nerds](https://ilikekillnerds.com/2015/07/jspm-vs-webpack/) I think someone prefer to use webpack 2 against jspm so it would be great if CLI support i

[2017-03-28 20:03] ghidello commented on #568
I read somewhere that a webpack option was in the future roadmap for the CLI. In the meantime you can check one of the [samples](https://github.com/jods4/aurelia-webpack-build/tree/master/demos/06-ASPNET) for the new [webpack plugin](https://github.com/aurelia/webpack-plugin) (currently in RC stage) which uses also some SpaServices middlewares

[2017-03-28 20:06] JeroenVinke commented on #566
i'm unable to reproduce the issue. After following the installation instructions of aurelia-i18n in the docs, running `au run --env prod` worked as expected. To make sure I copied everything to a `deployed_app` folder and ran `http-server` (the http-server module on NPM) in that folder, and it also worked as it should. I have pushed the app here: https://github.com/JeroenVinke/aurelia-cli-566. Thi

[2017-03-28 20:36] ghidello opened #569 "Error executing tests in a new typescript project"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.2

* **NPM Version:**
4.1.2

* **Browser:**
all

* **Language:**
TypeScript 2.2

**Current behavior:**
Running the command `au test` I receive the following error

**Expected/desired behavior:**

* **Steps to reproduce**
Create a new

[2017-03-28 20:52] ghidello commented on #472
I just reproduced the issue with a fresh 0.27.0 install creating new default project, i.e.

After setting the rev option to true in aurelia.json, i.e.

I executed 4 times the command `au build` and I found 4 different vendor bundles in the script folder. Comparing the files the differences appear to be related to the order of the aurelia dependencies included in the bundle.

[2017-03-28 20:54] JeroenVinke commented on #568
Yep, support for webpack is tracked in this issue: https://github.com/aurelia/cli/issues/260.

[2017-03-28 20:58] HamedFathi commented on #568
@JeroenVinke

Is there a release time for supporting webpack 2 via CLI ?

[2017-03-28 20:59] RomainLanz commented on #556
Yup. Since it's my library I have configured my compiling task to output CommonJS as default, ES2015 module resolution for TreeShaking and UMD for browser standalone script.

I'll try tomorrow to add it to Aurelia, it should take by default the CommonJS version.

[2017-03-28 21:10] JeroenVinke commented on #568
Not at the moment. We first need to stabilize the CLI, then put in an abstraction so we can add other loaders/bundlers and then hook webpack into that.

[2017-03-28 21:15] #338 closed

[2017-03-28 21:26] JeroenVinke commented on #549
Thanks for creating the issue. I can't seem to reproduce this issue, could you share the exact steps I need to take in order to get this error?

[2017-03-28 21:38] JeroenVinke commented on #367
@AStoker can we close this one?

[2017-03-28 22:50] bawoodruff opened #570 "au install stripe - build failure"
**I'm submitting a bug report**
using the CLI to install stripe, results in a build failure

* **Library Version:**
aurelia-cli 0.27.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.3

* **Node Version:**
6.7.0

* **NPM Version:**
3.10.7

* **Browser:**
Chrome XX

* **Language:**
TypeScript 2.2.1

**Current behavior:**
Build fails:

Tracing stripe...
File not found o

[2017-03-29 06:07] JeroenVinke commented on #570
Hi, stripe is a nodejs package meaning that it can't be used in a browser environment

[2017-03-29 06:07] #570 closed

[2017-03-29 07:06] stuartbloom commented on #566
I have built a new application from the start and it works fine.

I must have something wrong with my current app.  I will go back and rebuild it.

Thanks for your time :)

[2017-03-29 07:06] #566 closed

[2017-03-29 20:11] AStoker commented on #472
Closing this (since it was initially a duplicate). Please resume discussion over at the original issue https://github.com/aurelia/cli/issues/378,
I'll reopen that one.

[2017-03-29 20:11] #472 closed

[2017-03-29 20:12] AStoker commented on #378
Issue was either not fully resolved or has returned: https://github.com/aurelia/cli/issues/472#issuecomment-289901014

...

...

[2017-03-29 20:13] #424 closed

[2017-03-29 20:14] AStoker commented on #367
Pretty sure this has been resolved. If not, please reopen.

[2017-03-29 20:14] #367 closed

[2017-03-29 20:18] JeroenVinke commented on #378
@AStoker I already have a few tests for the Bundler class locally. I'll see if I can add a test case for the [order](https://github.com/aurelia/cli/issues/472#issuecomment-289901014) of the dependencies

[2017-03-29 20:19] AStoker commented on #378
That would be awesome, thanks!

[2017-03-30 01:39] khuongduybui commented on #567
both bugs confirmed

[2017-03-30 03:16] #568 closed

[2017-03-30 10:14] JeroenVinke commented on #554
@AStoker as soon as we've fixed https://github.com/aurelia/cli/issues/378 we could fix this one by using globs in karma to find the vendor-bundle (e.g. `scripts/vendor-bundle*.js`).

[2017-03-30 16:42] shawty opened #574 "AU Cli failing to install dependencies"
I'm submitting a bug report

* **Library Version:**
Not sure, which lib and how do I find this out?

* **Operating System:**
Windows 7 (x64)

* **Node Version:**
6.9.4

* **NPM Version:**
4.0.5

* **Browser:**
Not Applicable (Windows command line only)

* **Language:**
all

* **Current behavior:**
au new <name>, goes through the wizard to create an app skeleton, then fails when trying to install p

[2017-03-30 16:58] JeroenVinke commented on #574
That's strange. I have just created a new app and it installs the packages correctly. Can you clear your NPM cache and try again?

[2017-03-30 17:09] JeroenVinke opened #575 "Support packages without package.json file"
original bug report: https://github.com/aurelia/cli/issues/567

**I'm submitting a feature request**

* **Library Version:**
0.27.0

**Current behavior:**
An error is thrown whenever the bundler expects a package to have a package.json file:

[code]

* **What is the expected behavior?**
The build to continue without errors

[2017-03-30 18:20] avrahamcool commented on #574
may not be related to your problem,
but you should update to latest node and npm and try again.

[2017-03-30 20:26] shawty commented on #574
@avrahamcool - just done that and everything *appears* to be working correctly again.

What threw me a curve ball, was the failiure on the old code base too.

I spotted it, beacuse whatever happened broke my build server build everythime it tried to do an npm install on the clean sources, so running tests confirmed the failiure on the dev machine, and also showed up when trying a new app too.

For

[2017-03-31 04:06] EisenbergEffect commented on #574
@shawty Thanks for looking into this. Please do report back with your finds. We're pretty curious.

[2017-03-31 05:34] #569 closed

[2017-03-31 05:35] #315 closed

[2017-03-31 05:36] #378 closed

[2017-03-31 05:36] #504 closed

[2017-03-31 08:42] stuartbloom opened #577 "Publishing to iis"
Hi there, and happy Friday

I have my application running nicely using `au run --watch`.

Running `au build --env prod` and copying the relevant files to a separate folder and running `http-server` again works great.

Now I want to host the application using iis. copying the files to a folder that iis is hosting (for example http://localhost:8080) I get an error:
![image](https://cloud.githubuserc

[2017-03-31 08:57] ghidello commented on #577
Hi, happy friday to you!
Does IIS have the permission to access a folder in your user's Documents subfolder (these subfolders by default should be accessible only to your uid)?

[2017-03-31 09:03] stuartbloom commented on #577
@ghidello yes, it does :)

[2017-03-31 09:51] stuartbloom commented on #577
Here is something interesting.  If I have a standard router config, the application works fine if I browse to http://localhost:8080/index.html#, however, for one reason or another, my router has the following config:

[code]

and when I have that config I am unable to get the application to run at all

[2017-03-31 09:54] shawty commented on #574
Hi Rob,

Happy to help.  I don't contribute as much as I really should, esp to projects that grab my attention such as AU :-)  (I may write a book about it though ;-)  )

anyway....

it turns out, this:
https://www.npmjs.com/package/sinopia

was the root of all my problems.

Beacuse of the sheer number of NPM packages when doing an "npm install" each time my build server re-built things, I'd set u

[2017-03-31 09:54] #574 closed

[2017-03-31 12:27] stuartbloom commented on #577
just to let folks know, this has been resolved.  I needed to ensure the app pool for my site had its .NET CLR set to "No Managed Code"

[2017-03-31 12:27] #577 closed

[2017-03-31 12:58] AStoker commented on #554
I would recommend **not** running tests off of hashed code. If you want to test production code, test your code in `stage` mode (it's the same thing but without source maps). I don't think we could just use a glob route, because if you're already trying to run tests off of hashed code, that means you're running your dev code as hashed (again, I don't recommend it, I would recommend **not** leaving

[2017-03-31 16:59] EisenbergEffect commented on #574
Thanks for the update!

[2017-03-31 17:00] EisenbergEffect commented on #574
What's the best way to get in contact?

[2017-03-31 17:56] shawty commented on #574
you can contact me anumber of ways, but if it's to do with the comment I made about presentations, just drop me an email at:    peter dot shaw at lidnug dot org , or come find lidnug on Linked-in and message me.

Cheers
Shawty

[2017-04-02 12:34] gravsten opened #579 "failure upon require('./file.js') or require('module/')"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

**Current behavior:**
Tracing fails to find appropriate file when using require('./file.js') or require('module/')

**Expected/desired behavior:**
aurelia-cli should add '.js' only when omitted in the

[2017-04-02 12:36] JeroenVinke commented on #579
Hi, can you provide the error messages for both statements? Thanks

[2017-04-02 12:43] gravsten opened #580 "Error in aurelia.json result in verbose and unreliable error message"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

**Current behavior:**
If any error in aurelia.json (or a dependency missing package.json), error message is too verbose, yet misses the most essential information : what line in aurelia.json caused th

[2017-04-02 13:04] gravsten opened #581 "failure to handle the "browser" field in dependencies' package.json"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

**Current behavior:**
Several libs show a "browser" field in their package.json, which can be of several forms :
1) alternative "main", e.g. "index-browser"
2) arguments, e.g. leveldown = false

aurel

[2017-04-02 13:16] gravsten opened #582 "Sub-dependencies are only treated in their short form (no "path", "deps")"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

**Current behavior:**
Some libraries have different sub-dependencies depending on their version. npm loads those older packages in a subfolder : ../node_modules/LIB/node_modules/SUBLIB/
In aurelia.jso

[2017-04-02 13:18] gravsten commented on #579
The error message is the regular "File not found" error.

[2017-04-02 15:47] JeroenVinke opened #583 "Path must be a string error when package.json of dependency has no main property"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
any

* **NPM Version:**
any

**Current behavior:**
When a package has a package.json file, but no `main` property, it throws the following error during build:

[code]

**Expected/desired behavior:**

It

[2017-04-02 18:35] JeroenVinke commented on #539
If you make [these changes](https://github.com/aurelia/cli/pull/584/commits/87ca276216ba5c1be09e1dba6735f5f46bfe9c87) it will fix the issue. However, I did encounter what looks to be an issue in VSCode: https://github.com/Microsoft/vscode/issues/22711

[2017-04-02 19:03] JeroenVinke commented on #508
Thanks @MarkStega, I got the plugin.load error in your repository. It mentioned `no-selection.html` in a subsequent error. I noticed you had `no-Selection.html` (capital S), and after renaming it to `no-selection.html` the app worked.

[2017-04-02 19:08] JeroenVinke commented on #339
@AStoker can we close this one?

[2017-04-03 14:56] #339 closed

[2017-04-03 18:24] MarkStega commented on #508
@JeroenVinke Thanks; I corrected the filename case and had other errors. I brought down a copy of my repository, fixed the filename, and everything does work. I went back and put the wrong case filename in place. The logging of the bootstrap process could be clearer..

[2017-04-03 20:08] avrahamcool opened #586 "au import recepies"
I've installed some libraries lately, and i've struggled with the way they should be bundled.
I've read somewhere (can't find where) that we can improve the `au import` feature over time by teaching it various package configuration.
I didn't find the appropriate place to do so, so I created this thread.
Hopefully it will grow over time.

here are some of the libraries I recently toyed with.

**Lib

[2017-04-03 20:11] JeroenVinke commented on #586
Much appreciated!

[2017-04-03 23:07] flekschas commented on #549
This bug seems to have been fixed in `v0.27.0`. I can't reproduce it anymore.

Thanks for checking and sorry for the waste of time.

[2017-04-03 23:07] #549 closed

[2017-04-04 03:05] #539 closed

[2017-04-04 03:10] #352 closed

[2017-04-04 06:45] JeroenVinke commented on #508
Thanks for trying it out. What do you mean by logging of the bootstrap process, and how would you like to see it improved?

[2017-04-04 06:47] JeroenVinke commented on #554
I agree with @AStoker

[2017-04-04 06:47] #554 closed

[2017-04-04 08:14] gravsten commented on #581
About 10% of the dependencies in a typical setup, and
**exactly 5,7% of the dependencies in the base Aurelia project** created with 'au new' and the TypeScript option, present a "browser" section in their package.json

aurelia-cli 0.27.0 fails to handle the "browser" section and, considering the above, this post is more like a **bug report** than an enhancement request.

[2017-04-04 08:27] gravsten opened #587 "AMD named modules are not supported"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

* **Operating System:**
Windows 8.1

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Browser:**
Chrome 57

* **Language:**
TypeScript 2.2.2

**Current behavior:**
If an AMD named module is imported (with require), the result is undefined.

[code]

There is no error emitted by require (on the 1st line of the above example),

[2017-04-04 08:59] JeroenVinke commented on #581
Thanks for opening these issues, all of them should be supported by the CLI. Just because they are flagged as enhancements, does not necessarily mean that they do not take priority over issues flagged as bugs. In fact, improving the bundler is a priority of mine, and the issues you've opened will help a lot, so thanks!

[2017-04-04 10:41] JeroenVinke opened #588 "Static json files in dependencies breaks build"
**I'm submitting a feature request**

* **Library Version:**
0.27.0

**Please tell us about your environment:**

* **Node Version:**
all

* **NPM Version:**
all

**Current behavior:**
When a dependency uses `require('./some-json.json')`, the build produces the following error:

**Expected/desired behavior:**

The JSON file to be going through the JSON requirejs plugin and the build not breaking

[2017-04-04 11:37] MarkStega commented on #508
@JeroenVinke BY logging of the bootstrap process I mean a more coherent line by line of something like "Loaded 'no-selection.html'" for success and a line like "Failed to load 'no-selection.html'" rather than the spurious plugin.load error and then the two screen stack trace.

[2017-04-04 11:41] JeroenVinke commented on #508
I agree. We have an issue tracking this: https://github.com/aurelia/cli/issues/287. I'll close this issue now, as this problem seems to be resolved

[2017-04-04 11:41] #508 closed

[2017-04-04 12:16] JeroenVinke commented on #588
This one is very tricky mainly because of https://github.com/requirejs/requirejs/issues/674. SystemJS supports this nicely because you can use `meta`:

[code]

Then whenever a file with the json extension is loaded, the json loader is used. According to https://github.com/requirejs/requirejs/issues/674, RequireJS does not have such option.

This means that we have to prefix all require calls (that

[2017-04-04 12:56] JeroenVinke commented on #588
Another option: all paths that have an extension (other than .js), we set in the `paths` object we path to requirejs. So when `some-package` does `require('./my-file.json')` we set:

[code]

[2017-04-04 15:50] johot commented on #300
We managed to fix this in our aurelia-cli project.

To import use the following syntax:
`import * as config from 'text!./folder/config.json';`

This should work right away, try writing `alert(config)` for example.

Now you will probably see a typescript compilation error in your command line window. To fix this create a file with a `d.ts` extension in your `custom_typings` folder. The file title d

[2017-04-04 22:37] ralexand56 commented on #217
Any updates here on adding electron support? Seems like a gross oversight.

[2017-04-04 22:41] EisenbergEffect commented on #217
It's not an oversight. It's a feature on the list that no one from the community has contributed yet. We'd love you to submit a PR :)

[2017-04-04 22:44] ralexand56 commented on #217
Haha! Fair enough. Still stuck on getting routing working but I will plow one.

[2017-04-05 05:37] simonfox opened #590 "bundling locally defined module"
* **Library Version:**
0.27.0

* **Operating System:**
Windows 10

* **Node Version:**
6.2.1

* **NPM Version:**
4.5

* **Language:**
all

I'm trying to add `npm:uuid@3.0.1` to my project. This package is a node package, but provides an optional browser implementation. I've seen the approach described in https://github.com/aurelia/animator-velocity/issues/13 and am trying to follow that to attempt

[2017-04-05 05:56] JeroenVinke commented on #590
That is because the CLI does not support bundling files outside of of the node modules folder yet. https://github.com/aurelia/cli/issues/567 is similar. A PR that adds this support has been made

[2017-04-05 05:56] #590 closed

[2017-04-05 15:54] AStoker commented on #575
This might help with packages that are css only too

[2017-04-05 16:52] JeroenVinke opened #591 "jquery.inputmask gives file not found error during rebuild of bundle"
**I'm submitting a bug report**

* **Library Version:**
0.28.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
any

* **NPM Version:**
any

**Current behavior:**
1. `npm install jquery.inputmask jquery`
2. use the following config in aurelia.json:
[code]
3. in app.js use `import 'jquery.inputmask';`
4. observe th

[2017-04-05 16:59] JeroenVinke commented on #591
This appears to be happening because of the .js extension in the main property:

[code]

After changing `index.js` to `index` I did not get this error anymore

[2017-04-05 17:09] MisterGoodcat commented on #293
That's not really a good solution, and it's a pity it was accepted into the official code base. Why? This disables incremental builds, and, even worse, triggers multiple successive builds when you save multiple dirty files at the same time ("save all"-features of editors). This then is actually slower than not using the watcher at all and simply performing a full build manually.

[2017-04-05 17:18] pettys commented on #293
@MisterGoodcat I appreciate your perspective, and your concerns are probably valid, but pragmatically speaking, this contribution has been a **huge** improvement in my day-to-day use of aurelia, and I'm glad it was accepted into the code base as quickly as it was. I'm sure once a more robust solution is contributed that addresses your concerns things will get even better, but between the choices o

[2017-04-05 17:43] JeroenVinke opened #592 "If a library in vendor-bundle has sourcemaps, then chrome gets confused about the origin of console.log's"
**I'm submitting a bug report**

* **Library Version:**
0.28.0

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
Chrome

**Current behavior:**
When using the `aurelia-mask` library (or any other library that has sourcemaps), chrome gets confused about the origin of console.log calls:

![img](https://files.gitter.im/aurelia/Discuss/pJ22/thumb/Sele__o_031.png)

At the right side y

[2017-04-05 17:44] JeroenVinke commented on #591
Fyi, the above config was added to aurelia.json via `au import jquery.inputmask`. But I think we should add a guard for this in the bundler, not necessarily the importer

[2017-04-05 18:24] MisterGoodcat commented on #293
@pettys You are of course right that the current behavior is more robust, as in you don't have to keep an eye on the watcher anymore, and restart it when it crashes (which I got pretty used to, actually). The problem however is, that for me there's almost no point in using the watcher anymore, because with anything than simple single file edits the workflow is now significantly slower than before.

[2017-04-05 18:39] pettys commented on #293
@MisterGoodcat Ah, I see your point.

My src folder has 36 .ts files, 18 .html files, and 6 .less files -- sounds like 1-2 orders of magnitude less than your project. I can see now that while this solution was a huge improvement for me, it wasn't universally. Bummer.

I didn't notice the slow-down, and my incremental build is still quite a bit faster than "au build" (~10 sec for au build, ~2 sec f

[2017-04-05 19:55] dnndev opened #593 "Unable to Load 'instantsearch.js' library from Algolia"
**I'm submitting a bug report**
I'm submitting this at the request of @JeroenVinke after a discussion on Gitter so it can be further researched.

* **Library Version:**
0.28.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.3

* **Node Version:**
6.9.1

* **NPM Version:**
4.3.0

* **Browser:**
Google Chrome 57.0.2987.133 (64-bit)

* **Language:**
ESNext

**Current beh

[2017-04-05 20:30] Thanood commented on #293
Maybe there's a way to "debounce" the transpilation..

[2017-04-05 20:33] cosmoKenney commented on #591
FYI, this is my current config in aurelia.json:
[code]
And when I save my custom attribute where I have ```import 'jquery.inputmask';``` I get still get the following errors when I run au run --watch, then subsequently save the file:
[code]

[2017-04-05 21:13] RenathoAzevedo commented on #592
The error related to aurelia-mask: https://github.com/ariovistus/aurelia-mask/issues/10

[2017-04-06 03:59] MisterGoodcat commented on #293
@pettys That project was split into more general features which at this point don't need to be touched very often anymore, spread across six separate projects with 300+ .ts and 40 .html/.less files (think common logic, generic components etc.). Technically, all but one of these take no real dependency on Aurelia and are pre-transpiled using a classic (gulp-based) setup.

The application itself is

[2017-04-06 04:02] EisenbergEffect commented on #293
We're very open to changing how we're handling this, including the gulp watch piece. I'm not sure if we have ideas on what the solution would be right now. If anyone wants to take this and experiment and come back with some recommendations, we'd love that.

[2017-04-06 23:16] simonfox opened #594 "babel-runtime example"
* **Library Version:**
0.27.0

* **Operating System:**
Windows 10

* **Node Version:**
6.2.1

* **NPM Version:**
4.5

* **Language:**
all

This is a question - sorry to spam issues, but I've tried Gitter and SO (http://stackoverflow.com/questions/43243698/aurelia-cli-babel-runtime-and-async-transforms) and haven't had any bites.

I'm looking for some guidance in getting a CLI app working with `bab

[2017-04-07 13:40] AStoker commented on #594
I wonder if this is even possible with the CLI?
First off, by transpiling on the fly on the browser, you will increase load times and lower performance as the browser needs to do the transpiling itself, instead of letting it happen at compile time. But that being said, the CLI needs to trace the code in order to build up a proper config. I'm not sure if Amodrotrace (the tracer we use) can work wit

[2017-04-07 15:19] JeroenVinke commented on #579
The first issue, where the CLI does not handle imports with the `.js` extension correctly, looks to be the same as https://github.com/aurelia/cli/issues/533.

About the second issue, `require('module/')` throwing an error, isn't this a user error? Just checked, and SystemJS has the same behavior.

[2017-04-07 15:49] tochoromero commented on #215
Would this feature allow the Aurelia CLI create a Typescript Plugin skeleton?

In the meanwhile, what are you guys currently using when creating plugins in typescript?

[2017-04-07 17:26] cosmoKenney commented on #591
I just wanted to bump this as I am still seeing the bug behavior on subsequent builds.

[2017-04-07 17:30] JeroenVinke commented on #591
Strange. I will have another look tonight

[2017-04-07 18:26] cosmoKenney commented on #591
I've been looking at the files in the dist and dist/inputmask folders. It looks like the jquery.inputmask.bundle.js is not an AMD module. But files in dist/inputmask are AMD.

What I'm trying to figure out know is how to load those in aurelia.json so I can get all the functionality.

It looks like dist/inputmask/jquery.inputmask.js requires dist/inputmask/inputmask.js. So I think dist/inputmask/jq

[2017-04-07 18:38] cosmoKenney commented on #591
I must be doing something wrong because I just keep getting the same errors.
Here's my current config for jquery, moment (which works fine) and inputmask:
[code]
And my custom attribute:
[code]

Any idea where there is a complete reference for the aurelia.json file?
It looks like the dependencies section is an abstraction that writes your loader config for you? I've tried looking at the RequireJS

[2017-04-07 18:40] JeroenVinke commented on #591
@cosmoKenney mind if I send you a private message on Gitter?

[2017-04-07 18:43] gravsten commented on #579
About the second issue, some dependencies PouchDB exihibit such quirks.
I have built my Aurelia app successfully with SystemJS 0.16.52, but now that I am porting to Aurelia-CLI 0.27.0 this has become a problem.
Anyway, I believe the comparison with SystemJS is irrelevant because `require('module/')`  is unambiguous and thus should be handled gracefully without raising an error (even through some o

[2017-04-07 18:46] JeroenVinke commented on #579
That changes things. What exact package did you have issues with? I'd like to do my testing on that

[2017-04-07 18:49] cosmoKenney commented on #591
Sure

[2017-04-07 19:39] simonfox commented on #594
No I'm not trying to do runtime transpilation. I'm trying to use babel-runtime with the babel-plugin-transform-runtime plugin (see my .babelrc in the SO question).

In the update to the question I have managed to get the build to succeed with a bunch of babel-runtime and core-js dependency definitions. The problem now is at runtime things are failing and it seems to be caused by the order in which

[2017-04-07 21:52] gravsten commented on #579
You will get many errors if you try to add the following PouchDB libraries:
[code]

To start with, some libs (e.g. levelup, readable-stream) fail to declare all their dependencies according to the Aurelia-CLI tracer (e.g. util). So you have to manually update their package.json (and aurelia.json) with the missing dependencies.

And among those libs, **readable-stream** is by far the worst offender

[2017-04-08 12:00] MisterGoodcat commented on #293
@EisenbergEffect I decided to take that challenge :), and spent some more hours today looking into this. I think I found a very promising, comprehensive solution to the problem that not only gets rid of the crashes, but also introduces some *tremendous* performance improvements for the watcher scenario. Let me give you an idea of what I'm talking about:

- As a reminder: full "au build" of our cur

[2017-04-08 18:10] EisenbergEffect commented on #293
@MisterGoodcat Fantastic. Thank you so much for looking into this. @JeroenVinke Can you review this and explore using this research to improve our default tasks?

[2017-04-08 19:37] JeroenVinke commented on #591
@cosmoKenney as soon as you finished trying out the configuration we found together, could you let me know so I can convert this issue into a documentation related issue?

[2017-04-08 20:26] JeroenVinke commented on #530
A good test case for this is https://github.com/aurelia/cli/issues/579#issuecomment-292660994

[2017-04-08 20:31] JeroenVinke commented on #579
@gravsten Thanks for the instructions. The pouchdb thing, having to declare that many package dependencies, is not good, at all. I'm going to use pouchdb as the test case for https://github.com/aurelia/cli/issues/530.

StringDecoder = require('string_decoder/').StringDecoder;
in readable-stream\lib_stream_readable.js

I will look into this, and also https://github.com/aurelia/cli/issues/581

[2017-04-10 12:58] ghidello opened #596 "Generators creating files in the wrong folder"
**I'm submitting a bug report**

* **Library Version:**
0.28.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.2

* **NPM Version:**
4.1.2

* **Browser:**
all

* **Language:**
all

**Current behavior:**
The command `au genarate element` creates the js/html files in the folder `<root>\resources\element`.
The same issue affects all the other ge

[2017-04-10 13:17] AStoker commented on #594
If you have an ordering issue of loading, then confirm the modules you're pulling in are AMD. You want to make sure your modules are able to properly tell the loader what their dependencies are.

[2017-04-10 19:17] JeroenVinke commented on #581
Example package: https://github.com/mzabriskie/axios

[2017-04-10 21:32] jedd-ahyoung opened #598 "aurelia-test in Typescript build: Path module not resolved by TS"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.8.0

* **NPM Version:**
4.2.0

* **Language:**
TypeScript 2.3

**Current behavior:**
Running `aurelia-test` results in a runtime error because the property `join` cannot be found on `path`, which is resolved incorrectly by Typescript.

[2017-04-10 21:38] jedd-ahyoung commented on #598
The quick fix on the user side is to alter line 7 in the generated `test.ts` task from `import path from 'path'` to `let path = require('path')`.

[2017-04-11 05:02] JeroenVinke commented on #598
This got fixed in 0.28.0

[2017-04-11 05:35] #598 closed

[2017-04-11 17:13] JeroenVinke opened #600 "Point out specific file that does failing import"
**I'm submitting a feature request**

* **Library Version:**
0.28.0

**Please tell us about your environment:**
* **Operating System:**
any

* **Node Version:**
any

* **NPM Version:**
any

**Current behavior:**
The "requested by" part of the following error during tracing:

`File not found or not accessible: C:/Development/aurelia-cli-static-json/src/inherits_browser.js. Requested by C:\Developme

[2017-04-12 11:20] arnonuem opened #601 "problems with babel-polyfill"
- **Library Version:**
0.27.0

- **Operating System:**
Windows 7 Professional

- **Node Version:**
7.7.2

- **NPM Version:**
4.4.4

This is more or less a question, i had no response on gitter or stackoverflow.

I have an cli generated project where i added `kotojs ` using npm and then imported it using `au import`.
Kotojs itself depends on `babel-polyfill` so i added it using npm and `au import`.

[2017-04-12 19:05] JeroenVinke commented on #601
Hey @arnonuem

I gave this a shot, and used your config initially. When building it tried to find `d3` which wasn't configured, so I installed it with `au install d3`. This resulted in the following configuration:

[code]

It took a lot of code to get a chart rendered. Here we go:

[code]

And when running the app I got a chart:

![image](https://cloud.githubusercontent.com/assets/2189477/24974746

[2017-04-13 10:17] zedL commented on #435
Any news here?

[2017-04-13 15:47] JeroenVinke commented on #435
@zedL I will take a look at this shortly

[2017-04-13 16:18] stephenhuey opened #604 "0.28.0 always installs projects from a certain directory no matter which directory I am in"
**I'm submitting a bug report**

* **Library Version:**
0.28.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.12

* **Node Version:**
7.9.0

* **NPM Version:**
4.2.0

* **Language:**
ESNext

**Current behavior:**
Just installed node 7.9.0 using nvm and then installed aurelia-cli 0.28.0 (I already had version 0.24 under a different version of node). I have a /code dir

[2017-04-13 16:23] JeroenVinke commented on #604
Just tried this on Windows and it uses the right directory:

![image](https://cloud.githubusercontent.com/assets/2189477/25013949/10d59a5a-2076-11e7-9e18-73a191cee827.png)

I'll have to try this on OSX

[2017-04-13 16:30] stephenhuey commented on #604
Ok, someone on the Aurelia Gitter channel just tried installing the latest and confirmed that au new --here did not work correctly for them and they're running Windows.

[2017-04-14 09:12] agsci2017 opened #605 "Error: Options {"loose":true} passed to babel-preset-es2015/lib/index.js"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli 0.27.0

**Please tell us about your environment:**
* **Operating System:**
Fedora Workstation 25

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
ESNext

**Steps:**
Create project with "au new" using default settings(ESNext by default, with project dependencies installation).
Run project

[2017-04-14 09:38] agsci2017 commented on #605
Localized the problem.
If you create a project using "au new" with long name("aurelia_project1") and then run "au run" you'll get an error("option {loose:true} passed to babel").
If you create a project using "au new" with simple name("aurelia") and then run "au run", tracing, building and server runs without any errors.

[2017-04-14 10:17] agsci2017 commented on #605
aurelia_project1 (err)
aurelia_project2 (err)
aurelia_projecty (err)
aurelia_project (err)
aurelia_projec (ok)
aurelia_proje (ok)
aurelia_proj (ok)
aurelia_projectrge6djghsdjhg3r3 (err)
aurelia_projdir (ok)
aurelia_projection_of_light (err)

It seems that name conflict with internal directory "aurelia_project" happens.
Project name that starts with `aurelia_project` causes an error.

[2017-04-14 10:17] JeroenVinke commented on #605
Thank you for investigating!

[2017-04-14 13:33] MisterGoodcat commented on #293
Quick update: one of my teams used these improvements during the week, and confirms the watcher is rock solid now. It even survives switching large branches, when dozens of files change simultaneously. We can also confirm the above performance numbers accurately reflect day-to-day use. I'm glad I invested that time; it really improved working on the code base a lot.

[2017-04-14 13:47] JeroenVinke commented on #293
@MisterGoodcat Glad to hear! Thanks for your work on this. I will pick this up, I just need to finish work on a couple of other issues first

[2017-04-16 22:25] aleksarias commented on #596
Experiencing the same issue on OSX

[2017-04-18 06:52] arnonuem commented on #601
Thank you very much i will check this out!

[2017-04-18 19:49] JeroenVinke opened #607 "process global variable"
**I'm submitting a feature request**

* **Library Version:**
0.28.0

**Please tell us about your environment:**
* **Operating System:**
Windows

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView

* **Language:**
all | TypeSc

[2017-04-19 08:23] JeroenVinke commented on #607
probably need to do the same for `Buffer` and others defined in: https://github.com/webpack/node-libs-browser/tree/master/mock

[2017-04-19 09:29] JeroenVinke opened #608 "relative paths in the resources property of a dependency"
**I'm submitting a feature request**

* **Library Version:**
0.28.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WK

[2017-04-19 09:49] MeirionHughes commented on #330
I assume this can be closed now

[2017-04-19 09:49] #330 closed

[2017-04-19 14:21] fragsalat opened #609 "Loader with custom plugin results in "plugin.load is not a function""
**I'm submitting a bug report**

* **Library Version:**
0.28.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 16.04

* **Node Version:**
6.3.1

* **NPM Version:**
4.2.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Adding a custom plugin to the aurelia-loader-default causes requirejs to throw the exception "TypeError: plugin.load is not a function"

[2017-04-19 18:35] YardGnomeNinja opened #610 "Scroll binding does not fire"
**I'm submitting a bug report**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v7.4.0

* **NPM Version:**
4.0.5

* **Browser:**
Chrome 57.0.2987.133

* **Language:**
TypeScript 2.2

**Current behavior:**
Scroll binding does not fire.

**Expected/desired behavior:**
Scroll binding fires. (if it's even a feature at t

[2017-04-22 12:49] valeriob commented on #214
Hi,
a long time has passed, is there any update on this feature ?

[2017-04-22 13:19] JeroenVinke commented on #609
Hi, could you explain the use case?

[2017-04-22 13:30] JeroenVinke commented on #467
Closing this one as we have another issue tracking this: https://github.com/aurelia/cli/issues/581. A fix is ready, just need to test a few more things

[2017-04-22 13:30] #467 closed

[2017-04-22 13:53] JeroenVinke commented on #297
I don't think we can do anything here, it should be fixed in the Intl.js library: https://github.com/andyearnshaw/Intl.js/issues/218.

[2017-04-22 13:53] #297 closed

[2017-04-22 14:02] JeroenVinke commented on #214
Hi @valeriob. No update yet unfortunately, we're working on other areas of the CLI first. If you really need this feature then the best way would be to get started on this yourself. If this is something you would like to do, then I can help you out along the way (you can send me a message on Gitter).

[2017-04-22 19:52] fragsalat commented on #609
Yes. We build in our Styleguide components to reduce redundancy over multiple applications with React/Preact because Webcomponents doesn't work out with Firefox. Therefore we want to load React components in Aurelia like in brian smith's aurelia-react-loader plugin. This works well for the Jspm setup but not via the Cli app

[2017-04-23 07:01] JeroenVinke commented on #609
Thanks, I'll take a look

[2017-04-23 08:26] fragsalat commented on #609
Thank you. I couldn't find the Problem or the solution in the short time I had.

[2017-04-24 08:37] powerbuoy commented on #349
@EisenbergEffect Is this a limitation in Aurelia CLI or should one avoid naming packages with a "." regardless?

If it's an issue with Aurelia CLI only, is there any plan to fix it?

[2017-04-25 05:12] jmvtrinidad commented on #265
For several issues that I encounter using @zamotany code, I replaced some of imports with this

[code]

[2017-04-25 10:25] JeroenVinke commented on #349
@powerbuoy could you provide more info so I can reproduce the issue with the chartjs plugin?

[2017-04-25 14:31] AStoker commented on #610
@YardGnomeNinja, I'm going to close this for now since it's not an issue with the CLI.
For your issue in particular, it's probably not firing because you're not scrolling in the `<div>`. Your binding is on the div itself, but without the appropriate classes, you're scrolling on the window, not the div. Take a look at the `styles.css` inside the original gist (https://gist.run/?id=f5b43de0086cddc25

[2017-04-25 14:31] #610 closed

[2017-04-25 16:06] YardGnomeNinja commented on #610
Thanks! It obviously didn't occur to me that this was a styling issue. I see now that simply making the div:
`<div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: auto;" scroll.trigger="handleScrollEvent($event)">` made it work.

[2017-04-25 17:53] AStoker commented on #610
Glad you got it working :)

[2017-04-25 22:26] ghidello commented on #451
Same here, linking my CLI fork in a test project returns me some devDependencies errors that I've not been able to solve.
I'm trying to handle the Subresource Integrity attributes for the bundles so, in order to be able to test my updates, I ended up developing directly in  my test project node_modules subfolder.
How do you normally develop end test cli commands like build or generate?

[2017-04-26 05:20] #567 closed

[2017-04-26 05:20] #575 closed

[2017-04-26 08:40] s-hoff commented on #451
Make the changes in the `aurelia_project` folder of a fresh project or one without any previous changes to the cli, then copy then to your clone. Even if we fix the `npm link` part, this will stay as one is supposed to be able to customize the `aurelia_project` parts.

[2017-04-26 08:45] hadrienl opened #612 "iOS 9 "TypeError: Attempting to change access mechanism for an unconfigurable property.""
**I'm submitting a bug report**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.5

* **Browser:**
iOS 9 Safari

* **Language:**
ESNext

**Current behavior:**

I have the same issue than [here](https://github.com/aurelia/skeleton-navigation/issues/748) but with aurelia-cli and ESNext on i

[2017-04-26 09:35] ghidello commented on #451
I wasn't referring to the code in the aurelia_project folder, sorry if I wasn't clear, but to the actual CLI logic like [bundle.js](https://github.com/aurelia/cli/blob/master/lib/build/bundle.js): that's why I would need to link my fork.

[2017-04-26 10:25] hadrienl commented on #612
The app crash when vendor-bundle.js is uglified (file starting with `function _aureliaConfigureModuleLoader()`). This file is made with `au build`. When I run the app in dev with `au run`, vendor-bundle is not uglified. I've tried copying this file on my remote server, and the error did not appears. There is something in the uglify process which breaks on iOS9.
I can't find where is the difference

[2017-04-26 10:56] hadrienl commented on #612
New indice. If I run `au run --env stage`, then I copy the vendor-bundle.js to my remote server, then it works. The file is uglified, so there is another difference between run and build.

[2017-04-26 11:48] powerbuoy commented on #349
@JeroenVinke All I did was create a new Aurelia CLI project, `npm install chart.js` then add `chart.js` to my dependencies in `aurelia_project/aurelia.json`. The project won't build because the name contains a period.

Thanks to https://github.com/chartjs/chartjs-plugin-deferred/issues/2 I did notice though that as long as I supply a path I can still name the package with a period which makes it a

[2017-04-27 05:43] zewa666 commented on #349
@powerbuoy I dont really think that is feasible as the path is made exactly for this kind of scenarios. @JeroenVinke we could though try to through a better error message, so the users get better instructions how to switch to using the path property.

[2017-04-27 09:55] fragsalat commented on #609
Any news here?

[2017-04-27 10:15] powerbuoy commented on #349
Ok I see, well as long as I can keep the period in the name everything works at least.

[2017-04-27 10:32] JeroenVinke commented on #609
Yes, it has to do with support for multiple plugin loaders. For example when you do `<require from="my-plugin!./some-custom-element"></require>` Aurelia will, in addition to `./some-custom-element.js`, try to load `my-plugin!./some-custom-element.html`. It does this with the `template-registry-entry` loader as `template-registry-entry!my-plugin!./some-custom-element.html`. This is where it fails,

[2017-04-27 10:55] fragsalat commented on #609
No worries I have some day's time :+1:  Thx for your time :)

[2017-04-28 12:52] SalimDr commented on #612
+1, I have exactly the same issue

[2017-04-28 20:00] AStoker commented on #612
I wonder if it's something related to iOS 9 not compatible with whatever the output of the uglifier is. Do you know if it happens on iOS 10?
@hadrienl, did you look at https://github.com/aurelia/skeleton-navigation/issues/748#issuecomment-297533047 for a solution?

[2017-04-28 20:02] hadrienl commented on #612
It works with iOS10, it crashed on iOS9 only (and maybe lesser but I haven't tested it). I have tried many things after reading the #748 but nothing worked.

[2017-04-28 20:05] AStoker commented on #612
It sounds like it's a problem with the uglify options then.
We need two things to move forward
1. A repository/gist where we can reproduce the issue
2. Help from the community to dig into specifically what line is causing the issue

[2017-04-28 21:10] djensen47 opened #614 "Should aurelia-cli be 1.0.0?"
I think it would be awesome if aurelia-cli could be set to version 1.x.x based on the semver definition.

It would make our lives as users a little easier to know whether or not a release is breaking. For instance, at first glance 0.28 to 0.29 does not look like a breaking change but based on the semver definition, I should treat it this way.

Thoughts?

[2017-04-28 21:16] djensen47 opened #615 "Wrong aurelia-cli version for new projects?"
**I'm submitting a bug report**

* **Library Version:**
0.29.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu on WSL)

* **Node Version:**
6.10.1

* **NPM Version:**
3.10.10

* **Language:**
all | TypeScript X.X | ESNext

**Steps**
1. Create a new project
2. Open the package.json

**Current behavior:**
The version for aurelia-cli is as follows:
"aurelia-cli": "^0

[2017-04-28 21:40] JeroenVinke commented on #615
Yes, https://github.com/aurelia/cli/pull/603 will make sure this happens automatically in the future.

[2017-04-29 04:50] AmitM30 commented on #612
Doesn't work on iOS8 too. Have tried

[2017-04-29 07:31] JeroenVinke commented on #614
We're certainly aiming for it, but it's a bit early for that I think.

[2017-04-29 11:52] JeroenVinke commented on #451
I have created a PR with the commands I use to work on the CLI: https://github.com/aurelia/cli/pull/616. Let me know if you have issues when running these commands

[2017-04-29 19:45] bmarotta opened #618 "au aborts Windows batch execution"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.3

* **NPM Version:**
3.10.10

* **Browser:**
N/A

* **Language:**
TypeScript 2.3.1

**Current behavior:**
The au command will abort any Windows batch execution. The problem can be reproduced by creating a 2 lines batch file:

[code]

[2017-04-29 20:10] JeroenVinke commented on #618
I'm not sure why, but I get the same result with any globally installed node module:
[code]

does not echo "Finished" either

This works for me though:
[code]

as well as
[code]

[2017-05-03 04:58] jmvtrinidad commented on #609
These error also appears when creating a plugin then that plugin requires to register in `globalResources` a customElement, see this [introduction](https://tochoromero.github.io/aurelia-table/#introduction) on **Aurelia CLI installation** part. Where it needs to add the html **manually** inside resources. In the behavior of **feature** installing a custom element does not require adding html as a

[2017-05-03 08:07] loaded02 commented on #393
Upvote for a recipe to Manual bootstrapp an aurelia app with cli setup. In the [docs](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/4) it is only documented for JSPM and Webpack setup.

[2017-05-03 08:11] stsje commented on #393
@loaded02 Heres one way of doing it in your index file. Could also just set remove the aurelia-app attribute and let the first required file be one of your own (then from there boostrap aurelia).
[code]

[2017-05-03 13:42] AStoker commented on #618
I experienced this after upgrading from 0.26.0 as well (currently happening on 0.28.0).
So I'm thinking something has changed, just not sure what yet. @bmarotta, I'd appreciate you helping me out digging in to what's happening. I got something else on my plate with a fast approaching deadline, but then I plan on tackling this.

[2017-05-03 19:37] JeroenVinke commented on #612
@hadrienl @AmitM30 since I don't have easy access to iOS8/iOS9, could you try and find out what code it's failing on?

[2017-05-04 05:02] AmitM30 commented on #612
@JeroenVinke Ok. These are from iOS8.1 (iPhone 6 Simulator)

The error:
![image](https://cloud.githubusercontent.com/assets/10666012/25690918/ad519b5c-30b3-11e7-87ed-528ea48ae217.png)

That bundle (doodle.xxxxxx.bundle.js) has a lot of files (aurelia-framework, application source code, a couple of libraries - self written), so if we need details for those, let me know.

Clicking the **1** in the i

[2017-05-04 05:24] AmitM30 commented on #612
Build Settings:
[code]

.babelrc
[code]

[2017-05-04 07:11] JeroenVinke commented on #612
@AmitM30 thanks a lot! Make sure that you are on aurelia-pal-browser 1.2.1: https://github.com/aurelia/pal-browser/releases/tag/1.2.1 which should be the fix for this issue

[2017-05-04 07:47] hadrienl commented on #612
It crashes on the same line for me, I'll get a try :
<img width="446" alt="capture d ecran 2017-05-04 09 46 56" src="https://cloud.githubusercontent.com/assets/225382/25694383/ab4d4464-30ae-11e7-843f-b4d2ef659712.png">

[2017-05-04 07:50] hadrienl commented on #612
It works! 🎉 Thank you so much.

[2017-05-04 08:38] AmitM30 commented on #612
Worked for me too ! awesome. Thanks @JeroenVinke

[2017-05-04 08:39] JeroenVinke commented on #612
Great! Thanks for your help @hadrienl and @AmitM30

[2017-05-04 08:39] #612 closed

[2017-05-04 16:37] JeroenVinke commented on #260
There are a couple of things we need to do to make this work.

- [ ] Change the [new-application.json](https://github.com/aurelia/cli/blob/master/lib/commands/new/new-application.json) to include the webpack as an option
- [ ] Add support to select multiple unit test runners during `au new` since the webpack skeleton supports multiple unit test runners as well
- [ ] Move all folders that are in [t

[2017-05-04 16:40] EisenbergEffect commented on #260
Woohoo! Let's do it :)

One quick note is that we want to enable the requirejs build for systemjs in the future. That should be just a new build-time configuration generation, with everything else being the same. Just want to mention that so you know the requirejs process should be the same for systemjs. That's secondary to getting Webpack up and running. But after Webpack is added as an option, w

[2017-05-04 16:42] JeroenVinke commented on #260
I'd love to add systemjs as well, will keep that in mind!

[2017-05-04 16:56] adriatic commented on #260
Very impressive - despite aurelia-cli not being Monterey 😼

[2017-05-04 17:12] Thanood commented on #260
Maybe I can contribute fusebox when the infrastructure is in place. :smiley:

[2017-05-04 17:17] EisenbergEffect commented on #260
@Thanood Absolutely. If it's similar to the requirejs and systemjs workflow, then it might be very easy to add once we add systemjs.

[2017-05-04 17:22] vegarringdal commented on #260
@Thanood 👍

[2017-05-04 18:54] adriatic commented on #260
The buck stops at that point, @Thanood - I am not joining the core team even if everyone begs me to do that :-). I believe that there is a lot more work on the area outside of core team's domain and that Aurelia's success (at this point) depends a lot more on the successful work in that outside area.

[2017-05-05 11:43] BiggAdd opened #619 "0.29.0 html-minifier breaks inline 'less than' ( < ) comparison operator"
**I'm submitting a bug report**

* **Library Version:**
0.29.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.3.0

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Inline javascript containing a `<` breaks the html minify build step

`
    <div>${1 < 10 ? 'foo' : 'bar'}</div>
`

Javascript defined i

[2017-05-07 21:07] codedbypaul commented on #508
As per the answer [here](http://stackoverflow.com/questions/38026255/including-bootstrap-css-in-aurelia) I had to restart the app after modifying the aurelia.json file to get it find the bootstrap files.

[2017-05-08 06:26] JeroenVinke commented on #508
Thanks @codedbypaul! I will make sure that this gets mentioned in the tutorial

[2017-05-08 13:58] fragsalat commented on #609
Maybe you should introduce a different sign to identify aurelia loader plugins^^

[2017-05-08 14:08] stuartbloom opened #620 "Issue building after moving code to a new machine"
I am moving to a new machine, however, running `au run` or `au build` give me the following errors:

[code]

Attached are my aurelia.jason and package.json files.

I have run `npm install` and everything seems ok.

Any ideas?

Thanks
[files.zip](https://github.com/aurelia/cli/files/983697/files.zip)

[2017-05-08 14:14] AStoker commented on #620
People are going to be hesitant to download a zip file :)
Could you follow the [Issue Template](https://github.com/aurelia/cli/blob/master/ISSUE_TEMPLATE.md)?
Additionally, if you could post a gist so we can view your aurelia configuration there, that would be extremely helpful.

Besides that, some probing questions. Did you copy your node files over, or did you start fresh? I know you ran `npm in

[2017-05-08 14:21] stuartbloom commented on #620
@AStoker

Very sorry :( Here you go, although nmot sure how to go about creating a gist :(

I'm submitting a bug report I'm submitting a feature request

Library Version: 0.26.1
Please tell us about your environment:

Operating System: Windows 10

Node Version: 6.9.5

NPM Version: 3.10.10
Browser: Chrome
Language: TypeScript 2.2

Current behavior: Build fails after moving code/deleting node_module

[2017-05-08 14:23] AStoker commented on #620
@stuartbloom, not a problem.
To make a gist, just hop over to [Gist Run](https://gist.run/) and put your files over there.

[2017-05-08 14:26] stuartbloom commented on #620
@AStoker are there any files in particular since the application has a large number of them; if you want all of them, do i really have to add them one by one?

[2017-05-08 14:27] AStoker commented on #620
In particular the json files you are trying to use, those would be most helpful.
If you have a repository in Git already, you can just post that repo.

[2017-05-08 14:29] stuartbloom commented on #620
@AStoker

Well, i have added the two json files here: [https://gist.run/?id=baeb30183583aacc32b0a75e43b9e492](url)

Hope that helps

[2017-05-08 14:30] AStoker commented on #620
Thanks.
Also, did you do those npm steps I mentioned?

[2017-05-08 14:31] stuartbloom commented on #620
@AStoker
yes, but to no avail :(

[2017-05-08 14:33] AStoker commented on #620
Your error looks like a typescript error. Well, to be specific, it looks like typescript is complaining about semantic errors (it doesn't actually say there's any breaking errors)
[code]
What happens when you just let the build continue? Does the site work?
I'm not a typescript Guru, but perhaps you're missing some kind of types file, or you have a different version of typescript running on your d

[2017-05-08 14:36] stuartbloom commented on #620
@AStoker you are correct.  application runs fine.  I guess I am missing imports. sorry :(

[2017-05-08 14:39] AStoker commented on #620
No problem.
I'm going to go ahead and close this issue. But if we find that there's something specifically wrong with the CLI when it was merged, let's reopen it and figure out how we can make the CLI more portable.

[2017-05-08 14:39] #620 closed

[2017-05-08 19:52] ghidello commented on #618
Globally installed modules are  batch files (with a `.cmd` extension) and, as far as I remember, when you invoke the batch program **a** from another batch the execution flow will stop at the end of **a** unless you prepended it with the keyword **call**.
The command `node .\node_modules\aurelia-cli\bin\aurelia-cli.js build` works, in a batch file, because it is a real executable.
So, my rule of t

[2017-05-08 20:42] ghidello commented on #451
Worked like a charm and sorry for answering so late.

[2017-05-08 20:50] JeroenVinke commented on #609
While I managed to get the custom loader to work for javascript files (by stripping the file extension so requirejs would find it in the bundle), it will take a longer to achieve your bigger goal (rendering react through a custom loader). There are a few bugs we need to take care of first:
- https://github.com/aurelia/cli/issues/607
- https://github.com/aurelia/cli/issues/533 (fix for this is read

[2017-05-08 20:51] JeroenVinke commented on #618
@ghidello Thank you, that does make a lot of sense

[2017-05-09 20:28] JeroenVinke commented on #619
Thank you for filing this issue @BiggAdd. The changes to the first file in https://github.com/JeroenVinke/cli/commit/860bedee01dee66a183c54b200f831099fa30692 should resolve your issue

[2017-05-09 20:34] ghidello opened #623 "Automatic Subresource integrity attributes management for bundles"
I'm planning to host my application static resources, bundles included, on a CDN so I started tackling the problem from the [Subresources Integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) attributes creation and management.
The basic idea is to have a new option in the aurelia.json build object that, when enabled, will trigger the following actions during the

[2017-05-10 03:48] simonfox commented on #594
I am back on this now and have not had any success....in fact I'm now unsure whether `babel-runtime` and require-js can work at all.

Have switched to `babel-polyfill` for now. Might come back to `babel-runtime` when the aurelia cli gets systemjs support.

[2017-05-10 06:22] JeroenVinke commented on #623
@AStoker what do you think, feature-wise?

[2017-05-10 08:37] JeroenVinke opened #624 "Sourcemap improvements"
There are a couple things we should fix regarding sourcemaps.

- [x] **Console.log gets confused of the origin** (https://github.com/aurelia/cli/issues/592)
When webpack encounters a transpiled javascript file with no sourcemap, it creates a sourcemap for the transpiled file. The CLI does not do this, it only adds sourcemaps to the .map file when it finds a sourcemap. If we do what webpack does it

[2017-05-10 08:38] JeroenVinke commented on #343
I have tested this, and a sourcemap is now generated for the vendor-bundle when atleast one sourcemap has been found. Keep an eye on https://github.com/aurelia/cli/issues/624 for further improvements

[2017-05-10 08:38] #343 closed

[2017-05-10 08:40] JeroenVinke commented on #592
Tracking all sourcemap related issues in https://github.com/aurelia/cli/issues/624.

[2017-05-10 08:40] #592 closed

[2017-05-10 08:40] JeroenVinke commented on #532
Tracking all sourcemap related issues in https://github.com/aurelia/cli/issues/624.

[2017-05-10 08:40] #532 closed

[2017-05-10 08:46] JeroenVinke commented on #604
@stephenhuey were you able to reproduce the issue?

[2017-05-10 12:35] EisenbergEffect commented on #624
Sounds good.

On May 10, 2017 1:37 AM, "Jeroen Vinke" <notifications@github.com> wrote:

[2017-05-10 13:12] AStoker commented on #594
Sorry to hear that. We're working on providing additional support for various loaders within the CLI. We'd appreciate any help the community can give!

[2017-05-10 14:30] AStoker commented on #623
You know, there are a lot of neat things/features that you can add onto the CLI since it's just using gulp tasks. For example, I have a whole locale object in my aurelia.json that configures a tool I made to localize my entire application. These kinds of enhancements are helpful to multiple people, but not necessarily everyone.
That being said, things like this I think would be great to add to our

[2017-05-10 15:34] JeroenVinke commented on #623
That's very important, yes. How would you feel about opening up the build system a bit more, allowing you to hook into more things

[2017-05-10 15:41] AStoker commented on #623
I think that could be incredibly powerful/helpful.
I think we'd get more bang for our buck by keeping the CLI streamlined, but allow it to be "plugged" if you will, so people can add any which feature they desire. Right now you can (mostly), but it's not necessarily intuitive on how. Perhaps a bit of refactoring to include a few lifecycle callbacks of the build process could go a long way.

[2017-05-10 17:32] ghidello commented on #623
Indeed having this kind of extensibility and a plugin system would be very nice: for my current implementation I simply followed the code for the "rev" option and so I polluted quite a bit the poor bundle.js file, which is already pretty busy by itself, and a number of other core modules. For a pull request my code should be definitely refactored out in a new module and hooked somehow in the main

[2017-05-11 08:50] chpaulin opened #626 "Module consolidation with index.d.ts files does not work"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.4

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
TypeScript 2.2

**Current behavior:**
The Aurelia-CLI build system complains that it cannot find a js file with the same name as the folder in the same path as the fol

[2017-05-11 12:51] chpaulin commented on #626
After some digging we figured that I hasn't worked this way before either when it comes to module loading. It works great for definition imports but not if you plan to use any logic from these imports.

Tried to create an all.ts file with the same content as the index.d.ts file in the initial post and imported it using:
`import { A, B, C } from './models/all'`

This worked! However naming it index

[2017-05-11 12:58] JeroenVinke commented on #626
Hey @chpaulin, glad you figured it out.

As far as I know, only in NodeJS can you omit the `index.js` part, not in a browser environment

[2017-05-11 13:06] #626 closed

[2017-05-11 16:03] alecb67 opened #627 "Different aurelia.json options dependent on environment"
**I'm submitting a feature request**

* **Library Version:**
0.29.0

**Please tell us about your environment:**
* **Operating System:**
10

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Related to issue #403

We can now specify, with the useAbsolutePath flag, a baseUrl, which has allowed us to call the vendor-bundle file from

[2017-05-12 00:33] simonfox commented on #594
OK I decided to have one more crack at this and have found the answer....see the [stackoverflow post](http://stackoverflow.com/questions/43243698/aurelia-cli-babel-runtime-and-async-transforms) for details.

@AStoker I'd love to help with SystemJS support, but I'm only just getting used to the CLI and not sure I'd even know where to start (I'm in the middle of a migration from JSPM/SystemJS). Has

[2017-05-12 03:01] simonfox commented on #309
I am running into this just now (moving an app from JSPM to CLI). I would be happy to spend some time looking at it if somebody could give me some guidance?

cc @EisenbergEffect

[2017-05-12 03:25] EisenbergEffect commented on #309
@JeroenVinke is the best person to provide guidance on this issue.

[2017-05-12 05:22] simonfox commented on #594
One issue I can't get to the bottom of.....looks like there is something still up with bundle config as I'm getting the following requirejs error:
[code]

Haven't been able to get to the bottom of it, have created a minimal repro @ https://github.com/simonfox/aurelia-cli-issue

just needs `npm i` `au run`

[2017-05-12 06:47] JeroenVinke commented on #594
It seems to not like [this anonymous define](https://github.com/zloirock/core-js/blob/9d7db4ad4f59323cfe87516967bc8c054927bcfa/client/core.js#L8262) of core-js.

I think we'll have to look into using the requirejs optimizer (or something that does the equivalent) in the build, because the [website](http://requirejs.org/docs/errors.html#mismatch) says:

[2017-05-12 07:05] JeroenVinke commented on #309
Now that I think of it, https://github.com/aurelia/cli/pull/589 will allow us to alias modules because it enables the use of the `map` property in the requirejs config:

[code]

[2017-05-12 07:08] JeroenVinke commented on #594
@simonfox i'm working on webpack integration currently, but if you'd like to work on SystemJS integration, then that would be great. Just shoot me a PM in Gitter and i'll give you some pointers

[2017-05-12 07:31] krokofant opened #628 "Tests: Support for non-specified browser like angular-cli --browsers"
**I'm submitting a feature request**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
macOS Sierra

* **Node Version:**
v7.10.0

* **NPM Version:**
4.5.0

**Current behavior:**
Currently it seems like the CLI targets a specific browser. I don't find it clear how. My setup is that I'm using Chrome Canary as default but have Chrome stable installed.

[2017-05-12 13:07] jwx opened #629 "Feature request: add config command"
**I'm submitting a feature request**

**Current behavior:**
The CLI doesn't have an easy way to modify the project configuration.

**Desired behavior:**
I've created a CLI command according to the following:

------
au config &lt;key&gt; &lt;value&gt; --get --set --clear --add --remove --no-save --no-backup

    Gets or sets configuration for the Aurelia application.

    key (optional) - The key

[2017-05-12 13:12] AStoker commented on #594
@JeroenVinke, what do you think about opening up a separate issue for supporting System JS and we can collaborate there? That might open it up for others to be able to contribute as well. @simonfox, does that sound helpful?

[2017-05-12 13:56] netrounds-joakim opened #630 "Is this still Alpha software? Update README?"
Does this big disclaimer in the README still hold:

I read this and immediately didn't consider using this. So if this is no longer true maybe it should be removed?

[2017-05-12 15:35] JeroenVinke commented on #630
Even though it's getting better, it's still not very easy to configure some 3rd party libraries. So this disclaimer is still relevant.

[2017-05-12 18:53] JeroenVinke commented on #594
@AStoker good idea, will do that!

[2017-05-12 19:27] JeroenVinke commented on #217
Interesting use case: some packages use nodejs specific packages. While this will likely not work in a browser environment, in electron these nodejs packages are available

[2017-05-12 19:40] arabsight commented on #594
Hi, It would be nice to have an abstract loader-agnostic core, and have the implementations as plugins or something, so people can create  implementations for specific loaders.

[2017-05-12 19:41] AStoker commented on #630
I tend to agree with @JeroenVinke. We're still trying to make this awesome, and doing so might at some point require some breaking changes (I hope it doesn't). I think it's best we leave it in alpha until we have some of our major goals taken care of (support for multiple loaders, easy configuration, pluggable build process...)

[2017-05-12 19:41] #630 closed

[2017-05-12 19:43] AStoker commented on #594
That is the goal @arabsight. Last time I was in there I was trying to take a few steps to accomplish that, but to truly be loader-agnostic requires some more work. Work that I would love to have implemented. Any help from the community is _greatly_ appreciated, as always 😄

[2017-05-12 20:03] #614 closed

[2017-05-12 20:05] JeroenVinke commented on #402
Closing in favor of https://github.com/aurelia/cli/issues/627

[2017-05-12 20:05] #402 closed

[2017-05-12 20:06] JeroenVinke commented on #627
We should see if there's a way to do this for all properties, for example the `paths`: https://github.com/aurelia/cli/issues/402

[2017-05-12 20:16] JeroenVinke commented on #628
You should be able to modify the gulp task rather easily. In `aurelia_project/tasks/test.js` do the following:

[code]

Then you can do `au test --browser firefox` or `au test` if you want to use Chrome.

[2017-05-12 20:16] #628 closed

[2017-05-12 20:35] JeroenVinke commented on #198
### SystemJS support

I think the best way to start working on this is to first create a new aurelia-cli project (with requirejs) and modify that project to work with systemjs. You'll probably want to follow [these instructions](https://github.com/aurelia/cli/pull/616/files) to be able to make changes to the CLI easily. As soon as the project is working with SystemJS, we can teach the project crea

[2017-05-13 04:39] simonfox commented on #198
Cool thanks @JeroenVinke will take a look early next week!

[2017-05-15 01:19] DrSammyD commented on #556
FYI this is an issue i'm running into with the new bootstrap 4 package
![image](https://cloud.githubusercontent.com/assets/774363/26039614/d598e7d4-38d1-11e7-98ad-2989fc4fd34f.png)

[2017-05-15 02:08] DrSammyD commented on #556
Looks like Amodrotrace just updated their esprima dependency! https://github.com/amodrojs/amodro-trace/releases/tag/1.0.0

[2017-05-15 14:25] netrounds-joakim commented on #630
Ok sounds like a good approach...

It would be good with documentation on what all the configuration that `aurelia.json` controls. And also, being able to have more fine grained control on what is added in the generated project. As a beginner getting ~100 files or whatever generated is a bit overwhelming. It would be nice to be able to get a very simple project to start with, and then be able to a

[2017-05-16 03:41] simonfox commented on #198
Right I've started to look at this @JeroenVinke and I've run into a couple of things and one problem I haven't been able to get to the bottom of...

1. I don't think we can include the loader in `vendor-bundle.js` the same way it is with requirejs. Instead it needs to be loaded via a standard script tag. This may also mean `bundle.prepend` in `aurelia.json` would need to be added as standard scrip

[2017-05-16 04:06] simonfox commented on #594
systemjs support being tracked at #198

[2017-05-16 04:06] #594 closed

[2017-05-16 05:38] JeroenVinke commented on #198
Great work @simonfox! I can look into this tomorrow

[2017-05-16 20:41] AStoker commented on #630
The goal is for the startup CLI project to have everything you need for a reasonable startup. We don't want the kitchen sink, but we don't want you to have to download 20 other packages every time you create a new project. So there's a balance there, and if you feel the balance is off, we'd love to hear your thoughts about what could be added/removed.

[2017-05-16 20:48] AStoker commented on #198
Just taking a quick peek, I'm kinda loaded up at work right now.
But something stuck out. This line (https://github.com/simonfox/cli-systemjs-loader/blob/b859e36ced617cea534e209613928b2970be8944/scripts/vendor-bundle.js#L21446) seems to reference the bootstrapper at a higher level. I wonder if that's throwing off all the imports to request files at a different path than they're defined as, and the

[2017-05-16 22:11] simonfox commented on #198
Ah sorry @AStoker ....in the latest commit that is not how it is configured (the mappings are at a consistent level)...I had been trying a bunch of variations of the mapping and published it inconsistent like that by mistake. Thanks for taking a look though, will keep this thread updated if I make any further progress.

[2017-05-17 00:17] simonfox commented on #198
@JeroenVinke @AStoker to check the config, I installed `systemjs-builder` and built true systemjs bundles using that config (only change I made was to replace `src` with `lib` as I transpiled the es6 to that folder for bundling). And it works (NOTE I didn't inline the html templates as part of the bundling as I just wanted to do a quick test so these are still loaded individually).....

![network]

[2017-05-17 18:28] JeroenVinke commented on #198
Do I need a modified version of the CLI to run https://github.com/simonfox/cli-systemjs-loader?

Also, could you share the bundle you created with systemjs-builder? I'm curious to see what it tells the systemjs loader vs what we tell it

[2017-05-17 23:31] simonfox commented on #198
@JeroenVinke

Right I've found the issue....SystemJS needs the bundle define to contain full mapped path i.e.
`define("aurelia-bootstrapper", ....`
needs to be
`define("node_modules/aurelia-bootstrapper/dist/system/aurelia-bootstrapper.js", ...`

Do I need to look into [amodro writeTransforms](https://github.com/amodrojs/amodro-trace#write-transforms)?

[2017-05-18 02:36] simonfox commented on #198
@JeroenVinke OK ignore my last post....I feel dumb!

If you replace the generated `_aureliaConfigureModuleLoader` in `vendor-bundle.js` with the following it will just work.

[code]
Because the r.js bundle uses normalized names for define there is no mapping required (at least for this simplist of cases)!

The only issue I haven't solved now is how to load templates. `app.html` is still being load

[2017-05-18 07:18] JeroenVinke commented on #198
Nice work @simonfox!

I've been digging and think it's working now. The app-bundle should be loaded by SystemJS. So what I did was comment out the app-bundle script tag from index.html. Then I've used the following config in vendor-bundle:

[code]

Note that you need SystemJS's text loader: `npm install github:systemjs/plugin-text --save`. In aurelia.json, change `"text"` in the dependencies secti

[2017-05-18 08:45] simonfox commented on #198
@JeroenVinke that works!...we can actually remove `baseUrl` as well
[code]
there is one other manual change I made in `app-bundle` that we will need bundle generation to do for systemjs - I changed the define moduleId for the template from require text!app.html to [systemjs app.html!text](https://github.com/simonfox/cli-systemjs-loader/blob/9beb8faa882c85df18c3056db2df96b5ce63c730/scripts/app-bund

[2017-05-18 08:58] JeroenVinke commented on #198
@simonfox excellent!

Could we maybe use https://github.com/aurelia/cli/blob/master/lib/build/loader-plugin.js#L39?

[2017-05-18 09:29] simonfox commented on #198
@JeroenVinke perfect!

I'll get onto the actual cli changes tomorrow.

[2017-05-19 05:14] simonfox commented on #198
@JeroenVinke right I've got the guts of this done in https://github.com/simonfox/cli/tree/feature/systemjs-support

I'll get onto the `au new` changes next....

Let me know if you have any initial comments on what I have already done!

[2017-05-19 05:55] EisenbergEffect commented on #198
@simonfox We really appreciate you working on this! Keep up the great work!

[2017-05-19 11:53] simonfox commented on #198
@JeroenVinke I've made most of the `au new` changes...

Last thing is `index.html`. Should I just change the resources folder to have a `require.index.html` and a `system.index.html` and then output the correct one to the project `index.html`?

[2017-05-19 13:05] AStoker commented on #198
Echoing what the Eise' Man said, thanks so much for your help on this @simonfox! Really appreciate you working with him on this too @JeroenVinke.
Power Team, go! 💪 💥

[2017-05-19 16:39] jwx commented on #293
I'm working on the PR for this and could use a hand when it comes to real life testing. So if you've got a project that's experiencing some of the issues mentioned above (crashes when saving multiple files and poor performance from the watcher), it'd be great if you could get in touch.

[2017-05-19 18:50] JeroenVinke commented on #198
Nice work @simonfox. I wonder if the builder pattern may be a bit too much. While the SystemJS and RequireJS config are very similar, those two may be the only ones that could benefit from the builder pattern. What do you think?

[2017-05-19 18:53] JeroenVinke commented on #198
Yes, that sounds fine to me.

I'm curious though, why can't systemjs be bundled?

[2017-05-19 20:14] simonfox commented on #198
@JeroenVinke yes good point, I'm not familiar with Webpack but just had a quick look and the config is a bit different. The steps I've added are very granular leaving most of the template in place, maybe if the template had chunkier steps it might work. I will roll it back for now.

Have just moved systemjs to the bundle and can confirm it does work (now we have the necessary config correct). Two

[2017-05-19 20:32] JeroenVinke commented on #198
@simonfox having a requirejs.index.html and systemjs.index.html should be fine. That would allow you to put `SystemJS.import('aurelia-bootstrapper")` in index.html

[2017-05-22 05:40] #596 closed

[2017-05-22 06:59] gama410 commented on #293
I have not had any problem since april with the fixes introduced in that version.

[2017-05-22 10:10] jwx commented on #393
I really like the concept of adding recipes! In my opinion, however, there's three different categories that's been mentioned in this discussion:

1) Tasks/functionality that the CLI should support without the need for additional code from the developer. This category includes, but is not limited to, tasks/functionality for configuring the project/configuration file, installing third party librari

[2017-05-22 16:40] timfish commented on #217
electron-forge is the simplest way to get electron up and running with your favorite framework.

I can't help but notice that Aurelia is missing from the [list of available frameworks](https://beta.electronforge.io/templates) and it looks like it could be as simple as submitting a pull request 😆
https://github.com/electron-userland/electron-forge-templates/

I'm happy to have a go at this. electro

[2017-05-22 16:41] EisenbergEffect commented on #217
@timfish If you can look into this, that would be great. Let us know what you find out.

[2017-05-22 17:14] MisterGoodcat commented on #293
@jwx If you want to reproduce the original crash, a trivial setup is sufficient. Like:

- Create a new project. Make sure you have at least one .ts file and one .html file in your src folder
- Start the watcher
- Change both the .ts and .html file (trivial change like a white space or similar), but do not save
- Use the "save all" feature of your editor to invoke both internal gulp watchers in a s

[2017-05-23 08:23] jwx commented on #530
I'm working on a PR for this.

[2017-05-23 14:37] fragsalat commented on #609
Hey there. How did you strip the extension to get the custom loader working?
Maybe I can help in fixing the other things to get it work.

We'll need this in some weeks and it would be cool if we could use the cli tool instead of the skeletons :)

[2017-05-23 15:45] JeroenVinke commented on #609
I used the following:

[code]

You're welcome to look into this, although it may be difficult to get it working in just a few weeks. Let me know if you get stuck.

[2017-05-23 19:16] jlissner commented on #223
Has this been implemented yet?

[2017-05-24 05:04] JeroenVinke commented on #223
Hey @jlissner, not yet. The quickest way to get this feature in is to work on it yourself. If you are interested, let me know. I can provide guidance.

[2017-05-24 11:08] fragsalat commented on #609
This is working for you? In my test application I never reach the fetch function.

[2017-05-24 18:20] gheoan commented on #619
Surprisingly, that is not valid HTML. Use `<div>${1 &lt 10 ? 'foo' : 'bar'}</div>` instead. The question is if we should workaround it or not.

[2017-05-24 23:19] BiggAdd commented on #619
Its not valid HTML, but the whole point of using the ${} notation is to treat anything inside it as an expression, like ES6 template literals, so in fact ${ 1 < 10 ? ...  } should be supported.

I've not had a chance to test it, but it looks like JeroenVinke has pushed a fix for it.

[2017-05-25 06:30] JeroenVinke commented on #609
@fragsalat could you try [this app](https://github.com/JeroenVinke/aurelia-cli-609)?

[2017-05-25 06:32] JeroenVinke commented on #601
@arnonuem did you get this working?

[2017-05-25 12:09] jwx commented on #293
@MisterGoodcat I can't reproduce the issue according to your description, so at least that is taken care of.

It'd be great if you could see if you experience any improvement in performance. You can install the branch with: npm install git://github.com/jwx/cli#improve-tasks-watch. The new/changed tasks are _build_, _run_ and _watch_.

Please let me know here or on gitter if you've got any question

[2017-05-26 18:37] arnonuem commented on #601
Oh sorry for not coming back on this. Yes it worked. Thank you! This issue can be closed.

[2017-05-26 18:57] JeroenVinke commented on #601
Yeah that's a weird one. Glad you got it working

[2017-05-26 18:57] #601 closed

[2017-05-28 16:13] MisterGoodcat commented on #293
@jwx Beautiful! I did not perform detailed benchmarks, but using your branch results in approximately the same performance as with my own implementation. Even with our largest project, and changing a dozen html and TypeScript files simultaneously, it only takes a few seconds to finish - perfect! And of course that means I also can confirm the crash is taken care of with your changes.

Thank you al

[2017-05-29 07:07] fragsalat commented on #609
Ah I saw the difference.

Before the require syntax was like <path>!<plugin> but now the direction switched.
old
[code]
new
[code]

Now I got the same error like you

[2017-05-29 10:02] Anthony-Mckale opened #633 "fix/enhancement(cli): add bundle report flag"
**I'm submitting a feature request**

**Current behavior:**
bundle contents are configured by aurelia json config, but the actual files concat-ed into the build are not shown

**Expected/desired behavior:**
increase visibility of what each bundle contains

* **What is the expected behavior?**
by adding a flag say au build --bundle-report=console

one could have the contents of created bundles outp

[2017-05-29 10:18] Anthony-Mckale commented on #633
have some code to do this, will do pull request from here, once i have it cleaned up

https://github.com/Anthony-Mckale/cli-bundler-report-flag

[2017-05-29 21:22] jwx commented on #293
@MisterGoodcat Thanks for taking a look! Glad it looks okay. I'm not surprised it performs like your implementation, though, because a lot of it pretty much _is_ your implementation. :)

[2017-05-31 07:42] TuhinAtha opened #634 "'au generate element' creating new 'resource' folder outside the src folder"
I created a custom element named as 'header' using **au generate element**.
In result, a new **resource** folder has been created under the root of the project directory. (highlighted with red box)
![aurelia](https://cloud.githubusercontent.com/assets/29048460/26620762/b7aaf356-4601-11e7-9e64-b67c73383c6b.JPG)

Though we have another **resource** folder inside **src** (highlighted with green box),

[2017-05-31 07:49] JeroenVinke commented on #634
Hey @TuhinAtha, thanks for reporting this issue. This has been fixed in master (https://github.com/aurelia/cli/pull/599) and will be in the next release.

[2017-05-31 07:49] #634 closed

[2017-05-31 14:47] fragsalat commented on #609
So thanks to you I managed it to make it working but I had several problems.
For instance there is a module called "prop-types" which is used by React / Preact which is written for nodejs environment. So the process variable I could mock with a script injected even before requirejs but the real problem was that module.exports wasn't there. So instead of having the real prop-types module I created

[2017-05-31 14:47] #609 closed

[2017-06-01 14:43] JeroenVinke opened #636 "Using Uglify 3.0 results in errors"
**I'm submitting a bug report**

* **Library Version:**
0.29.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebVi

[2017-06-01 14:54] RomainLanz opened #637 "[Proposal] Moving files & packages to aurelia-cli"
Hey everyone ! 👋

[2017-06-01 14:54] #637 closed

[2017-06-02 06:51] RomainLanz opened #638 "[Proposal] Moving files & packages to aurelia-cli"
Hey everyone ! 👋

After the default installation of `Aurelia` with the CLI somes files are created under `aurelia_project`.

Those are Gulp's tasks, stubs for generators, environment configuration and the `aurelia.json`.

I think that those files shouldn't be managed by the developer.
All gulp packages and tasks can be moved inside the CLI and same goes for stubs.

This will allow the aurelia team

[2017-06-02 07:02] JeroenVinke commented on #638
Hey @RomainLanz. Having the gulp tasks in the project (as opposed to in the CLI ) allows developers to easily modify and extend them, which many developers do. I believe this is a big plus, and I would like to keep it that way. We can definitely improve the update process, which is tracked in https://github.com/aurelia/cli/issues/231, but we have other priorities to take care of right now.

We're

[2017-06-02 07:14] RomainLanz commented on #638
Do you have some statistics about how often people change those tasks?

I think the default setup should be always the most simple one for newcomers or advanced developer but you should have the possibility to extend easily.

That's why React provide nothing by default but you can still use the `eject` command that will move all tasks/stubs/etc to the project.

[2017-06-02 07:26] JeroenVinke commented on #638
Ah yes, [this](https://github.com/facebookincubator/create-react-app) is actually something we are going to look at in the future.

[2017-06-02 08:18] VagyokC4 commented on #591
Is there any update on this?  I'd like to use this control with Aurelia, and while I have it partially working, I'd like to take advantage of the alias:phone and alias:email which appear to require loading other resources along with the main resource.  Do we have an Aurelia Attribute example?

[2017-06-02 08:23] JeroenVinke commented on #591
@VagyokC4 could you provide more info, what setup you use, which resources it tries to load etc?

[2017-06-04 02:06] AustinBrunkhorst opened #639 "Bundler does not support updating revisions on scripts without quotes on src attribute"
**I'm submitting a bug report**

* **Library Version:**
0.29.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.5

* **NPM Version:**
5.0.2

* **Browser:**
all

* **Language:**
all

**Current behavior:**
The bundler is unable to match `<script>` `src` attribute without quotes while attempting to update revisioned bundles.

Given a minified `in

[2017-06-05 08:41] djensen47 opened #641 "Using sass files from node_modules [question]"
I'm attempting to use the Sass `scss` files from the material-components/material-components-web project. All of the scss for each of the components actually live in `node_modules/@material`. This seems to pose a problem when I'm trying to `@import` from my scss file:

[code]

The problem is that all of the mdc scss file import relative to `node_modules`.

[code]

I've spent quite a bit of time se

[2017-06-05 09:09] djensen47 commented on #641
It looks like if I update `tasks/process-css.js` to pass the `includePaths` option with the node_modules location, then everything works.

[code]

Is this the correct way of solving this?

[2017-06-05 15:53] EisenbergEffect commented on #641
That's the way 😀

On Jun 5, 2017 2:09 AM, "Dave Jensen" <notifications@github.com> wrote:

[2017-06-05 17:04] djensen47 commented on #641
Thanks!

[2017-06-05 17:04] #641 closed

[2017-06-08 00:13] jwx commented on #442
I'm working on a PR that would in a way solve this. Here's what I currently have:
In `aurelia.json`, the `build.targets` would change from
[code]
to
[code]
It wouldn't be a command line argument, but you'd be able to configure it quite easily. Would this work for you? Any comments?

[2017-06-08 00:20] jwx commented on #627
I'm working on a PR for a different issue that would also solve this, but somewhat differently. Here's what I currently have:
In `aurelia.json`, the `build.targets` would change from
[code]
to
[code]
It's not exactly the format you suggested, but it'd still achieve the same result. Would this work for you? Any comments?

[2017-06-08 00:27] jwx commented on #563
I'm working on a PR that would also cover this. Here's what I currently have:
In aurelia.json, the `build.targets` would change from
[code]
to
[code]
and so on. Would this work for you? Any comments?

[2017-06-08 08:43] stevies commented on #563
I've not really been using Aurelia for a while, but that could be good.

Not sure if having the prod baseURL hard-coded would be ideal - but I guess that could be overridden at build time somehow. The way I see it is that I might want to run a "production" level build locally out of localhost or on a build box just to test it works, then deploy the built bundle without touching it again.

[2017-06-08 09:26] Krossmaskinen opened #643 "Generated resources end up in root/resources instead of src/resources"
**I'm submitting a bug report**

* **Library Version:**
0.29.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.3

* **NPM Version:**
5.0.3

* **Language:**
TypeScript

**Current behavior:**
au generate value-converter (and other resources) generates the resource in `/resources/`

**Expected/desired behavior:**

au generate value-converter sh

[2017-06-08 09:40] JeroenVinke commented on #643
Hi @Krossmaskinen. Thanks for opening this bug report. A fix for this will be included in the next release.

[2017-06-08 09:40] #643 closed

[2017-06-08 09:47] jwx commented on #563
@stevies The baseUrl isn't necessary (and wouldn't normally be used). I did a copy-paste from a different post that included baseUrl and forgot to remove it. Sorry for the confusion. Also, it'll most likely end up being
[code]

[2017-06-08 09:51] stevies commented on #563
Looks good.

[2017-06-08 13:40] AStoker commented on #618
Can we mark this as closed given the case Ghidello gave? @bmarotta, does that work for you?

[2017-06-08 18:37] avrahamcool commented on #638
I don't know about statistics, but I for one rely on the fact that I can change the build/run task for my projects.
it can be a simple `convention over configuration` approach, where you have the ability to modify everything with ease if you want to, but you don't need to do anything if you just want the defaults.

[2017-06-08 18:41] avrahamcool commented on #231
any update on how to safely upgrade an existing project from older CLI?

[2017-06-09 06:25] JeroenVinke commented on #231
Not yet, [this](https://github.com/aurelia/cli/issues/231#issuecomment-232640666) is still the way to go

[2017-06-09 07:46] RomainLanz commented on #638
Hey @avrahamcool !

And you will still be able to do that!

So my thinking was to get the `convention over configuration` first, if you need to change something (task, template, etc.) you only need to "eject" those file and you'll end the same has you are right now (with all the files in the project).

[2017-06-09 11:55] bmarotta commented on #618
Fine for me

[2017-06-09 11:55] #618 closed

[2017-06-10 07:27] #198 closed

[2017-06-10 07:28] #516 closed

[2017-06-10 07:28] #605 closed

[2017-06-10 07:28] #478 closed

[2017-06-10 07:28] #538 closed

[2017-06-10 07:29] #451 closed

[2017-06-10 07:29] #619 closed

[2017-06-10 07:29] #583 closed

[2017-06-10 07:30] #562 closed

[2017-06-10 12:14] #293 closed

[2017-06-11 05:55] #265 closed

[2017-06-12 19:06] AStoker commented on #198
Great job @simonfox and @JeroenVinke for getting this in!!! 👏 🎆

[2017-06-13 09:39] Lichtjaeger opened #645 "`au new` get stuck after the first question"
**I'm submitting a bug report**

* **Library Version:**
0.30.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10 (15063)

* **Node Version:**
8.1.0

* **NPM Version:**
5.0.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
After answering the first question of `au new` or `au new some-name` PowerShell doesn't accept any input (including ctrl + c). Tried

[2017-06-13 09:47] arabsight commented on #645
same issue, with the same node and npm versions, happened only when I updated those.

[2017-06-13 09:50] JeroenVinke commented on #645
I can confirm this behavior with nodejs v8.1.0, but not with v7.10.0. Weird

[2017-06-13 09:58] JeroenVinke commented on #645
Could be related to https://github.com/nodejs/node/issues/13557

[2017-06-13 10:16] JeroenVinke commented on #645
I'd recommend to downgrade to v8.0.0 @arabsight and @Lichtjaeger

[2017-06-13 10:21] Lichtjaeger commented on #645
Works. Thanks.

[2017-06-13 11:17] JeroenVinke commented on #645
I'm going to reopen this for visibility, atleast for a little while

[2017-06-13 21:15] SolidStateLEDLighting opened #646 "New Loader identifies errors incorrrectly"
**I'm submitting a bug report**
New loader reports incorrect failure error.
NOTE: previous version of loader was hopelessly flawed with dealing with aws-sdk library.

* **Library Version:**
Australia CLI  0.30.0

**Please tell us about your environment:**
* **Operating System:**
Linux / Ubuntu V16

* **Node Version:**
7.10.0

* **NPM Version:**
4.2.0

* **Browser:**
all | Chrome XX | Firefox XX |

[2017-06-14 02:23] enriqueMartinezInter commented on #645
With the new nodejs 8.1.1 version that just got released the issue is gone.

[2017-06-14 02:34] EisenbergEffect commented on #646
@JeroenVinke Can you look into this case specifically? I think making sure that we have a solution for working with the AWS JS library is important. Thanks!

[2017-06-14 04:48] simonfox commented on #646
How exactly are you trying to use `aws-sdk`?

It is a node.js package that happens to contain a dist that is suitable for use in the browser. Because of this `au install/import` won't get the bundle config correct.

The bundle config you need is
[code]

After which you should be able to (sorry ES6, but shouldn't be much different for TS):

[code]

[2017-06-14 05:07] simonfox opened #648 "Unit test helpers not loaded correctly when using SystemJS"
@JeroenVinke I have found a case where `au test` will break when using SystemJS......but I also have the solution, just wanted to run past you...

If you define a module in the test folder (for example a mock) and then import that into your test, it does not get loaded (404's). e.g. add `/test/unit/helper.js` then in `app.spec.js` add `import {MyMock} from './helper';`. This is because it is not d

[2017-06-14 05:16] JeroenVinke commented on #648
I wonder why this isn't needed for the skeletons. Is it because of `  defaultJSExtensions: true,` ?

[2017-06-14 05:23] simonfox commented on #648
Yes....`defaultJSExtensions` is removed in SystemJS `0.20.0`.

However we need the ability to define by package because the amodoro bundle contains module names that do not include the extension - everything in `/src`. We still want src imports in test modules to load from bundles i.e. `import {App} from '../../src/app` so we dont want `defaultExtension` to apply to that path.

Make sense?

[2017-06-14 05:38] JeroenVinke commented on #648
It does. Could you put together a PR?

[2017-06-14 05:57] simonfox commented on #648
Yes, will do.

[2017-06-14 09:22] graycrow opened #649 "0.30.0: Template minification fails on class attribute binding using interpolation expressions"
**I'm submitting a bug report**

* **Library Version:**
0.30.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6 | Windows 8.1

* **Node Version:**
8.1.1

* **NPM Version:**
5.0.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
In a project created with "Minimal Minification" markup processing, `au build` throws a Parse Error at the processMarkup task

[2017-06-14 09:41] tdamir opened #650 "Minification issue"
**I'm submitting a bug report**

* **Library Version:**
0.30.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.5.0

* **Language:**
TypeScript 2.3.4

**Current behavior:**
I'm using minimum minification in project and I'm getting a parse error in templates like this:
[code]
This is the error I'm getting:
[code]
It look

[2017-06-14 09:43] JeroenVinke commented on #649
Thanks for opening the bug report. This seems to be similar to https://github.com/aurelia/cli/issues/650. Keep an eye on that one

[2017-06-14 09:43] #649 closed

[2017-06-14 09:49] jwx commented on #231
@s-hoff Are you working on a PR for this?

[2017-06-14 10:07] JeroenVinke commented on #650
Thanks for creating the bug report. Changing `ignoreCustomFragments: [/\${.*}/g]` to `ignoreCustomFragments: [/\${.*?}/g]` in `aurelia_project/tasks/process-markup.js` seems to resolve this. I'll create a PR shortly.

[2017-06-14 10:08] tdamir opened #652 "Disabling/enabling minification from aurelia.json"
**I'm submitting a feature request**

**Current behavior:**
Case1: When we create the new project with au new and choose to use minification, it works as expected - the aurelia.json markupProcessor is set up according to that and process-markup.ts contains the code for using the minification. If we change the minification setting from 'minimum' to 'none', it is reasonable for one to expect that mi

[2017-06-14 10:11] s-hoff commented on #231
@jwx No. I had some ideas but no time to implement or try them out.

[2017-06-14 11:05] gama410 opened #653 "Cannot find module 'object.defaults' on build"
**I'm submitting a bug report**

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
windows 10

* **Node Version:**
7.7.4

* **NPM Version:**
5.0.3

* **Browser:**
all (irrelevant)
* **Language:**
TypeScript 2.1.5

**Current behavior:**
When running the command 'au build' (or 'au run'), the compilation fails with the following error:
` Error: Cannot f

[2017-06-14 11:09] JeroenVinke commented on #653
I'm suspecting that something went wrong during `npm install`, because the error occurs in `glob-watcher` which lists `object.defaults` as a [dependency](https://github.com/gulpjs/glob-watcher/blob/master/package.json#L27)

[2017-06-14 11:35] tdamir commented on #650
I can confirm that the change in regex resolves the issue. Thanks!

[2017-06-14 14:17] jwx commented on #556
@RomainLanz Is this issue resolved in version 0.30 of the CLI?

[2017-06-14 14:21] SolidStateLEDLighting commented on #646
Where are you getting your most excellent documentation?   I have looked all over and I can't find anything that tells me about all possible elements of the bundle config.     The "exports" portion of that config seems to be almost a duplicate function of the start of an import statement.   import AWS  or import AWS/S3 etc.   So I did not intuitively pick on the fact that I didn't have an element

[2017-06-14 14:27] jwx commented on #587
@gravsten Do you know of a library that doesn't work according to the above?

[2017-06-14 14:30] SaucyJack commented on #387
This issue is causing problems for us as well. Has anyone come up with a temporary work around? I am having to edit my vendor-bundle every time I build/run and manually change the `requirejs.config({"baseUrl"})`. Would it at least be possible to add a CLI build task to run a regex replace on this setting, and if so, how would that look?

[2017-06-14 14:49] JeroenVinke commented on #387
@SaucyJack could you explain what you're trying to achieve? Perhaps a path mapping will suffice such as https://github.com/JeroenVinke/cli-baseurl/blob/master/aurelia_project/aurelia.json#L45

[2017-06-14 15:04] JeroenVinke commented on #646
@SolidStateLEDLighting Sorry that you've had this experience, but I'm glad that you shared this with us.

Possible options in the aurelia.json are scattered across the [Adding Client Libraries to Your Project](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/the-aurelia-cli/10) chapter, which I understand can be very impractical. I have an idea on how to improve this, for which I'l

[2017-06-14 15:05] gravsten commented on #587
The example library I used above ('../lib/tools') was developped internally and worked fine since 2016 with Aurelia/SystemJS. The problem came to light when we switched to Aurelia/CLI.

So no, I don't know of any public, named AMD module. But it should't be too hard to take any AMD module and add a name to it.

[2017-06-14 15:06] JeroenVinke opened #654 "Allowed options in aurelia.json are scattered across the docs"
In the documentation of the CLI, supported options of aurelia.json are scattered across multiple chapters of docs. Lets see if we can explain all options in a single chapter and possibly point to other parts of the docs for more extensive examples

[2017-06-14 15:35] SolidStateLEDLighting commented on #646
Let me give you a simple but significant example of what I need.  Examine this statement.

< name - This is the name of the library as you will import it in your JavaScript or TypeScript code. >

This is directly from your documentation.  You repeat this same statement 3 times in the import library section.

What do I need to know?
1) What is the name used for in a practical sense?   For the devel

[2017-06-15 04:40] #653 closed

[2017-06-15 06:59] gama410 commented on #653
Thanks Jeroen, you're right : I should have looked a little longer at the stack trace. I got a little carried away by the newsletter about the update to aurelia-cli...

[2017-06-16 08:08] sam-piper commented on #636
We just tried upgrading to uglify-js@3.0.15 - au build --env prod still fails, but there are no errors, instead the app-bundle.js / vendor-bundle.js files just contain the text "undefined".

Will wait for an update to aurelia-cli here.

[2017-06-16 08:33] Aniel commented on #636
@sam-piper same here without `--env` The build works. If you specify an environment the bundle has the text `undefined`

[2017-06-19 14:45] aligneddev commented on #260
What's the status with the using the CLI with webpack?

[2017-06-19 14:47] JeroenVinke commented on #260
I am hours away from creating a pull request. There is a lot of testing to be done, but we'll try and get it releases as soon as possible

[2017-06-19 18:52] JeroenVinke commented on #260
@aligneddev https://github.com/aurelia/cli/pull/657 ✨

[2017-06-20 11:12] simonfox opened #658 "Support for creating plugins"
[After a brief Gitter discussion](https://gitter.im/aurelia/Discuss?at=5948f01d02c480e672618b42) I thought it might be worth starting a discussion here. The idea is to support something like `au new --plugin` or `au new-plugin` which would output something like https://github.com/aurelia/skeleton-plugin.

Has this already been discussed? Is there interest in adding a feature like this? I could pro

[2017-06-20 11:22] JeroenVinke commented on #658
@AshleyGrant we spoke about this, right?

Could we maybe add support for [yeoman](http://yeoman.io/) so that we can define skeletons outside of the CLI?

[2017-06-20 13:05] AshleyGrant commented on #658
Yeah, I believe we talked about this last week at the Aurelia Amsterdam meetup. I'm not sure we necessarily need to use yeoman. We could have a new repo that includes folders for different types of skeletons maybe.

But that being said, I'm not sure we currently want to move the CLI toward creating skeletons. Currently it creates a barebones application, versus the skeletons which have sample code

[2017-06-20 13:36] jwx commented on #658
I think support for a barebone plugin through some variation of `au new` is a good idea.

As for creating skeletons, I'm still in favour of my previous `au skeleton` suggestion. But I believe the `au feature` that I've talked about would be an even better addition than skeletons.

[2017-06-20 22:17] simonfox commented on #658
The intention was not to create a skeleton with sample code, but just a minimal setup for creating a plugin. The only source that would likely be included would be something like
[code]
but the build pipeline and dependencies would all be setup and ready for dev.

The issue discussed on gitter was that for some one who is not familiar or comfortable with gulp, taking the pieces from an `au new` ty

[2017-06-20 23:57] EisenbergEffect commented on #658
We should definitely enable `au new --plugin` but we need to get a few other pieces in place first :)

[2017-06-21 00:11] huochunpeng commented on #636
There is another issue, besides unsupported "fromString".

line 242 in bundle.js
[code]

When you assign an object `{}` with a string `"lorem"`, you got `{"0": "l", "1": "o", "2": "r", "3": "e", "4": "m"}`, that's what happend here.

The `"minify"` value `"stage & prod"` was literally injected to `minificationOptions` like a char array.

I inspected `minificationResult` in few lines below. See err

[2017-06-21 00:18] simonfox commented on #658
@EisenbergEffect what were those pieces specifically if I had time to help out here?

[2017-06-21 00:20] EisenbergEffect commented on #658
Mainly, we need to get the Webpack support merged in, enable asp.net, switch our defaults to webpack and implement the "eject" capability probably. After that we can add the plugin generate support and then move on to Electron and Cordova.

[2017-06-21 07:35] JeroenVinke commented on #636
@huochunpeng we added that so that you can supply the minification options through aurelia.json. It looks like you have been looking into this. Would you like to create a PR to add support for uglifyjs@3?

[2017-06-21 08:33] huochunpeng commented on #636
I was trying to do a fix. So `buildOptions.getValue('minify')` was trying to get uglify options object from aurelia.json, but actually got the condition string `"stage & prod"`, do you know what's the designed pattern to pass uglify options through aurelia.json?

[2017-06-21 08:36] JeroenVinke commented on #636
@huochunpeng take a look at https://github.com/aurelia/framework/pull/790

[2017-06-21 10:18] RomainLanz opened #659 "Getting "Unexpected token <" error since using SystemJS"
Hey :wave:

<hr>

**Operating System** : macOS Sierra
**Node.js version** : v8.1.2
**npm version**: 5.0.3

<hr>

I have switched my loader from `RequireJS` to `SystemJS` this morning.
To make the change I have install a new aurelia application and I have compare `package.json`, `tasks/*`, `aurelia.json` and `index.html` files and made the change needed.

The application bundle correctly, but when

[2017-06-21 10:22] JeroenVinke commented on #659
@simonfox could you take a look?

[2017-06-21 10:58] simonfox commented on #659
Yes no worries @JeroenVinke

@RomainLanz I've created a new project with everything but `@fivb/sdk` and it works fine so yes if you could provide access to that package that would be good...I will PM you my email on gitter if you would prefer to keep it private.

Also what do your imports look like for that library?

[2017-06-21 11:32] simonfox commented on #659
Actually looks like it could be because you have `@` in the package name (assuming you have an import with a module specifier of `@fivb/sdk` - I can reproduce if I rename `axios` for example to `@axios` in package.json and then `import axios from '@axios';`).

If that is the case, I'm not sure this is actually a bug. I can't find the _module specifier specification_, and I know virtually nothing a

[2017-06-22 13:26] tdamir opened #663 "Mixing sass+css and run --watch"
**I'm submitting a bug report**

* **Library Version:**
0.30.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.5.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
I'm not sure if this is a bug but it worked in in previous versions. If I set multiple globs for cssProcessor in aurelia.config, the changes

[2017-06-22 13:30] JeroenVinke commented on #663
@jwx could you take a look? Could this be related to the new gulp tasks?

[2017-06-22 14:46] maurovitale opened #664 "Integration of Aurelia with Electron"
* **Library Version:**
major

* **Operating System:**
Ubuntu 16.04

* **Node Version:**
7.10.0

* **NPM Version:**
4.2.0

* **Language:**
ESNext

**Current behavior:**

I have tried to integrate aurelia with electron in the project generated with aurelia cli , with the following steps:

1. Create project with **au new** command
2. Install electron with **npm install electron --save-dev**
3. Extrac

[2017-06-23 02:33] simonfox commented on #659
OK I've got to the bottom of this. `amodro` wraps anonymous amd modules on write - [see here]https://github.com/aurelia/cli/blob/cc65ec9e2eb6af20adb52e686d6f21e921be57f0/lib/build/amodro-trace/write/packages.js#L31-L34).

The two packages causing problems here have source map links in the dist script e.g. the last line of `axios` is
[code]
Combine those two factors and the result is a bundle that

[2017-06-23 09:12] simonfox commented on #659
Actually I think we will need to strip that sourcemap line completely and the source map will be broken from our bundling anyway. Let me know your thoughts @JeroenVinke

[2017-06-23 10:26] JeroenVinke commented on #659
@simonfox yeah we should strip those. It's part of https://github.com/aurelia/cli/issues/624 to improve sourcemaps.

[2017-06-23 10:35] JeroenVinke commented on #664
Perhaps that https://github.com/MeirionHughes/aurelia-cli-electron-app can give you some hints.

[2017-06-23 11:15] JeroenVinke commented on #664
https://github.com/aurelia/cli/issues/217 as well

[2017-06-23 19:59] kushwahashiv commented on #490
I am also getting the error

[code]

is there any workaround for this?

Any quick help would be appreciated.

/Shiv

[2017-06-23 22:44] delebash commented on #490
Are you using async or generator functions in your code?  If so did you try installing the harmony branch of uglifyjs?  Run `npm install uglify-es -g` to install the latest harmony release.

[2017-06-26 06:58] fjfeijoo commented on #335
I have had issues with this too. In my case I was trying to build an Aurelia project using Jenkins on Mac. By default Jenkins creates the workspace folder inside a hidden folder like $HOME/.jenkins/jobs

The main problem is that there are no warnings or errors at all when you build the project. The app-bundle.js is empty, that's all.

[2017-06-26 08:09] fjfeijoo commented on #335
See PR https://github.com/aurelia/cli/pull/666

[2017-06-26 12:04] 5ebastianMeier opened #667 "update amodro-trace"
hey, I noticed you're using amodro-trace in the CLI and that it has a dependency on esprima@3.

esprima@4 supports full ES2017, while esprima@3 has problems - especially with async/await.

I filed an issue here:
https://github.com/amodrojs/amodro-trace/issues/9

Could you update your amodro-trace to 1.0.1? Didn't see any breaking changes concerning the CLI - it worked when I updated to esprima@4 m

[2017-06-26 21:38] CasiOo commented on #442
@jwx Aren't the `targets` part meant for building toward multiple target platforms like web, Electron, mobile etc. ? I don't think we're supposed to add a `prod` and `dev` target.

[2017-06-26 22:59] jwx commented on #442
@CasiOo If there are ideas behind `targetS` (as in more than one) I couldn't find anything in the code (which uses `targets[0]`). The `au build` should now however work with anything after `--env` so it would be possible to build `web`, `cordova` or `electron` with this. (Or even `cordova-dev`, `electron-prod` and so on.)

Furthermore, `aurelia.json` seems to currently only support one `platform`

[2017-06-27 09:46] fragsalat commented on #318
I got a very nice and simple solution based on babel-plugin-instanbul. It generates a coverage report based on the source files and the setup is super easy.
@EisenbergEffect  This might be an option behind a flag for the cli setup with babel.

Install karma-coverage for report generation and babel istanbul plugin to track coverage on source files
[code]

Add coverage reporter and reporter config i

[2017-06-27 13:18] AStoker commented on #432
Sorry to dig this back up. What was the issue in the end?

[2017-06-27 21:35] #648 closed

[2017-06-27 21:35] #650 closed

[2017-06-27 21:42] #645 closed

[2017-06-28 17:41] jeremeevans opened #669 "Minification removes new lines and whitespace from <pre> tags"
**I'm submitting a bug report**

* **Library Version:**
0.30.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.3

* **NPM Version:**
5.0.3

* **Browser:**
all

* **Language:**
TypeScript 2.3.4

**Current behavior:**
The build removes new lines in pre tags in the templates.

**Expected/desired behavior:**

Whitespace in pre tags is preserved.

[2017-06-29 13:31] dkent600 opened #670 "aurelia-cli fails in `au new` attempting to install node-sass"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.4

* **Browser:**
n/a

* **Language:**
n/a

**Current behavior:**
Running `au new` produces the following error:

[code]

Finishing with:

[code]
**Expected/desired behavior:**
I am attaching the full intera

[2017-06-29 13:35] JeroenVinke commented on #670
This should be fixed when https://github.com/aurelia/cli/pull/660 gets merged

[2017-06-29 13:42] dkent600 commented on #670
@JeroenVinke Thanks.  I went ahead and made the changes locally to the relevant file.  Now, I wonder if you might be able to  give me a suggestion as to how I can restart the installation so that it will proceed to a successful conclusion?  Is that possible?  (Sorry, I'm new to Aurelia-cli, partly because every time I've tried it I seem to have issues with it.  Giving it another try, and hoping it

[2017-06-29 13:57] JeroenVinke commented on #670
@dkent600 sure, try the following steps:

When you're inside the project directory:
- remove the node_modules folder entirely
- confirm that gulp-sass has the correct version in package.json
- run `npm install` again

[2017-06-29 15:00] dkent600 commented on #670
Thanks!

[2017-06-30 12:06] nawijn opened #671 "Double `dist` folder in `aurelia.json` after package installation"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Linux (Fedora 25)

* **Node Version:**
6.10.3

* **NPM Version:**
3.10.10

* **Browser:**
all
* **Language:**
all

**Current behavior:**
After `au install bootstrap-v4-dev` the Bootstrap section in`aurelia` reads
`
          {
            "name": "bootstrap-v4-dev",

[2017-07-01 14:23] manuel-guilbault commented on #658
FYI, I created an [empty TypeScript plugin skeleton](https://github.com/manuel-guilbault/aurelia-skeleton-plugin-typescript). It looks pretty much like what @simonfox proposes, but written in TypeScript instead of ES2017. It is based on both the JS [skeleton-plugin](https://github.com/aurelia/skeleton-plugin) and the [validation plugin](https://github.com/aurelia/validation). Maybe it could be use

[2017-07-03 08:07] samppis opened #672 "au-build fails silently when including globalize.js in the bundle"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.0.0

* **NPM Version:**
4.0.1

* **Browser:**
Chrome 59

* **Language:**
TypeScript 2.0.6

**Current behavior:**
Including globalize.js in vendor-bundle.js causes `au build` to silently quit (without any errors or warnings) after `trac

[2017-07-03 09:41] JeroenVinke commented on #672
I have to investigate why it silently stops building, but this setup worked for me in the end: https://github.com/JeroenVinke/aurelia-cli-globalize. If it doesn't work, you might want to use a plain script tag to load Globalize instead of bundling it up. Let me know how it goes

[2017-07-03 10:31] samppis commented on #672
Thanks! I got it working by following your example setup although I had to use `import * as Globalize from 'globalize'` instead of `import Globalize from 'globalize'`.

[2017-07-03 10:37] JeroenVinke commented on #672
Nice!

[2017-07-03 12:29] StrahilKazlachev commented on #435
What about being explicit, setting it to `false` - `"main": false`, or something? My idea is to show intention.

[2017-07-03 12:34] JeroenVinke commented on #435
That's probably a better solution. Right now `main` is optional, but then it assumes that the `path` is pointing to an existing file. I'll update the PR

[2017-07-03 17:47] gishmel commented on #671
This is a mistake with your including dist inside of the resources. It is using the path attribute as the base folder and of course you will get two dist folders as its requested in the resources at their beginning. Under resources you should only have them listed as "css/bootstrap-grid.css" and make them like that.

[2017-07-04 07:24] JeroenVinke commented on #658
@EisenbergEffect See above comment. What are your thoughts on this feature? I can help @manuel-guilbault in implementing it.

[2017-07-04 07:38] EisenbergEffect commented on #658
I'd love to be able to do `au new --plugin`. If @manuel-guilbault wants to work on it, that would be great. We want to try and set these up with some boilerplate that helps people get their plugins correct for require.js, system.js and webpack if possible.

[2017-07-04 21:50] gishmel commented on #671
Feel free to check out my latest PR on the Aurelia CLI as I believe it has solved this problem. Sorry for not understanding before that it was aurelia CLI's problem with overlapping the path with the resources path. Hopefully it can get merged in shortly. https://github.com/aurelia/cli/pull/674

[2017-07-05 01:51] winterlimelight opened #675 "au run --watch not picking up changes"
**I'm submitting a bug report**

* **Library Version:**
0.30.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.0

* **NPM Version:**
5.0.3

* **Browser:**
n/a

* **Language:**
TypeScript

**Behavior:**
`au run --watch` periodically stops seeing changes. I noticed this particularly with .html files, and more-so in the deepest folder paths. Un

[2017-07-05 02:02] winterlimelight commented on #675
See also https://github.com/paulmillr/chokidar/issues/561

[2017-07-05 09:21] jwx commented on #675
This really is a bug in chokidar and should preferably be fixed there. I've asked them for news. If nothing happens for a while, we should look into some kind of workaround on our end.

[2017-07-05 09:22] JeroenVinke commented on #675
Is https://github.com/aurelia/cli/issues/663 related?

[2017-07-05 09:24] JeroenVinke commented on #675
By the way, @winterlimelight thanks for getting to the bottom of this!

[2017-07-05 09:36] jwx commented on #663
Very likely related to https://github.com/aurelia/cli/issues/675.

(@JeroenVinke Sorry, looking into this got lost.)

[2017-07-06 07:13] #615 closed

[2017-07-06 07:14] JeroenVinke commented on #604
Please reopen if you were

[2017-07-06 07:14] #604 closed

[2017-07-07 21:38] jemhuntr commented on #260
Aurelia CLI + Webpack =
![Breathing Intensifies](http://i.imgur.com/w0t0pW3.png)

More importantly, will we be able to switch current CLI projects to webpack easily?

[2017-07-08 10:09] JeroenVinke commented on #260
I'm very excited about this as well! As for switching, you will need to
- install webpack dependencies
- remove requirejs-specific dependencies and setup
- replace the gulp tasks with ones for webpack
- update aurelia.json (webpack doesn't need much of the configuration in there)

So there's quite a bit of work involved, and my recommendation would probably be to create a new webpack app through t

[2017-07-09 00:48] jemhuntr commented on #260
I see. That's great! That's what I'm planning to do as well (copy over configs from au new).

[2017-07-10 07:51] zewa666 commented on #638
@RomainLanz I think this is quite a nice feature as typically beginners get confused with all those additional folders and dependencies. One thing I could see is that the CLI, when scaffolding your app, right away asks you whether you want to create it already ejected. Nevertheless a short documentation of the feature will be essential so that people really understand that they aren't loosing anyt

[2017-07-10 21:19] jpravetz commented on #563
What are the dependencies on getting this accepted? It would be nice to clean this up.

As well, I've been working on a way to get the build number and date into the target build. Currently I'm generating an about.json that is written into src, from where it is bundled, and of course that's not optimal. It might have been easier to write this into index.html, but I don't know of safe hooks to do t

[2017-07-11 09:06] #639 closed

[2017-07-11 10:41] JeroenVinke commented on #670
PR is merged and will be released shortly

[2017-07-11 10:41] #670 closed

[2017-07-11 10:43] JeroenVinke commented on #664
closing in favor of https://github.com/aurelia/cli/issues/217

[2017-07-11 10:43] #664 closed

[2017-07-11 13:25] Thanood commented on #659
I'm getting the same error if I use a library which I load from a ** separate** bundle. So if I add another bundle to the `app`/`vendor` pair and `.use.plugin('my-plugin')` in `main.js`, I'm getting the same.

The loader in this case is actually loading `/my-plugin.js` and returns the index file. It can't parse html and throws with `unexpected token <`.

[2017-07-11 14:36] #636 closed

[2017-07-11 14:57] #335 closed

[2017-07-11 15:01] #420 closed

[2017-07-11 15:10] RomainLanz commented on #659
Have you tried with the fix of @simonfox ?

https://github.com/aurelia/cli/issues/665

[2017-07-11 15:21] Thanood commented on #659
No, as there are no sourcemaps. 😃
But moving the configuration into `vendor-bundle` helped.

Now I see this issue is about sourcemaps mostly. Maybe I should create a separate issue?

[2017-07-11 15:21] JeroenVinke commented on #659
@Thanood sounds good!

[2017-07-11 15:48] Thanood opened #676 "systemjs: getting "unexpected token <" when loading a lib from a separate bundle"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.10.0

* **NPM Version:**
4.5.0

* **Browser:**
all

* **Language:**
TypeScript 2.3.4

**Current behavior:**

I'm trying to use a library from a separate bundle (so a third one in addition to `app-bundle` and `vendor-bundle`).
This appr

[2017-07-11 15:49] Thanood commented on #676
Additional note:
I've read https://github.com/aurelia/cli/issues/659 but in my case, there are no sourcemaps and the issue can be resolved by moving the configuration into `vendor-bundle`.

[2017-07-11 15:52] Thanood commented on #676
Reproduction repo: https://github.com/Thanood/md-todo-systemjs

The sass files are not loaded, I've chosen the wrong CSS processor. Please ignore that. 😃

[2017-07-11 15:54] JeroenVinke commented on #676
@simonfox do you have time to look into this one?

[2017-07-11 21:58] simonfox commented on #676
@JeroenVinke sure, might be a couple of days away though

@Thanood thank you for the detailed issue with repro :+1:

[2017-07-13 08:27] JeroenVinke commented on #563
@jpravetz I want to make sure we're not introducing breaking changes

@jwx I wonder, how would build targets allow you to have different environment.js files per build? As I see it the `environment.js` file is imported from `main.js` which means that the `environment.js` file needs to be there during build. The distribution folders only come into play after the build has completed, right?

[2017-07-13 14:28] DavidColemanUK opened #677 "Add ability to add a baseUrl per environment to aurelia.json"
**I'm submitting a feature request**

* **Operating System:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Aurelia CLI Version**
CLI 0.27.0

* **Language:**
TypeScript 2.3.2

**Current behavior:**
Currently, there is no way to change the baseUrl per deployment environment.

Our current work around is to bruteforce the line using powershell to modify, during the release p

[2017-07-14 14:05] thomas-darling commented on #619
@JeroenVinke I believe this fix breaks the bundler - please see https://github.com/aurelia/bundler/issues/163

[2017-07-15 19:46] #184 closed

[2017-07-15 19:46] #260 closed

[2017-07-15 21:52] simonfox commented on #676
I've had a quick look at this, the SystemJS config for the materialize bundle is missing an entry for `aurelia-materialize-bridge` because that isn't actually a file that gets traced. The wrapper is generated correctly
i.e. the following definition for `aurelia-materialize-bridge` is added to the bundle itself
[code]
Just need to ensure SystemJS config has the package name included in the bundle d

[2017-07-15 21:53] simonfox commented on #676
It works in the vendor bundle because that is loaded via a script tag so the wrapper module is evaluated before the attempt to load the plugin.

[2017-07-16 10:29] Thanood commented on #676
Thanks for looking at this. 😃 👍

[2017-07-17 19:00] dragoscirjan opened #680 "requirejs - bundling over require(/path/to/folder)"
**I'm submitting a bug report / feature request**

I consider this to be both a bug report and a feature request.

* **Library Version:**
0.27.0

**Please tell us about your environment:**
* **Operating System:**
any

* **Node Version:**
any

* **NPM Version:**
any

* **Browser:**
not aplicable

* **Language:**
not aplicable

**Current behavior:**

Right now, all elements of type `require('./modul

[2017-07-17 20:11] dragoscirjan commented on #680
Yes, the behavior would be from **nodejs**, but I refuse to believe it can't actually be emulated within **aurelia bundler**. I was able to bundle the package mentioned above with **webpack**. So there should be a solution here too :(.

We are working now to migrate from aurelia-cli back to webpack. But I don't want this to be the solution.

[2017-07-17 20:40] JeroenVinke commented on #680
It's true that webpack modifies & wraps packages in a way that allows it to bundle packages which use nodejs specific things. Another example of this are packages that use the `global` variable (which doesn't exist in a browser environment) without checking its existence first. They simply rely on the bundler to fix it so runs in the browser.

We'll definitely want the bundler to be able to bundle

[2017-07-18 14:16] #671 closed

[2017-07-18 18:48] JeroenVinke commented on #676
I tried out this fix and it does solve the error mentioned in this issue, but I got another one: https://github.com/aurelia/cli/pull/679#issuecomment-316160938.

[2017-07-18 20:24] Thanood commented on #676
Shouldn't this

[code]

rather be something like

[code]

instead when deps are configured like that:

[code]

AFAIK the error message @JeroenVinke gets in https://github.com/aurelia/cli/pull/679#issuecomment-316160938 (`Module not already loaded loading "jquery" as http://localhost:9000/jquery.`) is the same when trying to synchronously load a requirejs module which was not loaded before. Or in o

[2017-07-18 21:18] ariovistus opened #681 "define rewriting ignores my dependencies"
**I'm submitting a feature request**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
I am trying to incorporate pikaday into an aurelia cli project, and I specify the following in my aurelia.json:
[code]

pikaday does som

[2017-07-18 21:37] ariovistus commented on #681
also, are the behaviors I described documented anywhere? I don't even know what to call them..

[2017-07-19 04:33] simonfox commented on #676
@JeroenVinke @Thanood this is a hairy one! The problem is in `materialize-css`. We are right on the edge of amodro/SystemJS compatibility here I think...

I'm not sure the requirejs opitmizer build is appropriate in this instance. Using a [package definition similar to this for materialize-css](https://github.com/systemjs/builder/issues/488#issuecomment-177520799) gets you past that error, but you

[2017-07-19 04:34] simonfox commented on #676
Maybe @guybedford could give us some hints?

[2017-07-19 05:33] Thanood commented on #676
Hmm, `aurelia-materialize-bridge` contains two script files which convert Materialize to an AMD module. This should work with amodro. The script files are [`materialize-css.js`](https://github.com/aurelia-ui-toolkits/aurelia-materialize-bridge/blob/master/build/tools/materialize-css.js) and [`rbuild.js`](https://github.com/aurelia-ui-toolkits/aurelia-materialize-bridge/blob/master/build/tools/rbui

[2017-07-19 06:15] simonfox commented on #676
@Thanood yeah that is the build that is causing the `Module not already loaded loading` error that @JeroenVinke raised. That error comes from [here in `SystemJS`](https://github.com/systemjs/systemjs/blob/master/dist/system.src.js#L2868) which suggests commonjs require.

Adding
[code]
which isn't actually the case (for the entire bundle) to SystemJS config changes the error to the 404 for `picker.

[2017-07-20 13:42] 4imble commented on #663
I had something similar in .less

Is it that the files are not actually changed and so ignored?

Changing my process-css.ts to this worked for me.

[code]

[2017-07-21 09:08] RomainLanz commented on #262
Hey !

Since I also need to use `sax` for my application, I encounter the same issue.
Do you know when a fix will be available?

[2017-07-21 09:23] RomainLanz commented on #262
After looking at @JeroenVinke commit it seems that I can use `excludeDeps` in my `aurelia.json`.

[code]

Doing that make the code compiles fine. I just got two error that I think is normal.

[code]

This feature is not documented in the [Adding Client Libraries to Your Project](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/the-aurelia-cli/10) section. Should I PR that?

Also I

[2017-07-21 17:19] ariovistus opened #682 "au build improperly links app-bundle"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.3

* **Browser:**
all
* **Language:**
TypeScript

**Current behavior:**
when I set ```"rev": true``` in aurelia.json, au build generates vendor-bundle and app-bundle properly, but embeds the path "wwwroot/sc

[2017-07-21 17:20] ariovistus commented on #682
steps to reproduce:
[code]
in the prompt, select
[code]

then edit aurelia.json with
[code]
then run
[code]

[2017-07-22 00:24] ariovistus commented on #682
choosing systemjs seems to be what triggers this

[2017-07-24 07:33] RomainLanz commented on #659
**Side note :** It works fine with the Webpack bundler

[2017-07-24 07:33] RomainLanz commented on #262
**Side note :** It works fine with the Webpack bundler

[2017-07-24 12:46] jemhuntr commented on #260
@JeroenVinke Hey! I tried this out on the latest master with `npm install -g aurelia/cli`

I'm getting the following error on the very basic config:

[code]

Is this related to the build not being released yet? Or am I just missing something else?

[2017-07-24 12:48] jemhuntr commented on #260
Additionally, `file-loader` isn't listed as a dependency and wasn't installed on the first run.

[2017-07-24 12:51] JeroenVinke commented on #260
Hey @jemhuntr. You need to install from master locally too: `npm install aurelia/cli#master` in the project directory. About the file loader, i'll look into it

[2017-07-24 13:11] JeroenVinke commented on #260
@jemhuntr thanks for letting me know! I have added the dependencies to master.

[2017-07-24 15:51] jemhuntr commented on #260
Here's another error:

[code]

It shows up whenever the app recompiles on `au run --watch`. Everything compiles nicely at the start, but the watch task crashes upon editing a file.

---

Another one:

[code]

Webpack seems to be expecting no `watch` option in its Server constructor config. See the [run tasks for webpack](https://github.com/aurelia/cli/blob/master/lib/resources/tasks/run-webpack.js

[2017-07-24 19:18] JeroenVinke commented on #260
Don't feel sorry @jemhuntr! I'd rather catch these issues sooner than later.

The first one seems to be caused by https://stackoverflow.com/a/45281483/3922366. The second one is an oversight on my part. Webpack has a `watch` option, but webpack-dev-server doesn't. There is a `lazy` option, but that gives me a 404 when I enable that. Will look into that

[2017-07-24 20:03] JeroenVinke commented on #260
`au run` works now: https://github.com/aurelia/cli/commit/7f5e84ce48ea1920a8c13ba244be2bba33d376a3

[2017-07-26 08:05] zeko77 opened #683 "Update gulp-sass dependency"
**I'm submitting a improvement request**

On new sass-based projects, gulp-sass ^2.3.2 in package.json complains about missing dependencies of its own (python 2.7, VS runtimes etc...).

Updating gulp-sass to current 3.1.0 solves problem as far as i have tried.

[2017-07-26 09:23] JeroenVinke commented on #683
This is already fixed in master (by updating to gulp-sass@3) and will go out with the next release, which will happen very soon. Thanks for mentioning it!

[2017-07-26 09:23] #683 closed

[2017-07-26 17:33] diegohb opened #684 "JSPM Section strategy - Path must be a string"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli v0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Language:**
all

**Current behavior:**

**Expected/desired behavior:**
it should install...

[2017-07-27 14:44] hcbelias commented on #223
Hi, I have interest in making it work in my project, could you provide some guidance?

[2017-07-27 15:03] JeroenVinke commented on #223
@hcbelias I haven't tried this yet, but there is already a [process-pug.js](https://github.com/aurelia/cli/blob/master/lib/resources/tasks/process-pug.js) and [process-pug.ts](https://github.com/aurelia/cli/blob/master/lib/resources/tasks/process-pug.ts). You'd use this task instead of the html process task you have now. Although these tasks seem to use jade, and i'm not sure if that still works.

[2017-07-27 15:23] hcbelias commented on #223
It works nicely - for both gulp-jade and gulp-pug.

If tyou want I can create a PR for it,

[2017-07-27 15:40] JeroenVinke commented on #223
Glad that it works and a PR would be very welcome! Since webpack support is now in master we will have to add the necessary pug config for webpack as well to [this file](https://github.com/aurelia/cli/blob/master/lib/resources/content/webpack.config.template.js).

If that would be too much work then feel free to just add pug to [this file](https://github.com/aurelia/cli/blob/81b029191f4752fecdaf01

[2017-07-28 02:36] sam-piper opened #685 "Karma test run fails frequently with 404s for bundled script files"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli@0.30.1
karma@1.7.0
karma-chrome-launcher@2.2.0
karma-cli@1.0.1
karma-jasmine@1.1.0
karma-typescript-preprocessor@0.3.1

* **Operating System:**
Windows 10

* **Node Version:**
6.10.1

* **NPM Version:**
3.10.10

* **Browser:**
Chrome 60

* **Language:**
TypeScript 2.2.2

**Current behavior:**
We are experiencing major stability is

[2017-07-28 02:41] sam-piper commented on #685
Just an additional note - if a test run succeeds, then we can make changes to any of the test spec files and they will run fine, it's only when the app files change that things break.

If the initial test run breaks, however, then we have to re-start the task.

[2017-07-29 00:44] diegohb commented on #684
a related question ... is the "map" and "meta" properties of the systemJS configuration purposely hidden/disallowed in the aurelia.json config . ?

[2017-07-29 07:32] JeroenVinke commented on #684
we need to confirm that it will work as expected if we expose that. The CLI bundler uses requirejs internally, which is less powerful than systemjs' version of `map` so there may be some issues there. If that is the case we'll need to figure out what is the best way to move forward.

[2017-07-29 07:40] JeroenVinke commented on #681
The dynamic stuff to determine the module system isn't too uncommon. However,

[code]

This bit is probably why amodrotrace isn't able to detect that `moment` is a dependency, and therefore doesn't add it to the `define` call it creates. What i'd do is load pikaday through a CDN (a script tag) until we can get the bundler to deal with this scenario

[2017-07-29 07:51] JeroenVinke commented on #685
@sam-piper thank you for opening the report. I haven't seen this issue before. It would help me if you could reproduce it in a new CLI application, and attach it as a ZIP to this issue. Then I can dig around and see what is happening

[2017-07-29 21:01] mosconi commented on #446
I have tried the ESNext skeleton  in opera, and still downloading a binary file.

[2017-07-29 21:28] JeroenVinke commented on #446
This is really strange, I'm not sure why it would do that. Like I said, I can't reproduce it yet so if you can debug it please do!

[2017-07-31 03:12] sam-piper commented on #685
[CliTest.zip](https://github.com/aurelia/cli/files/1186282/CliTest.zip)

Here's a sample project that replicates the error. The error was replicated after I synched changes from our project to `/aurelia-project/tasks/process-css.ts`, and added in our SASS files.

This is our customized CSS task:

[code]

It's entirely possible that the use of SASS globbing and/or Autoprefixer is causing a side eff

[2017-07-31 16:24] obedm503 commented on #535
any updates on this? I would be really helpful the cli handled sw-precache stuff

[2017-08-01 06:41] WizzApp commented on #685
We are running Karma on our Jenkins (executing tests on Chrome, Firefox, IE and PhantomJs, just to be sure ;-) and we have the same issue. Strange thing is that it only seems to affect Chrome, the other browsers run fine with the same files. We also have SASS enabled here.

[2017-08-02 08:28] JeroenVinke commented on #685
Thanks @sam-piper and @WizzApp. I've looked at this issue and found that if I use a minimal scss file (like one scss file with `body { background-color: red}`) I don't get this issue. It might not be related to SASS, but instead it might have to do with the size of the app-bundle. Weird thing is that when I refresh Karma in the browser the tests run again.  I haven't been able to get to the bottom

[2017-08-02 13:20] sam-piper commented on #685
Yeah I played around with the process-css task in the sample project to see if there were any specific elements causing problems.

I still get the error even after stripping out globbing, sourcemaps and Autoprefixer. It definitely seems to be a function of the amount of SASS code being handled, not the syntax or task configuration, as you've found as well.

On 2 Aug 2017, at 6:28 PM, Jeroen Vinke

[2017-08-02 19:11] magnusdanielson commented on #677
I have created a pullrequest that can solve this issue if you are using require. https://github.com/aurelia/cli/pull/686

Add the following to the build task in your project.

`const env = CLIOptions.getEnvironment();
  const envContent = fs.readFileSync(`aurelia_project/environments/${env}.ts`, 'utf8');
  const providerHostUrl = /providerHostUrl: '(.*)'/ig.exec(envContent)[1];
  project.paths.cus

[2017-08-02 19:48] magnusdanielson commented on #677
So one of my environment files looks like below.
The providerHostUrl is the interesting configuration.

![image](https://user-images.githubusercontent.com/12081481/28891851-2894e652-77cc-11e7-9aab-657ed4c11569.png)

[2017-08-02 20:04] magnusdanielson commented on #677
And yes, before anyone asks. We use another task to move the output files to a ASP.Net MVC project with below task.

`import * as gulp from 'gulp';
import * as changed from 'gulp-changed';
import * as project from '../aurelia.json';

export default function sp() {
  return  gulp.src('scripts/**/*', {base:"."})
        .pipe(gulp.dest('../../Dunite.DI'));

}
`
It is our last build step in build.ts

[2017-08-02 22:34] cottrellio commented on #658
Coming from Ember, I can't think of another feature that would build the Aurelia community faster than having a cli command for generating a plugin! Especially if it's like the current `au new` that allows you to choose webpack, typescript, etc.

[2017-08-04 08:54] combeenator opened #687 "Blank page after automatic reload"
**I'm submitting a bug report**

* **Library Version:**
CLI `0.30.1`
Framework `1.1.4`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Chrome 60 but I guess it happens in other browsers as well

* **Language:**
TypeScript 2.4.2

**Current behavior:**
From time to time my page stays blank after an au

[2017-08-04 09:14] JeroenVinke commented on #687
Hey @combeenator,

I wonder, what are the sizes of your bundles?

[2017-08-04 09:17] combeenator commented on #687
Right now the `vendor-bundle.js` is 1.5 mb and the `app-bundle.js` is 112 kb unminified & unzipped.

[2017-08-04 10:29] JeroenVinke commented on #687
Is your project setup similar to a default CLI project? In other words, do you think it would be possible to reproduce in a new cli project?

[2017-08-04 10:42] combeenator commented on #687
I've tweaked the default CLI project a lot which makes it most probably very hard to reproduce.

What I could do is "dumb down" my project to the bare minimum where this happens but since it only happens every xx mins it would take a lot of time to do so (dumb down -> test -> dumb down -> test, ...).

Is there anything I can check when it happens next time like debugging something within `vendor-b

[2017-08-04 10:48] JeroenVinke commented on #687
Yeah that's going to be difficult. I have a feeling that this might be related to https://github.com/aurelia/cli/issues/685, although i'm not sure. Once I know i'll get back to you.  If that turns out to be a different issue, would it be possible for me to run your application so I can debug it?

[2017-08-04 10:55] combeenator commented on #687
It's a commercial project which depends on our servers to run but I can try to remove those dependencies and critical code before handing it over to you ;)

Obviously those preparations would also take some time but if we can't find no other way, I'd be happy to provide such a version.

[2017-08-06 09:54] JeroenVinke commented on #685
I may have a lead. When I delay execution of the test files it seems to resolve the issue. Try and replace [this line](https://github.com/aurelia/cli/blob/master/lib/resources/test/require.aurelia-karma.js#L81) in aurelia-karma.js with `setTimeout(() => require(allTestFiles, window.__karma__.start), 2000)`.

If you can confirm that this helps I can look for a more decent solution. Let me know

[2017-08-06 13:00] szogun1987 commented on #249
Today (08/06/2017) I had this issue for material-elevation. Trick with empty main field stops to work.
[code]
Error message:
[code]
I run au build as pre-build task in mine .Net Core project. Version of aurelia framework: aurelia-framework@1.1.4

[2017-08-06 23:44] sam-piper commented on #685
That seems to resolve the problem completely. I don't even notice the 2 second timeout in the test console, looks like a race condition happening somewhere perhaps?

Thanks for this fix - happy to use this until you can find a better one.

[2017-08-08 07:15] huochunpeng opened #688 "favicon.ico files are all broken"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
All

* **NPM Version:**
All

* **Browser:**
all
* **Language:**
all

**Current behavior:**
Did anyone notice the `favicon.ico` files are all broken?

[code]

I cannot view the files locally.

Browser also reports the file has error when vi

[2017-08-08 09:08] JeroenVinke commented on #688
Hey @huochunpeng.

Where is this part coming from?

./lib/resources/content/javascriptservices/wwwroot/favicon.ico
./lib/resources/img/favicon.ico

Also, could you tell me what the error is that you get in the browser?

[2017-08-08 10:39] huochunpeng commented on #688
These are the files location in cli source code. One of the favicon.ico is copied to app root directory when `au new app` creats the app.

The favicon.ico in the bootstrapped app can not be viewed in any tool.
When viewing index page in browser http://localhost:9000 , browser shows no icon even after I added `<link ref="icon" href="favicon.ico" type="image/x-icon">` to the html head.

Manual visit

[2017-08-08 18:34] WizzApp commented on #685
Same here, after the change the tests run without issues.

[2017-08-08 21:12] JeroenVinke commented on #685
Thanks @sam-piper and @WizzApp. Yes there seems to be a race condition happening somewhere between the loading of the app bundle and the start of the tests. I'll post here when I find a solution

[2017-08-08 21:15] JeroenVinke commented on #687
@combeenator I don't think that that issue is related. Mind if I send you a private message on Gitter?

[2017-08-08 21:16] diegohb commented on #685
This fix did not work for me but i'm pretty sure it's because I'm using multiple bundles as well (related [to this](https://github.com/aurelia/cli/issues/203))... When i revert [this change](https://github.com/diegohb/aurelia-leaflet-cluster/commit/11a792cad8cbc1f4b1c0bf98cf1820769d89c70f) to split the bundles, i don't see any error running tests with AU TEST.

my repro code that shows the bug run

[2017-08-08 21:34] JeroenVinke commented on #688
Oh yeah, I see the error in firefox now too when I try and open the favicon. Would you like to create a PR and update the favicons with [this one](https://raw.githubusercontent.com/aurelia/skeleton-navigation/master/skeleton-esnext/favicon.ico)?

[2017-08-08 22:13] JeroenVinke commented on #685
@diegohb this looks to be a separate issue. Could you open a new issue? I'll try and look at the repro tomorrow.

[2017-08-08 22:37] diegohb opened #689 "Karma 404 Error when using multiple bundles"
**Environment**
PS > node -v
v6.10.2
PS > npm -v
4.2.0
PS > au -v
0.30.1
PS > yarn -v
yarn install v0.27.5

[This fix](https://github.com/aurelia/cli/issues/685) did not work for me but i'm pretty sure it's because I'm using multiple bundles as well (related [to this](https://github.com/aurelia/cli/issues/203))... When i revert [this change](https://github.com/diegohb/aurelia-leaflet-cluster/commi

[2017-08-08 22:37] diegohb commented on #685
Created ticket https://github.com/aurelia/cli/issues/689

Thanks @JeroenVinke !

[2017-08-08 23:42] sam-piper commented on #685
Just an update - we're still encountering the issue. It's less frequent, but it's still happening.

What's noticeable is that even if you increase that timeout to something like 60 seconds, there is no change in the behaviour of Karma, it starts as soon as it can.

[2017-08-08 23:47] huochunpeng commented on #688
Thanks for the invitation. But I am too lazy for a PR, not that obsessed to show my name in the git log.

It would be easier for you to just commit directly.

Need to add `<link rel="icon" type="image/x-icon" href="favicon.ico" />` to html head, it looks like html5 needs this explicitly.

[2017-08-09 05:37] suamikim commented on #687
@JeroenVinke Sure, contact me any time!

[2017-08-10 04:41] alexandru-calinoiu commented on #654
I was looking for something like this, wanted to know what each section is responsible for.

[2017-08-11 03:07] justindra opened #690 "[bug] Unable to resolve internal dependency in imported library"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Linux (Arch)

* **Node Version:**
6.11.1

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
TypeScript 2.4

**Current behavior:**
Adding [auth0](https://www.npmjs.com/package/auth0-js) library does not resolve the internal dependency of the library itself

[2017-08-11 03:13] diegohb commented on #688
may consider using this: http://realfavicongenerator.net/

[2017-08-12 08:36] JeroenVinke commented on #688
Thank you @huochunpeng and @diegohb. I have created a PR here: https://github.com/aurelia/cli/pull/691

[2017-08-12 08:44] JeroenVinke commented on #690
Hey @justindra,

Instead of using the src directory you should use the transpiled code, which auth0 puts in the `build` directory, like [this](https://github.com/JeroenVinke/aurelia-cli-auth0/blob/master/aurelia_project/aurelia.json#L76-L80).

Take a look at [this project](https://github.com/JeroenVinke/aurelia-cli-auth0/). Let me know if you have any more issues.

[2017-08-12 08:44] #690 closed

[2017-08-12 11:55] JeroenVinke commented on #687
@suamikim I've sent a message to @suamikim on Gitter

[2017-08-12 12:40] zewa666 commented on #435
This would be great in order to create a minimal import of Rx.js. I like the `main: false` approach as it is very descriptive :+1:

[2017-08-12 12:44] JeroenVinke commented on #675
@winterlimelight i've created https://github.com/aurelia/cli/pull/693. Are you be able to test this change and see whether it resolves the problem?

[2017-08-12 13:59] JeroenVinke commented on #435
:+1:

I have updated the PR: https://github.com/aurelia/cli/pull/673

[2017-08-14 07:03] stevies commented on #563
Any progress on this?

[2017-08-14 07:10] magnusdanielson commented on #677
@DavidColemanUK any thoughts on this?

[2017-08-14 09:16] stevies commented on #318
@fragsalat - with your solution, do you get the instrumented code included in your final build app-bundle.js file?  The istanbul plugin appears to always be enabled when transpiling.  You'd need some way of turning it off when doing a full build.

[2017-08-14 18:13] #435 closed

[2017-08-14 18:51] fragsalat commented on #318
Yeah thats true. It would require two different configs.

[2017-08-14 18:55] stevies commented on #318
Thanks.  I was seeing that happen, and wasn't sure I was missing something.  I worked around it by using a different configuration when running coverage and when building for the final output.

[2017-08-14 19:48] winterlimelight commented on #675
I've got the change in now. I'll let you know in a couple of days if I do or don't run into problems. Thanks.

[2017-08-17 11:59] pmanu93 opened #695 ""Installing dependencies" not working"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Linux Mint 17

* **Node Version:**
v8.4.0

* **NPM Version:**
5.3.0

**Current behavior:**
Aurelia-Cli hangs when installing dependencies.
It's something related to requireJS's repo, but I can't sort it out.
This is what happens at the end
![ScreenShot](https://user-im

[2017-08-17 15:03] robgallen opened #696 "Cannot find module async"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.1

* **NPM Version:**
5.0.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
module.js:471
    throw err;
    ^

Error: Cannot find module 'async'
    at Function.Module._resolveFilename (module.js:469:15)
    at Functi

[2017-08-17 15:03] JeroenVinke commented on #695
My Portuguese is not what it used to be, but it looks to be an issue with authenticating to github ((SSH keys maybe). I don't think that this is an issue of the CLI, you'll probably get the same error when you run `npm install` from the project directory.

Maybe these links can help you:
- https://help.github.com/articles/error-permission-denied-publickey/
- https://stackoverflow.com/a/25884909/39

[2017-08-17 15:19] RomainLanz opened #697 "Running the build command should delete the content of the dist folder"
Hey everyone!

The command `au build` should clean the `dist` folder before starting to build the application.
Actually, you are ending with a merge between your old build and the new one, this is not what you want.

[2017-08-17 20:15] diegohb opened #698 "Create command "au task {taskName}" to be able to reuse existing tasks"
**Expected/desired behavior:**
au task "copy-files" --config "/aurelia_project/aurelia.json"

**What is the expected behavior?**
Would like to be able to execute gulp tasks defined (in typescript) using an aurelia-cli command.

Would also like it to allow taking path to JS/JSON file that defines the specific configuration section/properties object it's looking for. By that I mean that maybe it's a

[2017-08-17 20:15] diegohb commented on #698
added bonus is that then devs can just add more tasks to the tasks folder in TS without having to figure out how to get gulp tasks in TS working...

[2017-08-17 21:15] EisenbergEffect commented on #698
Have you tried just "au taskname"?

Sent from my iPhone

[2017-08-18 03:27] diegohb commented on #698
@EisenbergEffect  - thanks... that makes a lot of sense!

[2017-08-18 03:32] diegohb commented on #698
so while **au copy-files** works as expected, **au process-css** fails with undefined error..

any thoughts how to make this work ?

[2017-08-18 05:50] JeroenVinke commented on #698
@diegohb process-css is meant to be called as part of the `au build` task, because the build task initializes the bundler of the CLI. The process-css task feeds CSS/SASS/LESS files into the bundler, so it expects that it has been initialized already.  What would you like to see by calling `au process-css`?

[2017-08-18 05:51] JeroenVinke commented on #697
Yeah I think this would be a good move. @RomainLanz would you like to create a PR?

[2017-08-18 06:18] JeroenVinke commented on #696
I haven't seen this one before. I think it may be an NPM/Node.js issue. Could you try:

1. npm uninstall aurelia-cli -g
2. npm cache clear
3. npm install aurelia-cli -g

if it still doesn't work, maybe update Node.js and try the above again. Let me know how it goes

[2017-08-18 06:52] RomainLanz commented on #697
Yes but I must say I'm not quite sure where I should make the modification.

[2017-08-18 07:10] JeroenVinke commented on #697
First you have to setup the development environment, for which instructions can be found [here](https://github.com/aurelia/cli#building).

Depending on what your solution will be you will have to update the tasks defined in the CLI, such as the [build.js](https://github.com/aurelia/cli/blob/master/lib/resources/tasks/build.js) task. For every task there is both a js and ts version. If you're going

[2017-08-18 08:33] #696 closed

[2017-08-18 14:25] JeroenVinke opened #699 "Explain differences between Webpack, SystemJS and RequireJS"
In the documentation we should briefly explain the differences between webpack, systemjs and requirejs.

[2017-08-18 15:14] diegohb commented on #698
@JeroenVinke - thanks for the explanation .. that makes sense.  I would've liked to be able to use process-css to compile LESS to CSS outside of the bundle for use by the rest of the web app (non SPA parts that don't reference the bundle(s)).

[2017-08-18 16:39] davidpeden3 commented on #260
Nice work, @JeroenVinke. Thanks for getting this done!

@Thanood, is adding [Fusebox](http://fuse-box.org) support still on your radar?

[2017-08-18 17:18] AStoker commented on #698
If you don't treat CSS as a module (default behavior), then you might be able to get this behavior. You would just have to manage pulling in your CSS manually. Alternative approach that has some bloat to it is just compile your css to an outside file, but still bundle your css into your application. You'd have two files that contain your CSS, but the non SPA application would have a normal file to

[2017-08-18 17:33] diegohb commented on #698
Thanks a lot! I'm doing that now using VS17 less-compile for outside the SPAs and bundles inside the SPAs. I still need an IDE-solution for compiling using VSCode as i'm trying to ensure this dev workspace works in both IDEs.

I am next going to try to separate the bundles and look for module as text for SystemJS (not using RequireJS).

https://github.com/diegohb/samples-aurelia-vanilla_cli

[2017-08-18 17:33] #698 closed

[2017-08-18 17:50] ariovistus commented on #562
for the sake of anyone stumbling on this from google, the way to turn off the warning (at least on 0.30.1 with uglifyjs 2.8.29) is

[code]

[2017-08-18 18:13] diegohb commented on #562
@ariovistus - thanks for summing it up..

replacing "stage & prod" with this object with options.. im wondering how to still enable minify for stage per the original setting "stage & prod"... I don't see anywhere in the cli code that it parses those into configured environments..

is it maybe an empty object?
[code]

[2017-08-18 18:24] JeroenVinke commented on #562
@diegohb I believe you can set `"stage": false`. Documentation is written and will go out with the next release of the docs: https://github.com/aurelia/framework/blob/master/doc/article/en-US/the-aurelia-cli.md#javascript-minification.

[2017-08-18 18:51] diegohb commented on #689
https://github.com/diegohb/samples-aurelia-vanilla_cli/compare/c3d23a3...master-task017

I was able to reproduce this again in a new repo using latest v31.0 aurelia-cli release.. pull latest on task017 branch and run **au test**.. will result in following error:

[2017-08-18 19:48] diegohb commented on #562
thanks! thats correct.. for reference, specs show different options: https://github.com/aurelia/cli/blob/f4862398620e8247232698e1259111046b7a09d4/spec/lib/configuration.spec.js

[2017-08-19 05:19] HamedFathi opened #700 "Namespace 'Webpack' has no exported member 'Compiler'."
**I'm submitting a bug report**

* **Library Version:**
0.31.0

**Please tell us about your environment:**
* **Operating System:**
Windows [7|10]

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.3

* **Browser:**
all

* **Language:**
TypeScript 2.4.2

**Current behavior:**
I have problem when I call 'webpack' command.
![2017-08-19_9-41-40](https://user-images.githubusercontent.com/8418700/294837

[2017-08-19 05:52] searus commented on #700
@HamedFathi I managed to fix this by adding an explicit reference to the webpack type definition in tsconfig.js:
[code]

Not sure if this is the correct fix, but it works for me.

[2017-08-19 06:10] HamedFathi commented on #700
@searus

Yes it works, I added
  "files":[
    "./node_modules/@types/webpack/index.d.ts"
  ],

to tsconfig and works
now I hope @EisenbergEffect fix it ASAP.

but now I have another problem

![aaaa](https://user-images.githubusercontent.com/8418700/29483997-b81b8b2c-84ca-11e7-8914-032d5f1aab0d.png)
![untitled](https://user-images.githubusercontent.com/8418700/29483986-747bbfcc-84ca-11e7-9fff-aa0e

[2017-08-19 06:58] JeroenVinke commented on #700
Sorry guys, seems to be related to https://github.com/aurelia/webpack-plugin/issues/118. I'm looking into it now.

[2017-08-19 07:18] JeroenVinke commented on #700
The fix mentioned by @searus (https://github.com/aurelia/cli/issues/700#issuecomment-323502939) resolves the compiler issues for me.

@HamedFathi I've also tested this in an asp net core setup and after running `dotnet run` and going to localhost:5000 it works. Can you give me steps to reproduce? Thanks

[2017-08-19 07:47] HamedFathi commented on #700
@JeroenVinke

1. I used latest CLI and choose SASS, WebPack, ASP.NET Core, VS Code
2. Update csproj with netcoreapp2.0
3. dotnet restore, dotnet build
4. add @searus `s tip to tsconfig
5. execute 'webpack' command
6. dotnet run

then

![untitled](https://user-images.githubusercontent.com/8418700/29483986-747bbfcc-84ca-11e7-9fff-aa0e90dfa9e2.png)

[2017-08-19 08:02] shahabganji commented on #700
@HamedFathi  and @JeroenVinke would take a look at the followings :

![invalid addresses](https://user-images.githubusercontent.com/4405518/29484716-ba7b3296-84d9-11e7-8f77-2425e58c363e.jpg)

![invalid addresses 2](https://user-images.githubusercontent.com/4405518/29484718-bd7e3f10-84d9-11e7-981b-29555f894bb0.jpg)

The src reference of index.html files do not match with what is generated in wwwroo

[2017-08-19 08:27] JeroenVinke commented on #700
@shahabganji did you also upgrade to netcoreapp2.0? I don't seem to have issues with netcoreapp1.1. Still looking into it

[2017-08-19 08:50] shahabganji commented on #700
@JeroenVinke Yes, I've updated to netcoreapp2.0

[2017-08-19 09:53] JeroenVinke commented on #700
@HamedFathi @shahabganji I have a feeling that netcoreapp2.0 is more strict in how it expects the structure to be.

Yeah it should be using the Views, which it currently does not do. There are a couple of things that would have to change:
- webpack.config.js should not output files with hashes
- in asp.net core setup we don't need it to generate an index.html from index.ejs

This setup seems to be

[2017-08-19 10:07] JeroenVinke opened #701 "Support for webpack + asp.net core 2"
**I'm submitting a feature request**

* **Library Version:**
0.31.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When generating a new webpack+asp.net core setup and upgrading it to netcoreapp2.0 it fails to run (https://github.com/aurelia/cli/issues/700#issuecomment-323507637https://github.com/aureli

[2017-08-19 10:45] #700 closed

[2017-08-19 10:48] JeroenVinke opened #703 "Support for Yarn"
**I'm submitting a feature request**

In addition to NPM it would be nice if the CLI would use Yarn if it is installed to install npm modules.

[2017-08-20 10:12] zewa666 opened #704 "Feature: Json schema for aurelia.json"
**I'm submitting a feature request**

* **Library Version:**
all

**Please tell us about your environment:**
* **Operating System:**
all

* **Language:**
all

**Current behavior:**
Currently when working with the file `aurelia.json` its pretty hard to know what each property and setting is about and on top of that if you misstype something you won't know what is wrong.

**Expected/desired behavior

[2017-08-20 10:14] zewa666 commented on #704
Related issue: https://github.com/aurelia/cli/issues/654

[2017-08-20 20:38] gregoryagu commented on #701
I also would like to see support for webpack + asp.net core 2

However, I get a different result than the above:

1. In VS 2017, I create a new Asp.net core project and select 2.0 as the version.

2. I then use au new --here.  This completes without error.

3. au cli creates a views folder and index.cshtml with the typical boot code.  But core 2.0 projects don't use a "Views" folder like prior ver

[2017-08-20 23:46] gregoryagu commented on #701
I have also been trying to get webpack + aspnetcore 2.0 to work.

The only issue I have found is that the index.html that is generated by webpack has an incorrect path to the app.*.bundle.js and vendor.*.bundle.js.

This is what is generated:

`<script type="text/javascript" src="/app.5cd7e50b38f3346de7b9.bundle.js"></script><script type="text/javascript" src="/vendor.5cd7e50b38f3346de7b9.bundle.j

[2017-08-20 23:48] winterlimelight commented on #675
No problems so far. Seems good 👍

[2017-08-21 05:36] delebash opened #705 "Webstorm/Phpstorm debugger break points are not hit"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre
0.31.1

**Please tell us about your environment:**
* **Operating System:**
|Windows 10

* **Node Version:**
68.4.0

* **NPM Version:**
5.3.0

* **Browser:**
Chrome  60.0.3112.101

* **Language:**
all | TypeScript X.X | ESNext
ESNext

**Current behavior:**
Using Webstorm's debugger break points are not hit

**Expected/des

[2017-08-21 05:42] delebash commented on #705
The problem is due to windows. The sourcemap.write  sourceRoot: 'src' and should be '../src' for windows machines

You can fix this in the gulp task transpile.js by manually adding sourcemap.write with the corrected path

[code]

[2017-08-21 05:44] JeroenVinke commented on #675
Nice. Thanks for reporting back @winterlimelight

[2017-08-21 05:44] #675 closed

[2017-08-21 05:46] #682 closed

[2017-08-21 05:51] JeroenVinke commented on #701
The weird thing is that the index.html file does get served from the `dist`. e.g. `localhost:8080` serves `dist/index.html`. Yet the bundle does not get served. In aspnet core 1.1 this worked without any issues, so i'm not sure what changed. Regardless, I'd like to improve this setup and it'll probably fix this issue as well

[2017-08-21 05:53] JeroenVinke commented on #695
Please reopen if this is still an issue

[2017-08-21 05:53] #695 closed

[2017-08-21 06:41] #667 closed

[2017-08-21 08:11] JeroenVinke commented on #672
I can't seem to reproduce this in the latest version of the CLI. Since globalize is working now, I'll close this issue.

[2017-08-21 08:11] #672 closed

[2017-08-21 08:12] #663 closed

[2017-08-21 09:37] uelarn commented on #700
The fix with "./node_modules/@types/webpack/index.d.ts" under files section in tsconfig.json
generate a new problem.

@autoinject on ts files gives this error
[ts] Experimental support for decorators is a feature that is subject to change in a future release. Set the 'experimentalDecorators' option to remove this warning.

Solution:
Replace files section with include section.

[2017-08-21 14:40] JeroenVinke opened #709 "Update documentation to mention webpack"
Right now we don't mention webpack in the CLI documentation. Especially in the bundling area we should mention that that only applies to requirejs/systemjs. It would be good to point to some good webpack resources (e.g. pluralsight courses or tutorials)

[2017-08-21 15:35] gama410 opened #710 "Require a class with dependencies from a generator"
This is not a bug, just a question I can't get the answer from Google, SO nor Gitter and I've been racking my brains on it for 2 days now...

I have a generator that receives a model class in argument and uses this class to create a basic CRUD based on its properties and decorators.
I have to require this file from the generator using an absolute path (as I understand it, it is because require con

[2017-08-21 16:32] zewa666 commented on #710
There is a section paths in the file aurelia.json which can be configured to understand tsconfig style paths. Take a look at this example https://github.com/zewa666/aurelia-cli-shared-folder which makes use of that approach to import shared code. Is that what you're looking for or did I misunderstand the question?

[2017-08-21 18:01] gama410 commented on #710
Thanks for your answer!

Unfortunately, I don't really see how I could apply this to my problem. Maybe my [SO question](https://stackoverflow.com/questions/45793124/aurelia-cli-generator-cannot-import-dependencies) will be clearer.

My problem is related to the import of code coming from my _src/_ folder by a generator. It works well if the code is imported with a relative path (which I don't mind

[2017-08-21 19:33] delebash commented on #549
Windows 10x64
node 8.4.0
aurelia-cli 0.31.1
javascript
webstorm

For me I think the problem stems from the sourcemap path in windows and how aurelia handles that path on windows

In order for webstorm to hit breakpoints I had to change the `sourceRoot: 'src'` in sourcemaps  transpile.js to ` sourceRoot: '../src'`
after this debugging works but as @flekschas I get the same error when changing code

[2017-08-21 19:39] zewa666 commented on #710
Could you create a minimal example depicting the issue so we can take a better look at it?

[2017-08-22 02:49] delebash commented on #705
Trying to track this down.  In bundled-source   this.includedIn.requiresBuild = true;   includedIn is null

[2017-08-22 07:13] gama410 commented on #710
Ok, I'll try to do that and put it on github. I'll notify you when it's done. Thanks!

[2017-08-22 09:04] gama410 commented on #710
I made a minimal repro that I set up in this [repository](https://github.com/gama410/aurelia-generator-repro). Using the generator called "test", you can see that it makes a require() of a file to retrieve some of its properties and generate some code. If you pass 'a' as the sole argument, it will require a class that has an absolute dependency (which is my use case) and fail with a 'file not foun

[2017-08-22 19:55] delebash commented on #705
Same issue https://github.com/aurelia/cli/issues/549 more info

[2017-08-22 21:26] avrahamcool opened #713 "aurelia-cli using webpack don't takes `--env prod` into consideration"
**I'm submitting a bug report**

* **Library Version:**
0.31.1 [using webpack with Typescript]

**Current behavior:**
running `au build --env prod` should run the build tool with the flag `production` set to `true`.
[this affects the bundling and other aspect of the build proccess]
but this is not taken into account.

the problem is caused by using object literals deconstruction wrongly.

in the `

[2017-08-22 23:49] pkozul opened #714 "environment.ts file not getting replaced when building in WebPack project"
**I'm submitting a bug report**

* **Library Version:**
0.31.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.4

* **Browser:**
Chrome

* **Language:**
TypeScript 2.4.2

**Current behavior:**
When running:
[code]
the `aurelia_project/environments/prod.ts` file is not copied to the `src/environment.ts` file.

**Expec

[2017-08-23 02:06] andreabaldin-LIC commented on #399
Future looks at PWAs.  Providing a PWA template would increase dramatically the Aurelia distribution.
Personally I'm looking for production ready template: Aurelia + .NETCore + PWA + Webpack3 + TypeScript with Implicit Flow auth (OpenIddict/IdentityServer4) and I don't want to spend months in setting and sorting configuration problems.
Sorry, no time to spend in infrastructure challenges and sever

[2017-08-23 02:24] diegohb commented on #399
yes, let's avoid 100 switches for cli and any implementation specifics!! 👍 supporting all the library package loaders and bundlers is a big task enough for this project...

@andreabaldin-LIC  - this following is somewhat what you're looking for... i needed the same sort of thing to be able to have a decent jump-off point without spending too much time (again) figuring out node and au tooling speci