[2016-10-11 17:30] MeirionHughes commented on #332
is path.posix.join() the recommended approach for cross platform?

[2016-10-11 18:06] jutxle opened #373 "JS_Parse_Error from aurelia-cli when Typescript targets ES6"
**I'm submitting a bug report**
- **Library Version:**
  0.20.2

**Please tell us about your environment:**
- **Operating System:**
  Windows 7
- **Node Version:**
  6.2.1
- **NPM Version:**
  3.9.3
- **Browser:**
  all
- **Language:**
  TypeScript 2.0.3

**Current behavior:**
tsconfig.json target = "es2015"
aurelia-cli builds properly but fails to minify when the --env prod/stage flag is applied

[2016-10-11 18:06] geleto commented on #359
Yes

[2016-10-11 20:47] AStoker commented on #373
Are you able to identify the file that the build is failing on?

[2016-10-11 20:57] jutxle commented on #373
It appears to error in my App.ts at line 3, the first import statement that loads a module within my src.

Line 1-3 are as follows
[code]

[2016-10-12 07:53] simonmurdock commented on #332
I also ran into this issue yesterday where i started development on windows and then after a bit of head scratching had to "re new" the project on the mac and merge the changes in.

[2016-10-12 15:48] AStoker commented on #328
@Jenselme, if you're interested, I made a repo with the CLI and added modifications/notes on how to run TDD. It is dependent on getting the next version where you can externally configure the loader, but hopefully that gets deployed tomorrow.
https://github.com/AStoker/Aurelia-TDD

[2016-10-12 17:02] AStoker commented on #373
@jutxle, what are the contents of file `y.js`?
Could be that you're not exporting the named module `y`?

[2016-10-12 17:22] jutxle commented on #373
Y.js is being exported.  You can reproduce this bug with a bare aurelia-cli Typescript project, with the Typescript target set to es6

[2016-10-12 19:41] AStoker commented on #373
I don't use typescript, but I'm just trying to help where I can.
Did you mean that `y` is being exported (as a named export) from `y.js`? Because that's what your code is assuming.

[2016-10-12 21:57] MeirionHughes commented on #217
if you want imports and and typings you can do the following:

add script to index.html before aurelia loaded
[code]
create `electron-fix.js` in root
[code]
add to bundles dependencies:
[code]

`npm install @types/electron`

then you can use it like this:

[code]

[2016-10-13 21:44] northamerican opened #375 "Cannot find module './src/init'"
* **Library Version:**
0.20.2

* **Operating System:**
OSX 10.12

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Language:**
ESNext

**Current behavior:**
`au new` and `au run` are entered as instructed. Instead of building and running, this error is shown:
[code]

**Expected/desired behavior:**
The Aurelia CLI should build and or run when commanded.

[2016-10-13 21:45] northamerican commented on #375
Reproducible on two Macs both running macOS Sierra. This is with the Aurelia CLI installed on the date of this bug report.

[2016-10-13 21:48] dustin486 commented on #375
@northamerican I was literally about to open an issue on this and saw where you did. I am having the same problem. Running macOS Sierra.

[2016-10-13 21:54] northamerican commented on #375
directly related: https://github.com/floridoo/gulp-sourcemaps/issues/243

[2016-10-13 22:01] MMJM commented on #375
Exactly the same happening for me

[2016-10-13 22:08] northamerican commented on #375
temporary fix:
`npm install gulp-sourcemaps@2.0.0 --save`
`cd node_modules/vinyl-fs`
`npm install gulp-sourcemaps@2.0.0 --save`

[2016-10-13 22:10] zezelazo commented on #257
Still happening, now with jquery-ui here is how i solved thanks to the @geleto comment nice trick put it on prepend.

`"name": "vendor-bundle.js",
        "prepend": [
          "node_modules/jquery/dist/jquery.js",
          "node_modules/bluebird/js/browser/bluebird.core.js",
          "scripts/require.js"
        ],
        "dependencies": [
          "aurelia-binding",
          "aurelia-boots

[2016-10-13 22:28] dustin486 commented on #375
`npm install gulp-sourcemaps@2.0.0 --save` worked for me.

[2016-10-13 22:40] PWKad commented on #375
Can someone try again looks like sourcemap released a fix 10 minutes ago

[2016-10-13 22:45] PWKad commented on #375
Confirmed it works for me with 2.1.1 `gulp-sourcemaps` if someone else can confirm we can close this and everyone can run `npm install gulp-sourcemaps` if they caught this at the same time.

[2016-10-13 22:52] dustin486 commented on #375
@PWKad I just created a new project and confirm the update `gulp-sourcemaps` pushed fixes the issue. Can be closed.

[2016-10-13 23:03] #375 closed

[2016-10-14 00:26] leiavoia commented on #335
If anyone has a hint of where to start looking, I'm willing to poke at it a bit. I am unfamiliar with the CLI internals.

[2016-10-14 03:15] #259 closed

[2016-10-14 03:19] #368 closed

[2016-10-14 13:24] AStoker commented on #257
@zezelazo, that's what we did until we needed to list `jQuery` as a dependency (and therefore as a named install too). This resulted in two versions of jQuery being loaded up which caused other rippling problems. It seems that there is still some strangeness in ordering the deps, but it seems a bit inconsistent and dependent on what dependency tree you create.

[2016-10-14 15:39] MannikJ commented on #248
I also find this one very crucial. I'm quite new to all this Javascript building and bundling and often struggeling even with simple tasks like including a css framework. This can get really annoying - especially because the actually programming with aurelia is so easy and you are just held up from doing the funny stuff ;)

To make life easier I adapted @geleto's approach so I can continue buildin

[2016-10-14 15:45] EisenbergEffect commented on #248
The best way to handle CSS frameworks is usually to do the same thing you've already done. Just add a link tag to the page. That's the way they are designed to be used and sometimes you need them loaded before the app anyway.

[2016-10-14 18:10] Ullfis commented on #373
I believe it's because UglifyJS does not support es6 yet. See progress [here](https://github.com/mishoo/UglifyJS2/issues/448).

Use typescript and target es5 in cli projects. To get the latest typescript goodies like async/await, use latest releases (like `npm i typescript@2.1.0-dev.20161014 –save-dev`).

Example project [here](https://github.com/Ullfis/au-cli-skel)

[2016-10-16 21:55] Ashthos opened #377 "ENOENT error when building with prod environment flag"
**I'm submitting a bug report**

* **Library Version:**
0.18.0   `au --version`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **Language:**
TypeScript 2.0.2

**Current behavior:**
`au build --env prod` crashes with the following

[code]

where ` credit-note-cancel-dialog.ts ` contains

[code]

**Expected/desi

[2016-10-16 22:03] Ashthos commented on #377
Additional information:

I am targeting ` es6 ` in my ` tsconfig.json ` file, changing this to ` es5 ` does **not** solve the problem (as has been suggested in another issue)

[2016-10-16 22:13] Ashthos commented on #377
Resolved:

in ` aurelia.json ` I had the following for aurelia-dialog:

[code]

Removing the ` "env": "dev" ` property allows the product to build successfully.

[2016-10-17 04:03] EisenbergEffect commented on #377
Yes. You were in effect saying that you only wanted that dependency to be included in the dev build, but not production.

[2016-10-17 04:03] #377 closed

[2016-10-17 16:03] MannikJ commented on #248
@EisenbergEffect I get your point for the specific case of a bulky CSS framework like bootstrap from which you will probably only use one per app, but I also think you're overlooking the actual problem.
It's not really about how you include those resources in your app in then. Whether you add a link, script, require or whatever tag to the page, or import it into your Javascript doesn't really matt

[2016-10-17 16:14] EisenbergEffect commented on #248
Of course there is interest in addressing this. However, it's lower priority than other things on the list for the CLI, in part because a simple link tag will fix the problem and is much easier than the work we would have to do to solve this inside the CLI.

[2016-10-17 16:19] lpj145 commented on #291
`"prepend": [
          "node_modules/babel-polyfill/dist/polyfill.min.js",
          "node_modules/bluebird/js/browser/bluebird.core.js",
          "node_modules/tether/dist/js/tether.min.js",
          "scripts/require.js"
        ]`

And uncomment Promise.config.

[2016-10-17 16:19] lpj145 commented on #291
you can include after bluebird.

[2016-10-17 21:21] mattbrooks2010 opened #378 "`au build` bundle output and revision hashes are non-deterministic"
**I'm submitting a bug report**
- **Library Version:**
  0.21.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  v6.5.0

- **NPM Version:**
  3.10.8

- **Language:**
  TypeScript 2.0.3

**Current behavior:**
1. Run `au new` selecting TypeScript as the transpiler.
2. Set `build.options.rev` to `true` in `aurelia_project/aurelia.json`.
3. Run `au

[2016-10-17 22:28] MMJM commented on #347
@EisenbergEffect I'd love to help out with Aurelia. I'm quite limited on time but I can have a look when I get a chance.

[2016-10-17 22:47] EisenbergEffect commented on #347
Everyone is welcome to contribute in any way they desire :)

[2016-10-17 23:28] jiger25783 commented on #258
what do i have to install again? node or au cli?

[2016-10-18 04:10] MMJM commented on #217
@MeirionHughes Thanks for the information and link

[2016-10-18 08:37] geleto commented on #359
Here's a workaround for the html and the sourceRoot issues, add this function at the end of gulp.series in build.ts:
[code]
You'll have to import [map-stream](https://www.npmjs.com/package/map-stream).

BTW, maybe you should rename #332 if it should track all windows-separator related build bugs.

[2016-10-18 12:23] Thanood commented on #256
For anyone interested, here's my working browserSync proxy:

[code]

The proxied url is `localhost:20626`.

What do you think of a recipe collection hosted inside Aurelia Hub? Just came to my mind, users could quickly find configuration artifacts like this.

[2016-10-18 12:37] AStoker commented on #378
I noticed this as well. The problem is that when the vendor bundle is created, it doesn't seem to concatenate the modules in the same order consistently. Not sure where/why that is happening though.

[2016-10-18 12:49] Thanood opened #379 "Creating a separate bundle and requiring css before importing js fails"
**I'm submitting a bug report**
- **Library Version:**
  0.21.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 8
- **Node Version:**
  6.2.2

- **NPM Version:**
  3.20.5

- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**

I'm trying to bundle a 3rd party library which contains css and js - `material-design-lite` to be precise.
I tried to `<require

[2016-10-18 12:52] Thanood commented on #379
## Steps to reproduce:

`npm install --save material-design-lite`

aurelia.json bundle config:

[code]

app.html:

[code]

## Making it work

main.js:

[code]

[2016-10-18 12:58] AStoker commented on #379
@Thanood, when we bundle CSS, you can see it defined in the vendor bundle. This seems strange that it would happen. Can you look in your vendor bundle for the module definition that corresponds to your material css file?

[2016-10-18 13:04] AStoker commented on #183
Is this still an issue? Does using VS Code solve your issue?

[2016-10-18 13:08] Thanood commented on #379
I see..

[code]

So this is maybe because the name of the css file without the extension is the same as the JS file (`material-design-lite/material`).

It works with the `material.teal-orange.min.css` now (different name).
Although I'm pretty sure that it didn't when I first looked at this. Anyway, I cannot reproduce that.

[2016-10-18 13:15] AStoker commented on #379
That's from the require config I suppose? Not quite what I was looking for.
If you look at the `vendor-bundle.js`, that's where all your vendor code exists, both modules and regular prepended (non amd) code. CSS is supposed to be converted into a module, so you should see a module defined as `material-design-light/material.css` (based off your config). Especially because you say that importing tha

[2016-10-18 13:18] AStoker commented on #379
My bad, don't look in your vendor bundle, you have it defined in your material bundle.

[2016-10-18 13:25] Thanood commented on #379
Alright, thanks! :+1:
I thought you meant the reference to `mdl-bundle` in `vendor-bundle`. :smiley:

Btw.: When you actually put this into `vendor-bundle` it works, since `vendor-bundle` is required anyway.

[2016-10-18 18:07] shaunluttin opened #380 "au run --watch detects but does not render HTML changes when rev is true."
**I'm submitting a bug report**

* **Library Version:**
0.20.2

**Please tell us about your environment:**
* **Operating System:** Windows 10
* **Node Version:** v6.3.0
* **NPM Version:** 3.10.3
* **Browser:** all
* **Language:** TypeScript

**Current behavior:**
0. Set `build.options.rev = true`
1. `au run --watch`
2. Open any browser at localhost:9000
3. Change the HTML of the current template.

[2016-10-18 18:11] shaunluttin commented on #380
Related: http://stackoverflow.com/questions/40114963/the-watcher-detects-the-change-and-reloads-the-page-without-including-the-change/40115194

[2016-10-18 19:23] AStoker commented on #380
Revisions are used for production and should not be used in a testing environment (aka when using `--watch`).

[2016-10-18 22:38] shaunluttin commented on #380
It sounds like the use case for `rev` does not include my expected behavior. Is that right?

[2016-10-19 05:44] EisenbergEffect commented on #380
That is correct.

[2016-10-19 05:44] #380 closed

[2016-10-19 07:57] danechitoaie commented on #255
It would be. Better defaults would make more sense. Just started using the cli and I find it very confusing to how to generate the final bundle and what it needs to go on production and what not, and what is the structure of the folder in which app/vendor-bundle is loaded from...

[2016-10-19 08:59] kuechlerm opened #381 "Using postcss with imports does not pick up changes correctly on au run --watch"
**I'm submitting a bug report**
- **Library Version:** 0.21.0

**Please tell us about your environment:**
- **Operating System:** Windows 10
- **Node Version:** 4.4.7
- **NPM Version:** 3.10.5
- **Browser:** all
- **Language:** TypeScript 2.0.3

**Current behavior:**
When I use PostCSS with [postcss-import](https://github.com/postcss/postcss-import) and two files:
a.css and _b.css, where in a.css

[2016-10-19 09:26] jugglingthebits opened #382 "au run --watch stops when less code doesn't compile"
I'm submitting a bug report

**Library Version:**
0.21.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  6.6.0

- **NPM Version:**
  3.10.3

- **Language:**
  Less

**Current behavior:**
When creating a new project using `au new` and choosing less as the css processor, the task `au run --watch` stops when there is a less file that doesn't comp

[2016-10-19 13:40] EisenbergEffect commented on #381
That seems reasonable to me for now. We might be able to come up with something better in the future.

[2016-10-19 21:40] Thanood opened #384 "Plugins using a config-builder pattern don't load this builder from the bundle"
**I'm submitting a bug report**
- **Library Version:**
  0.21.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  6.2.2

- **NPM Version:**
  3.9.5

- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**

I tried adding a plugin to my app. This plugin uses an index file with a "config-builder" (not sure how to call it) to a _separa

[2016-10-20 02:47] EisenbergEffect commented on #384
That's very odd.

[2016-10-20 07:27] tmmunro commented on #337
Yep, battling to get this working nicely, a working example would be much appreciated, e.g, is a custom middleware in the browserSync the way to go? Sample would very helpful, thanks.

[2016-10-20 08:36] stsje opened #385 "Bluebird config not allowed when promises already in use"
**I'm submitting a bug report**

* **Library Version:**
0.21.0

* **Browser:**
Firefox, Edge, IE 11

**Current behavior:**
An error is thrown if you enable bluebird's cancellation option: `cannot enable cancellation after promises are in use`. The error doesn't occur in Chrome.

A newly created CLI project has the bluebird configuration in `main.js`.

Example configuration in `main.js` that fails

[2016-10-20 13:36] EisenbergEffect commented on #385
It's not possible to remove promise use from the bootstrapper.

[2016-10-20 13:36] #385 closed

[2016-10-20 13:48] stsje commented on #385
Could we then change the default CLI project setup, so it configures bluebird before requiring bootstrapper?

[2016-10-20 13:52] EisenbergEffect commented on #385
It's possible. That's more complicated though because it would involve leaking module loader details into the index.html, which is something we would rather not do.

[2016-10-20 13:52] EisenbergEffect commented on #385
PRs are welcome if we can find a good solution.

[2016-10-20 13:57] jutxle commented on #373
Thanks Ullfis, that does appear to be the issue and your resolution is a suitable workaround as  Typescript 2.1 supports async/await in es5

[2016-10-20 14:39] stsje commented on #385
I'm not sure if the `data-main` attributes qualifies as a module loader dependency, since it wouldn't hinter other module loaders from working.
An abstraction will be needed in the CLI if `data-main` is seen as a module loader dependency.

How about doing the following, where you don't find any requirejs specific code in index.
[code]

I really don't like adding a pre-configuration step before aur

[2016-10-20 14:46] EisenbergEffect commented on #385
Will the code you show above work, without needing to use require.js directly?

[2016-10-20 14:50] stsje commented on #385
Yes the above code does work. Will have to investigate futher if there are any race conditions though.
Also you don't have the option to use the environment variables in the configuration which makes it kind of a less ideal solution.

[2016-10-20 14:53] EisenbergEffect commented on #385
Good point.

[2016-10-20 20:47] chrsmrtn- opened #386 "unable to update the global install of aurelia-cli"
**I'm submitting a bug report**

* **Library Version:**
0.21.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10 Anniversary update

* **Hardware:**
Surface Book (no longer reproduces on my Dell laptop.

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.8

* **Browser:**
N/A

* **Language:**
N/A

**Current behavior:**
I'm having issues updating my global installation

[2016-10-20 20:56] AStoker commented on #386
Run
`npm uninstall -g aurelia-cli au`
`npm cache clean`
`npm install -g aurelia-cli`

Sometimes npm leaves the `au` sucker in there.

[2016-10-20 21:10] chrsmrtn- commented on #386
ran the commands and the issue still persists.  Used `...` to help shrink the console output.  I left the first and last subline output for each command

[code]

[2016-10-20 21:13] chrsmrtn- commented on #386
I also ran the uninstall and then closed the command prompt. Then from a fresh command prompt I ran `npm -g cache clear`.  Then I ran the global install of aurelia-cli.  Finally ran `au -v` and still got the unexpected output of 0.19.0

[2016-10-20 22:13] corneliutusnea commented on #386
@chrsmrtn-
1. Are you running that from an Admin command prompt?
2. What version of npm do you run? Should be  a 3.10.x.
Also make sure you run this:
https://www.npmjs.com/package/npm-windows-upgrade
Lastly, you migth want to delete your cache folders manually. Npm has sometimes issues with packages:
Try to delete aurelia-cli from C:\Program Files\nodejs\node_modules
and everythign from
C:\Users\c

[2016-10-21 09:58] Thanood opened #387 "Changing requirejs baseUrl has side-effects"
**I'm submitting a bug report**
(but I'm not entirely sure if this is a bug or intended)
- **Library Version:**
  0.21.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 8
- **Node Version:**
  6.2.2

- **NPM Version:**
  3.10.5

- **Browser:**
  all
- **Language:**
  all

**Current behavior:**

According to [the documentation](http://aurelia.io/hub.html#/doc/article/a

[2016-10-21 10:10] Thanood commented on #387
### Reproduction repo

#### Without modifications, plugins loaded from `src/plugins`

* Clone this repo: https://github.com/Thanood/au-baseurl-issue
* ' au run`
* open the url in the browser and open devTools
* click "load plugins"
* receive a 404 error when loading `http://localhost:9000/src/plugins/index.js `

#### manually change `baseUrl`

* set `baseUrl` in `vendor-bundle.js` to `scripts/`
*

[2016-10-21 12:48] AStoker commented on #386
@Chrsmrtn You missed the whole command.
Specifically, run `npm uninstall -g aurelia-cli au`
We're uninstalling `aurelia-cli` *AND* `au`.
After you do that, run the rest of the commands I gave you.

[2016-10-21 21:54] CasiOo opened #388 "[Feature Request] Add shorthands for importing resources"
**I'm submitting a feature request**
- **Library Version:**
  0.21.0

**Expected/desired behavior:**
It would be nice with a shorthand for importing modules in the resources directory. All module loaders should support defining aliases for module sub paths or whatever they are called.

I would like to have the following config as part of the default CLI setup for a new requirejs project.
The confi

[2016-10-22 02:18] jadrake75 commented on #343
Our corporate project is deploying all our common "code" as a library that is used in our applications.  This has been a critical issue for us.  My assumption was there was just some switch we had to flick to get it to work, but it would appear to be a deeper issue.   We do have our app code source mapping, but that is only usually about 5-10% of the total app (since most is encapsulated in common

[2016-10-22 02:53] corneliutusnea commented on #273
@EisenbergEffect Is there an example of using loadText to load the css for a component?

[2016-10-22 02:55] EisenbergEffect commented on #273
You can see an example of that here: https://github.com/aurelia/templating-resources/blob/master/src/css-resource.js#L43

[2016-10-22 15:25] MisterGoodcat commented on #265
I was also looking for this feature for similar reasons (custom host/serve process used during development) when I stumbled upon this issue and #240.

While it's possible to use "au run" as a workaround, or modify the build task like @zamotany suggests, I second adding this as a built-in feature to the cli. It's not uncommon to have this scenario, in particular in enterprise environments where app

[2016-10-23 05:45] zezelazo commented on #253
The solution is to replace all the '\\' for '/', It worked for me on Windows and Mac

[2016-10-23 08:35] Ganbin commented on #336
I still have this problem on my Mac OS X El Capitan. I have updated my aurelia-cli from 0.18 to 0.21. But now I'm unable to run `au run` it say `Invalid Command: run`.

I have remove the cache from NPM like say in the doc but it doesn't solve the issue. So Now I think I have to recreate a new project using au new and then migrate all my files, and changes, Which take time and can lead to some erro

[2016-10-23 14:37] milkshakeuk opened #389 "aurelia.json missing aurelia-fetch-client"
**I'm submitting a bug report**

* **Library Version:**
0.21.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
6.2.1

* **NPM Version:**
3.9.3

* **Browser:**
all
* **Language:**
all

**Current behavior:**
when starting a new project using `au new` the `aurelia.json` does not contain `aurelia-fetch-client` in the `dependencies` section even tho

[2016-10-23 17:38] lunicleonid commented on #332
Still present in 0.21.0 :( Generated the project on Windows 10 and my colleague that is using a Mac spent some time figuring out why the project in not working on his machine.

[2016-10-23 18:38] MeirionHughes commented on #336
@Ganbin I've had that too; bar uninstalling the cli entirely, cleaning the cache and updating to npm 3.10... I guess you could do a blanket string conversion to replace `\\` with `/`

[2016-10-23 19:27] Ganbin commented on #336
I have made the migration by moving all my files in a `TEMP` folder and then do a `au new --here` in my project folder.

Here is the steps I have follow :

1. Move the content of `./TEMP/src/` to `./src/`.
2. Move the content of `./TEMP/styles/` to `./styles/`.
3. Move the config files (like `.editorconfig`, `.eslintrc.json`)
4. Check the content of the `package.json`and install the dependencies.

[2016-10-23 22:30] golavr commented on #332
It's also affects the ability to debug (visual studio code) with source maps
**_app-bundle.js.map_**
{"version":3,"sources":["src/app.js", ...

![image](https://cloud.githubusercontent.com/assets/22896741/19629904/77ea4798-9987-11e6-9665-5d349df68f4a.png)

After changing the **_aurelia.json_** from` \\` to `/`
**_app-bundle.js.map_**
{"version":3,"sources":["app.js", ...

![image](https://cloud.gi

[2016-10-24 12:49] AStoker commented on #388
Unfortunately we don't have full tests on the CLI yet, so any changes need to be tested manually (and thoroughly).
If you could do me a favor and prepend this issue name with something like "[Feature Request]", that would help with sorting.
Right now, we only support RequireJS as the module loader, but later we want to support SystemJS and Webpack. So any kind of configuration that is created shou

[2016-10-24 12:52] AStoker commented on #265
@avrahamcool, could you do me a favor and add "[Feature Request]" to the beginning of this issue? It would help with organizing the issues for us :)

[2016-10-24 12:55] AStoker commented on #389
If the `aurelia-fetch-client` isn't used by any of the other internal aurelia modules, then yes, this would be a redundant dependency that probably doesn't need to be there. But it very well could be in the `package.json` because some other dependency needs it. Can you confirm that `aurelia-fetch-client` isn't used by anything else in the default project?

[2016-10-24 13:08] EisenbergEffect commented on #389
It's not used by anything.

[2016-10-24 14:09] AStoker commented on #389
@EisenbergEffect, think we should just remove it from the deps, or default add it to the `aurelia.json` file?

[2016-10-24 14:45] AStoker commented on #332
Anybody actively looking at this? If not, I have a bit of bandwidth I'm going to spend to get it fixed.

[2016-10-24 15:19] EisenbergEffect commented on #332
Please go for it :)

[2016-10-24 16:05] AStoker commented on #371
@EisenbergEffect, how does this look: https://github.com/aurelia/cli/pull/391

[2016-10-24 19:46] ChrisMancini opened #392 "Unable to "require" a supporting class within a unit test, given the generated code from aurelia-cli."
**I'm submitting a bug report**

* **Library Version:**
0.21.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x/Windows 7

* **Node Version:**
4.4.3/5.4.0

* **NPM Version:**
3.10.9/3.9.1

* **Browser:**
Only targeting Chrome at this time, however I suspect this will fail in other browsers.

* **Language:**
all

**Current behavior:**

Unable to "require" a supporting cl

[2016-10-24 20:00] AStoker opened #393 "[Docs] Document CLI Recipes"
## **I'm submitting a documentation request**

* **What is the motivation / use case for changing the behavior?**

Many of the issues that arise for the CLI project are actually questions about implementation disguised as bugs. To help with this, a proposed "Recipes" section is being created.
"Recipes" are quick examples of how to accomplish a specific task, with code examples included. For exampl

[2016-10-24 20:10] Thanood commented on #393
A few first recipes:

### Enable BrowserSync to proxy a backend server

In `aurelia_project/tasks/run.js` change the `server` task to:
[code]

Replace `localhost:24562` to the url you'd like to proxy.

###  Enable requirejs loading from 'scripts' directory
*IMO, this should work but doesn't, see #387*

Add this to `build.loader` in `aurelia.json`:
[code]

[2016-10-24 21:02] AStoker commented on #332
I went for minimal changes. I think we only needed to change the path separators for user facing code. I'd appreciate someone else taking a look and confirming that this works across devices for more than just me.
https://github.com/aurelia/cli/pull/394

[2016-10-24 21:41] adriatic commented on #393
@AStoker allow me to register my big interest in participating in this discussion. @Thanood and I represent the same group (Aurelia-Tools / Aurelia-UI-Toolkits) and from all of our projects, it is **[Monterey](https://aurelia-ui-toolkits.gitbooks.io/monterey-overview/content/)** that is best suited to disseminate the information we hope to collect here.

Reference to Monterey (https://github.com/m

[2016-10-24 21:49] CasiOo commented on #393
- Changing output folder. The skeletons use `/dist`.
- Adding clean task for `stage & prod`. You wouldn't clean between dev builds in watch mode.
- Adding plugins such as materializecss. Includes setting up sass tasks to override materializecss defaults. Would be nice with complete configuration guides.
- Manual bootstrapping with requirejs/other module loaders. Useful if you want custom logic bef

[2016-10-25 05:19] Thanood commented on #393
Having created a Materialize bridge, I find this very interesting.. 😃

With JSPM one would use [an override](https://aurelia-ui-toolkits.gitbooks.io/materialize-bridge-docs/content/app_developers_notes/using_your_own_sass.html). While I guess this is possible in `aurelia.json`, I'd really like to see a working example of that. 😃

Btw. here's the Materialize config:

[code]

[2016-10-25 12:45] AStoker commented on #393
Love the feedback! Once we start getting a good list of recipes (already have a good start), we'll start discussing each one to get the proper setup.

[2016-10-25 13:44] martonsagi commented on #393
This is interesting! Yesterday, I was just thinking on how to make `aurelia.json` setup easier - especially on  setting up `bundle.dependencies` correctly.

There are lots of blog posts, SO answers covering specific libraries, etc.., which is great. But that's fragmented information, so finding all the relevant bits can be confusing and time consuming procedure.

If we could collect well-tested, w

[2016-10-25 13:52] AStoker commented on #393
@martonsagi, nice tool you got there! I think Eisenberg was going to implement that kind of functionality directly into the CLI soon.

[2016-10-25 13:53] AStoker commented on #392
@ChrisMancini, I just tried to reproduce this with ESNext, and didn't get your error. Can you try to create a clean project with ESNext and see if it does the same thing? I wonder if it's something with the babel typescript transpiler not creating the file correctly.

[2016-10-25 14:02] adriatic commented on #393
@AStoker @martonsagi @JeroenVinke Gentlemen allow me to "barge in" without invitation as this discussion is very relevant for our **[Monterey project](https://github.com/monterey-framework/monterey)** which @EisenbergEffect introduced his month in his **[blog](http://blog.aurelia.io/2016/10/03/introducing-monterey/)**. I am referencing Rob to indicate that he is involved with Monterey's design and

[2016-10-25 14:18] AStoker commented on #393
@adriatic, I think that having a discussion over on Monterey would be helpful. However having a separate discussion here, keeping recipes as the main focus I think is still important. Not everyone will be using Monterey, and recipes should be agnostic of your IDE. This issue is not to discuss development of the CLI. It is to just get some ideas on what kind of recipes we'd like to have documented,

[2016-10-25 14:23] adriatic commented on #393
@AStoker it seems you you took my intent as trying to **hijack** this discussion, while I actually proposed a **fork**:

Obviously my fault is that I did not make my intent more clear, so I apologize for being clumsy 😏

[2016-10-25 14:24] ChrisMancini commented on #392
@AStoker I just walked through the same procedure selecting all defaults (ESNext) during 'au new'.

I received the error listed above.;

[2016-10-25 14:27] AStoker commented on #393
Not a problem @adriatic! Sorry for misunderstanding you there. The medium of the internet is not the best to convey intentions 😉
Thanks for clarifying! I think having that "fork" discussion would be a great idea to improve the Monterey tool!

[2016-10-25 14:30] AStoker commented on #392
Interesting. Let me try it again and see if maybe I missed something...

[2016-10-25 14:32] ChrisMancini commented on #392
@AStoker Could you create a repo with your attempt?  I could then compare it to mine.

[2016-10-25 14:36] AStoker commented on #392
BTW, my `testHelper.js` is as follows (since I'm on ESNext)
[code]

[2016-10-25 14:46] martonsagi commented on #393
@adriatic Thanks for your interest, I would be glad to contribute to the Monterey project.

@AStoker Thanks for your feedback. I wasn't entirely sure that this issue would be the best place to discuss my idea, but it seemed relevant. I had no intention to be offtopic! :)

On:

**Copy files recipe (for general use)**

Create `copy-files.js|ts` in `aurelia_project/tasks` folder

[code]

Add a new se

[2016-10-25 15:19] EisenbergEffect commented on #393
It might be appropriate to just have a Recipes section of the docs. Then under that we can have cli, binding, components, etc. Each one of those can be an article with a collection of recipes we can show in the sidebar.

[2016-10-25 15:20] adriatic commented on #393
@martonsagi @AStoker @JeroenVinke We can conclude this slight turn of the main topic in this thread with a happy end - as @AStoker and I had a good conversation resulting with:

1. The Recipes documentation is a great idea (initiated by @Thanood - a member of Monterey team)
2. @martonsagi's Pacman is a likely solution for Monterey's immediate need, expected to be finally a part of [aurelia-cli](ht

[2016-10-25 15:39] AStoker commented on #392
@ChrisMancini, I got your issue to be reproducible (I had some changes in my files that caused it to work).
The reason this is happening is because the tests are being compiled into AMD, and RequireJS won't automatically add the `.js` extension to files that are requested that have certain criteria ([Load Javascript Files](http://requirejs.org/docs/api.html#jsfiles))

Now you might think, "Hey, bu

[2016-10-25 15:50] ChrisMancini commented on #392
@AStoker yes I was able to proceed with the first option when I first encountered the problem.  I will try the second option.  Thanks!

[2016-10-25 17:35] ChrisMancini commented on #392
@AStoker Worked like a charm.  Thank you very, very much!

[2016-10-25 17:35] #392 closed

[2016-10-25 17:37] AStoker commented on #392
Glad you got it working! Happy to help

[2016-10-25 17:41] chrsmrtn- commented on #386
@AStoker Nice catch! I made sure to in `npm uninstall -g aurelia-cli au` as the first command and got the same result :(

@corneliutusnea I am running with local user permissions as everything is being installed in my AppData folder.  When running with the -g flag, nothing gets installed in C:\Program Files\nodejs\node_modules. Even when running as Administrator. I am using npm version 3.10.8.  I

[2016-10-25 17:59] chrsmrtn- commented on #386
@AStoker Okay this is odd.  I ran the commands you recommended on my other dev machine, my Dell Precision M4800, and the version is properly being reported.  All of this done under my local user account.

This issue has reproduced on this machine before.  But now it's not.  The screen captures I provided here and have been testing on thus far is my Surface Book.

I did another test.  I ran the uni

[2016-10-25 18:14] EisenbergEffect commented on #389
We should probably remove it. I think it's just a hold over from the
original skeleton.

On Mon, Oct 24, 2016 at 7:09 AM, Andrew Stoker <notifications@github.com>
wrote:

--
Rob Eisenberg,
President - Blue Spire
aurelia.io

[2016-10-25 19:59] AStoker commented on #386
It might be possible that at one point your ran `npm install aurelia-cli` (no `-g` command) in a location and you've been running your install commands globally.
Run the uninstall command I gave you earlier (au and aurelia-cli), then try `au -v` and see what you get. You should get some error saying `au` is undefined.

[2016-10-25 20:01] AStoker commented on #389
@EisenbergEffect, that's what I did. There's a PR with your name waiting approval :)

[2016-10-25 21:15] chrsmrtn- commented on #386
Yep, that was it!  Turns out on my SurfaceBook I ran `au install aurelia-cli` at `C:\Users\chrsm`.  This mean that was the one that gets picked up even if you run `au -v` from the `C:\Users\chrsm\Documents\Visual Studio Code\` directory.  So while it was indeed using the globally installed au exe in my AppData for my profile, the execution version was being scoped down to the one installed at `C:\

[2016-10-25 21:15] #386 closed

[2016-10-26 03:24] EisenbergEffect commented on #389
Thanks!

[2016-10-26 03:24] #389 closed

[2016-10-26 10:57] con-ssc opened #395 "Update typings to @types"
**I'm submitting a feature request**
- **Library Version:**
  0.21.0
- **Operating System:**
  Windows 10
- **Node Version:**
  6.6.0
- **NPM Version:**
  3.10.8
- **Browser:**
  all
- **Language:**
  TypeScript 2.0.3

**Current behavior:**
The "au new" command puts "typings" npm module in place.

**Expected/desired behavior:**
The "au new"command should use "@types" npm module for typings instead

[2016-10-26 12:11] hadrienl opened #396 "au test and npm test"
**I'm submitting a bug report**

* **Library Version:**
0.18.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Language:**
ESNext

**Current behavior:**

My test failed. When I launch `au test`, I get a `1` exit code. I set `npm test` in my `package.json` to exec `au test`. When I exec `npm test` my test fails,

[2016-10-26 12:37] AStoker commented on #386
Glad you got it resolved!

[2016-10-26 12:38] AStoker commented on #395
Could you do me a favor and format this according to the [Issue Template](https://github.com/aurelia/cli/blob/master/ISSUE_TEMPLATE.md)?

[2016-10-26 12:39] AStoker commented on #396
Just curious, if you update to the latest version of Aurelia CLI (0.21.0), do you still experience this issue?

[2016-10-26 12:47] con-ssc commented on #395
Here you go.

[2016-10-26 13:16] hadrienl commented on #396
Oh yeah, it's fixed… sorry…

[2016-10-26 13:16] #396 closed

[2016-10-26 14:41] EisenbergEffect commented on #395
This sounds like a nice idea. @con-ssc Any interest in making a PR to do this?

[2016-10-26 14:49] stsje commented on #393
It would be nice with a guide on how to update the Aurelia version with the CLI, and if it's possible to update individual aurelia packages.

[2016-10-26 14:50] con-ssc commented on #395
Puhh I can have a look into it, but I haven't looked at the cli source at all yet.

[2016-10-26 14:55] EisenbergEffect commented on #393
Everything related to updating would happen through npm. The Aurelia CLI doesn't have anything to do with that. So, the same practices for updating any npm library would apply to all Aurelia libraries, including the CLI itself. The only difference for the CLI is that there is a globally installed version of it and a locally installed version. The global version creates new projects and then it pro

[2016-10-26 15:03] con-ssc commented on #395
Are all of those typings needed?
angular-protractor
jasmine
selenium-webdriver
node

[2016-10-26 15:18] con-ssc commented on #395
@EisenbergEffect PR #397

[2016-10-28 05:23] ShaunVanDyk opened #398 "Writing bundles to index should be relative to index"
**I'm submitting a bug report**
- **Library Version:**
  Aurelia CLI 0.21.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  4.5.0

- **NPM Version:**
  3.10.8

- **Browser:**
  all
- **Language:**
  all

**Current behavior:**
If I have this as my configuration in aurelia.json:
"build": {
    "targets": [
      {
        ....
        "output":

[2016-10-28 11:03] jmvtrinidad opened #399 "Support for PWA"
**I'm submitting a feature request**

**Please tell us about your environment:**
- **Operating System:**
  Windows 8.1
- **Node Version:**
  6.2.0

- **NPM Version:**
  3.8.9

- **Browser:**
  all
- **Language:**
  all

**Current behavior:**
N/A

- **What is the expected behavior?**
  `au new --mobile`
- **What is the motivation?**
  Allow creating template for Progressive Web App while following

[2016-10-28 12:41] AStoker commented on #399
Could you put a little bit more details about Progressive Web App and what you would expect exactly?

[2016-10-28 12:55] AStoker commented on #398
I'm trying to follow everything you have going on, so bear with me :)
It looks like you're trying to put your `index.html` file in the same directory as where you output your transpiled code. That's probably where the problem lies for you, and you might benefit from separating out your transpiled code (`dist`) from your index file which isn't transpiled/bundled. Is there a specific reason why you

[2016-10-28 13:51] hanssens commented on #293
This still occurs in v0.21.0 of the CLI.

Steps which can reproduce it _most of the time_, using Visual Studio Code:

1. Create a new project with the cli: `au new`
2. [optional] Add some additional files to it
3. Run the watch: `au run --watch`
3. Make an arbitrary edit in **at least two different files** and then save these all at once ("Save All" in VS Code, for example)

Big chance that this w

[2016-10-28 14:04] jmvtrinidad commented on #399
Upon executing `au new --mobile`, `au-cli` should be able to generate files needed to get started developing [Progressive Web App](https://developers.google.com/web/progressive-web-apps/)(PWA). It also should be based on [Material Design](https://material.google.com) or maybe (just maybe) based on [Bootstrap](getbootstrap.com/). Building, adding page, elements, components, etc. should be the same.

[2016-10-28 14:18] AStoker commented on #399
It sounds like you're wanting something that builds a setup specifically for Material/Bootstrap. I'm not sure that's the direction that the CLI is going, @EisenbergEffect can confirm that. The CLI sets up a skeleton project that needs just bare bones stuff.
Adding to the CLI a build setup for a specific library might start opening the doors to making a build setup for other libraries, and before y

[2016-10-28 14:25] bryandh commented on #293
Can confirm last comment from @hanssens. My CLI also crashes using the provided steps.
It really seems that quick subsequent saves of different files causes the gulp-typescript library to throw the error.
I'm currently running CLI version 0.20.2

[2016-10-28 14:29] jmvtrinidad commented on #399
For clarification, its not about libraries, its more about the structure that will generate to get started developing Progressive Web App.
Sorry for confusion.

[2016-10-28 14:41] EisenbergEffect commented on #399
Specifically, what about the default setup is a problem for PWA?  I don't see any real issues.

[2016-10-28 14:58] Thanood commented on #293
This may probably related: https://github.com/ivogabe/gulp-typescript/issues/322
And by another issue linked there I came to this PR in angular2-starter: https://github.com/antonybudianto/angular2-starter/pull/61

(note that this has nothing to do with angular2 but with their gulp-typescript setup)

Btw. I'm also getting this error from time to time.

[2016-10-29 03:21] rkrdovrgs opened #400 "Trace dependencies is never set to false for resources"
**I'm submitting a bug report**
- **Library Version:**
  0.21.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 7
- **Node Version:**
  6.2.0
- **NPM Version:**
  3.9.6
- **Browser:**
  all
- **Language:**
  TypeScript

**Current behavior:**
- Not possible to add a bundle dependency that has resources, and you want to disable `traceDependencies` by setting the pattern

[2016-10-30 00:49] rsuter commented on #322
@jcarrascal how did you create a .NET Core based project with "au new"? I don't have this option...

[2016-10-30 21:17] corneliutusnea opened #401 "Packaging sometimes is incorrectly building the vendor-bundle.js"
**I'm submitting a bug report**
- **Library Version:**
  0.21.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  4.5.0
- **NPM Version:**
  3.10.7
- **Browser:**
  all
- **Language:**
  TypeScript

**Current behavior:**
Building the prod bundle using `au build --env prod` sometimes creates an unusable bundle.
When I try to load the app the bund

[2016-10-31 00:39] ShaunVanDyk commented on #398
Hi AStoker,

Thanks for the response. I already ended up getting the build to do what I want by creating some custom Gulp tasks after spending a bit of time trying to work out what was going on :)

I was testing out the revision stuff which is why I needed to ensure that the build could successfully alter my index.html file. However the issue is I don't think this alteration will work if you ever

[2016-10-31 13:06] AStoker commented on #400
Just to clarify, you're wanting to be able to trace dependencies by using the bracket (`[]`) syntax for resources, right?
The bracket syntax is specific to Aurelia, not a minimatch/glob feature. So I believe it's only good for defining source locations. Dependencies and resources I think have to be more specific. You'd probably want to be real careful trying to trace resources of dependencies, as

[2016-10-31 13:10] AStoker commented on #401
Not sure why using the production flag would cause a different outcome here...
Could you post your `aurelia.json` file? Can you also reproduce this on a clean project?

[2016-10-31 18:14] rkrdovrgs commented on #400
@AStoker no, I am talking about the opposite. I want to be able to disable tracing by using the brackets. This is not an enhancement, this is a bug. As you suggested, I actually was talking about a dependency:
[code]

I want to be able to disable traceDependencies by using the square brackets, but there is a bug in the code that prevents that. Please see https://github.com/aurelia/cli/blob/master/

[2016-11-02 02:13] jmvtrinidad commented on #399
Sorry, what do you mean by this?

[2016-11-02 06:53] Ganbin commented on #399
With the default setup you can already build a PWA. It is depending the way you create your application and not the setup made by the CLI.

The CLI provide the setup to develop your project. You can go any direction you want. Mobile, SPA, full desktop, PWA, etc...

[2016-11-02 16:31] Thanood opened #402 "[feature] loader config by environment"
**I'm submitting a feature request**

* **Library Version:**
0.21.0

**Expected/desired behavior:**

We can create bundles depending on environment and we can configure the loader (currently requirejs).
I have a setup where it would be beneficial to have several `paths` overrides while in development but the same `paths` as module names inside of a bundle when going production.

This actually work

[2016-11-03 03:02] jmvtrinidad commented on #399
Maybe its more suitable in [skeleton-navigation](https://github.com/aurelia/skeleton-navigation/) repository.
Thanks for great support.

[2016-11-03 03:02] #399 closed

[2016-11-03 10:37] alecb67 opened #403 "Trying to call the app from a different host server using useAbsolutePath"
I'm slightly unsure as to whether this is a bug or whether i'm after a separate enhancement. We have our aurelia-cli project deployed and working on our internal production server (IntranetApps.domain.com) and this is where we would like to keep our code. However our Intranet is hosted from our Umbraco CMS sevrer. What we need to be able to do is host the aurelia code on IntranetApps.domain.com/au

[2016-11-04 14:47] kassobasi commented on #269
I experience a similar problem with some additions (windows 10, node v6.9.1, npm v3.10.8)

It prints the following at the end but never exits the command to the prompt:

Installing Typings
(node:10676) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): typings WARN deprecated 2016-09-15: "registry:dt/selenium-webdriver#2.44.0+20160317120654" is deprecated (updated, re

[2016-11-04 18:47] maikelRA commented on #215
I'm trying to migrate an application to aurelia-cli, but I have the same error with jwt-decode. Some solution for this issues.

[2016-11-06 12:43] milkshakeuk commented on #395
excellent I was going to raise an issue about this myself 😄

[2016-11-08 15:53] #382 closed

[2016-11-08 15:57] #371 closed

[2016-11-08 15:58] #332 closed

[2016-11-08 16:47] swalters commented on #208
@EisenbergEffect cli was basically useless to me when using typescript and webstorm.  It crashed on about every 5th save.  I made the changes specified above and haven't had a problem since.

[2016-11-08 16:50] EisenbergEffect commented on #208
Would someone be able to submit a PR for this?

[2016-11-08 19:03] Thanood commented on #208
See #404, just removed the `if(!typescriptCompiler)` check.

[2016-11-09 19:54] JamesFenton opened #405 "Build emits outputs to wrong directory on ASP.NET Core"
**I'm submitting a bug report**

* **Library Version:**
0.22.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.9

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Running `au build` produces the bundles in the ./scripts folder instead of ./wwwroot/scripts in ASP.NET Core projects

**Expected/desired b

[2016-11-09 19:59] JamesFenton commented on #357
Hi, I can't seem to find an open issue regarding this, and this bug is still happening as of v0.22.0

[2016-11-10 02:04] hamidabdulmalik opened #406 "vendor-bundle.js Does not work with electron or nwjs"
Everything works fine in browser, but when I run with electon or nwjs, it gives this error. Any help?

![aurelia](https://cloud.githubusercontent.com/assets/340532/20161992/127e9d12-a703-11e6-952b-b1bf0acd97ff.png)

[2016-11-10 14:00] AStoker commented on #405
Reproducible on my machine too.

[2016-11-10 14:03] AStoker commented on #406
Can you show the code that is breaking on the `vendor-bundle` file?
Also, the error seems to be coming/thrown from from a chrome extension? Does this happen on any other browser?

[2016-11-10 15:23] fabioluz opened #407 "[Feature Request] Export static files"
I've been developing an aurelia-plugin for a legacy library. This library loads some static files asynchronously, which means that these files must be "exported" to the dist folder.

After a long conversation with @AStoker, we came to the conclusion that aurelia-cli needs a feature to export files, like the one that SystemJS Skeleton has. It's good to emphasize that this feature is different from

[2016-11-10 19:37] AStoker commented on #407
Other name options (not sure of any of them, just throwing ideas):
- Copy
- Export (no 's', but could easily cause confusion)
- Move (could be confusion because you're not really _moving_ files)

[2016-11-10 19:38] Thanood commented on #407
How about `externals` because these files are "external" to the bundle..
Hmm, not perfect but I'll leave it here. 😃

[2016-11-10 19:40] AStoker commented on #407
I kind of like that. Could it be confused with thinking external to the project though? Like CDN's and things external to the build folder? Or is that overthinking it?

[2016-11-10 19:48] Thanood commented on #407
Maybe you're right.. Not sure if that's overthinking. I looked at my proposal for too long that I'm overthinking it myself right now. 😂

- `static`
- `lazyLoad` (anything "lazy" actually)
- still like the `external`-ish direction somehow

[2016-11-11 12:56] Rebulus opened #408 "[Bug] Watcher is crashed, when nonexistent file was added to custom element"
**I'm submitting a bug report**

* **Library Version:**
0.22.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Node Version:**
4.4.2

* **NPM Version:**
3.10.9

* **Browser:**
all

* **Language:**
TypeScript 2.1.1

**Current behaviour:**

`au run --watch` is crashed, if I use `import` of a nonexistent file. For example:
I have the custom element:

[code]

When

[2016-11-11 13:50] fabioluz commented on #407
I think that `copy` and `copyToDist` are the best so far.

[2016-11-11 15:47] AshleyGrant opened #409 "HTML Source Maps not being created correctly"
**I'm submitting a bug report**

* **Library Version:**
0.22.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
all

**Current behavior:**

Source maps for HTML files are not being added to `app-bundle.js.map` correctly. There are two issues.

- HTML file paths in the `sources`

[2016-11-13 06:51] EisenbergEffect commented on #403
This seems like a bug.

[2016-11-13 06:52] EisenbergEffect commented on #403
Would you be interested in submitting a PR to fix it? @AStoker Thoughts on this?

[2016-11-13 08:51] ghidello commented on #405
In order to use the **rev** option I also had to update the `build.targets.index` property to `wwwroot/index.html`

[2016-11-13 10:18] JamesFenton commented on #405
@ghidello I have the same issue. I believe that is related to #357

[2016-11-13 22:15] ghidello commented on #405
Yes, looks like it's the same thing, thanks for pointing out. I started reading the CLI sources and putting together a solution but now I see it has been closed because they're already working on it. Well, I needed to start somewhere so it was worth it anyway.

[2016-11-14 04:22] EisenbergEffect commented on #409
@AshleyGrant Seems like you figured out what was going wrong. Is the fix pretty straight forward? Any chance of a PR?

[2016-11-14 14:08] AStoker commented on #403
So I think I'm tracking with what's going on. Let me just re-iterate, so I can make sure I'm following the issue correctly.
You're trying to reference a different location for your script files, since they don't exist in the same location as your `index` file. So you're using the absolute path flag, and a base url, which _should_ be making every request from your baseUrl location, instead of your

[2016-11-14 14:29] AshleyGrant commented on #403
We're still early enough in the development of the CLI, that a breaking change could be a responsible fix for this. Is there a better configuration setup we could use? Maybe add a `useAbsoluteUrlBase` or something that acts differently than `useAbsolutePath`? Or maybe change `baseUrl` to `basePath` and then make `baseUrl` be a full url?

[2016-11-14 14:40] alecb67 commented on #403
Yeah you've got the gist of it Andrew. I initially was going to write a separate flag similar to what Ashley has just explained, but i just went with the quick fix of getting rid of the slash. Either a new flag or a regex would work great for us. Happy to submit a pull request if it's still necessary.

[2016-11-14 15:54] AStoker commented on #403
If we can create a consistent regex to catch this case, I feel that that would probably make more sense, since it would mean _less_ configuration for the user to get the use case they want. Too many flags to get stuff working, and you have users getting paralyzed by options.

[2016-11-14 20:40] AshleyGrant commented on #409
The only thing I've figured out so far is that I'm not exactly sure how source maps worked in the first place. The two lines here: https://github.com/aurelia/cli/blob/master/lib/build/concat-with-sourcemaps/index.js#L2 require from a module called `source-map`, but that doesn't seem to be a dependency of the CLI.

Any idea how this is working? `source-map` is in my `node_modules` folder, but I nee

[2016-11-14 20:44] AshleyGrant commented on #409
Well, nevermind. I figured that out. It is a dependency of `gulp-sourcemaps` which is a dev dep of an Aurelia CLI project, so that explains how that works.

[2016-11-14 20:45] EisenbergEffect commented on #409
It's coming in from another dependency. I can't remember which one though. It might be coming from gulp-sourcemaps or something like that.

[2016-11-14 22:21] #409 closed

[2016-11-15 20:33] AshleyGrant opened #411 "Need to add release note regarding sourcemaps"
I have figured out that the changes made regarding windows path separators in the `0.22` release fix some issues with source maps in both ESNext and TypeScript projects.

Unfortunately, these issues will persist until a developer updates their `aurelia.json` file. They'll need to replace all instances of `\\` with `/` to get the fixed behavior.

Also, the path to `requirejs` was updated from `"scr

[2016-11-15 20:47] AStoker commented on #407
@fabioluz, for the sake of moving forward, I'd `copy`. If you're able to code it up in a way that makes renaming easy down the road, that'd be helpful.

[2016-11-16 03:42] rajajhansi opened #412 "Please add abbreviation for au generate <generator> CLI command and new generators"
**I'm submitting a feature request**

Please add abbreviation 'g' for generate like this:
`au generate` -> `au g`

Please add the following generators:
1.
`au g class <className>` - should generate a plain .js or .ts file under **src** folder with the source code:
[code]

2.
`au g test <className>` - should generate a className.spec.js or className..ts file under **test\unit** folder with the sour

[2016-11-16 05:04] EisenbergEffect commented on #411
We've got a change log for the cli but it didn't include this. If you want to PR the changelog directly, I can add that info to the next blog post.

[2016-11-16 05:06] EisenbergEffect commented on #412
No need to add a language flag because the CLI knows what language you are using. For the generators, you can write your own by simply dropping code into the folder. If you want these out of the box, please consider PRing them to the CLI. Be sure to PR them in both languages.

[2016-11-16 05:17] rajajhansi commented on #412
@EisenbergEffect My bad. I meant to request to add switches --lang <language> and -y to "au new" and not to "au generate" command. I've edited my comment. I'd be happy to PR the generators.

[2016-11-16 12:23] llicht opened #413 "Watcher crashes due to esprima parse errors"
**I'm submitting a bug report**

* **Library Version:**
0.22.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.1 LTS

* **NPM Version:**
3.10.9

* **Language:**
TypeScript

**Current behavior:**
Often, when I make changes to typescript sources and save while a syntax error still exists (I save very often), the au watcher crashes with the follo

[2016-11-16 13:53] EisenbergEffect commented on #413
I'm closing this as a duplicate. We've got a fix coming shortly.

[2016-11-16 13:53] #413 closed

[2016-11-18 02:26] krig commented on #212
Just wanted to note that I'm trying to follow the Contact Manager Tutorial in the documentation, and hit this same issue. setting `stub: false` resolved the problem. Not sure if I missed a step somewhere, or if this is a problem that actually affects the tutorial.

[2016-11-18 03:23] #411 closed

[2016-11-19 00:11] xdvarpunen opened #416 "Introduction path to Aurelia and state of CLI and Skeleton project"
**I'm submitting a feature request**
The Aurelia documentation introduces first how to use premade project and later on introduces to use aurelia-cli. Neither is production ready; CLI is in Alpha and premade project is actually just reference to make it easier to start working on Aurelia. In the nutshell Aurelia needs "production ready" development guide/introduction.

-XDVarpunen

[2016-11-19 00:12] xdvarpunen commented on #416
Skeleton projects seem to be the production ready starting packs

[2016-11-19 02:48] EisenbergEffect commented on #416
The Skeletons are production ready. The CLI is in alpha but the project it generates is production quality.

[2016-11-19 02:48] #416 closed

[2016-11-19 03:02] EisenbergEffect commented on #406
Closing since OP didn't provide additional info and we know that there are working Electron+Aurelia apps.

[2016-11-19 03:02] #406 closed

[2016-11-19 03:04] EisenbergEffect commented on #405
Feel free to submit a PR :)

[2016-11-19 06:30] xdvarpunen commented on #416
What's difference between production quality and production ready? I am trying to decide whether to use CLI or Skeleton Projects

[2016-11-19 17:16] #398 closed

[2016-11-20 16:06] ghidello commented on #378
I'm looking to this [snippet](https://github.com/aurelia/cli/blob/8b3179a94cef6170d98eb9282d67027a3cd627ec/lib/build/bundle.js#L31-L41) (I just reformatted a bit the map method)

[code]
My guess is that the issue here is related to the fact that the **addDependency** method (which adds the dependencies to the 'includes' array used by the bundler) is executed as soon as the **configureDependency**

[2016-11-21 13:40] AStoker commented on #378
If that's what's happening, that does make sense. Think you could make a PR for a fix?
Thanks for digging into why this could be happening by the way!

[2016-11-22 19:25] guser commented on #253
today this error still exists...hmmph. what I am missing.
main.js:1 Uncaught SyntaxError: Unexpected token import
vendor-bundle.js:11052 Uncaught TypeError: Cannot read property '__useDefault' of undefined

[2016-11-22 19:28] AStoker commented on #253
@guser not sure your issue is the same one. From your error it looks like your code isn't being transpiled and bundled (`import` is an ES6 feature, and if a browser hits that when it doesn't support it, it throws an error). You have your vendor bundle there, but it's trying to load up `main.js` which should be inside your `app-bundle.js`

[2016-11-23 00:51] guser commented on #253
Thanks for taking time out AStocker. I'm kind of new to this Aurelia. I installed Aurelia-cli fresh. Create a project and did the "au run --watch", it started on Ubuntu 16.04 OK. I have all dependencies installed, but just not working correctly in the browser. I kind of assume the cli would give me a default setup for everything.

[2016-11-23 06:13] huochunpeng commented on #303
I waited too long for this to be fixed, so I spent some hours today and got a working fix!

Try this in your big project package.json to see if this solve your problem.

[code]

Surprisingly, the slowest part is not repeated parsing (to find out deps), it's writeTransform. I did a profile, writeTransform consumes 85s of 110s (my project build time).

My fix includes:

1. uses amodro-trace's [issue

[2016-11-23 06:18] EisenbergEffect commented on #303
Woohoo! This sounds awesome! @AStoker Can you check this out and see if we can bring it in?

[2016-11-23 08:06] ggrimbert commented on #303
Hi,

I tried and this works perfectly !

The only negative point I found is the version of NodeJS required for this to work. I first tried with Node 5.0.0 and it has a problem with ```const {id, deps, contents} = item;``` in bundled-source.js.

But with node 6.7.0 it works as expected.

Thanks a lot for this work, it will save my days

[2016-11-23 08:14] huochunpeng commented on #303
I will refactor my code to use es5 syntax.

[2016-11-23 10:46] tdamir commented on #303
I'm getting an Object.values is not a function in bundled-source.js:17:17
NodeJS v6.5.0 and v6.9.1.

[2016-11-23 10:59] huochunpeng commented on #303
@tdamir I am using latest v6.9.1. Did you has a special nodejs configuration somewhere that disabled some es6 features?

[2016-11-23 11:05] huochunpeng commented on #303
@tdamir I refactored the code to avoid Object.values. Have a try.

[2016-11-23 11:13] tdamir commented on #303
It works now. Perfect. Thanks!
According to these: http://node.green/ and https://nodejs.org/en/docs/es6/ for the usage of Object.values a --harmony runtime flag is needed.

[2016-11-23 11:19] huochunpeng commented on #303
@tdamir interesting. Something on my Mac must turned on harmony mode. Object.values works even in v4.6.1 on my machine. My node is installed through nodenv.

[2016-11-23 11:25] tdamir commented on #303
@huochunpeng Could be. Honestly, I'm still noob for the nodejs. I'm working in Windows environment and installed it from the executable provided on the nodejs site.

[2016-11-23 13:47] AStoker commented on #253
Unfortunately, without more details, there are _many_ things that _could_ be going wrong.
Could you do me a favor, @guser, and write up your question over in Stack Overflow, and then link it here so I can help you there? That way your question doesn't get lost in a closed issue.

[2016-11-23 13:54] AStoker commented on #303
@huochunpeng, thanks so much for spending time making a PR for this issue! Seriously, it goes a long way. In regards to node versions, I'm pretty sure (I'm ready to be corrected) that the CLI only supports the v4 LTS, v6 LTS, and the latest...
@EisenbergEffect, I'll try and take a look at it today.

[2016-11-23 14:58] AStoker commented on #303
@huochunpeng, if you could make a PR so we can discuss fixes there, I'd greatly appreciate it. I just tried to use your fix in my production setup, and it seems to silently fail and not write out the files. On the plus side though, the tracing step was _significantly_ faster :)

[2016-11-23 16:24] fabioluz commented on #412
But when you run `au new` you can choose which language you want. Also, you can choose among css pre processors and module loaders (in the future).

So, adding switches to avoid answering questions could be confusing. Some users may never know about the options because someone told them to run `au new projectName --lang ts -y`.

[2016-11-23 17:53] paulharker commented on #378
This has a definite effect for us: we are loading jquery and ms-signalr-client (a library that extends jQuery). ms-signalr-client requires that jquery be loaded first, and it is completely arbitrary whether or not it will work based on this bug.

I would hope that creating an entry in aurelia.json like this would result in jquery being loaded first:
[code]
but it does not. I have a workaround of p

[2016-11-23 21:21] EisenbergEffect commented on #378
@AStoker Any chance you can look into this?

[2016-11-24 00:01] tlenczyk opened #420 "No sourcemaps in karma"
Hi,
When debugging my test code I don't see sourcemaps in chrome console (http://localhost:9876/debug.html)

After modifications in karma.conf.js sources appears

[code]

I don't know what I should change to attach also sourcemaps for test sources.
Do you have any ideas?

aurelia-cli 0.22.0

[2016-11-24 01:44] Narven opened #421 "au run --env dev --watch takes 10 minutes years to do Tracing..."
Hi

Why is that every time i run `au run --env dev --watch` it takes huge amount of time to do this tracing weirdinesss...

[code]

This crap looks like a anti-virus scanning my computer taking +10 minutes... Is this really necessary while in dev? Do I really have to go and eat something every time i run that command?
This is going to increase a lot for each js file that i code? in 5 months is goi

[2016-11-24 02:03] EisenbergEffect commented on #421
This is a duplicate of another performance issue we have tracked. We also have a PR just in today that makes a huge improvement to the performance. That will be merged and is planned for release within the next week.

[2016-11-24 02:03] #421 closed

[2016-11-24 02:04] Narven commented on #421
thats awesome. thanks

[2016-11-24 02:07] EisenbergEffect commented on #421
Sorry for the inconvenience. The CLI still has some alpha qualities, performance being one of them. Hopefully the upcoming release will fix it for you. If it doesn't, please let me know. As an alternative, you might look into Webpack, if the issue persists after this release. In the future, we're going to merge Webpack support into the CLI.

[2016-11-24 02:12] Narven commented on #421
No worries. is just a bit annoying the delay, specially because of manually inserting data info aurelia.json (i never get that thing right the first time) so when i run the `au run...` it always breaks a few times.

I think it would be a huge improvement if the aurelia.json would not be a manual process.

[2016-11-24 02:20] huochunpeng opened #422 "project built with aurelia-cli WITHOUT requirejs/text loader. How does this work?!"
**I'm submitting a bug report**

* **Library Version:**
0.22.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Surprise!
remove "text" from package.json,
remove "text" from aurelia.json dependencies,
create an empty file "text.js" in src/ folder.
now ru

[2016-11-24 02:21] EisenbergEffect commented on #421
We've got a community group building out a new CLI feature per my spec, to eliminate the manual editing of aurelia.json .  We are all looking forward to that :)

[2016-11-24 02:23] EisenbergEffect commented on #422
The bundling process, using the default coniguration, inlines all the text content, so that a plugin is no longer needed. As a result, it can just stub the text plugin with a fake version. If you look in the aurelia.json file, you'll see some configuration for stubbing that.

[2016-11-24 02:23] #422 closed

[2016-11-24 02:23] Narven commented on #421
Thats really awesome work. thanks :D

[2016-11-24 02:24] huochunpeng commented on #422
Thanks! yes they are all inline.

[2016-11-24 02:25] huochunpeng commented on #422
because cli stubs it anyway, should we remove "text" from package.json?

[2016-11-24 02:29] EisenbergEffect commented on #422
We don't want to remove it because some people turn stubbing off. If they need to dynamically require text, they will need to include that. I'd prefer for it to still be there.

[2016-11-24 06:37] EisenbergEffect commented on #420
Interesting. We need to look into this. Please update us with any other findings or experiments that yield your expected output. We can use this to improve what our CLI generates.

[2016-11-26 16:21] malk2013 commented on #405
hi,
i have started new aurelia project but still this issue is hanging around look at my aurelia.json
"build": {
    "targets": [
      {
        "id": "aspnetcore",
        "displayName": "ASP.NET Core",
        "output": "wwwroot/scripts",
        "index": "wwwroot/index",
        "baseUrl": "scripts"
      }
    ],
when i run ---->    au run     its not showing my default output . please help

[2016-11-27 21:43] WillTartak commented on #357
Today the fix from @4imble was still required for a new project created with cli v0.22.0 as @JamesFenton stated.

[2016-11-28 13:49] AStoker commented on #378
@EisenbergEffect, I can add it to my list, but right now I'm pretty loaded up at work, and we're house hunting too, so it might be a bit before I get to it unfortunately. I was really hoping somebody would submit a PR for this one :)

[2016-11-28 14:05] AStoker commented on #420
We've included sourcemaps for our project the same way you have done. For test sources you need to tell babel that you want sourcemaps included, and make them inline, so that way you don't have to bring in external files (they're embedded in the transpiled file).

[2016-11-29 03:07] shaunluttin opened #423 "Emit accurate sourcemaps for application plugins."
**I'm submitting a bug report**

* **Library Version:** 0.20.0
* **Operating System:** Windows 10
 * **Node Version:** 6.9.1
* **NPM Version:** 3.10.8
* **Browser:** Chrome Version 54.0.2840.99 m (64-bit)
* **Language:** TypeScript 2.0.10

**Current behavior:**

If an Aurelia app references an Aurelia plugin, and if that plugin ships with JavaScript source maps, then the source mapping that the Au

[2016-11-29 09:47] johangwbasson opened #424 "Inconsistent build across machines when building a production bundle using aurelia cli"
**I'm submitting a bug report**

* **Library Version:**
0.22 (cli)

**Please tell us about your environment:**
* **Operating System:**
Debian Linux, kernel 4.8.7

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **Browser:**
Tested on Chrome & Firefox

* **Language:**
TypeScript 2.0.10

**Current behavior:**
I'm trying to setup a jenkins job to automate builds of our aurelia app. When I bui

[2016-11-29 10:10] johangwbasson commented on #424
I built a build with a "dev" environment. This is the error I get from Firefox:

`Error: Script error for "main"
http://requirejs.org/docs/errors.html#scripterror
Stack trace:
makeError@http://abc/scripts/vendor-bundle.js:2:26661
newContext/w.onScriptError@http://abc/scripts/vendor-bundle.js:3:6805
vendor-bundle.js:2:21002
r()vendor-bundle.js:2
[15]</t.exports/i.prototype._settlePromiseFromHandler

[2016-11-29 13:56] AStoker commented on #424
_Might_ be related to this (https://github.com/aurelia/cli/issues/378), not sure. #378 is a problem because the hashes change, and the hashes only change because the source has changed. So if the problem here truly is that the vendor bundle source has changed, then these are related. However, I'd imagine that the order that the vendor bundle has shouldn't be as big a problem, as long as all those

[2016-11-29 20:01] shaunluttin commented on #423
@EisenbergEffect I've forked this repository to begin work on the fix/enhancement.

[2016-11-29 21:17] EisenbergEffect commented on #423
Awesome. Thanks!

On Nov 29, 2016 12:02 PM, "Shaun Luttin" <notifications@github.com> wrote:

[2016-11-30 09:19] k2s opened #428 "can't add dependency of package containing relative imports"
I can't get following package loaded with `dependencies` section in `aurelia.json`.

I have installed:
```npm install --save redux-immutable```

After some fiddling I added to dependencies:

[code]

unfortunately `au build` ends with error: `/home/me/prjName/redux-immutable/utilities/getStateName.js''` Correct would be ` /home/me/prjName/node_modules/redux-immutable/dist/utilities/getStateName.js`

[2016-11-30 14:22] oivinds opened #429 "Add jshint dev task in aurelia-cli generated project?"
How do I add i.e jshint to dev tasks for aurelia to run?

[2016-11-30 14:24] AStoker commented on #428
Why do you have two dependencies listed here? They're both from the same package, I imagine you'd only need one.

[2016-11-30 14:34] AStoker commented on #428
Part of their problem is that they have bad requests for files (they don't follow how RequireJS loads files). Node's `require` syntax is a bit different from RequireJS (mostly in how it asks for files). Node's version is a bit more flexible, so you can make a request like `require('./getStateName.js')`, but RequireJS requires files that have been requested via a relative path to be defined without

[2016-11-30 14:39] AStoker commented on #429
Thanks for using Aurelia!
We're trying to keep questions over at Stack Overflow and our Gitter channel, and keep issues over here. This really helps us properly manage issues and keep things clean, and also helps users ask questions in places they're more likely to get help.
If you could do me a favor and ask that question over in SO, and then post the link here so that I can try and help you ther

[2016-11-30 14:39] #429 closed

[2016-11-30 15:37] k2s commented on #428
two dependencies are there only because I was already trying to solve it that way

the package seams to be published like this https://booker.codes/how-to-build-and-publish-es6-npm-modules-today-with-babel/

Is there plan to support loading such packages with Aurelia CLI, I am using **the same package with webpack skeleton and that works without issues**.

[2016-11-30 15:43] AStoker commented on #428
The problem isn't with the CLI, _but rather with how the RequireJS module loader asks for files_. That article seems right (only looked over it briefly), but it doesn't mention how to use require tags (that I saw). The reason it probably works with other setups are because _they use different module loaders_. But your library is being compiled to AMD by the author, and if you're following AMD, you

[2016-11-30 16:02] k2s commented on #428
@AStoker thank you very much, seams I was really able to build working version after fixing few issues in their code.

will commit PR to redux-immutable after I test my changes really work

[2016-11-30 16:02] #428 closed

[2016-11-30 16:08] AStoker commented on #428
Glad to help. We had this issue with another repo recently, and fixed it by submitting PR's to their project. So this isn't the first time :) There's some mixed practices out there.

[2016-12-02 09:31] magnusdanielson commented on #315
On the last line in vendor-bundle.js you have the following line:
`function _aureliaConfigureModuleLoader(){requirejs.config({"baseUrl":"src/"`

If you manually (or with gulp ) update the baseUrl you can load from different source.

[2016-12-02 20:16] mttmccb commented on #350
This can probably be closed as it has been merged.

[2016-12-02 20:22] mttmccb commented on #192
This seems to be resolved, I've got it working in the same way as @len-ro

[2016-12-02 20:25] #350 closed

[2016-12-02 20:35] mttmccb commented on #208
This looks like it can be closed.

[2016-12-02 20:37] mttmccb commented on #215
Isnt #195 a duplciate? Although this is more active the other should probably be closed.

[2016-12-02 20:40] mttmccb commented on #231
This [blog post](https://emberigniter.com/update-latest-ember-data-cli/) might be a good starting point

[2016-12-02 20:53] mttmccb commented on #269
I just had this problem today, the first time it didn't create the folder.

[2016-12-03 03:43] EisenbergEffect commented on #208
Thanks!

[2016-12-03 03:43] #208 closed

[2016-12-03 03:44] EisenbergEffect commented on #215
Yep. Good catch. Thanks for helping with the maintenance. I'll close the other as a dupe.

[2016-12-03 03:44] EisenbergEffect commented on #195
Closing as a duplicate of #215

[2016-12-03 03:44] #195 closed

[2016-12-03 03:46] EisenbergEffect commented on #269
Strange. I wonder if there's an async operation that's not chained properly.

[2016-12-03 18:52] mijdavis2 commented on #424
Seeing similar issue. `au build` results in a different vendor-bundle.js on OSX vs Linux even when package versions are hard set. On Linux it is pretty consistent but sometimes an entire module doesn't seem to get loaded. On OSX this can happen AND I get a specific error on `anchorIsContainer`:

Looks like on Linux I get the follow which works:
[code]

But on OSX:
[code]
^which results in `Unhandl

[2016-12-04 08:46] alvaradojl commented on #405
same problem here, the fix is still necessary

[2016-12-04 21:15] TylerJPresley commented on #293
I'm getting this a LOT. Every few edits. Does everyone here have multiple bundles? Does this happen when you're editing files in 2 diff bundles and they get saved at the same time?

[2016-12-04 21:33] Thanood commented on #293
Even two files in the same bundle. But this didn't happen to me since 0.23

[2016-12-04 21:36] TylerJPresley commented on #293
I get it more often with 0.23

[2016-12-04 22:00] Thanood commented on #293
I will have a look at work tomorrow. Don't have it here.

[2016-12-05 10:26] Thanood commented on #293
@TylerJPresley
gulp-typescript: 2.14.1
typescript: 2.1.1

Btw. I didn't want to say tht it won't happen anymore, just that I did not experience it anymore. :smiley:

[2016-12-05 14:10] AStoker commented on #424
@mijdavis2, that seems like your two projects are getting _different_ files completely. One of the issues that currently appears with the vendor bundle is the ordering of files change, but the files themselves haven't been changing. Could be that maybe some babel config is different and compiling things differently. But more likely (I think) is that the modules that are being downloaded aren't the

[2016-12-05 19:59] krokofant opened #430 "Support for adding sass paths"
Is there a existing way of adding paths to the sass/css processor?

Adding a framework like Foundation was not so easy. Either use weird imports or include paths into sass.

I added this so one can paths via the `cssProcessor` object in `aurelia.json`
[code]

Is this a valid solution? Could something like this be added by default?

[2016-12-05 20:06] AStoker commented on #430
For our situation, we had a bunch of custom css files that we wanted to have included, as well as some sass files that we wanted separate so it'd load up before the application started (sounds like what you'd want Foundation to do).

I'm not terribly familiar with Foundation. But I'm assuming that it's a module that you downloaded and sits in the Node Modules folder, and doesn't have a root/main j

[2016-12-06 02:28] huochunpeng commented on #303
Removing tracing works. #431
Please help to test it and report your issue there. Thanks very much.
Beware of aurelia.json change.

[2016-12-07 06:02] corneliutusnea commented on #257
This is related to my issue (if not a duplicate of) #401

[2016-12-07 07:10] #430 closed

[2016-12-07 13:19] AshleyGrant commented on #403
@AStoker has there been any work on this issue?

[2016-12-07 13:56] AStoker commented on #257
@corneliutusnea, maybe :) I'm still waiting to see the `aurelia.json` file to see if it is.
There does appear to be an [issue](https://github.com/aurelia/cli/issues/378) with generating consistent vendor bundles

[2016-12-07 13:59] AStoker commented on #403
@AshleyGrant, I've not worked on this, I have too many other things on my plate right now. I was hoping someone would take that code snippet, make the regex to catch the case, and make a PR.

[2016-12-07 22:05] corneliutusnea commented on #257
@AStoker  here is my aurelia.json https://gist.github.com/corneliutusnea/fa0e147df9a9ddb024ee8b65f1851ee8

[2016-12-07 23:43] alpox commented on #257
I may have some input to this one.

I wrote a fix for a deeper source location possibility (src file not in root folder): https://github.com/aurelia/cli/pull/427
During the progress i found some strange things happening to the dependency load order too - since i do some asynchronous folder lookups, the dependency order came wrong in most cases.

I tracked this issue down and found the bad-boy. (Fi

[2016-12-08 14:16] hozn commented on #212
FWIW, I was also experiencing this error ("plugin.load is not a function") following the contact-manager on my Mac.  This was puzzling because I just followed this tutorial last weekend on my laptop and do not remember having this issue, so I cleared out my entire node/npm environment and re-installed aurelia-cli and recreated project and now it works without the error.  Were I more of a scientist

[2016-12-08 15:46] omidh28 opened #432 "au process-css fails"
**I'm submitting a bug report**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Linux (mint 17)

* **Node Version:**
7.2.1

* **NPM Version:**
4.0.2

* **Browser:**
all
* **Language:**
ESNext

**Current behavior:**
Running `au process-css` fails with this error:

`Starting 'processCSS'...
{ uid: 0,
  name: 'processCSS',
  branch: false,
  error:

[2016-12-08 16:07] #432 closed

[2016-12-09 15:59] mttmccb opened #433 "Specify test folder or allow test to be in the same folder as components"
**I'm submitting a feature request**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.1

* **Node Version:**
6.8.1

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Unit tests are configured to be in a separate folder

**Expected/desired behavior:**
Unit test can be configured to be in the either i

[2016-12-10 12:47] kamilglod commented on #219
@ Vheissu could you provide an example? I'm not sure should I import it in html view or in main sass file?

[2016-12-10 12:51] jedd-ahyoung commented on #240
This issue was referenced during the Amsterdam meetup. While it's possible to add the watch by altering the gulp scripts, it may be worth it to have this as a default option.

[2016-12-10 16:55] JeroenVinke opened #435 "Change the main property in a dependency configuration to be optional"
**I'm submitting a bug report**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.7

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Kendo-UI has a bunch of controls that are exported as individual files. There is no specific "main" file, so in dependencies section of aure

[2016-12-11 13:21] krokofant commented on #430
I'm not looking to solve a specific problem as much as I'm trying to find the optimal solution.

In the example with the Foundation framework there are scss files which are preferably imported from the path and the imported files may also import things assumed to be in the path. This forced me to modify a part of the code created by aurelia-cli to be able to include stuff in the scss/sass path.

S

[2016-12-12 21:44] EisenbergEffect commented on #435
@JeroenVinke Please feel free to submit a PR for this.

[2016-12-12 22:06] EisenbergEffect commented on #203
Is this still an issue? We've had a bunch of improvements over the last couple of months.

[2016-12-12 22:11] #232 closed

[2016-12-13 13:51] AStoker commented on #430
Modifying the tasks that the Aurelia CLI sets up is perfectly fine (and what you should do). The CLI sets you up for an initial case, but you can customize it all you want. Once the project is set up once with the CLI, it's not going to touch those tasks it created again.

[2016-12-14 14:27] mttmccb commented on #300
I'd be interesting in seeing this being supported more easily, using i18n with translation json files seems like the obvious way you'd want to include those files.

[2016-12-15 00:45] bigopon opened #440 "[Feature Request] Add markup minification option during project setup"
**I'm submitting a feature request**

* **Library Version:**
latest

**Please tell us about your environment:**
* **Operating System:**
all

* **Language:**
all

* **Current behavior:**
HTML minifying is something everyone eventually does, but has to add to gulp tasks themselves every time, maybe consider offering an option during project setup to turn this task on. Options could be:

    - None (

[2016-12-15 02:44] EisenbergEffect commented on #440
Would you be interested in making a PR to the CLI's generated html task?

[2016-12-15 05:05] bigopon commented on #440
Im not familar with the repo but ill give it a go.
Where you want the step position be ? After transpiler step ?

[2016-12-15 05:52] EisenbergEffect commented on #440
Consider adding it right into the html task.

[2016-12-15 19:16] bigopon commented on #440
The PR is here #441
The step name is `markupProcessor` making it feel uncomfortable to put those configs in though

[2016-12-15 20:45] CasiOo opened #442 "[Feature Request] Add alternate output option"
**I'm submitting a feature request**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Language:**
ESNext

**Current behavior:**
It is currently not possible to change your output directory when running `au build`.

You are currently unable to change it through editing the build tasks, because the CLI bundler will use the new output

[2016-12-16 13:34] hozn commented on #300
I've gotten the above pattern from @graemechristie to work -- well, mostly.  I am using aurelia-cli.  I am trying to inject a "StaticStore" that has some Map objects initialized from JSON files.  The `au run` command always dies silently as soon as it tries to trace through a VM class's file, which in turn imports my `StaticStore` (for injection).  Removing the json import ultimately fixes the pro

[2016-12-17 03:02] bpringe commented on #253
I'm having this problem as well. When au new is run, the wizard installs all dependencies including the ones in the aurelia.json file. But later when you don't have the node_modules folder, and you need to reinstall dependencies, you run npm install, but it only installs the dependencies in package.json. This is a small fraction of the packages installed by the au new wizard.

In short, to recreat

[2016-12-17 03:03] EisenbergEffect commented on #253
It sounds like you don't have npm 3.x. Can you check that? NPM 3 is required.

[2016-12-17 03:06] bpringe commented on #253
Oh I see. So 4.x will not work? I'm using npm 4.0.5. Do I need to downgrade?

[2016-12-17 03:07] EisenbergEffect commented on #253
Hmm. Are you sure that's the NPM version? That might be the Node version. They are different. Try running `npm -v`. If you have something earlier than 3.x, then you can run `npm install -g npm` to get the latest.

[2016-12-17 03:08] bpringe commented on #253
I got that info from running npm -v. And I also ran npm install -g npm just to be sure.

[2016-12-17 03:09] EisenbergEffect commented on #253
Interesting. @jdanyow @niieani Do either of you know anything about this?

[2016-12-17 12:32] jdanyow commented on #253
Is it this: https://github.com/aurelia/cli/issues/332

[2016-12-17 15:35] bpringe commented on #253
No, it's not a problem with the path separators. Mine has / and works fine. It's just that the dependencies are not all downloaded with npm install after removing the node_modules folder (or pulling from a git repo that ignores node_modules).

[2016-12-17 15:50] EisenbergEffect commented on #253
Can you check your npm version with npm -v ?

On Dec 17, 2016 10:35 AM, "bpringe" <notifications@github.com> wrote:

[2016-12-17 16:17] bpringe commented on #253
npm -v yields 4.0.5

[2016-12-17 17:15] EisenbergEffect commented on #253
I'm wondering if this is a bug in npm 4.... @jdanyow @niieani Do you guys know anything about this?

[2016-12-19 22:00] lebolo opened #443 "au build cannot find module babel-runtime"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli: 0.23.0 (see output of `npm ls --depth=0` below)
_I notice that aurelia-cli installs its own version of npm@3.10.10 even though I have npm@4.0.5 installed globally_

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
7.2.1

* **NPM Version:**
4.0.5

* **Language:**
ESNext

**Current b

[2016-12-19 22:34] lebolo commented on #443
I've also tried dropping down to node 6.8.1 and npm 3.10.8 to no avail.

[2016-12-20 18:17] lebolo commented on #443
The culprit was when I updated to **babel-preset-es2015-loose@8.0.0** (originally Aurelia CLI has it at 7.0.0). That project is now [deprecated](https://github.com/bkonkle/babel-preset-es2015-loose) if using **babel-preset-es2015@6.13.0** or above.

Removing **babel-preset-es2015-loose** from `package.json` and using the new `preset` configuration from that link (in `.babelrc` file) allows Aurelia

[2016-12-21 02:19] AbraaoAlves commented on #287
Its a transpile problem, the same error don't happen in javascript project.

Here, two branchs with the same code:
[[works] In Javascript](https://github.com/AbraaoAlves/new-aurelia-sample/tree/js)
[[fail]     In Typescript](https://github.com/AbraaoAlves/new-aurelia-sample/tree/ts)

And typescript project build output:
`au build`
[code]

Remember, all this is just to add a single css vendor.

[2016-12-21 13:49] avrahamcool commented on #249
I created a new project using cli 0.23.0 and i tried this configuration:

[code]

`<require from="font-awesome.css"></require>`

and it's failing at runtime, because the css try to load the font files, and they are missing. [the cli didn't bundle them]

[2016-12-21 13:54] ChiefZ commented on #249
Try to use
```<require from="font-awesome/font-awesome.css"></require>```

[2016-12-21 14:16] JayDi85 commented on #249
@avrahamcool , you can bundle font awesome manually: http://stackoverflow.com/a/39544587/1276632

[2016-12-21 14:40] MCorzo commented on #217
Hi guys, after trying for a couple of days I found another approach using vs code task system based on the @nripendra reply.
1. create a new aurelia app using the cli, just  like usual

2. add electron to the project using the command **`npm install electron --save-dev`**

3. add this script in the index.html file
[code]
4. edit package.json adding the line **`"main": "main.electron.js"`**
[code]

[2016-12-21 16:50] MeirionHughes commented on #217
@MCorzo see https://github.com/MeirionHughes/aurelia-cli-electron-app

vscode:
* `npm install`
* add breakpoints (optional)
* press f5 to run
* open terminal, execute: `au watch` (optional)

that will give you debugging (of the client-side) plus auto-refresh when you change source files.

[2016-12-21 18:34] niieani commented on #253
Not sure what's going on here. Looks like a problem with babel, probably configs not being applied or overridden for some reason.

[2016-12-21 18:45] jamesharrington commented on #248
Thanks for the workaround @MannikJ
Here is the ES6 version of MannikJ's fix.

[code]

This code runs successfully with the fowling config in aurlia.json
[code]

[2016-12-21 19:47] EisenbergEffect commented on #443
@lebolo Would you mind submitting a PR to the CLI project for the update? That would be a nice contribution.

[2016-12-21 20:01] lebolo commented on #443
Sure @EisenbergEffect, just to confirm, are you comfortable requiring babel-preset-es2015@6.13.0 (up from 6.9.0 in the current CLI code)?

[2016-12-21 20:44] EisenbergEffect commented on #443
I don't see any issues with that. Are you aware of any problems?

[2016-12-21 20:53] lebolo commented on #443
Actually, reading the [releases](https://github.com/babel/babel/releases?after=v6.14.0), we should require at least **babel-preset-es2015@6.13.2** (6.13.0 introduced some regression bugs that were fixed in 6.13.2). I'll update the PR and you can squash the commits if you'd like.

[2016-12-21 20:56] lebolo commented on #443
Done, thanks!

[2016-12-21 23:12] bpringe commented on #253
I found a solution. I'm not sure exactly what the problem was but it had to do with my node version. While I had the latest version of npm, my node version was 4.x. I updated to Node version 6.9.2 and then ran npm install on the cli project and it installed all the dependencies correctly. Thanks for the help.

[2016-12-22 11:49] bellstrand opened #445 "Loading resources from a bundle not loaded/required at page-load fails."
**I'm submitting a bug report**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.2

* **Node Version:**
6.9.2

* **NPM Version:**
3.10.8

* **Browser:**
Chrome 55.0.2883.95 (64-bit)

* **Language:**
ESNext

**Current behavior:**
Loading a page that requires nothing from bundle X and then navigating to a page that requires a package from b

[2016-12-23 14:40] kodeek commented on #322
I still needed to change baseDir in aurelia_project\tasks\run.ts in version 0.23.0.

[2016-12-23 14:43] kodeek commented on #173
In version 0.23.0 I just needed to change build>targets>output in aurelia_project/aurelia.json to "wwwroot/scripts" from "scripts". So it seems the issue still persists.

[2016-12-25 22:04] #443 closed

[2016-12-26 10:54] alpox commented on #378
@AStoker @EisenbergEffect This should be fixed with the integration of https://github.com/aurelia/cli/pull/427

[2016-12-27 07:04] ed0wolf opened #446 "au run starts downloading a file in Opera"
**I'm submitting a bug report**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.0.0

* **NPM Version:**
3.10.8

* **Browser:**
Opera 42

* **Language:**
TypeScript 2.1.4

**Current behavior:**
When running 'au run' and then browsing to localhost:9000 in Opera it starts downloading a file. In Chrome it works as exp

[2016-12-27 14:57] tbnovaes commented on #445
I needed to use the highcharts-more module too, so what I did was to import it as a different module. Than in the main.js I imported like that:

import 'highcharts';
import 'highcharts-more';

This way both are available in for my entire application, once I'm using it in many places.

[2016-12-28 09:10] bellstrand commented on #445
@tbnovaes I think you are missing my point now, the problem is not importing the library.
I want to put the library in a separate bundle that is only loaded on certain routes to minify the bundle size that is always loaded.

[2016-12-28 18:57] jedd-ahyoung opened #448 "Feature Request: Allow modules to be ignored or stubbed at bundle time"
**I'm submitting a feature request**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.2

* **NPM Version:**
3.10.9

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
There seems to be no way to ignore specific module names while bundling in the CLI. In the codebase, there is a check for `build.load

[2016-12-29 11:45] torgeirhansen opened #450 "dependent file not being transpiled when read before depending class"
**I'm submitting a bug report**

* **Library Version:**
0.23.0

* **Operating System:**
Windows 10

* **Node Version:**
6.9.2
* **NPM Version:**
3.10.9

* **Browser:**
Chrome 55 | IE 11 (tested, I assume this is really All.)

* **Language:**
ESNext

**Current behavior:**
.js class files that are discovered before the .js file that imports them are not transpiled.
This causes the web app to not loa

[2016-12-29 16:14] jonthenerd commented on #257
FYI this occurs when following the Contact Manager tutorial listed in Aurelia documentation and using typescript. Fairly quick to reproduce just following the tutorial.

[2016-12-29 16:18] alpox commented on #257
This should be fixed with the inclusion of https://github.com/aurelia/cli/pull/427

[2016-12-29 16:34] #257 closed

[2016-12-30 21:25] s-hoff opened #451 "Testing changes during cli development"
**I'm submitting a feature request**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu)

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When making changes to the cli, in order to test it, one must either

1. Edit the node_modules/aurelia-cli folder in a test project

[2016-12-30 21:39] s-hoff commented on #451
After this, it would also be good to add documentation on how to manually test ones changes to the readme or wiki, so new cli developers can quickly get set up.

[2016-12-30 22:04] s-hoff opened #452 "[Feature Request] Add default tslint setup"
**I'm submitting a feature request**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu)

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **Browser:**
all

* **Language:**
TypeScript

**Current behavior:**
There is a tslint.json for TypeScript projects and an eslintrc.json for babel. The eslint has no configuration in it, while

[2016-12-30 22:12] s-hoff opened #453 "[Feature Request] Add linting to build tasks"
**I'm submitting a feature request**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu)

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
During build, any linting rules are ignored.

**Expected/desired behavior:**

* **What is the expected behavior?**
Linting should e

[2017-01-02 14:07] alpox commented on #424
My guess is that this is fixed with https://github.com/aurelia/cli/pull/427.
@johangwbasson could you try it with a fresh clone of master?

[2017-01-02 14:10] alpox commented on #401
This should also be fixed with https://github.com/aurelia/cli/pull/427

[2017-01-02 17:31] #401 closed

[2017-01-03 19:06] mijdavis2 commented on #424
Fresh clone from master worked for me.

[2017-01-04 11:39] MisterGoodcat opened #455 "Generated source maps broken when upgrading to gulp-typescript 3"
**I'm submitting a bug report**

* **Library Version:** 0.23.0
* **Operating System:** Windows 10
* **Node Version:** 6.9.1
* **NPM Version:** 4.0.3
* **Browser:** all
* **Language:** TypeScript 2.1.4 and gulp-typescript **2.13.6 vs. 3.1.3**

**Current behavior:**
The source maps contents for TypeScript files located in sub folders are `null` instead of containing the actual sources when upgrading

[2017-01-05 00:23] RichiCoder1 opened #456 "Update link hrefs as well as script src for bundles"
Currently `setIndexFileConfigTarget` will updates all instances of `src=""` in the target `index` with the new bundle names. It would be great if it could also update `href=`s, as that would allow for things like `<link rel="preload" href="~/scripts/app-bundle.js">`. Though I haven't determined if there's any advantage to doing so yet.

[2017-01-05 22:45] s-hoff commented on #231
Here are some ideas on an au update:
  First, we could diff against the files from the version that is updated from. That way, the cli can tell wheather or not there were customizations in a task that changed with the new cli version. When the cli updates unmodified tasks, its most likely safe. Also, always offer a diff before making changes.
  Then there is the aurelia.json. When there are new po

[2017-01-06 06:59] EisenbergEffect commented on #448
This should already be possible through the excludes option.

[2017-01-06 06:59] #448 closed

[2017-01-07 10:12] MisterGoodcat commented on #455
This was caused due to a slash/backslash mismatch; a bugfix release of gulp-typescript (3.1.4) fixes this (see linked issue).

[2017-01-07 10:12] #455 closed

[2017-01-07 12:49] s-hoff commented on #330
I just managed to get a test running on the `file-system.js` using [mock-fs](https://github.com/tschaub/mock-fs) and [jasmine-node](https://github.com/mhevery/jasmine-node). I tried all the functions on `file-system` and `fs` that are being called on the code according to a search all 'fs' with vscode. The only limitation I hit was that the (deprecated) [exists()](https://nodejs.org/api/fs.html#fs

[2017-01-07 16:48] EisenbergEffect commented on #330
I'd take a PR for that if you are interested.

On Jan 7, 2017 4:49 AM, "Sebastian Hoffmann" <notifications@github.com>
wrote:

[2017-01-08 13:05] s-hoff commented on #330
I'm definitely interested and working on it now.

[2017-01-10 10:33] Creadigme opened #458 "TypeScript : baseUrl in tsconfig.json"
**I'm submitting a bug report**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
TypeScript 2.1

**Current behavior:**

If I use "baseUrl" in "tsconfig.json", aurelia-cli won't transpiler any source.

"baseUrl" is mandatory for use absolute path in

[2017-01-11 06:36] EisenbergEffect commented on #458
What do you mean by "plugin"? Is this designed to be an Aurelia framework plugin? If so, the CLI isn't the best way to build that. Instead, consider using our skeleton-plugin repo as a starter kit.

[2017-01-11 06:36] #458 closed

[2017-01-11 08:30] Creadigme commented on #458
All my "plugins" can be launch alone, thus there not just "aurelia plugins" but real projects.

By the way, this "baseUrl" bug exist, my internal use has no matter. You can reproduce with :
- au new, typescript
- add "baseUrl": "./src" in "compilerOptions"
- au build

Why we use aurelia-cli for our "plugins/applications" ?
- Bundle : I want only one file by plugin/application.
- One CLI for all ou

[2017-01-12 08:27] PWKad commented on #405
The fix here for asp.net using --here flag -

1. aurelia.json (all locations)
  a. Change `scripts` to `wwwroot/scripts`
  a. Change `index` to `wwwroot/index.html`
2. run.js
  a. Change baseUrl from `.` to `./wwwroot`

I'll try to PR this and test it but if anyone wants to steal that and PR it it is working for me.

[2017-01-12 21:57] guidorice opened #460 "'au new' should prompt before overwriting project files"
**I'm submitting a feature request**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
OSX

* **Node Version:**
6.3.0

* **NPM Version:**
3.10.8

* **Browser:**
al

* **Language:**
ESNext

**Current behavior:**
`au new prjname` does not prompt if prjname already exists.

**Expected/desired behavior:**
Prompt before overwriting

* **What is the motiv

[2017-01-15 18:00] bgardner87 commented on #322
@kodeek I'm having the same issue and updated the baseDir in the run task. In my case, the page loads but gets a 404 when trying to load the vendor-bundle.js from the /scripts directory.

This looks like a similar relative path issue, are you seeing the same thing?

[2017-01-15 18:20] kodeek commented on #322
Hi @bgardner87, I think your issue is related to this issue - https://github.com/aurelia/cli/issues/173. I hope that will help you.

[2017-01-15 21:20] bgardner87 commented on #322
@kodeek Thanks for the link, looks like you ended up in the same place I did by changing the build=>targets=>output property. From then on it seems to be working perfectly.

[2017-01-16 23:28] PWKad opened #461 "Feature Request: Show notification if trace fails"
Currently if you reference a file by bad path the trace fails and CLI aborts the watch process.  Add a notification to show that the trace imploded to prevent any issues when wondering why changes are not showing up.

[2017-01-17 08:43] Gheoan commented on #191
Fixed by https://github.com/aurelia/cli/commit/23da2b6a1d06fc44ba42d06e093899e4e5c9d8c6.

[2017-01-17 08:43] #191 closed

[2017-01-17 13:05] Gheoan commented on #440
Thanks @bigopon for the PR. Should this issue be closed now?
Related: https://github.com/aurelia/cli/issues/191.

[2017-01-17 18:56] Gheoan opened #463 "Errors are swallowed"
**I'm submitting a bug report**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.4.0

* **NPM Version:**
4.1.1

* **Browser:**
all

* **Language:**
all

**How to reproduce:**

- `au new`.
- Choose the default options.
- In `src/app.html`, add `<router-view></router-view>` inside the `template`.
- `au run`.

**Curre

[2017-01-17 21:45] Gheoan commented on #463
Few hours later, I can't reproduce. I suspect it was `npm` installing old library versions from cache.

[2017-01-17 21:45] #463 closed

[2017-01-18 04:55] abemeister opened #464 "Aurelia CLI version 0.24.0 - Task script process-markup causing two issues"
I'm submitting a bug report

Library Version:
0.24.0
Please tell us about your environment:

Operating System:
Windows 7

Node Version:
6.9.2

NPM Version:
3.10.9
JSPM OR Webpack AND Version
JSPM 0.16.32 | webpack 2.1.0-beta.17
Not using JSPM or Webpack - using Aurelia CLI - Node packages

Browser:
Chrome, Firefox & Internet Explorer

Language:
all | TypeScript X.X | ESNext
Typescript

Current beh

[2017-01-18 15:14] aamuz commented on #405
any news on this?

[2017-01-19 14:03] xiwc opened #465 "vendor-bundle-xxx.js `rev` not changed when app-bundle-xxx.js `rev` changed."
**I'm submitting a bug report**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Linux

* **Node Version:**
4.4.x

* **NPM Version:**
3.10.x

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
i have three bundle:
app-bundle-xxx.js
deps-bundle-xxx.js
vendor-bundle-xxx.js

vendor-bundle-xxx.js `rev` not changed when app-bundle-xxx.js

[2017-01-20 22:19] brandonseydel commented on #292
I am still facing this issue with aurelia-dragula.  I am trying to trace it down now.

[2017-01-21 22:33] thomas-darling commented on #381
We ran into the same problem - there's a couple of gulp plugins that try to solve it, but in our testing, they all failed.

I tried to see if we could help fix them, but eventually gave up on them, and built one that actually works myself:

https://www.npmjs.com/package/gulp-dependents

We've been using it on a large code base for about a year now, and it's been working great :-)

[2017-01-22 04:44] #407 closed

[2017-01-22 04:59] #423 closed

[2017-01-22 09:52] milkshakeuk commented on #395
@EisenbergEffect with #457 being merged can this be closed?

[2017-01-22 12:01] m-j opened #466 "au generate should allow to specify path of generated resource"
**I'm submitting a feature request**

* **Library Version:**
0.24.0

**Current behavior:**
`au generate` lets you to specify name of generator and name of resource being generated.

**Expected/desired behavior:**
`au generate` should let to specify: generator name, name of resource and *path of element*.

**What is the motivation / use case for changing the behavior?**
Current setup works well if

[2017-01-22 17:42] EisenbergEffect commented on #395
@milkshakeuk Yes sir :)

[2017-01-22 17:42] #395 closed

[2017-01-23 02:51] unional opened #467 "Support browser field spec"
**I'm submitting a bug report**
* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows [8]

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.5

I wrote `aurelia-logging-color` and want to use it in my project.
It uses the `browser` field to skip the node specific "os" module.
https://github.com/unional/aurelia-logging-color/blob/master/package.js

[2017-01-23 03:14] EisenbergEffect commented on #467
I believe we have support coming for this in a PR already :)

[2017-01-23 03:45] unional commented on #467
Nice! Thanks, Rob.

[2017-01-24 02:45] Kayli commented on #310
Please give us an option at least to override dist path, so that reconfiguration indeed can be done relatively easy.

[2017-01-24 09:07] suamikim commented on #342
I guess I'm experiencing the same issue which also leads to a [poor debug experience of 3rd party dependencies](http://stackoverflow.com/questions/41815351/debugging-3rd-party-scripts-with-aurelia).

What's the current status of this issue? Are there any plans to resolve it in the foreseeable future?

[2017-01-24 09:11] ghidello commented on #405
Hi, I saw that PR #418 has been merged: @aamuz can you test the CLI version from the sources and see if it's working?

[2017-01-24 13:51] mttmccb commented on #433
I managed to get this working by making a few small changes (definitely a hacky way to do it!)

In aurelia.json I updated transpiler settings to exclude spec files

[code]

and the test runner source to look for spec files in the new location

[code]

This means the setup file isn't included so in karma.conf.js I included it in testSrc

[code]

and in the preprocessors I added the setup file too.

[2017-01-24 17:11] EisenbergEffect opened #468 "Arelia CLI (au new) does not use latest packages in new projects"
@boshinski commented on [Mon Jan 23 2017](https://github.com/aurelia/framework/issues/701)

**I'm submitting a bug report**

* **Library Version:**
AURELIA-CLI 0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
4.5.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
NA

* **Browser:**
NA

* **Language:**
TypeScript 2.0

**Current b

[2017-01-24 17:12] EisenbergEffect commented on #468
@AshleyGrant Moved.

[2017-01-24 17:15] AshleyGrant commented on #468
Thank you. If you have a moment, would you be able to check if `au test --watch` works with the current set of packages? I'm unable to test this from the plane, but with the updated version of `karma`, I'm not able to get files in `src` to be watched, retranspiled, and retested.

[2017-01-24 18:09] boshinski commented on #468
I haven't dug into unit testing with karma yet, but a new project created through the Aurelia CLI seems to run the tests OK
[code]

[2017-01-24 20:07] s-hoff commented on #468
So far I did a full update of all packages with every project I did, all of them in TypeScript and with unit tests (using aurelia-testing). The only issue I came across is that when building, gulp-typescript gives me a deprecation warning:
[code]
This is easily fixed by changing the `.pipe(ts(typescriptCompiler))`line to `.pipe(typescriptCompiler())`

Also, as far as I know, au test --watch only w

[2017-01-25 08:48] suamikim opened #470 "How to keep aurelia.json clean"
**I'm submitting a feature request**

* **Library Version:**
How can I check the lib version?

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Request is not browser related

* **Language:**
TypeScript 2.1.5

**Current behavior:**
When installing 3rd party scripts, I have to add them manually to `aur

[2017-01-26 06:07] RenJing opened #472 "`rev` option: bundle hash is not stable"
**I'm submitting a bug report**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows Server 2012

* **Node Version:**
6.1.0

* **NPM Version:**
3.9.0

**Current behavior:**
We enabled `rev` option for prod, and the bundle hash changes every time we run `npm run prod` even source files don't have any changes. We compare the bundles, and found th

[2017-01-27 22:25] AshleyGrant commented on #468
Yeah, and I think that an `au test --watch` command that doesn't watch for changes in the `src` folder and rebuild/retest isn't very useful :-)

[2017-01-27 23:19] mika76 commented on #300
I can't get this to work. Added in all the code from @graemechristie 's post but I still get  ```gulp-notify: [Error running Gulp] Error: src\static-page.ts(2,23): error TS2307: Cannot find module 'text!data.json'.```

[2017-01-28 17:51] th3mon commented on #310
I created [dist task](https://gist.github.com/th3mon/a81ebefcdf8cbac0467f1200eaff0c4a) for my project as a gist. Your welcome :)!

[2017-01-30 04:31] EisenbergEffect commented on #472
@AStoker Is this a dup? Did we already have a fix merged for this but not yet released?

[2017-01-30 05:21] #412 closed

[2017-01-30 06:47] rquast opened #473 "collapseInlineTagWhitespace"
I'm submitting a bug report.

CLI Version 0.24.0

option ...
collapseInlineTagWhitespace: true

The process markup task for maximum minification incorrectly removes whitespace for the following scenario when turned on:

[code]

The collapseInlineTagWhitespace option will do this to the html..

[code]

Should not remove the whitespace before and after the anchor tag.

[2017-01-30 06:55] EisenbergEffect commented on #473
I think this bug should be submitted to the underlying library that handles the minification probably. Can you submit this here? https://github.com/jonschlinkert/gulp-htmlmin

[2017-01-30 06:55] #473 closed

[2017-01-30 07:11] rquast commented on #473
Just got shut down by the repo maintainer for submitting the issue. Oh well.

[2017-01-30 11:47] con-ssc commented on #468
@s-hoff I just filed a PR for that, I tried that change and it doesn't seem to break anything else ;)

[2017-01-30 12:09] rquast commented on #473
@bigopon I gathered that too. The reply seemed so curt, so I lost interest.

[2017-01-30 21:48] depsypher opened #475 "Generate element creates unnecessary empty dirs"
**I'm submitting a bug report**

* **Library Version:**
0.24.0

* **Operating System:**
OSX 10.x

* **Node Version:**
v7.4.0

* **NPM Version:**
4.0.5

**Current behavior:**
Running a command such as `au generate element foo` creates several empty directories.
[code]

**Expected/desired behavior:**
I'd prefer no empty dirs to be created.

* **What is the expected behavior?**
Just an `elements` dir

[2017-01-31 20:40] oS-So commented on #31
How would one be able to update the Aurelia packages using the Aurelia CLI? What is the recommended solution for this?

[2017-02-01 01:07] jwx opened #477 "[Feature] New CLI command: skeleton"
**I'm submitting a feature request**
I think a good CLI is something that brings developers to a tool/framework and that it's beneficial to have developers working with the CLI. I therefore suggest the command **skeleton** which creates projects based on a specified skeleton. Some examples:

_au skeleton --list_ (list "known Aurelia skeletons")
_au skeleton navigation-typescript_ (download, instal

[2017-02-01 12:39] arvadevy opened #478 "Uncaught Error: Bootstrap's JavaScript requires jQuery"
**I'm submitting a bug report**

* **Library CLI Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **Browser:**
Google Chrome

* **Language:**
TypeScript 2.1.5

**Issue**
Most of the times when i build my application i get this error in my console.
![image](https://cloud.githubusercontent.com/as

[2017-02-01 15:17] arvadevy commented on #478
Of sometimes this one
![image](https://cloud.githubusercontent.com/assets/24693253/22512591/da02d088-e899-11e6-905a-5fa598cf3204.png)

[2017-02-01 20:05] jedd-ahyoung commented on #448
@EisenbergEffect Looking further at this, I'm not sure if this solves the issue. The `excludes` option takes a list of filenames or file paths - but not a list of module names. As such, the module resolution will still fail at bundle time, even if the files are excluded. I'm not sure if there's a good solution to this.

[2017-02-02 20:44] mttmccb opened #479 "Contributing to the CLI"
I was looking at a few issues but there are some blockers that are making difficult to get started with closing them off

* I don't know how to build the CLI project, there are no instructions.
* I don't know if the changes I make would break something, there are no tests.
* I don't know what the desired behaviour of all the elements of the CLI is so I'm not sure if my changes would do something u

[2017-02-03 04:16] EisenbergEffect commented on #479
* There's no need to build the CLI project.
* It's extremely difficult to find a way to write tests for the CLI. If you are looking for a way to contribute, helping us work that out would be great. The tests can then form a set of specs.

[2017-02-03 04:16] #479 closed

[2017-02-03 08:49] mttmccb commented on #479
Ok, I just looked at the bin folder and assumed that was where it built to but I see that isn't the case.

The starting point would be adding tests for the lib directory, probably mocking creating files, etc..

I'll give it a go and see how far I get.

[2017-02-03 14:18] MattGiesa commented on #466
Adding support for --here would be great, too. I'd love to work on this if everyone involved doesn't mind. I've been looking for a place to jump in.

[2017-02-03 15:06] codeflowee commented on #403
In the end user can write anything to ´baseUrl` so this means it's not giving in the proper conf. How about quick fix for this?

[code]

[2017-02-03 15:30] altus34 opened #480 "@inject not supported"
**I'm submitting a bug report**

* **Library CLI Version:**
0.24.0

* **Operating System:**
Linux (Ubuntu 16.10)

* **Node Version:**
v4.2.6

* **NPM Version:**
3.5.2

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
I try to use @inject([Router]) annotation in my project created in ESNext.
I've got this error in my node console:

`
gulp-notify: [Error running Gulp] Error: /myfile

[2017-02-03 16:11] mttmccb commented on #480
You don't need the square brackets, try this

[code]

or for multiple dependencies

[code]

Hopefully that resolves your issue.

[2017-02-03 16:22] altus34 commented on #480
Same issue

[2017-02-03 16:29] arabsight commented on #466
you can modify the element generator to add some stuff like I'm doing here: https://github.com/arabsight/oro/blob/master/lib/resources/generators/element.js

- no-view: adds @noView decorator to the element.
- inline-view: adds @inlineView decorator to the element.
- html-only: generate an html-only component.
- styles: generate a css file for the component.
- explicit: Adds @customElement decorat

[2017-02-03 17:56] EisenbergEffect commented on #480
Is your transpiler configured to use decorators? It's definitely supported or else Aurelia would have died two years ago....

[2017-02-03 17:56] #480 closed

[2017-02-03 18:27] jedd-ahyoung commented on #478
I've run into this a few times as well and can confirm this behavior.

[2017-02-04 15:29] reft commented on #322
How did you manage to get the browser sync to work in .net core? I can only get it to work in port:9000, (not 5000).

http://stackoverflow.com/questions/42040786/aurelia-net-core-browser-sync-not-working-on-net-core

[2017-02-04 19:46] fabioluz commented on #478
A temporary solution is putting jquery in the `preprend` intead of in the `dependencies`.

[2017-02-04 23:11] sbolel commented on #478
Do you have `import 'bootstrap';` at the top of _main.js_ as suggested in [this answer](http://stackoverflow.com/documentation/aurelia/1916/aurelia-cli/6256/adding-bootstrap-to-a-cli-application#t=201702042308227454478) on StackOverflow?

[2017-02-06 06:41] bigopon commented on #440
@gheoan definitely. I assumed it was repo maintainer job but i guess ill saved everyone time. Tks.

[2017-02-06 06:41] #440 closed

[2017-02-07 12:15] edwardridge commented on #465
This happens for me as well, but only on --watch: if I run a full au build it updates the vendor bundle correctly.

[2017-02-08 20:01] reft commented on #248
@jamesharrington When I use your code I get: http://localhost:9000/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0  (same with woff and ttf). The files are copied and I am loading the library with:   <require from="font-awesome/css/font-awesome.css"></require>. What am I missing :)?

[2017-02-10 09:41] samuelmolinski opened #484 "ENOENT error is repeated even after removing bad dependency reference from aurelia.json"
**I'm submitting a bug report**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Fedora)

* **Node Version:**
6.8.0

* **NPM Version:**
3.10.8

* **Language:**
ESNext

**Current behavior:**
After a typo in the aurelia.json in an attempt to add a legacy library to the dependencies, I added a duplicate string entry like this, where "json-edito

[2017-02-10 20:14] AStoker commented on #290
@XuJinNet, just checking back in, did you ever get this running?
I was just implementing this on a different project, and noticed some strangeness in the actual retrieval of the svg icon from the bundle.

[2017-02-11 10:18] code-recipes opened #485 "au run : Invalid Command"
**I'm submitting a bug report**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
WIndows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.1.2

* **Browser:**
Edge

* **Language:**
ESNext

**Current behavior:**
When following the "contact-manager" tutorial instructions "au run --watch" outputs "Invalid Command: run"

[2017-02-11 12:31] code-recipes commented on #485
Update: Keeps doing it after the uninstall and npm-cache clean.

[2017-02-11 13:03] pbgc commented on #253
I'm having the same issue.
- macOS Sierra with node 7.5.0 (installed with brew) and npm 4.1.2 (also tried with npm 4.2.0)

Just tried (several times..) to clone https://github.com/PacktPublishing/Learning-Aurelia
For example in chapter-2/app
npm install
au run

gives me:

unreachable code after return statement[Saber mais] vendor-bundle.js:3558:4
SyntaxError: import declarations may only appear at

[2017-02-11 22:17] sbolel commented on #485
Is `aurelia-cli` included both in the project `devDependencies` and also installed globally?

[code]

[2017-02-12 04:13] code-recipes commented on #485
Hi @sbolel. Thanks for that. Problem fixed after installing the local dev package.

[2017-02-12 04:13] #485 closed

[2017-02-12 20:10] sbolel commented on #472
@EisenbergEffect are https://github.com/aurelia/cli/issues/378 and https://github.com/aurelia/cli/pull/427 the ones you're thinking of perhaps?

[2017-02-12 21:00] sbolel commented on #465
I think this is related to issues https://github.com/aurelia/cli/issues/472, https://github.com/aurelia/cli/issues/378, and PR https://github.com/aurelia/cli/pull/427. I think it should be resolved with the next release.

@edwardridge what's the motivation for using `rev` in an environment that use with `au run`? It should only be necessary when building minified bundles to release to production.

[2017-02-12 22:05] EisenbergEffect commented on #472
Yep. Thanks!

[2017-02-13 23:06] mobilemancer commented on #304
This is my first pull request ever, so make sure the ceremonial things are in order :)

Added an additional file, so that there are separate run tasks for "au new --here" vs "au new" , so no conditionals introduced in any files.

[2017-02-14 01:12] eriklieben commented on #477
This is not exactly what you are asking for, but might be useful.

I use this for demonstration purposes, to quickly show the navigation skeleton without doing a lot of copy and paste work. Currently works for typescript, not sure about babel setup, because I did not use it yet/ didn't require it yet, but the files are there.

Perform ```au new``` and select option 2 or 3 with typescript, when the

[2017-02-14 02:05] AbraaoAlves commented on #260
The great way to make this is to use a solid abstraction.
From Aug / 2016 to today, we had webpack, rollup, webpack2 with many hot features released, and today we have [Fuse_Box] (https://github.com/fuse-box/fuse-box), an amazing fast bundler too.

Bundlers had great growth in diversity and improvements. But today we have a question: and tomorrow?

[2017-02-14 02:07] EisenbergEffect commented on #260
Yes, we'll put an abstraction in place to represent the bundling system so that we can make this extensible in the future.

[2017-02-14 03:41] EisenbergEffect commented on #484
Do you have a reference to that module somewhere in your code?

[2017-02-14 03:42] #484 closed

[2017-02-14 14:55] brunto commented on #296
Hi, I have a similar issue with json file
`import config from 'text!./config.json'`
and same error: `TypeError: Path must be a string. Received undefined`

[2017-02-15 12:29] lstarky opened #487 "Feature request: displayCompleted LifeCycle Method"
**I'm submitting a feature request**

* **Library Version:** 0.24
* **Operating System:** Windows 10
* **Node Version:** 6.7.0
* **NPM Version:** 3.10.3
* **Browser:** Chrome 56.0.2924.87 (64-bit)
* **Language:** all

**Current behavior:**
I've seen many users, including myself, run into difficulty because there's no clean way to determine when the DOM binding has completed for things like `repeat

[2017-02-15 16:58] AStoker commented on #403
@codeflowee, could you make a PR for us to look at?

[2017-02-15 17:08] AStoker commented on #424
Is this still an issue for you @johangwbasson ?

[2017-02-15 17:09] AStoker commented on #203
My guess is this issue is closed now with the new updates. Unless @dpinart is still having issues.

[2017-02-15 18:24] AStoker commented on #477
Kind of sounds like [Yoeman](http://yeoman.io)

[2017-02-15 18:49] dpinart commented on #203
I finally got back to jspm so currently all my projects are still with jspm. I do expect to start a new project in short and want to try cli again and migrate everything if I succeed

[2017-02-15 19:01] AStoker commented on #465
This still appears to be happening. In particular for us, we have multiple bundles, and it's our `settings-bundle` that is changing, and the `vendor-bundle` that continues to have the same revision hash.
I think the issue is that the hashing of the file contents of the `vendor-bundle` is happening _before_ we add the require config (which would contain the different hashed reference for my `settin

[2017-02-15 19:15] AStoker commented on #203
Sound good. Perhaps if you run into the issue again, raise up the issue (and feel free to reference this one), but in the mean time, perhaps we can close it @EisenbergEffect ?

[2017-02-15 19:40] AStoker commented on #446
Can you look at your network traffic? Is there anything strange happening?
Also, can you reproduce this with a brand new skeleton project?

[2017-02-15 20:00] #203 closed

[2017-02-16 00:01] xiwc commented on #465
i hash bundle again using gulp task.

[2017-02-16 03:05] sbolel commented on #465
@AStoker the config does change, thats exactly it. It's the order of the dependencies that changes, and I think it's the last line in the bundle. You can try sorting them in the build taks and rewriting that line.

We build, use Closure compiler, then generate a hash for the result manually. Works well.

@xiwc does the hash stay the same if you build twice without changing src?

[2017-02-16 05:49] XuJinNet commented on #290
@AStoker I wrote a gulp task (process-svg.js), convert each SVG icon into a custom element.

[2017-02-16 09:17] johangwbasson commented on #424
We have resolved it by writing our own gulp file.

Thank you

[2017-02-16 09:41] goyb opened #488 "aurelia-cli: 'au run' after a fresh install returns error"
I just donwloaded the aurelia-cli, created a new project (typescript) and installed all the dependencies. However, trying to run the app through the `au run` returns in an error:

**Error: File not found with singular glob: C:\AURELIA\todo\aurelia_project\environments\development.ts**

It's looking for a development.ts in the aurelia_project/environments folder while it created only a dev.ts file.

[2017-02-16 09:41] goyb commented on #488
****

[2017-02-16 13:54] AStoker commented on #465
@sbolel, I was honestly just thinking about swapping the order of the hash generating :P
If you look at [this](https://github.com/aurelia/cli/blob/master/lib/build/bundle.js#L182) line of code, this is where we generate the actual hash based off the concatenated file contents. It's not until a few lines down that we actually append the loader config to the bundle (after the hashing).

If we were t

[2017-02-16 14:19] AStoker commented on #424
Are you able to determine if the original issue is still a problem for you @johangwbasson (I know you solved it a different way, just wanting to know if the standard way of building is working now)? If not, I think we might be okay to close this.

[2017-02-16 14:20] AStoker commented on #290
👍 Thanks. I think I actually started running into a RequireJS issue with how it loads up bundles.

[2017-02-16 14:24] AStoker commented on #488
@goyb, so this comes down to Node actually (luckily spent a few hours solving this with someone else before). The CLI is trying to determine your build environment. You can provide one manually be adding the `--env prod|dev|stage` flag. By default, it chooses `dev`. _HOWEVER_, it will look at your node environment as well, and use that one if it can. Your node environment is probably set to `devel

[2017-02-16 14:26] AStoker commented on #488
For reference as to where this is happening in the CLI, look [here on line 9](https://github.com/aurelia/cli/blob/3c5ea5f935e523d1cec5ead884391d6b008deee5/lib/cli-options.js#L9)

[2017-02-16 14:56] goyb commented on #488
You are correct about my **NODE_ENV** variable, it was indeed set to **'development'**.

It didn't take me long to figure out, but I reported this because it was my first experience with the framework :). It would be shame to put people off from using it.

[2017-02-16 14:56] #488 closed

[2017-02-16 15:08] sbolel commented on #465
@AStroker I'm going to try out your PR today, thank you!

[2017-02-16 15:13] sbolel commented on #290
@XuJinNet same here. This is what we do pre-process-assets:

[code]

[2017-02-16 15:27] AStoker commented on #488
Perhaps it would be a good idea notify on building if the environment being run is different than one's we're expecting, or different than any we have defined in our `environments` folder? @EisenbergEffect, you think that would add value?

[2017-02-16 16:24] EisenbergEffect commented on #488
Yes. I think that would be a good idea. This has happened several times to
people thing of the CLI.

On Feb 16, 2017 7:27 AM, "Andrew Stoker" <notifications@github.com> wrote:

[2017-02-16 16:34] AStoker commented on #488
👍 I'll take a crack at it.

[2017-02-16 18:38] AStoker commented on #488
Looks like we have two options.
1. We add a log function to the default `configureEnvironment` function. Any _new_ aurelia project will have a simple check to see if the file exists, and if it doesn't, it'll log out a possible reason for it. Benefit to this is that it's dynamic in that if a user decides to name an environment something completely different, they can account for it. Con is that it

[2017-02-16 18:41] delebash opened #490 "Consider allowing alternate minifier instead of uglify for better ESNext support"
**I'm submitting a feature request**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.50

* **NPM Version:**
4.0.5

* **Browser:**
Chrome 56

* **Language:**
ESNext

**Current behavior:**
UglifyJS does not support some ESNext features available in babel and current browsers such as Generators and Async Functions.

[2017-02-16 18:54] AStoker commented on #488
Errors would look like the following:
[code]
So every time that `getEnvironment` is called, it would notify the user of something strange. I imagine this would be enough, as long as somebody looked at the top of the error, they would see that notification, as well as the "File not found..." error, and dots should be connected.

[2017-02-16 19:18] AStoker commented on #490
I could be an extra layer of thick today, so bear with me if I'm overlooking something :)
You're talking about the process of transpiling the code, right? That process takes place in the transpile task located inside your `aurelia_project/tasks` folder. In there, there's a gulp task that uses Babel to transpile. But that process is completely up to the user to change, convert, or do whatever to. I

[2017-02-16 20:11] delebash commented on #490
No :) When you specify --env prod aurelia-cli runs uglify-js process which is baked into the cli, uglify is not a gulp task in aurelia_project/tasks.  If you look at `node_modules/aurelia-cli/lib/build/bundle.js`  you can see uglify is hard coded.

[code]

Yes you can use any transpiler you want with your own minification process via gulp tasks, but if you want to use the built in --env prod switc

[2017-02-16 20:23] AStoker commented on #490
Okay, thanks for getting me straight.
So the Babel task happens first, and then the uglification happens as the last step. So what babel is outputting isn't compatible with the uglifier built in, correct?
It sounds reasonable to have something like that pluggable. Do you think you could generate a PR for that so we could take a look?

[2017-02-16 20:24] JeroenVinke opened #492 "Document the importer functionality"
There should be some documentation of the importer functionality of the CLI. I propose two different articles, one explaining how to use the importer as a user and another on how to create a custom importer for plugin authors.

[2017-02-16 20:41] delebash commented on #490
Yep.  It will be awhile before I can really dig in, but as soon as I get the chance I will.  Right now just installing the harmony branch of uglify](https://github.com/mishoo/UglifyJS2/tree/harmony) takes care of generators and async.  I have only tested with generators and async so I am not sure what other ESNext features uglify-js harmony provides.

[2017-02-16 20:49] AStoker commented on #492
Thanks :)

[2017-02-17 01:57] xiweicheng commented on #465
@AStoker I will test when your PR merged and released.

Now, my way in prod:

![image](https://cloud.githubusercontent.com/assets/9198971/23049478/615bed12-f4f7-11e6-93bf-52f77bd144a9.png)
![image](https://cloud.githubusercontent.com/assets/9198971/23049491/6d8c780e-f4f7-11e6-8615-74d71c9c1e45.png)
![image](https://cloud.githubusercontent.com/assets/9198971/23049500/73e94254-f4f7-11e6-9c09-48c1bca

[2017-02-20 19:55] #465 closed

[2017-02-21 20:16] kamilglod commented on #184
@EisenbergEffect what's the current status of adding webpack to the CLI?

[2017-02-22 05:29] EisenbergEffect commented on #184
The work on that hasn't started yet. We need to do some refactoring of the CLI to make it possible. I'm hoping we can start on that soon. Fortunately, the new Webpack setup is almost ready and I think it will be pretty easy to use, even without CLI integration.

[2017-02-23 07:09] suamikim opened #493 "Typescript error "TS2307: Cannot find module '../aurelia.json'" within build tasks"
**I'm submitting a bug report** (i guess)

* **Library Version:**
1.0.8

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Not Browser related

* **Language:**
TypeScript 2.1.5

* **Current behavior:**
The line `import * as project from '../aurelia.json';` inside the build tasks (`aurelia_project\tasks

[2017-02-23 07:32] sbolel commented on #493
Following https://github.com/aurelia/cli/issues/300#issuecomment-251072000, can you adding a file "`json-loader.d.ts`" in `custom_typings/` with the contents:

[code]

[2017-02-23 09:55] suamikim commented on #493
This resolves `TS2307: Cannot find module '../aurelia.json'` but leads to errors `TS2339:Property 'xxx' does not exist on type 'typeof "*.json"'.` when accessing the exported JSON:

E.g. in `process-css.ts`:

[code]

The code `project.cssProcessor.source` leads to `TS2339:Property 'markupProcessor' does not exist on type 'typeof "*.json"'.`

[2017-02-23 10:30] sbolel commented on #493
What if you change the import statement to:

[code]

[2017-02-23 10:36] suamikim commented on #493
Perfect, that did the trick!

[2017-02-23 10:43] suamikim commented on #493
Unfortunately I was a little over-hasty since this prevents the CLI from building. E.g. `au run --watch` results in the following error:

[code]

[2017-02-23 12:22] suamikim commented on #493
Now build is also working!
Thanks again!

Global `tsc -v` reports `Version 2.2.1` but the project is using the locally installed version `2.1.5` if this is still of any interest to you...

[2017-02-23 12:28] suamikim commented on #493
Now build is also working!
Thanks again!

Global `tsc -v` reports `Version 2.2.1` but the project is using the locally installed version `2.1.5` if this is still of any interest to you...

[2017-02-23 12:29] #493 closed

[2017-02-23 14:13] gama410 opened #494 "bundle with non relative path"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli 0.24

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.11.0

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
TypeScript 2.1

**Current behavior:**
See this [stack overflow question](http://stackoverflow.com/questions/42411567/aurelia-bundling-fails-when-using-relat

[2017-02-23 16:14] sbolel commented on #493
Awesome. Happy to hear it worked @suamikim.

CC'ing @EisenbergEffect for visibility -- I'll create a PR for this if needed. What do you think?

[2017-02-23 16:54] sbolel commented on #494
Could you please attach the full npm-debug.log if possible?

[2017-02-23 19:34] gama410 commented on #494
@sbolel Thanks for your input (here and on SO)
Unfortunately, this doesn't change anything for me. As I stated up there, it's the bundling step of the build that fails, not the typescript compilation.
Here is the output from a build for me when I use a 'root-relative' path:

`Starting 'readProjectConfiguration'...
Finished 'readProjectConfiguration'
Starting 'processMarkup'...
Starting 'processCSS

[2017-02-23 19:59] sbolel commented on #494
How about updating these packages:

    npm i -D gulp-typescript@^3.1.5 typings@^2.1.0 aurelia-tools@^1.0.0

I noticed my ts files weren't making it into my bundle as well even though I did not see any errors. Updating these packages seems to have fixed it.

Before:

[code]

After:

[code]

[2017-02-24 04:07] EisenbergEffect commented on #493
@sbolel Is there some way this can be achieved with out using `require`, but by using `import` instead?

[2017-02-24 07:08] EisenbergEffect commented on #494
Can we close this out? Problem solved?

[2017-02-24 07:20] sbolel commented on #494
It solves it for me, waiting on confirm from @gama410.

@EisenbergEffect -- I can make a PR for these updates if you'd like? And fix this as well --

[code]

[2017-02-24 07:24] sbolel commented on #493
@EisenbergEffect
- Not sure which of my 2 suggestions above fixed it for @suamikim.
- I'll go back to a fresh clone to re-try, and will get back to you tomorrow.

[2017-02-24 07:30] EisenbergEffect commented on #494
PRs are always welcome :)

[2017-02-24 07:38] sbolel commented on #494
This is the full list of updates available for [`lib/dependencies.js`](https://github.com/aurelia/cli/blob/master/lib/dependencies.js), for your reference

[code]

[2017-02-24 08:04] sbolel commented on #494
The above two commits fixes the relative paths issue, but show types errors:

[code]

Will get back to that shortly.

Full Bash session testing a build with a newly generated app in [this Gist](https://gist.github.com/sbolel/98a247e9fb0973e233fdb74eabee40b6).

[2017-02-24 08:17] suamikim commented on #493
I thought that I applied both changes but actually only applied the 2. (changing `import` to `require`).

Only applying the change to the declaration file leads to `TS2307:Cannot find module '../aurelia.json'.` for the line `import * as project from '../aurelia.json';`.

Hope this helps

[2017-02-24 08:25] gama410 commented on #494
I just tried it and indeed : it fixes the relative path problem for me too! You rock!

I ended up with a few semantic errors like you:

`node_modules/@types/es6-collections/index.d.ts(23,5): error TS2687: Al
l declarations of 'value' must have identical modifiers.
node_modules/@types/es6-collections/index.d.ts(46,5): error TS2687: Al
l declarations of 'size' must have identical modifiers.
/node_mo

[2017-02-24 08:29] suamikim opened #495 "Linter error within transpile.ts"
**I'm submitting a bug report**

* **Library Version:**
1.0.8

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Not Browser related

* **Language:**
TypeScript 2.1.5

**Current behavior:**
My linter complains about the use of `var` instead of `let` on the line `var typescriptCompiler = typescriptCompi

[2017-02-24 09:21] gama410 commented on #494
All of my semantic errors came from es6-promise & es6-collections types. When I uninstalled these, all the errors disappeared:
[code]
I was put on tracks by a comment from @niieani on this issue: https://github.com/aurelia/skeleton-navigation/issues/485

Thanks a lot!

[2017-02-24 09:27] sbolel commented on #494
That's great news. I'll make that change in my branch and put in a PR!

[2017-02-24 14:05] YardGnomeNinja commented on #468
I think my experience is related to this issue. When executing `au new` I receive the following and it hangs:

[code]

I am forced to 'ctrl+c' to terminate. It appears as though the project is created properly, however.

[2017-02-24 14:07] AshleyGrant commented on #468
@JeroenVinke I was unable to fix this last month. Would you look in to it, please?

[2017-02-24 22:06] JeroenVinke commented on #192
The instructions provided by @len-ro seem to be described in the [docs](http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/1) now

[2017-02-24 22:06] #192 closed

[2017-02-24 22:13] JeroenVinke commented on #236
@EisenbergEffect I believe this was fixed. Can this issue be closed?

[2017-02-24 22:19] JeroenVinke commented on #468
@YardGnomeNinja I think you are experiencing [this issue](https://github.com/aurelia/cli/issues/269)

@AshleyGrant and @s-hoff, the testing related issues seem to be related to [this issue](https://github.com/aurelia/cli/issues/370). Can you confirm? This is likely unrelated to any version updates

[2017-02-24 22:21] JeroenVinke commented on #240
Let's continue in https://github.com/aurelia/cli/issues/265 as it seems to be about the same enhancement

[2017-02-24 22:21] #240 closed

[2017-02-24 23:49] s-hoff commented on #370
Until this is built in, there is a workaround you CAN use: Have `au run --watch` going in the background. That way, the run task will watch the `src` files and create the bundles, causing the tests to run. Its should by no means be necessary but also gives near instant feedback.

[2017-02-24 23:50] s-hoff commented on #468
@JeroenVinke I can confirm. This is simply how the `au test` command works as of right now and is unrelated to this issue.

[2017-02-25 00:20] sbolel commented on #468
I believe this is also related to #494

[2017-02-25 00:39] sbolel commented on #468
I created [this PR](https://github.com/sbolel/cli/pull/1) in my fork.

If someone can please review it, I'll finish off the TODOs and create a PR in this repo.

[2017-02-25 00:53] sbolel commented on #493
@suamikim thanks for the response. @EisenbergEffect I'll look into this a bit more, then PR.

[2017-02-25 01:18] #236 closed

[2017-02-25 01:31] EisenbergEffect commented on #495
Honestly, I can't remember why this code as like that. I think it was some edge case. If it's not giving you any problems, you should be ok though.

[2017-02-25 01:31] #495 closed

[2017-02-25 09:56] wallaceturner commented on #213
Rob is this still the current way of doing this? i've looked at the 'au' CLI help but doesnt appear to be an 'install' or similar there yet

[2017-02-25 10:02] JeroenVinke commented on #213
@wallaceturner initial work has been done in this area. Take a look at https://github.com/aurelia/cli/pull/454 which has recently been merged and will be available in the next CLI release.

[2017-02-25 10:20] WillTartak commented on #293
I got here when I got this error for a completely different reason. I'm commenting in case it helps someone else.
For me it happened after I did a pull and subsequent build without doing an npm install first. My teammate had added a new package that I did not have and that caused the build to fail with this message. After doing the npm install the build completed successfully. hth

[2017-02-25 10:20] JeroenVinke commented on #468
@sbolel Feel free to open a PR to the CLI so we can do a proper review. Thanks for working on this!

[2017-02-25 11:22] JeroenVinke commented on #451
@s-hoff since your PR has been merged, can this been closed?

[2017-02-25 13:05] sbolel commented on #468
@JeroenVinke my pleasure, PR opened: #499

[2017-02-25 13:42] sbolel opened #500 "[Feature Request] generate with au commands in npm scripts"
**I'm submitting a feature request**

CLI should generate a new aurelia-app with `au` commands inserted in `scripts` of package.json

**Current behavior:**

[code]

**Expected/desired behavior:**

[code]

**What is the motivation / use case for changing the behavior?**

  I feel it's adhering to standards to include these in npm scripts. npm scripts may also be more familiar for beginner Aurelia e

[2017-02-25 22:17] s-hoff commented on #451
@JeroenVinke I would like to address adding some form of documentation to this to avoid future 'how do I test the cli?' kind of questions. Even although now all it takes is an `npm link`, I feel like a line on it in the README or CONTRIBUTING would be appropriate.

[2017-02-25 22:19] EisenbergEffect commented on #451
If you could put something in the readme file, that would be amazing. You can add it to this PR even. Please ❤️

[2017-02-25 23:57] sbolel commented on #451
I actually didn't experience this issue while working on #499 just now.

[Here's a Gist](https://gist.github.com/sbolel/ef766756af567b261b069315c9b9d032) of how I've been doing development for that PR.

[2017-02-26 00:16] sbolel commented on #493
This is not an issue on macOS. Even though my editor complains about not finding `../aurelia.json`, the build process works fine. I don't need the custom type definition either.

I unfortunately do not have a copy of windows, so I'm not sure how to go about trying to dive further into this. It might be that the fixes in #499 may resolve this?

As for the editor/IDE warning, we could add `json.d.ts

[2017-02-26 00:32] sbolel commented on #494
Hey @EisenbergEffect, PR #499 is ready for review :)

@gama410 I never got the `@types` issues you saw, so I'm not sure what the fix for that would be. Can you check out the PR and see if any change is necessary please?

[2017-02-26 02:22] wallaceturner commented on #213
btw there is no mention of *how* to install either package in the docs
e.g. on this page [1] it would be *really* handy for all the n00bs (which is pretty much everyone wrt aurelia) if you could specify how to do it
e.g. insert Robs instructions above into the docs in a nicely highlighted box somewhere near the top

[1]: http://aurelia.io/hub.html#/doc/article/aurelia/fetch-client/latest/http-serv

[2017-02-26 02:48] sbolel commented on #213
[here's an excellent post](https://ilikekillnerds.com/2016/08/adding-aurelia-fetch-client-aurelia-cli-project/) on adding the fetch client to a CLI project. If you search for "aurelia fetch client cli" in Google, it should be the first one that comes up -- just in case you forget to bookmark it. Hope that helps! i did the same thing a few days ago, let me know if you run into any issues.

[2017-02-26 11:50] JeroenVinke commented on #384
I looked at this issue today and was able to reproduce it:

![image](https://cloud.githubusercontent.com/assets/2189477/23339395/804b85ee-fc21-11e6-8a03-1de820f8a67e.png)

In the RequireJS config I noticed the following:

![image](https://cloud.githubusercontent.com/assets/2189477/23339358/e453e56e-fc20-11e6-9b7f-fd611c4b26ee.png)

And I believe this is due to [this guard](https://github.com/sbole

[2017-02-27 07:49] suamikim opened #502 "Unable to partially add multiple modules from 1 package"
**I'm submitting a bug report**

* **Library Version:**
1.0.8

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Not browser related

* **Language:**
TypeScript 2.1.5

**Current behavior:**
It doesn't seem to be possible to partially add 2 or more modules from 1 package whilst not including all modules

[2017-02-27 07:51] suamikim commented on #470
I'd really appreciate some input on this. How do people who already use the CLI in larger projects actually handle this?

[2017-02-27 08:20] gama410 commented on #494
Hello! Sorry for the delay : I was not on my computer for the whole week-end.
The types errors I had were not due to this bug but rather from me having added 2 types definitions to package.json. I just had to remove them to solve my problem:

npm uninstall @types/es6-promise
npm uninstall @types/es6-collections

[2017-02-27 08:36] sbolel commented on #494
Awesome, thanks for the update @gama410

[2017-02-27 09:49] suamikim opened #503 "Poor debug experience due to broken source maps"
**I'm submitting a bug report**

* **Library Version:**
1.0.8

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Chrome 56 but I guess it's browser independent

* **Language:**
TypeScript 2.1.5

**Current behavior:**
Breakpoints in Chrome Dev Tools don't show the correct mapped source code. This seems

[2017-02-27 15:29] AStoker commented on #503
I'm not sure (can't recall right now) if we're actually bundling/including source maps for vendor files. It's possible that if a vendor has a source map, that it's being screwed up in the bundle process because it's looking for files that don't exist...
If it's related to the bundling issue, we'd appreciate any help with that.
If you're able to read out the sourcemaps somewhat and maybe find out w

[2017-02-27 16:34] JeroenVinke opened #504 "Improve error logging"
**I'm submitting a feature request**
This purpose of this issue is to track all instances where errors during the bundling/tracing phase are silenced

**Current behavior:**
Some tracing/bundling related errors are currently silenced. Some examples mentioned in:

- https://github.com/aurelia/cli/issues/502
- https://github.com/aurelia/cli/pull/419
- https://github.com/aurelia/cli/issues/190

**Expe

[2017-02-27 17:24] EisenbergEffect commented on #503
I believe the fix for some of this is coming in the next release. We had some improvements related to source maps.

[2017-02-27 20:55] AStoker commented on #504
My name is Andrew Stoker, and I approve of this issue. ;)
Some thoughts I had in addition to this were having optional flags to log out various levels of verbosity. e.g. `au build --verbose` would be _verbose_ in it's messages, helping out with debugging, while `au build --silent` would output only errors...

[2017-02-27 21:52] AshleyGrant commented on #385
I just had an idea of how to fix this. I'm going to submit a PR for it momentarily

[2017-02-28 08:00] suamikim commented on #503
@EisenbergEffect Good to hear! Do you have any idea on when the next release will be published?

@AStoker Actually I'm currently not able to reproduce the mentioned behavior but I'll try to create a repo with reproduction steps as soon as I experience it the next time!

[2017-02-28 08:11] EisenbergEffect commented on #503
Next release very soon. This week, even if it kills me.

[2017-02-28 08:29] suamikim commented on #503
Haha, good to hear (that it's coming soon, not that it's troublesome...)

[2017-02-28 08:45] EisenbergEffect commented on #503
It's not troublesome. I've just got a bit behind on releases and I'm determined to get that all sorted this week.

[2017-02-28 15:48] MarkStega opened #508 "Error in either CLI or Contact-Manager tutorial"
**I'm submitting a bug report**
* **Library Version:**
1.0.0

* **CLI Version**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.5.0

* **NPM Version:**
4.2.0

* **Browser:**
Chrome 56.0.2924.87
Firefox 51.0.1

* **Language:**
TypeScript 2.2.1

**Current behavior:**

As soon as I add   'require from="bootstrap/css/bootstrap.css' to the co

[2017-02-28 15:49] MarkStega commented on #508
As soon as I add   <require from="bootstrap/css/bootstrap.css"></require>
to app.html; Not sure what happened in original submission.

[2017-02-28 16:02] JeroenVinke commented on #508
I saw a similar issue on SO: http://stackoverflow.com/questions/42489212/aurelia-application-startup-issue-in-contact-manager-tutorial/42494327#42494327

[2017-02-28 20:00] MarkStega commented on #508
That was me also - I had gone ahead and finished the tutorial without the CSS. When I started down the path to set the stub property to false I first added the require line back in. On saving app.html the application now loads correctly. I am going to start the tutorial again and see when continuing pasty the router mysteriously makes things work.

[2017-02-28 20:00] AStoker commented on #508
It's most likely an error in the tutorial, since we're able to do this now.

[2017-02-28 20:05] AStoker commented on #470
The thing to manage would be your `package.json`. We have a relatively large project, but we don't have too much trouble. We just make sure that if we're modifying the `package.json`, that we also modify the `aurelia.json` to match what we need. If we remove a dependency, then we're removing it from the `package.json` file as well. At that point, it's up to the package manager to decide what to do

[2017-02-28 20:08] AStoker commented on #502
Can you see if in the bundle the packages are individual modules and what their names are? This sounds like a reasonable use case, and I want to say that we've dealt with similar things with jQuery-UI packages...

[2017-02-28 20:47] MarkStega commented on #508
I started the tutorial from scratch and again at the completion of 'Building out the default route' the initial error state is reproduced. Continuing the tutorial it is not until you complete 'Adding a loading indicator' that the load of bootstrap.css succeeds.

[2017-02-28 20:49] AStoker commented on #508
Sounds like a documentation change needs to be made to fix the tutorial. Mind making a PR with the change, since you're familiar with the correct order?

[2017-02-28 20:53] AStoker commented on #370
Also, in case you were wondering, you can configure the testing to work with TDD. I made a repo to demonstrate this here: https://github.com/AStoker/Aurelia-TDD

[2017-02-28 20:55] MarkStega commented on #508
I would do the PR but I truly don't understand why the break occurs and what actually fixes the issue. I think that someone who understands the CLI and Webpack needs to look at this. I will happily help them get to the error state...

[2017-02-28 21:09] AStoker commented on #508
I got a few other things on my plate before I can look at it, personally. However, if you were to make a repo of the state that shows it breaking, and where specifically in the steps of the tutorial you're at, I'll do my best to take a look.

[2017-03-01 06:16] sbolel commented on #500
Closed issue based on feedbacm

[2017-03-01 06:16] #500 closed

[2017-03-01 08:26] suamikim commented on #470
I'm mostly concerned about forgetting to remove sub dependencies from `aurelia.json` and therefore having stuff in my built bundles which is not used at all (see the example with the `md5` package & all its sub dependencies in my initial post).

I don't care about orphaned files on my local disk at all since those can be easily cleaned up using `npm clean` or `npm prune` (as you've mentioned).

Bt

[2017-03-01 09:01] suamikim commented on #502
Using option (2) from my first post, it seems like the complete package is bundled into `vendor-bundles.js`. Here's an excerpt from my built `vendor-bundle.js`:

[code]

The code within the excerpt above from `vendor-bundle.js` is completely identical to the code within my locally installed `node_modules/crypto-js/crypto-js.js`

[2017-03-01 10:38] arabsight commented on #502
@suamikim check SO, I updated my answer to include crypro-js. this isn't a bug.

[2017-03-01 10:47] JeroenVinke commented on #190
@ggrimbert are you still having issues with the cli+aurelia-kendoui-bridge combo?

[2017-03-01 10:51] ggrimbert commented on #190
Well, I've forgot about this issue...

No the problem hasn't happened for a while. I can close this.

[2017-03-01 10:51] #190 closed

[2017-03-01 11:29] suamikim commented on #502
@arabsight Perfect, this is exactly what I was looking for!

[2017-03-01 11:29] #502 closed

[2017-03-01 13:07] jugglingthebits opened #510 "Crash in CLI on syntax error"
**I'm submitting a bug report**

* **Library Version:**
0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.6.0

* **NPM Version:**
4.1.2

* **Language:**
TypeScript 2.2.1

**Current behavior:**
`au build` crashes when compiling typescript with invalid syntax in application code. Not all cases of invalid syntax crash. The resulting error mes

[2017-03-01 13:29] MarkStega commented on #508
I created a public GitHub repository at MarkStega/Contact-Manager-1; This corresponds to the completion of the step "Building out the default route". I don't think this is a documentation issue, but instead one of either the CLI, WebPack, or Aurelia-Loader. Whatever it is, I'd love to understand the issue even if it does turn out to be documentation.

[2017-03-01 14:35] AStoker commented on #470
So I'm not sure if this is something that could be handled by the CLI.
If I'm understanding you correctly, you have a library, which has dependencies you need to install. When you remove the library, you need to know which dependencies you've installed go along with it. Normally, you would just look in the "dependencies" array of the library you're removing (you _should_ add them there if it is a

[2017-03-01 16:05] suamikim commented on #470
I do understand what you're saying about why the CLI most probably won't be able to resolve all those dependencies & usage information automatically when removing packages and unfortunately don't have an idea on how this could be tackled right now.

However, your post helped me realize that I could change the code from my original post to explicitly state which sub dependencies belong to the 3rd p

[2017-03-01 16:05] #470 closed

[2017-03-01 17:44] AStoker commented on #470
Glad it helped you out!

[2017-03-02 04:30] DarienFord commented on #309
This is still broken.

[2017-03-02 13:19] goldiner opened #513 "Importing interface with absolute path to a module with interface brakes compilation"
**I'm submitting a bug report**

* **Aurelia CLI Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.4.4

* **Browser:**
all

* **Language:**
TypeScript 2.1.6

**Current behavior:**
Importing an interface with absolute path to a module with single interface causing wrong compilation:

1. `au run --watch` tracing missing a lot of f

[2017-03-02 14:01] AStoker commented on #513
Could you take a look and see if this PR would solve your issue? Just want to see if it's related. https://github.com/aurelia/cli/pull/499

[2017-03-02 16:28] goldiner commented on #513
Yes, it is solved my issue. Thanks!

[2017-03-02 16:28] #513 closed

[2017-03-02 20:19] AStoker commented on #513
@goldiner, it's not merged yet, so once it's merged, ensure it's working for you. If it isn't, feel free to reopen :)

[2017-03-03 05:10] #370 closed

[2017-03-03 05:11] #460 closed

[2017-03-03 05:12] #408 closed

[2017-03-03 05:12] #461 closed

[2017-03-03 05:16] #403 closed

[2017-03-03 05:18] EisenbergEffect commented on #303
Fixed.

[2017-03-03 05:18] #303 closed

[2017-03-03 10:58] tdamir commented on #342
I'm using the 0.25.0 version of aurelia-cli and it works for me when I explicitly define the resources (*.js is also important):

          {
            "name": "aurelia-dialog",
            "path": "../node_modules/aurelia-dialog/dist/amd",
            "main": "aurelia-dialog",
            "resources": [
              "**/*.js",
              "**/*.html",
              "**/*.css"
            ]

[2017-03-03 12:04] JeroenVinke commented on #468
@AStoker think we can close this one? I wonder if we should look into a more sophisticated solution that can update the aurelia packages automatically

[2017-03-03 12:05] JeroenVinke commented on #503
@suamikim can you confirm whether or not aurelia-cli 0.25.0 fixed this issue? Thanks

[2017-03-03 12:35] tdamir opened #514 "rev issue: index.html not updated"
**I'm submitting a bug report**

* **Library Version:**
0.25.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
6.9.2

* **NPM Version:**
4.3.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
If rev is enabled in aurelia.json, the bindle revisions are generated but index.html is not updated according to that.

**Expected/desired

[2017-03-03 12:41] fabioluz commented on #248
This issue can now be solved by adding a copy instruction in the **aurelia.json**.

**aurelia.json - valid if the project was created by aurelia-cli 0.25.0 or greater**
[code]
If the project was created by an older CLI version, you will have to create the copy task inside the _tasks_  folder -> https://github.com/aurelia/cli/blob/master/lib/resources/tasks/copy-files.js. After that, call the copy

[2017-03-03 14:04] AStoker commented on #468
I'll leave it up to @EisenbergEffect on whether it should be closed or not. To a point previously made, we would want to test the CLI with the various upgrade releases before making them default (I imagine). For right now, the packages are upgraded, so that's solved. But how future proof it, that's the question. Perhaps we could make a simple script that goes and gets the latest versions of the Au

[2017-03-03 14:08] AStoker commented on #514
Dangit... This is why we need to get those tests in there. When I tested out my "fix", it must have been using a cached version, so I didn't test everything out like I thought I did. Essentially, we moved the hashing function up to solve a different bug, but failed to modify when the updated hash is written to the .html file. I'll have to get the fix in real quick

[2017-03-03 14:31] AStoker commented on #514
I'll try and get it in real quick @tdamir. The reason your fix won't work directly is because if a single bundle changes which causes a bundle to have a different hash, but the vendor bundle didn't update, then the vendor bundle's hash would remain the same, even though the other bundle now has a different reference (and is shown in the vendor bundle). This causes browsers to cache the previous ve

[2017-03-03 14:35] tdamir commented on #514
@AStoker You are right. I was just looking at the code more carefully and figured that my code is also not working in every situation.

[2017-03-03 14:37] AStoker commented on #514
What you had as your "fix" was actually how it was previously :) So you weren't far off. In fact, it wasn't until we ran into a very strange cache issue at work that finally brought that issue to light. It's not a common issue though, but it did need to be fixed.

[2017-03-03 14:43] tdamir commented on #514
This could do the job (not tested):
[code]

[2017-03-03 14:44] AStoker commented on #514
That's pretty much what I did (slightly modified). Check out the PR referenced: https://github.com/aurelia/cli/issues/515

[2017-03-03 14:53] tdamir commented on #514
@AStoker Thanks for the fix!

[2017-03-03 17:38] #248 closed

[2017-03-03 17:40] #514 closed

[2017-03-03 17:44] EisenbergEffect commented on #468
I'll close this and create a new issue to track improvements to the CLI build.

[2017-03-03 17:44] #468 closed

[2017-03-03 17:45] EisenbergEffect opened #516 "Improve CLI Build"
We need to put a build process in place that accomplishes the following minimal requirements:

* [ ] Update the dependencies.js file with the latest Aurelie versions.
* [x] Run the unit tests.
* [x] Lint the code.
* [x] Generate a changelog.md file in the docs folder.

[2017-03-03 23:32] s-hoff opened #517 "Inline source maps cause build to fail"
**I'm submitting a bug report**

* **Library Version:**
0.25.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When generating or obtaining source maps from the vendor files, inline source maps get treated as file refe

[2017-03-03 23:39] fabioluz commented on #517
The temporary solution is using the minified version:

[code]

[2017-03-04 05:06] EisenbergEffect commented on #517
@AStoker or @JeroenVinke Can you look at this?

[2017-03-05 06:03] cavejay opened #519 "Bundle construction looks for files in the wrong place"
**I'm submitting a bug report**

* **Library Version:**
0.24.0
0.26.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.2.0

* **NPM Version:**
3.10.9

* **Browser:**
Chrome 56.0

* **Language:**
ESNext

**Current behavior:**
Build fails to import local dependency of a 3rd party module. It attempts to import from the base directory rather than th

[2017-03-05 06:11] cavejay commented on #519
I'm not sure whether or not to make an additional ticket for the bug that happens after this problem is resolved. Using the method I mention in the ticket of removing the '.js' from the module's require statements I encounter another build error created by a different module using require to import a static json file. Rather than looking for the file itself, the bundler searches for a .json.js fil

[2017-03-05 09:49] suamikim commented on #503
Since I can't even reproduce the issues in version `0.24.0` with my current code base I can't reliably confirm that they're fixed with `0.25.0` or later.

Therefore I'm closing this issue and simply reopen it if I'll ever experience them again.

[2017-03-05 09:49] #503 closed

[2017-03-05 10:26] suamikim opened #520 "Many "duplicate identifier" errors in TypeScript app after upgrading from v0.24.0 to 0.26.0"
**I'm submitting a bug report**

* **Library Version:**
Framework `1.0.8`
CLI `0.26.0`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Chrome XX but it's not browser related

* **Language:**
TypeScript 2.1.5

**Current behavior:**
Building/running the app throws many typescript warnings which weren'

[2017-03-05 11:19] suamikim commented on #520
I manually installed some typings a few weeks ago according to the suggestions on some online blog (which I can't find anymore...) to fix some issues I had at that time. Removing them now solved my issues...

[2017-03-05 11:19] #520 closed

[2017-03-06 06:04] #517 closed

[2017-03-06 06:57] chriswait opened #521 "Bundle module loader code is generated before all bundle rev hashes are computed"
**I'm submitting a bug report**

* **Library Version:**
0.26.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Node Version:**
7.7.1

* **NPM Version:**
4.1.2

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
(I've tried to articulate this as clearly as possible, but it's tricky. I'll try to stay on top of replies, if there is anything you'd li

[2017-03-06 07:09] suamikim opened #522 "Set environment variable using command line arguments"
**I'm submitting a feature request**

* **Library Version:**
CLI `0.26.0`
Framework `1.0.8`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Chrome 56 but it's not browser related

* **Language:**
TypeScript 2.1.5

I'd sometimes need the possibility to set the value of a specific environment variable

[2017-03-07 12:45] JeroenVinke opened #524 "Unhandled rejection ReferenceError: _dec is not defined when running au build --env prod"
**I'm submitting a bug report**
running `au build --env prod` results in `Unhandled rejection ReferenceError: _dec is not defined`. This repository has this issue: https://github.com/Thanood/md-todo.

* **Library Version:**
0.26.1 (possibly lower versions as well)

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6

[2017-03-07 13:06] Jenselme commented on #524
I encountered the same problem yesterday. Downgrading uglify-js to 2.7.5 solved it.

[2017-03-07 13:49] xiweicheng commented on #524
I met the same problem too.

[2017-03-07 15:28] AStoker commented on #521
@chriswait, this is very interesting. The configs bundle isn't supposed to be compiled till last, which would ensure that all the bundles would have their proper hashes before the config compiles its own hash and creates the loader config. The behavior you're explaining is the same that was causing the initial behavior, and so I wonder if you have the properly updated version? When you type `au -v

[2017-03-07 15:29] AStoker commented on #521
For reference, where the sorting is taking place:
https://github.com/aurelia/cli/blob/master/lib/build/bundler.js#L193

[2017-03-07 15:33] AStoker commented on #524
Do you have the trace of the console as it's running the build command? Might be a bit helpful

[2017-03-07 15:38] AStoker commented on #522
Nothing stopping you from doing this inside of a gulp task during your build. You can look at the existing tasks and see how it pulls down the cli flags. You can do the same thing to pull/make any flag you want and modify your environments file any way you want, and pretty much do whatever you'd like 😃  Let me know if you need any tips for that.

[2017-03-07 15:40] AStoker commented on #520
@JeroenVinke recently added some logging in place that normally would have killed the actual watch command. Could be that that might be happening? @JeroenVinke, what do you think?

[2017-03-07 19:57] JeroenVinke commented on #302
This sounds related to https://github.com/aurelia/cli/issues/368 which was fixed a while ago. Due to https://github.com/aurelia/cli/issues/368 not all resources were traced and specifying all files individually resolved the issue as well. @salminio do you still encounter this issue, or can we close this one?

[2017-03-07 20:43] Thanood commented on #524
@AStoker I've made a gist with the console output:
https://gist.github.com/Thanood/0ab6cd8ac03d1bc033ab3387e4f780f3

Also, here is the browser console stacktrace:

[code]

Not sure if that helps at all.
It's around this part of `app-bundle.js`:
`e.OneTimeBindingBehavior=(_dec=(0,n.mixin)(a))(i=function(){this.mode=t.bindingMode.oneTime})`

[2017-03-07 20:46] Thanood commented on #302
Materialize bridge (has a lot of files and) is at least bundled correctly. 😃

[2017-03-07 21:18] JeroenVinke commented on #524
@Thanood thanks for the info

So uglify-js@2.8.6 caused things to break:

2.7.5 - works OK
2.8.0 -  2.8.3, fails some sort of invalid left assign error
2.8.4 works OK
2.8.5 works OK
2.8.6 fails with `ReferenceError: _dec is not defined`
2.8.7 fails with `ReferenceError: _dec is not defined`

Failing:
`npm install uglify-js@2.8.7`

Working OK:
`npm install uglify-js@2.7.5`

Deuglified failing app-b

[2017-03-07 23:16] cosmoKenney opened #526 "Library Upgrade Command"
**I'm submitting a feature request**

Can we add command to au that upgrades the library and all dependencies? I've spent hours trying to update to the latest cli and others that were released last night. But it's a big jumbled mess.

[2017-03-08 00:49] TonySpegel opened #527 "npm install aurelia-cli -g installs 26 not 25 and neither 25 nor 26 are working on Ubuntu"
**I'm submitting a bug report**

* **Library Version:**
25.0.0
26.0.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 16.04 LTS)

* **Node Version:**
4.2.6

* **NPM Version:**
3.10.9

**Current behavior:**
- After using npm install aurelia-cli -g it installed, 0.26.0 not 0.25.0 (I had 0.24.0 before and thought it will install 0.25.0 as it was [mentioned](http://bl

[2017-03-08 00:51] EisenbergEffect commented on #527
This looks like a node version issue. @JeroenVinke Thoughts?

[2017-03-08 02:27] chriswait commented on #521
Thanks for the response @AStoker. If I understand correctly, what I'm experiencing would be expected if `doTransform` was not executed or successful. Most likely cause is that I'm not executing the version of the cli that's in my package file.

If I run `au -v` inside the project directory, it returns 0.26.1, and 0.24.0 executed outside, so this requires a bit more investigation on my part.

[2017-03-08 08:49] gama410 commented on #293
Adding my 2 cents here.

I have this behavior repeatable easily. When I 'au generate element', I always get this error. Also, pretty much every time I save two files in a row, the error happens.
I suppose it's just because the watcher sees a file change and triggers the compilation while the first compilation is still running. I have no idea how this could be solved, though...

[2017-03-08 09:41] stuartbloom opened #528 "cli build issue"
Hi experts.  This is more a question/request for help than an issue with the cli.

I have performed a build using `au build --env prod`, however, when I run my application I am getting a couple of errors; namely
`GET http://localhost:8080/node_modules/font-awesome/css/font-awesome.min.css
GET http://localhost:8080/styles/styles.css
Uncaught SyntaxError: Invalid left-hand side in for-loop`

I can o

[2017-03-08 09:45] JeroenVinke commented on #528
Hey @stuartbloom

It seems that there are multiple issues with some of the last releases of uglify-js. Take a look at [my comment](https://github.com/aurelia/cli/issues/524#issuecomment-284862285). I recommend locking the version of uglify-js to 2.8.5 until we can get in touch with the uglify-js folks.

[2017-03-08 09:49] stuartbloom commented on #528
Thanks @JeroenVinke

So are you saying i need to `npm uninstall uglify-js` and then `npm install uglify-js@2.8.7`?

[2017-03-08 09:51] JeroenVinke commented on #528
I think that `npm install uglify-js@2.8.5` should do the trick

[2017-03-08 09:52] stuartbloom commented on #528
thanks, got an eye test now, will try when I get back and let you know 👍

[2017-03-08 10:30] stuartbloom commented on #528
@JeroenVinke that works fine; just need to figure out how to the the font-awesome and styles.css included in the bundle :(

[2017-03-08 10:58] stuartbloom commented on #528
again, thankyou @JeroenVinke , all working now :)

[2017-03-08 10:58] #528 closed

[2017-03-08 12:25] JeroenVinke commented on #524
Opened a bug report [here](https://github.com/mishoo/UglifyJS2/issues/1580) and the maintainers quickly responded and suggested that the issue was already fixed in `master` (which has not yet been released). I was able to confirm this and since they release almost daily I assume this patch will be released very soon

[2017-03-08 12:25] #524 closed

[2017-03-08 13:59] AshleyGrant commented on #527
Are we still supporting Node v4? I thought our support policy for Node is to support the current Node LTS release (6.x). I just checked Node's own LTS policy, it looks like Node 4 enters maintenance mode on April 1, 2017 (beginning of next month).

Given that the CLI is still in Alpha, I'm of the mind that we should only support the current Node LTS release, not the older one.

Thoughts?

[2017-03-08 14:03] JeroenVinke commented on #527
Take a look at [this page](http://node.green/).. Node v6 is quite a lot better.

[2017-03-08 14:03] AshleyGrant opened #530 "au install should also set up a package's dependencies in the aurelia.json file"
**I'm submitting a feature request**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When installing an npm package that has dependencies, those dependencies are not properly set up by the aurelia cli in `aurelia.json`.

[2017-03-08 14:05] JeroenVinke commented on #530
[This SO post](http://stackoverflow.com/questions/42656021/error-from-aurelia-cli-command-au-run-watch-when-importing-3rd-party-library) is quite a good example of what can be improved

[2017-03-08 14:32] AStoker commented on #521
For kicks and giggles, just go ourside your project directory, and run the following commands exactly (this will remove the cli globally and reinstall it to the latest version).
[code]
(make sure you have that `aurelia-cli` _and_ `au` as the uninstall command)
After that, try running your command again. If you still have the project, can you create a repo that I can look at? If it's still breaking

[2017-03-08 15:58] MarkStega opened #531 "Either documentation or CLI precludes a successful .Net Core based application"
**I'm submitting a bug report**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.5.0

* **NPM Version:**
4.3.0

* **Browser:**
Chrome 56.0.2924.87 | Firefox 51.0.1

* **Language:**
TypeScript 2.2.1

**Current behavior:**

If you follow the CLI documentation to produce an ASP.Net Core based Aurelia project the resul

[2017-03-08 17:58] devingoble opened #532 "Multiple instances of sourceMappingUrl cause issues in Edge/IE"
**I'm submitting a bug report**

* **Library Version:**
0.26.1

* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.3.0

* **Browser:**
Edge 25.10568.672.0/IE 11.713.10568.0/possibly others

* **Language:**
TypeScript 2.2.1

**Current behavior:**
If third party libraries contain an instance of `sourceMappingUrl`, they will be preserved in the final vendor-bundle.js

[2017-03-08 17:59] pbrickell commented on #248
I'm using 0.26.1. It already has a copy-files.ts that is called in build.ts. How do I make it work in this case?

[2017-03-08 18:28] JeroenVinke commented on #302
I tried this with the latest version of the bridge and it works as expected now

[2017-03-08 18:28] #302 closed

[2017-03-08 18:36] JeroenVinke commented on #530
I have seen this issue quite a lot. We can certainly modify `au install` to have it add sub dependencies to the aurelia.json file as well. This would make the aurelia.json file larger though.

@AStoker shouldn't subdependencies be traced already? Take [this require statement](https://github.com/KoryNunn/scroll-into-view/blob/master/scrollIntoView.js#L1) for example  Shouldn't the build step trace

[2017-03-08 20:09] RenathoAzevedo commented on #296
Any news about it ?  I have to import a json file and I'm receiving the same error :  TypeError: Path must be a string. Received undefined

[2017-03-08 20:38] JeroenVinke commented on #296
No news yet. I'll try and take a stab at this soon (i'm working through the issue list). A PR would be very welcome as well

[2017-03-09 04:31] EisenbergEffect commented on #526
Is there some reason that npm won't work?

[2017-03-09 04:33] EisenbergEffect commented on #531
@AshleyGrant Can you look into this?

[2017-03-09 05:57] Thanood commented on #526
Maybe it would be useful to be able to automate upgrade tasks as mentioned in [0.23.0](https://github.com/aurelia/cli/releases/tag/0.23.0) and [0.25.0](https://github.com/aurelia/cli/releases/tag/0.25.0).

[2017-03-09 10:04] suamikim commented on #522
@AStoker Thanks for the suggestion, I've already had that in mind as a fallback option. At least to me it feels like this should be built into the CLI so the feature request persists :wink:

Nonetheless I need some advice now for implementing this manually:

I tried to manually update the `src/environment.ts` file which is a simple copy of the appropriate `aurelia_project/environments/${env}.ts` f

[2017-03-09 10:39] cosmoKenney commented on #526
NPM only seems to do one at a time. And doesn't keep all related packages like all the bits of aurelia at the most recent release.

For instance, lots of people were having problems yesterday with npm install aurelia-cli@latest. It was  installing the broken 0.26.1.

My proposal would be for the cli to bring all packages to the latest working release so you know that all the packages on your syste

[2017-03-09 11:07] JeroenVinke commented on #526
@cosmoKenney thanks for the info.

Since 0.26.1 is the current version of the CLI, could you elaborate on what is broken?

[2017-03-09 12:34] chriswait commented on #521
@AStoker: Thanks for the support. I'm pretty sure this was a version thing after all - failed to reproduce it on my own machine on a fresh project after updating versions as you suggested. Always fun to report a bug for something that was literally just fixed...

I was starting to assume my config was the issue, as I was including a setting for options.rev for each bundle in my config and this fel

[2017-03-09 12:34] #521 closed

[2017-03-09 18:10] fabioluz commented on #296
I can import a json file by creating a `textProcessor` step.

**aurelia.json**

[code]

**process-text.js**

[code]
And finally
[code]

[2017-03-09 18:33] fabioluz commented on #530
@JeroenVinke I've always had to add sub dependencies to aurelia.json. Based on my experience as CLI user, I don't think the current tracing algorithm automatically pulls dependencies into the bundle. Take aurelia-i18n for example, we currently have to add `i18next` to aurelia.json.

This enhancement would allow the improvement of `aurelia-i18n` installation. I am right @zewa666 ?

[2017-03-09 19:05] fabioluz commented on #248
@pbrickell Add the following lines in aurelia.json, after `bundles` property:`
[code]

[2017-03-09 19:36] RenathoAzevedo commented on #296
I tried this method, but I couldn't be able to import, I was still receiving the same error: TypeError: Path must be a string. Received undefined.

[2017-03-09 19:42] fabioluz commented on #296
@RenathoAzevedo That's odd. Could you show me your json file?

[2017-03-09 19:57] RenathoAzevedo commented on #296
@fabioluz it's nothing special, just a basic json.
`{
	"title": "Person",
	"type": "object",
	"properties": {
		"firstName": {
			"type": "string"
		},
		"lastName": {
			"type": "string"
		},
		"age": {
			"description": "Age in years",
			"type": "integer",
			"minimum": 0
		}
	},
	"required": ["firstName", "lastName"]
}
`
Putting the json file inside of the src folder it seems to load the json

[2017-03-09 20:08] fabioluz commented on #296
Have you added `processText` in the build.js/ts?

[code]

[2017-03-09 20:14] RenathoAzevedo commented on #296
@fabioluz  yes,  I did the `import processText from './process-text';` and add it on :
`export default gulp.series(
  readProjectConfiguration,
  gulp.parallel(
    transpile,
    processMarkup,
    processCSS,
    processText
  ),
  writeBundles
);`

I also tried what the @graemechristie did on: https://github.com/aurelia/cli/issues/300;
What is strange is that when json is outside src folder it

[2017-03-09 20:46] pbrickell commented on #248
@fabioluz That didn't work for me. The following did though

"bundles": [ ... ],
 "copyFiles": {
    "./node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2": "./fonts",
    "./node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff": "./fonts",
    "./node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf": "./fonts"
  }

[2017-03-09 20:57] fabioluz commented on #248
@pbrickell Are you sure the `fonts` folder hasn't been created? I tried here in a brand new project and it worked.

[2017-03-09 21:25] pbrickell commented on #248
@fabioluz

With your original I ended up with a bootstrap/font folder at the same level as src but in the browser I was seeing 401 errors for http://ei16.ei.lan:9000/fonts/glyphicons-halflings-regular.* Seeing this I changed my target to match, hence "./fonts". It then works.

[2017-03-09 21:35] fabioluz commented on #248
@pbrickell  Try to load bootstrap in the way described in the [http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/the-aurelia-cli/10](url). I'm pretty sure it will work :)

[2017-03-09 21:39] pbrickell commented on #248
I get 404 for that url.

[2017-03-09 21:42] pbrickell commented on #248
I found the item in the docs. That's exactly what I have in my aurelia.json

[2017-03-09 21:49] pbrickell commented on #248
This conversation may be relevant https://gitter.im/aurelia/Discuss?at=58c01140de504908226068e7

[2017-03-09 21:55] zewa666 commented on #530
Yes that should be doable and I even had an example of autofixing the deps section of Aurelia.json. will try to dig it up

[2017-03-10 04:30] anthonyborell opened #533 "au install i18next has wrong path in aurelia.json"
**I'm submitting a bug request**

**Library Version:**
0.26.1

**Operating System:**
Windows 10

**Node Version:**
6.10.0

**NPM Version:**
3.10.8

**Browser:**
all

**Language:**
all

**Current behavior:**
Similar to @AshleyGrant issue. Was following the aurelia-i18n tutorial on the docs hub but using v0.26.1 of the CLI.

When using `au install i18next` the output was:

[code]

however when perfo

[2017-03-10 06:45] zewa666 commented on #530
ahh now I remember why I left the script abandoned, its the same like this issue here https://github.com/aurelia/cli/issues/533 where we would be forced to second guess where the location of the umd/amd compatible build artifacts is. Honestly I really have no idea how to make this universally work. As long as we could expect the build folder to be named `dist` we could try to locate either `amd` o

[2017-03-10 10:19] gama410 commented on #293
Hello!
any feedback on this yet?

As a workaround, I modified  the buildTypescript method of the transpile task to create a new instance of the typescript compiler at every build:
` // if(!typescriptCompiler) {
    let typescriptCompiler = ts.createProject('tsconfig.json', {
      "typescript": require('typescript')
    });
 // }`

This feels a bit ugly but fixes the problem for me while waiting f

[2017-03-10 11:15] Thanood commented on #293
@gama410 Did you update aurelia-cli? The workaround should be in the default build scripts now.
If not, it should be safe to just remove the commented lines as this is actually the accepted solution. 😃
(it's here: https://github.com/aurelia/cli/blob/master/lib/resources/tasks/transpile.ts#L24-L26)

[2017-03-10 13:25] trydis opened #534 "Unnecessary Bluebird config in main.[js|ts]?"
**I'm submitting a bug report**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v7.2.0

* **NPM Version:**
4.1.2

* **Browser:**
N/A

* **Language:**
all

**Current behavior:**
In https://github.com/aurelia/cli/pull/505 Bluebird config was moved to prepended file.

The upgrade notes say:

When i create a new project

[2017-03-10 14:10] gama410 commented on #293
@Thanood Thanks! Indeed, the version of the tasks I use and the ones on the repo are different... Apparently, my quick-fix was good enough :)
I think this issue could be marked as fixed then.

[2017-03-10 14:58] fabioluz commented on #534
It seems that @AshleyGrant forgot to remove bluebird configuration from the **.ts** file

1 day in the dungeon with no food for him 😄

@trydis Could make a PR to correct this? What you'd have to do is the same #505 but for typescript.

[2017-03-10 15:04] AshleyGrant commented on #534
Aww maaannnnn

[2017-03-10 15:09] fabioluz commented on #248
@pbrickell ping me on gitter channel. I can help you better there.

[2017-03-10 15:56] AshleyGrant commented on #530
We're never gonna be able to make it universally work.

That's okay though. Plenty of people are happy with JSPM and it doesn't universally work.

[2017-03-10 21:09] JeroenVinke opened #535 "Progressive web apps"
**I'm submitting a feature request**
At the Amsterdam meetup a question was asked whether new aurelia cli apps could (and should) be progressive web apps by default.

cc @eriklieben

[2017-03-10 21:20] Thanood commented on #535
See also #399.
Personally, I'd like this as an option as it's more boilerplate code. Currently, the CLI creates a minimal project. If I want that, I can get it right now. 😃

[2017-03-10 21:24] EisenbergEffect commented on #535
I'd like for us to add it as an option. Anyone want to pr that?

On Mar 10, 2017 1:20 PM, "Daniel Bendel" <notifications@github.com> wrote:

[2017-03-10 22:41] chaskim commented on #531
In `run.ts`, the `baseDir` entry needs to be changed from `'.'`to `'./wwwroot'` for a .NET Core app.

Like this:

`baseDir: ['./wwwroot']`

Tested with CLI 0.26.1.

[2017-03-11 04:04] AshleyGrant commented on #531
It'll be next week before I can look at it. I'm going to be taking a few days off after South Florida Code Camp.

[2017-03-11 19:07] MarkStega commented on #531
@chaskim has the correct fix; Now is it a documentation or CLI enhancement that is needed?

[2017-03-11 19:47] JeroenVinke commented on #531
A CLI enhancement seems best I think. When you select "ASP.NET Core" in the wizard you should get a working project, if that is not the case we should fix it in the CLI.

One way to solve this would be to add a new property to the aurelia.json for this (in the platform section seems best). If you add one around [here](https://github.com/aurelia/cli/blob/a88bbf19754f146320ebf50a6d5d1d4e98822e94/lib

[2017-03-12 02:10] chaskim commented on #531
@JeroenVinke I'd like to create a PR for this. I made the changes on my end based on your guidance and it's working okay on my local repo. I'll do some final testing with the various `au new` scenarios and will submit it as a PR very soon (most likely tomorrow).

[2017-03-12 11:02] didzis opened #538 "CLI to add resource files on "install" and "import""
**I'm submitting a feature request**
The new CLI features "import" and "install" could add other files in dist folder as resources, for example, after installing bootstrap it would be nice to have ```resources:[css/bootstrap.css]``` added in aurelia.json so it could be imported/requested in the project.

[2017-03-12 11:25] JeroenVinke commented on #538
Thanks for creating this issue, and it would be nice to have the bootstrap CSS resource.

The importer currently supports looking for resources. If it finds CSS files it will ask you whether or not you would like to use them. If so, it will add those CSS files to the resources property and explain how to import them using `<require>` tags. But because we have defined a configuration for bootstrap

[2017-03-12 16:57] llicht opened #539 "Source maps broken after moving from 0.23.0 to 0.26.1"
**I'm submitting a bug report**

* **Library Version:**
0.26.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.9

* **Language:**
Typescript 2.1.6

**Previous behavior**
In 0.23.0, sources (files in src dir) were correctly loaded both when using Chrome's debugger and when using VSCode with the chrome debugger extensi

[2017-03-12 19:12] JeroenVinke commented on #405
Yep, I think #418 fixed this (aurelia.json script and index properties contain wwwroot now). The baseURL is still incorrect for new apps though, but that is tracked in https://github.com/aurelia/cli/issues/531

[2017-03-12 19:12] #405 closed

[2017-03-12 19:31] JeroenVinke commented on #304
@mobilemancer Thank you for creating the PR. A new issue that is the same as this one was opened recently: https://github.com/aurelia/cli/issues/531. The same fix came up (baseDir should be ./wwwroot for aps.net core projects) and a PR was created as well: https://github.com/aurelia/cli/pull/537

So now we have two different implementations of the same solution, which is great because we can compa

[2017-03-12 19:31] #304 closed

[2017-03-12 19:46] JamesFenton commented on #531
@MarkStega is correct about the documentation - http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/the-aurelia-cli/2 shows `<typescriptcompileblocked>true` instead of `<TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>` which is very important. The markdown is correct: https://github.com/aurelia/framework/blob/master/doc/article/en-US/the-aurelia-cli.md#aspnet-core so it seems

[2017-03-12 20:55] JeroenVinke commented on #234
I believe that the we no longer need [this message](https://github.com/aurelia/framework/blob/master/doc/article/en-US/the-aurelia-cli.md#aspnet-core) if we merge the PR above:

I do wonder why we have included that message in the docs though. Simply running the project from VS will transpile the typescript files (and launch IIS), but it does not invoke the CLI at all, so it is not going to regene

[2017-03-12 21:21] JeroenVinke commented on #487
The templating repository seems the best place for this one, so I moved it there: https://github.com/aurelia/templating/issues/534

[2017-03-12 21:21] #487 closed

[2017-03-12 21:40] JeroenVinke commented on #526
Lets continue in https://github.com/aurelia/cli/issues/231 where some more ideas were shared as well

[2017-03-12 21:40] #526 closed

[2017-03-12 21:41] JeroenVinke commented on #231
https://github.com/aurelia/cli/issues/526 has some ideas to improve things as well

[2017-03-12 21:44] JeroenVinke commented on #322
Lets continue in https://github.com/aurelia/cli/issues/531 which is the same issue

[2017-03-12 21:44] #322 closed

[2017-03-12 21:49] JeroenVinke commented on #533
I think this may be the same issue as https://github.com/aurelia/cli/issues/519. i18next uses CommonJS (similar to cheerio) and also uses the [.js](https://github.com/i18next/i18next/blob/master/index.js#L1) extension in the require statement (similar to cheerio). The result is that `node_modules` is missing from the path, which is also what happens in https://github.com/aurelia/cli/issues/519. If

[2017-03-12 21:51] JeroenVinke commented on #373
@jutxle can we close this one?

[2017-03-12 21:53] JeroenVinke commented on #336
Lets continue in https://github.com/aurelia/cli/issues/231 which is also about improving the update path of the CLI

[2017-03-12 21:53] #336 closed

[2017-03-12 22:03] JeroenVinke commented on #446
I have tried this in opera and it worked fine for me, so i'm going to close this one for now. Feel free to reopen with steps to reproduce if this is still an issue and we'll take a look at it.

[2017-03-12 22:03] #446 closed

[2017-03-12 23:01] s-hoff commented on #451
So seems like there is only one issue here: When, on top of the `npm link`, I do an `npm link aurelia-cli` in the test project's directory in order to bind my changes for e.g. the `build` command, somehow the devDependencies of the tasks go missing.

@sbolel That's because the dependency was already declared by then ;)
I was, however, also unable to test changes from my work copy for the on-projec

[2017-03-13 09:27] JeroenVinke commented on #342
I have taken a look at this issue and can confirm what's said in this issue.

To reproduce, add a dependency to the vendor-bundle config.:

[code]

where the main file of this plugin (`my-plugin.js`) imports a file (`define(["./file1"], function () {});`). One other thing needed to reproduce this issue is that you need to import this plugin from `app.js`: `import 'my-plugin';`.

What you get is th

[2017-03-13 15:06] AStoker commented on #533
I have seen many libraries import modules with the `.js` extension, and it has caused many headaches for me. Can you think of any way to work around this?

[2017-03-13 15:35] JeroenVinke commented on #533
I'm not exactly sure where this fails yet. Perhaps we can strip off the .js extension somewhere, but we'd have to find the right spot

[2017-03-13 16:05] pbrickell commented on #248
A final note, Thanks to Fabio for all the help.

Turns out bootstrap requires jquery and for jquery to be appear before bootstrap in aurelia.json.

After fixing that everything works perfectly according Fabio's here https://github.com/aurelia/cli/issues/248#issuecomment-285447958

[2017-03-13 17:49] AStoker commented on #522
Quick note, the `src/environtment.ts` file is modified at build time to reflect how you are trying to run. If you run with the dev environment, the file will have the options that represent that (as configured by the `aurelia.json` file). So if you manually modified it, and then ran, then that file would have been updated with your build instructions.

Now, the `src/environments` should be what is

[2017-03-13 17:49] #522 closed

[2017-03-14 01:23] RenJing commented on #472
Seems this issue is not fixed on latest version 0.26.1

[2017-03-14 02:37] EisenbergEffect commented on #342
Ultimately, for dependencies, we want all the code related to that dependency to go into the same bundle that we defined the module entry point in. I'm not sure what the best way to do that technically is. I haven't looked deeply into that code for a while. @JeroenVinke Would you be willing to try to put together a proposal?

[2017-03-14 09:09] JeroenVinke commented on #342
The fix may be simpler than I thought...

Instead of assuming that [this.includedBy](https://github.com/aurelia/cli/blob/d6f0ada18c4832bf0ec8296175ef1862047dce56/lib/build/bundled-source.js#L105) is the correct DependencyInclusion, we could look up the DependencyInclusion based on the path of the file that's being included and the `path` of the each registered dependency.

**Current situation**
![