[2017-08-23 02:44] andreabaldin-LIC commented on #399
I also tested that coming with the .NET SPA templates (https://blogs.msdn.microsoft.com/webdev/2017/02/14/building-single-page-applications-on-asp-net-core-with-javascriptservices/) .
It also includes Webpack and Typescript !

However it can be challenging configuring the Webpack PWA starting point, then the authentication…

I wouldn’t like to invest on something not ready for prod and after a whi

[2017-08-23 07:04] JeroenVinke commented on #399
@andreabaldin-LIC PWA support is now tracked here: https://github.com/aurelia/cli/issues/535. It's something we really like to get in, but there are other things we need to get done first.

[2017-08-23 07:49] zewa666 commented on #704
@JeroenVinke I've updated the json schema, over at my repo as much as I could. Some things are still undocumented since I had no idea how to properly describe them. So if you could pull the latest version and maybe create a PR for the missing `title` and `descriptions` I could go forward and prepare the PR for the CLI

[2017-08-23 09:12] eriklieben commented on #535
It looks like sw-precache & sw-toolbox are replaced by google workbox.

Didn't look deeply into it yet, only played around to see if it was similar, but here is an example using workbox with a cli task: https://github.com/eriklieben/hn-aurelia-requirejs/blob/master/aurelia_project/tasks/service-worker.ts

I am only not sure yet what the generic parts of it would be / what would be expected to be a

[2017-08-23 11:16] JeroenVinke commented on #704
@zewa666 sure, I'd like to take a proper look, which I can do early next week

[2017-08-23 15:24] delebash commented on #705
I created a new aurelia-cli and copied just my src files over, I think the old build files where not compatible.  I am closing this

[2017-08-23 15:24] #705 closed

[2017-08-23 17:41] gregoryagu opened #716 "Webpack HMR Support"
Is HMR now supported with Webpack 3 support?

I created a test project with VS17+aspnetcore 2.0+ webpack.  It does automatically pack on detected changes, but the changes don't show up on the browser.

I asked this question on S.O. [here](https://stackoverflow.com/questions/45829272/aurelia-hot-module-reloading-with-aspnetcore-2-0)

**I'm submitting a feature request**

* **Library Version:**
majo

[2017-08-23 18:09] #713 closed

[2017-08-23 18:09] #714 closed

[2017-08-23 18:22] avrahamcool commented on #716
inspecting the cli code, to get it to work you should set `"hmr": true` in `aurelia.json` under `platform`.
and call `au run --hmr --watch`.

[2017-08-23 18:36] marekpw opened #717 "au generate resource - specify path"
Are there plans to support specifying path for the `au generate` commands? Currently the paths can be specified in aurelia.json but they cannot be changed on per-generation basis. That is not an option for me since my resource tree isn't flat.

Something like `au generate element --path src/components/` would be great.

[2017-08-23 19:22] gregoryagu commented on #716
This works for me as long as I use Chrome. Thanks very much. How to run HMR should be include be included in the docs somewhere as it's a pretty cool feature.

[2017-08-23 19:23] gregoryagu commented on #716
I am closing this as resolved.

[2017-08-23 19:23] #716 closed

[2017-08-23 20:38] zewa666 commented on #717
Duplicate of https://github.com/aurelia/cli/issues/466

[2017-08-23 20:38] #717 closed

[2017-08-23 20:43] zewa666 commented on #710
Sorry I didn't get a chance to look at your example yet, too busy with tons of stuff. What I would have tried is to patch the require method as mentioned here near the end https://github.com/Microsoft/TypeScript/issues/9259

[2017-08-24 00:10] andreabaldin-LIC commented on #399
Ok, thanks.
In the meantime I’ll have a look at other frameworks waiting for the Aurelia one.
Cheers

Andrea Baldin
Senior Software Developer

[cid:LIC_automation_signature_logo_jpg]
LIC Automation
PO Box 20306 (119 Maui St, Pukete)
Hamilton 3241 NEW ZEALAND

Web: www.lic.co.nz
Our vision at LIC Automation: To improve the prosperity and productivity of our farmers through automation and informatio

[2017-08-24 10:43] JeroenVinke commented on #563
Not yet. We're planning on adding build targets (cordova, phonegap, electron) to the CLI. For that work we might end up changing the folder structure of the dist folder. I'll keep this issue in mind so that hopefully we can implement it together with the different build targets

[2017-08-24 21:18] JeroenVinke opened #719 "Migrating from CLI to Webpack"
It would be good to have a document that gives guidance to people who move from Aurelia-CLI+RequireJS/SystemJS to Webpack

[2017-08-25 07:32] 4imble opened #721 "au new --here using webpack `Unexpected token )`"
**I'm submitting a bug report**

* **CLI Version:**
0.31.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

**Current behavior:**
Using au new --here and choosing the following options fails

3) Webpack,
1) Web,
2) Typescript,
1) Default,
2) Less
1) None,
2) No,
1) Visual Studio Code

[code]
**Fix**
There is a stray comma on line 40 that is causing this to fail, i re

[2017-08-25 07:35] JeroenVinke commented on #721
Sorry about that. If you're getting this problem, use node version 8 until we can get the fix in. Apparently nodejs 8 is the only version that supports trailing comma's

[2017-08-25 07:39] 4imble commented on #721
No worries, it's not a blocker for me as I edited the file locally.
Thought it best I report it in case it was unknown. :thumbsup:

[2017-08-25 07:47] JeroenVinke commented on #721
@4imble mind if I change the title to `Unexpected token )` ?

[2017-08-25 07:56] JeroenVinke commented on #721
since the fix is in master now, you can also install it that way: `npm install aurelia/cli#master -g` and switch back to the latest after the patch release

[2017-08-25 08:31] johan-v-r commented on #442
@jwx I would really benefit from a platform option where we have multiple `index` files depending on the same source.

Is somebody currently busy with this or idea when something like this could possibly be available?

[2017-08-25 15:50] gheoan opened #722 "aurelia new resets clipboard"
**I'm submitting a bug report**

* **Library Version:**
0.31.2

**Please tell us about your environment:**
* **Operating System:**
Manjaro Linux 17.0

* **Node Version:**
8.4.0

* **NPM Version:**
5.3.0

**Current behavior:**

1. Copy some text.
2. `aurelia new`
3. Paste inserts nothing.

**Expected/desired behavior:**

* **What is the expected behavior?**
Pasting inserts the copied text.

* **Wha

[2017-08-25 16:18] gheoan opened #723 "The jsconfig.json file is created when code editor is set to none"
**I'm submitting a bug report**

* **Library Version:**
0.31.2

**Please tell us about your environment:**
* **Operating System:**
Manjaro Linux 17.0.2

* **Node Version:**
8.4.0

* **NPM Version:**
5.3.0

* **Language:**
ESNext

**Current behavior:**
The following project configuration creates the `jsconfig.json` file.
[code]

**Expected/desired behavior:**

* **What is the expected behavior?**
T

[2017-08-25 16:44] diegohb opened #724 "[feature requests] Multiple bundles/targets & platforms"
I've been trying to figure out how to support multi-spa and leverage build targets and platform in aurelia.json to support a more sophisticated build setup.

attempts:
1. just standard splitting bundles to break off dependencies (each SPA may have different 3rd-party vendor libraries): https://github.com/diegohb/samples-aurelia-vanilla_cli/tree/master-task017
--this broke the [karma tests ](https:

[2017-08-25 16:45] diegohb commented on #724
i see it's related to https://github.com/aurelia/cli/issues/442

[2017-08-25 19:51] diegohb commented on #724
I'd love to know why this isn't working as expected to get a better understanding of the internals of the cli and current limitations .. https://github.com/diegohb/samples-aurelia-vanilla_cli/commit/20e557b5acb73e04a7f63d915494da27125cf41b 🆘

[2017-08-25 20:36] JeroenVinke commented on #724
@diegohb i'd like to help you debug but i''m a bit behind on all my other work. If you can wait until next weekend I can help you out

[2017-08-25 21:11] diegohb commented on #724
@JeroenVinke - thanks a lot! 👍 👍 👍

[2017-08-26 15:09] AshleyGrant opened #726 "Let's add the ability to automatically override defaults in a ~/.aurelia.json file"
**I'm submitting a feature request**

* **Library Version:**
0.31.2

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
8.4.0

* **NPM Version:**
5.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
It is currently not possible to override the defaults for the CLI other than by running the CLI. It'd be nice to add a way to override the defaul

[2017-08-26 19:35] ghiscoding opened #727 "WebPack bundler is missing nps as devDependencies"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.4.0

* **NPM Version:**
5.3.0

* **Browser:**
all
* **Language:**
all

**Current behavior:**
After running `npm install` and `npm start` the console throws an error:
[code]

**Expected/desired behavior:**
`npm start` should run without

[2017-08-26 20:15] ghiscoding opened #729 "Investigation on bundler missing VSCode Chrome Debugger"
**I'm submitting a feature request**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.4.0

* **NPM Version:**
5.3.0

* **Browser:**
Chrome

* **Language:**
all

**Current behavior:**
Not all project/bundler type include VSCode Chrome Debugger (defined by `.vscode/launch.json`)

* **What is the motivation / use case

[2017-08-26 20:34] ghiscoding commented on #729
This is a continuation of some discussions (with @niieani and @JeroenVinke) which started in the [Aurelia-Skeleton](https://github.com/aurelia/skeleton-navigation/issues/852#issuecomment-325028923) which basically is for having a great debugging experience if/when using VSCode (Visual Studio Code) as the editor with [https://github.com/Microsoft/vscode-chrome-debug](https://github.com/Microsoft/vs

[2017-08-28 17:01] JeroenVinke commented on #721
Released as 0.32.3

[2017-08-28 17:01] #721 closed

[2017-08-28 17:14] JeroenVinke commented on #729
Sounds great @ghiscoding. Different input/output filenames won't be an issue. Your help is greatly appreciated, thank you.

[2017-08-28 17:16] ghiscoding commented on #729
@JeroenVinke did you wanted me to create a PR with what I said in my post (different names)?

[2017-08-28 17:18] JeroenVinke commented on #729
If you could then please :)

[2017-08-28 17:23] ghiscoding commented on #729
Ok I will after my working hours, however I don't know how to test it after. Would I leave that part to you for testing it?

[2017-08-28 17:34] johan-v-r commented on #724
Adding the following code to the top of my `build.js` file I can specify `au build --target mobile`
[code]

This is only as a work-around for now until we can get a better solution.

[2017-08-28 18:40] diegohb commented on #724
@johan-v-r  - thanks! that's a great add..  i tried to pull down code also and was going to implement request 1 (multiple index files to update) but I couldn't get my environment setup right.. running karma on cli project causes spec test failures.. hesitant to code without having a good test baseline to start from.

[2017-08-28 18:40] diegohb commented on #724
I found the code that updates the index page and it does not actually care about what kind of file it's pointed to..  so my request number 2 above is unnecessary.
https://github.com/aurelia/cli/blob/aab947791010d714e7a98ad1438ca152ba0ceddf/lib/build/bundle.js#L334

I can't really find any documentation or code related to platform.index property at the top of the aurelia.json file - doesn't seem to

[2017-08-28 20:26] AStoker commented on #724
That's used to replace the reference to the vendor bundle when revisions are used, so a user doesn't have to manually update the links with the generated vendor bundle hash. Should be documented somewhere in the CLI docs...

[2017-08-29 01:31] ghiscoding commented on #729
@JeroenVinke , I created a PR and left some comments in there, I also don't know how to test the PR. Are you able to do the testing?

[2017-08-29 06:58] JeroenVinke commented on #729
@ghiscoding did you follow these steps? https://github.com/aurelia/cli#building

after you've executed `npm link` in the CLI folder, `au new` will use the forked CLI

[2017-08-29 13:10] ghiscoding commented on #729
I did now and yes it worked. Could you please review the comment that I left in the [PR #732](https://github.com/aurelia/cli/pull/732), I'm unsure on some piece of code which it not to work with Babel projects. Thanks

[2017-08-29 17:10] atsu85 opened #733 "Add aurelia-template-lint integration"
**I'm submitting a feature request**
Add out-of-the-box support for [aurelia-template-lint](https://github.com/MeirionHughes/aurelia-template-lint), to detect lots of problems at build-time.
* **Library Version:**
0.31.3

* **Language:**
It will be most usefult for TypeScript, but some functionality will be benefitial for all other languages as well.

**Current behavior:**
Problems in html templat

[2017-08-29 17:13] ghiscoding commented on #729
I did more changes and I am now all done with the PR #732, please review. :)

[2017-08-29 17:53] Lani opened #734 "Unable to create an ASP.NET Core project template"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 17.04)

* **Node Version:**
8.1.2

* **NPM Version:**
5.3.0

* **Browser:**
n/a

* **Language:**
ESNext

**Current behavior:**
The aurelia cli gives the following error when creating a new custom ASP.NET Core project: `Error locating resource: content/jav

[2017-08-29 17:58] JeroenVinke commented on #734
This must be because of the capital letter `P` combined with Linux, since this works fine on Windows.

Could you confirm by opening up `/home/lani/.nvm/versions/node/v8.1.2/lib/node_modules/aurelia-cli/lib/commands/new/project-template.js` and replacing that capital letter P on line 124 to a lowercase?

[2017-08-29 18:06] Lani commented on #734
Confirmed! That solves it! Thanks for the quick reply.

(I get another error now, but I think that is because I do not have the dotnet runtime installed, will open another issue in case it is something else).

[2017-08-29 19:09] diegohb commented on #724
@AStoker - I don't think Platform.Index (at the top of the aurelia.json) is used for that.. you mean targets[x].Index - that *is* used for that.

either way, I've managed to get the revision update to work against an MVC partial so that way I can have multiple SPAs refer to the same bundle revision and sitll leverage CLI auto-update for that - https://github.com/diegohb/samples-aurelia-vanilla_cli

[2017-08-29 19:27] AStoker commented on #724
You're correct, my mistake :)

[2017-08-30 03:45] jblackburn21 commented on #701
I'd like to vote for this.

I'm using this same setup, and am try to use the index.cshtml rather than the index.html to load my aurelia app.  If I remove the [hash] from the file name so that asp.net passes the hash through the query string, then webpack middleware continuously runs bundling.

As a work around, I changed the Index.cshtml to be a template and use HtmlWebpackPlugin to generate the v

[2017-08-30 04:47] alexandru-calinoiu opened #735 "Au install fails on new webpack procject"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Linux OpenSuse Tumbleweed

* **Node Version:**
6.11.1

* **NPM Version:**
3.10.10

* **Browser:**
none

* **Language:**
TypeScript 2.4

**Current behavior:**
Runing `au install` fails with:

[code]

**Expected/desired behavior:**
Should not fail, my guess is that it sh

[2017-08-30 08:28] JeroenVinke commented on #735
Thanks for opening the bug report. `au install` is specifically for the Aurelia CLI bundler, and not the Webpack bundler. We'll have to disable that

[2017-08-30 08:46] JeroenVinke opened #736 "script tag in index.html incorrect when using full url as baseurl"
**I'm submitting a bug report**

* **Library Version:**
0.32.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Language:**
all

**Current behavior:**
When you configure the baseUrl to be a full url in aurelia.json, the CLI will patch index.html. But the script tag ends up being incorrect:

`<script src="http:/my-website.com/scripts/vendor-bundle.js" data-main="a

[2017-08-30 10:52] eriklieben opened #737 "[feature-request] Handle flag parameters case insensitive"
**I'm submitting a feature request**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.1

* **NPM Version:**
4.0.3

* **Browser:**
n.a.

* **Language:**
all

**Current behavior:**
When performing a build using the command
[code]
it seems to run a dev build ( because of the capital P).

**Expected/desired behavior:

[2017-08-30 17:00] vpanjganj opened #739 "No webpack minification in production environment"
**I'm submitting a feature request**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6 Sierra

* **Node Version:**
8.3.0

* **NPM Version:**
5.3.0

* **Browser:**
all

* **Language:**
ESNext + Webpack

**Current behavior:**
HelloWorld app created by `aurelia-cli` doesn't minify the bundle on production build.

**Expected/desired behavior

[2017-08-30 17:21] vpanjganj opened #740 "System generated file in `src` folder"
**I'm submitting a feature request**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6 Sierra

* **Node Version:**
8.3.0

* **NPM Version:**
5.3.0

* **Browser:**
all

* **Language:**
ESNext + Webpack

**Current behavior:**
When running `au build --env prod` a file called  `environments.js` gets generated inside the `src` folder.
I use a

[2017-08-30 17:47] AStoker commented on #739
@vpanjganj, can you provide me with your `aurelia.json` file? I'm unable to reproduce this on the same environment you're on.

[2017-08-30 17:51] AStoker commented on #740
Is it a matter of formatting the environment file? If so, you can see the various environment files under the `aurelia-project/environments` folder. Those files represent the various states/environments that your project can run in. For example, for the sake of versioning, we actually include version numbers inside our environment file so we can use that in various places.

[2017-08-30 17:55] AStoker commented on #737
Two things.
First, in general, command line flags are typically case sensitive, so it might be good to just keep with the norm.
Second, if I remember correctly, when you have that environment flag, it's looking for an environment file that matches that exact name. Some OS's are case sensitive, so a "Prod.js" file wouldn't be the same as a "prod.js" file. Additionally, for the sake of information p

[2017-08-30 19:07] zewa666 commented on #737
What about keeping it as it is, but additionally logging a warning that the provided env could not be located and the build task falls back to dev?

[2017-08-30 19:52] AStoker commented on #737
That sounds like a good approach.

[2017-08-31 08:21] eriklieben commented on #737
Ah didn't know that :-) A warning sounds great to quicker see what's going wrong and give users more information about what's going on 👍

I do wonder if only a warning enough for this specific case?

By default it is used in dev mode, so the cases where you would use this specific command is either in a production, acceptance or staging build right?

Is it a better option to halt/error the complet

[2017-08-31 09:00] vpanjganj commented on #739
Sure,
[code]
The command I run is : `au build --env prod`
I get the following assets:
[code]

After adding the following plugin to my webpack app.js bundle  becomes 375kb:
[code]
My argument is that, this seems like a better default output from a production build.

[2017-08-31 09:07] vpanjganj commented on #740
Thanks

[2017-08-31 09:07] #740 closed

[2017-08-31 13:27] AStoker commented on #739
Well crap, just realized that this is WebPack :P I thought you were on RequireJS.
Straight up, WebPack isn't my speciality, so I'm not as familiar with how it minifies.
At first glance though, it doesn't appear that the aurelia.json has any options in there for minification... Did you remove them, or does WebPack minify/uglify on a separate process that needs to be in the build.js?

[2017-08-31 13:29] JeroenVinke commented on #739
Currently the skeleton-navigation-webpack doesn't do uglification, so that has made its way into the CLI. I think we should have uglify preconfigured though

[2017-08-31 17:42] zewa666 commented on #737
That's a good point. Typically you can setup your ci, eg TFS to stop on warnings, but it's not the default. I personally wouldn't see an issue with the CLI failing if a wrong env is passed not sure though how others think about this.

[2017-09-01 10:01] gama410 commented on #710
Sorry for taking so much time to answer : I had other urgent tasks to take care of before coming back to this one...
I took the option you proposed here and it worked well, thanks a lot for pointing me in that direction! I think this ticket can be closed now!

[2017-09-01 10:01] #710 closed

[2017-09-03 07:33] JeroenVinke commented on #492
https://github.com/aurelia/framework/pull/776

[2017-09-03 07:33] #492 closed

[2017-09-03 07:50] JeroenVinke commented on #736
Note to self:

[code]

might be good to add to `util.spec.js`

[2017-09-03 09:59] JeroenVinke commented on #722
I can't reproduce this on Windows, and i'm not sure what could cause the clipboard to get emptied. Do you have this with any other cli tools?

[2017-09-07 09:33] BalazsArva opened #749 "Support for a frontend subfolder for ASP.NET Core project"
**I'm submitting a feature request**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Browser:**
Does not apply

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**
Currently, when creating a new Aurelia project using the CLI and using the `--here` switch, an

[2017-09-07 09:39] cornillemichiel commented on #357
How would one configure this  when there is no index at all? use case: I replaced index.html with a razor view.

[2017-09-07 13:54] JeroenVinke commented on #357
Yep, thats the way!

[2017-09-08 17:07] ModernRonin commented on #494
what's the status on this? does bundling work with path aliases in tsconfig now? would be *very* useful.

[2017-09-08 17:57] JeroenVinke commented on #494
@ModernRonin sure, take a look at this project: https://github.com/JeroenVinke/aurelia-presentation-amsterdam-2017/tree/master/path-mappings-modified. Important is the paths section in aurelia.json and the tsconfig.json

[2017-09-08 18:56] sbolel commented on #494
I have a PR for this, looking for direction

[2017-09-09 07:11] JeroenVinke commented on #494
@sbolel would it be enough just to supply a `paths` in tsconfig and a `baseurl`?

[2017-09-09 21:46] pat841 commented on #700
I was able to fix this and avoid any workaround by using "skipLibCheck: true" in my tsconfig.json.

[2017-09-11 10:36] JeroenVinke commented on #586
When we find a suitable place for https://github.com/aurelia/cli/issues/393 I'll make sure to add these there as well

[2017-09-11 10:36] #586 closed

[2017-09-11 10:49] JeroenVinke commented on #194
You could do

[code]

While this is possible, I wouldn't recommend it for the reasons mentioned before. Instead, I'd put these settings in aurelia.json:

[code]

and use the Configuration API that the CLI exposes to parse that:

[code]

[2017-09-11 10:49] #194 closed

[2017-09-11 15:05] colindembovsky opened #750 "Import reference path incorrect"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.1

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
TypeScript 2.4

* **Loader/bundler:**
RequireJS

**Current behavior:**
I have installed the [vss-web-extensions-sdk](https://www.npmjs.com/package/vss-web-extension-

[2017-09-12 14:13] tristan-shelton commented on #253
I just encountered this issue. It seems like it may be an NPM issue rather than an aurelia-cli one.

For me at least switching from Node 8.4.0/NPM 5.3.0 to Node 6.11.3/NPM 3.10.10 solved it and all packages installed correctly.

With NPM 5.3.0 I got `TypeError: Cannot read property '0' of undefined`, seemingly related to https://github.com/npm/npm/issues/17858 but while the installation succeeded

[2017-09-12 20:52] arnederuwe opened #752 "Extend the Environment-Specific Dependencies functionality to 'prepend' and 'append'"
**I'm submitting a feature request**

**Current behavior:**
The prepend/append section is only configurable with paths to js libraries

* **What is the expected behavior?**
Make it possible to only load certain js libraries depending on the selected environment, like this:
[code]

* **What is the motivation / use case for changing the behavior?**
Today I had a headache trying to improve the startu

[2017-09-16 11:17] GBSal commented on #520
I am having the same issue. what is the fix then

[2017-09-18 07:26] suamikim commented on #520
@GBSal I'm sorry but I can't remember the details anymore. I can only tell you that I've uninstalled some manually installed typings as mentioned in my [comment on Mar 5](https://github.com/aurelia/cli/issues/520#issuecomment-284221249)...

[2017-09-21 15:09] ajoslin103 opened #753 "changing baseUrl in webpack.config breaks images"
please ignore this - PEBKAC error

[2017-09-21 15:15] #753 closed

[2017-09-21 15:51] djedi commented on #535
I'm just learning about PWA. I'm curious how much weight he aurelia framework adds to a PWA. I'm at Connect.tech in Atlanta and I went to a PWA workshop yesterday. They presenter recommended preact mainly because of how small it is and its ability to code split. I'd be curious to know how Aurelia compares.

[2017-09-21 17:10] eriklieben commented on #535
Hi Dustin,

I don't know much about reducing the size of an Aurelia application, but there is a sample here https://github.com/jods4/aurelia-webpack-build/tree/master/demos/04-Small_ES6_build to minimize the size of an application with code splitting, etc which might help.

This is not an argument against or why Aurelia can be bigger or anything, but just a side note:

PWA apps are about more than

[2017-09-21 22:49] khuongduybui opened #754 "Deprecated use of babel-preset-es2015"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Current behavior:**
When creating a Babel project, `babel-preset-es2015` is added as a dependency

* **What is the expected behavior?**
Should use `babel-preset-env` instead

* **What is the motivation / use case for changing the behavior?**
Warning from `babel-preset-es2015`:

[2017-09-22 04:43] DamnedScholar opened #755 "`au import` seems limited"
I went down a rabbit hole of messing with dependencies, and I noticed that `au import` was consistently failing to find a strategy for dependencies that had just one folder with an `index.js`. It feels to me like that design should be one of the strategies used by the CLI.

[2017-09-22 10:31] simonfox commented on #750
I know nothing about `vss-web-extension-sdk` however it looks like your import should be something more like `import VSS from 'vss-web-extension-sdk'`. Looks like the intended export is `VSS` which is intended to be [used like this](https://github.com/Microsoft/vss-web-extension-sdk#use-the-sdk)

[2017-09-23 12:44] AbraaoAlves opened #756 "Support generating with fuse-box"
**I'm submitting a feature request**

* **What is the expected behavior?**
Add [Fuse-Box]() as loader/bundler option on cli

* **What is the motivation/use case for changing the behavior?**
Support for generating with fuse-box/typescript with the cli (I know about [aurelia-fuse-box-seed](https://github.com/fuse-box/fuse-box-aurelia-seed)). This is a great tool for typescript users, fast and effici

[2017-09-23 13:46] AbraaoAlves opened #757 "Sugestion: support generate web component spec"
**I'm submitting a feature request**

**Current behavior:**
We can't generate Aurelia Plugin like WebComponent spec compliant. eg. [StencilJS](https://stenciljs.com)

* **What is the expected behavior?**
Cli build/generate plugin web component spec that we'll can simple use like this:
import a script[src=file.js] or link[rel=import, src=file.html] and use components tag like any web component spec

[2017-09-23 15:17] JeroenVinke commented on #756
That would be a great addition

[2017-09-23 19:46] gheoan commented on #373
This is not fixed, however it could be solved with https://github.com/aurelia/cli/issues/490.

[2017-09-27 11:24] justindra opened #758 "Build for prod still looking for aurelia-testing"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser

[2017-09-27 11:33] justindra opened #759 "Build for prod still looking for aurelia-testing"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.1

* **NPM Version:**
3.10.10

* **Browser:**
Chrome | Firefox | Edge

* **Language:**
TypeScript

* **Loader/bundler:**
all

**Current behavior:**
[code]

Select all default typescript options

[code]

Go to the `localhost:[port]`

[2017-09-27 11:35] justindra commented on #758
Weirdly submitted this before I was finished

[2017-09-27 11:35] #758 closed

[2017-09-27 12:09] xdvarpunen commented on #658
@manuel-guilbault how is plugin project going?

[2017-09-28 05:14] rgwch opened #760 ""au run" doesn't serve files"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.10.5, Ubuntu 17.04

* **Node Version:**
7.5.0

* **NPM Version:**
4.6.1

* **Browser:**
Chrome 58.0.3029.110, Safari 10.1.2, Opera 47.0.2631.83

* **Language:**
TypeScript 2.5.3

**Current behavior:**
When I serve the project with `au run --watch`, the browser o

[2017-09-28 07:09] JeroenVinke commented on #760
Hey @rgwch, is this a webpack project? If so then the project runs under http://localhost:8080

[2017-09-28 07:13] JeroenVinke commented on #757
I am not sure what to do here. We are going to add a `au new --plugin` feature that would allow you to generate Aurelia plugins. The webcomponent spec isn't the responsibility of the cli, for that I would keep monitoring the two issues that you've linked to.

[2017-09-28 07:20] JeroenVinke commented on #658
@manuel-guilbault is making some great progress. We're currently working on getting the unit testing setup right

[2017-09-28 07:23] JeroenVinke commented on #752
I like it, and a PR would be much appreciated. I think it would have to be done [in this area](https://github.com/aurelia/cli/blob/master/lib/build/bundle.js#L17-L18)

[2017-09-28 07:24] arnederuwe commented on #752
Great! I'm on it

[2017-09-28 07:27] JeroenVinke commented on #759
This is strange, i'm not able to reproduce the issue. Just to confirm, you're using the default typescript setup right (requirejs and aurelia-cli bundler). On build (`au build --env prod`) the CLI copies the appropriate environment file from `aurelia_project/environments/prod.ts` to `src/environment.ts`. Can you confirm that this actually happens, so that `src/environment.ts` has `testing` set to

[2017-09-28 08:54] manuel-guilbault commented on #658
@xdvarpunen @JeroenVinke hopefully I'll be able to get it done in the upcoming weeks

[2017-09-28 09:44] rgwch commented on #760
Hi @JeroenVinke, thanks for replying!

localhost;8080 gives "connection refused". Here is the output of the build. There are no error messages:

Starting 'readProjectConfiguration'...
Finished 'readProjectConfiguration'
Starting 'processMarkup'...
Starting 'processCSS'...
Starting 'copyFiles'...
Starting 'configureEnvironment'...
Finished 'copyFiles'
Finished 'processCSS'
Finished 'configureEnviro

[2017-09-28 11:02] JeroenVinke commented on #760
That is weird. Could this be a permission issue? does `sudo au run --watch` work? Also, does the browsersync url work?

[2017-09-28 13:02] lukpep opened #762 "vendor-bundle is looking for dependencies in node_modules"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.3

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
TypeScript 2.5.3

* **Loader/bundler:**
RequireJS

**Current behavior:**

my prod and dev builds are broken. au build or au build --env prod produces bundles without

[2017-09-28 13:32] rgwch commented on #760
@JeroenVinke sudo doesn't make a difference. localhost:3001 brings up the Browsersync UI.

To be clear: Probably there is some error in my code or setup, but I can't find out, because I don't have a clue. Wouldn't it be possible for `au run` to give more details on errors? (Which request exactly failed and so on).

[2017-09-28 13:55] JeroenVinke commented on #760
Take a look at aurelia_project/tasks/run.js and see what folder browsersync serves from. I have a feeling that browsersync serves from a directory that doesnt contain your index.html. If this doesnt help you, zip up the aurelia_project folder and the directory structure that you use and send it to me on Gitter, or attach it to this issue if it doesnt have sensitive stuff

[2017-09-28 13:59] JeroenVinke commented on #762
I think your bundle config might be resulting in an invalid bundle, which causes requirejs to load everything from their original location instead of the bundle, which is the node_modules folder. I can have a look tonight. One thing I notice is that you have a bluebird config in the src directory, and you prepend that script. Perhaps try to remove that and simplify the bundle config until it works

[2017-09-28 16:18] rgwch commented on #760
I'm not sure I understand fully, because I can't see the directory there.

There's no sensitive stuff. If you like, you can clone it here: https://github.com/rgwch/homeview
Just `npm install` and `au run` should work and demonstrate the issue.

Of course I don't want to waste your time, but if you'll find some time to have a look, I would highly appreciate.

[2017-09-28 17:27] lukpep commented on #762
I changed bluebird config to orignal location - no success :(

[2017-09-28 17:40] lukpep commented on #762
I changed order of some packages in aurelia.json to:
https://gist.github.com/lukpep/9739774f730edcec5c773e76f6a4809d

and some packages disappear from node_packages source:
![image](https://user-images.githubusercontent.com/2960580/30981492-d5e0dcbe-a484-11e7-926c-22b49c588233.png)

[2017-09-28 18:26] JeroenVinke commented on #762
@lukpep that seems to be the issue here

try https://gist.github.com/JeroenVinke/c259d9194459fefc5472187491ed9964#file-gistfile1-txt-L63-L79

the order is important. Also, you have two dependencies for `aurelia-ion-rangeslider`, i'd remove one if possible

[2017-09-28 20:12] lukpep commented on #762
@JeroenVinke
I finally came to this: https://gist.github.com/lukpep/76fee66b52169f8dad924d70b8ae9bdb
which results in:
![image](https://user-images.githubusercontent.com/2960580/30988028-3c801994-a499-11e7-9f07-d0d7fb7da6d3.png)

problematic plugin (chartjs-plugin-annotation) dont have UMD support - https://github.com/chartjs/chartjs-plugin-annotation/issues/86

And I import it in module like this

[2017-09-28 20:22] JeroenVinke commented on #760
Thank you, I am not near a computer right now but my guess is that https://github.com/rgwch/homeview/blob/master/aurelia_project/tasks/run.ts#L17 might have to be changed into `server` like this: https://github.com/aurelia/cli/blob/master/lib/resources/tasks/run.ts#L17

[2017-09-29 05:07] rgwch commented on #760
This was it! Thank you so much. I really don't know how this error in run.ts could happen, must have been some really bad silly global rename I made somewhere in the conversion to aurelia-cli. Sorry for that and again thank you very much.

[2017-09-29 05:07] #760 closed

[2017-09-29 22:13] christophano opened #763 "Bundle does not use platform baseDir"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6

* **Node Version:**
7.2.1

* **NPM Version:**
4.1.1

* **Browser:**
all

* **Language:**
ESNext

* **Loader/bundler:**
SystemJS

**Current behavior:**
When defining the `platform.baseDir` property in config the `baseDir` value is not used.

* **What is the

[2017-10-02 02:27] starr0stealer commented on #217
https://github.com/starr0stealer/aurelia-electron-forge

Here is a project I tossed together using Electron Forge and the Aurelia Skeleton Navigation project. So far everything is working correctly that I have tested, and you are able to use `electron packages` within Aurelia ViewModels, in the `Welcome` ViewModel I added a Print To PDF feature to test it out.

[2017-10-02 06:24] JeroenVinke commented on #217
@starr0stealer Thank you, i'm sure it will be of help

[2017-10-02 08:53] KingRial opened #764 "Unable to create a new "Hello World" project"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli 0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v6.10.0

* **NPM Version:**
3.10.10

* **Browser:**
Tested with: Chrome 61 | Firefox 55| Edge ( Latest )

* **Language:**
Tested with: ES6

* **Loader/bundler:**
Tested with: SystemJS | RequireJS

**Current behavior:**
I just

[2017-10-02 10:27] rjpvroegop commented on #764
I can confirm.

* au new --here
* 1 - RequireJS
* 1 - Web
* 1 - Babel
* 1 - Default (minification)
* 3 - Sass
* 1- Yes (unit-testing)
* 4 - Webstorm
* Yes - install

[2017-10-02 11:50] rjpvroegop commented on #764
Bundling with Webpack does not fix the issue. Error message:

[2017-10-02 11:54] StrahilKazlachev commented on #764
duplicate:
- aurelia/templating-resources#313
- aurelia/templating-resources#312

Use `aurelia-templating-resources@1.4.0` for now.

[2017-10-02 16:23] JeroenVinke commented on #764
There's a fix on the way

[2017-10-02 16:23] #764 closed

[2017-10-03 21:51] JeroenVinke commented on #722
Please reopen if you have more info

[2017-10-03 21:51] #722 closed

[2017-10-03 21:53] #723 closed

[2017-10-03 21:54] #735 closed

[2017-10-03 21:55] JeroenVinke commented on #453
https://github.com/aurelia/cli/pull/718

[2017-10-03 21:55] #453 closed

[2017-10-03 21:55] JeroenVinke commented on #452
https://github.com/aurelia/cli/pull/718

[2017-10-03 21:55] #452 closed

[2017-10-03 21:56] JeroenVinke commented on #727
https://github.com/aurelia/cli/pull/725

[2017-10-03 21:56] #727 closed

[2017-10-03 22:01] #729 closed

[2017-10-03 22:08] #739 closed

[2017-10-03 22:17] JeroenVinke commented on #215
Closing in favor of https://github.com/aurelia/cli/issues/658, it's close to being done

[2017-10-03 22:17] #215 closed

[2017-10-03 22:19] JeroenVinke commented on #269
I haven't heard of this issue presenting itself since. Let me know if this occurs again and we'll reopen

[2017-10-03 22:19] #269 closed

[2017-10-03 22:22] JeroenVinke commented on #433
Looks like a nice solution to me. Thanks for returning to post the solution

[2017-10-03 22:22] #433 closed

[2017-10-03 22:29] JeroenVinke commented on #762
@lukpep I see that the app is working now. Did you figure it out? Any more leads?

[2017-10-04 08:26] mostafa7240 commented on #300
Use `export` before functions in the foo.js file:
[code]
in the ts.config :
[code]
Now you can import and call that in the ts file:
`
import someName from '../JS/json_xml.js';  //path to the js file
`

At last in the class of the ts use what you want:
`
this.data = someName.someFunction(input);
`

[2017-10-04 21:07] AngelMunoz commented on #217
@starr0stealer I just gave it a test run unmodified it's working all so far, what I always have problems with is integrating things like materialize (with the bridge) and other css frameworks I'll give it a further test on the weekend to check and give you some feedback.

PD: This is motivating 😃

[2017-10-05 12:29] jwx commented on #763
@christophano I've added a PR, https://github.com/aurelia/cli/pull/765, that will implement build targets. Do you think it will cover your needs? And if not, what's missing?

[2017-10-05 12:33] jwx commented on #442
@johan-v-r @CasiOo I've added a new PR, https://github.com/aurelia/cli/pull/765, that will implement build targets and I think it will cover your needs. Are you missing anything in it?

[2017-10-05 12:35] jwx commented on #724
@diegohb I've added a PR, https://github.com/aurelia/cli/pull/765, that will implement build targets. I think it will cover some of your needs, but not all of them. Could you take a look and let me know what's missing that you need?

[2017-10-05 14:23] diegohb commented on #724
@jwx  thanks a lot! Item 2 can be ignored because it already works that way, index file can be any type of file as long as regex matches. Item 3 is all that's left but maybe you can re-evaluate if it's useful. i think it was just a convenience enhancement. i'm ok if you close this issue.

[2017-10-06 20:51] christophano commented on #763
@jwx that looks like it's 90% of the way there. What I need specifically is to be able to specify the base path for the output (which should support paths outside of the application root) and have the index and output as relative from there. I'm not entirely certain that the target root will cover this?

[2017-10-06 21:39] jwx commented on #763
@christophano Target root can be outside of project root ("../sibling-folder-to-project/other-project-root") and target index and output are indeed relative to target root so that shouldn't be a problem at all.

[2017-10-06 21:42] jwx commented on #763
Just re-read your use case and just setting root: "../wwwroot" should do the trick (provided wwwroot is a sibling folder to Client).

[2017-10-07 14:51] s-hoff opened #766 "TypeScript generator generator template creates .js files"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all

* **Language:**
TypeScript

* **Loader/bundler:**
all

**Current behavior:**
The generators created by the TypeScript generator generator creates .js files.

* **What is the expected behavior

[2017-10-07 18:13] avrahamcool opened #768 "[Feature Request] add Plugin project creation to the cli"
**I'm submitting a feature request**

* **Language:**
all

* **Loader/bundler:**
all

* **What is the motivation / use case for changing the behavior?**
We can benefit a lot from a unified structured way for creating an aurelia plugin.
the CLI is a great tool for creating a new project by the standards of the Aurelia team.
It would be nice to have the same solution for a Aurelia Plugin project.

I

[2017-10-07 19:14] avrahamcool commented on #768
didn't realize there is a request already.
https://github.com/aurelia/cli/issues/658

[2017-10-08 17:09] christophano commented on #763
That being the case, I'm happy that this PR fixes my issue - thanks!

[2017-10-09 05:16] JeroenVinke commented on #768
Yep, and a lot of work has been done already by @manuel-guilbault. Let's track this feature in #658

[2017-10-09 05:16] #768 closed

[2017-10-09 06:40] Graphap commented on #641
Hello mr Jensen, I was searching on Google to find my problem about path in sass within node_modules folder indeed, I found your solution useful but Ido not understand where task/proccess-css.js is!!! Is it possible to help me then?
Thank you in advance

[2017-10-10 06:29] jemhuntr opened #769 "Webpack build system doesn't honor environments"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
OSX Sierra

* **Node Version:**
6.11.0

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
Webpack builds are not referencing environments under `aurelia_project/environments/*.js`.

On an aurelia-c

[2017-10-10 07:01] justindra commented on #759
I updated my node major version to 7 and it seems to work now, even when I drop back to 6 again. Weird.., I will close this for now. Thanks @JeroenVinke

[2017-10-10 07:01] #759 closed

[2017-10-10 15:04] adriatic opened #770 "[tslint] ' should be " (quotemark)"
**I'm submitting a bug report**

* **Library Version:**

   "html-webpack-plugin": "2.28.0",
    "copy-webpack-plugin": "4.0.1",
    "extract-text-webpack-plugin": "2.1.2",
    "aurelia-webpack-plugin": "^2.0.0-rc.3",
    "webpack": "2.6.1",
    "webpack-dev-server": "2.4.5",

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.3

* **NPM Version:

[2017-10-10 21:38] jwx commented on #442
@johan-v-r Thanks for taking a look! I've posted an example. And yeah, there's a `--target` flag. If not provided with the command it
1) uses the target in `build.defaultTarget` if it's specified, or
2) the target `web` if it exists in `build.targets`, or
3) a (semi-random) target in `build.targets` (so do use `defaultTarget` if you want to skip the flag)

[2017-10-11 11:12] #766 closed

[2017-10-11 18:44] #629 closed

[2017-10-11 18:45] #770 closed

[2017-10-11 19:00] JeroenVinke commented on #769
This should work, a fix for this went out in 0.31.2. Make sure that your gulp tasks are up to date. Quickest way is to create a new project with similar configuration as your current project, and copying over the gulp tasks from the `aurelia_project/tasks` folder. Let me know if that doesn't fix it, it could be something platform specific

[2017-10-12 07:42] #659 closed

[2017-10-12 09:00] JeroenVinke commented on #762
Feel free to reopen if this is still an issue

[2017-10-12 09:00] #762 closed

[2017-10-12 09:01] JeroenVinke commented on #701
https://github.com/aurelia/cli/pull/741

[2017-10-12 09:01] #701 closed

[2017-10-12 09:01] JeroenVinke commented on #752
https://github.com/aurelia/cli/pull/761

[2017-10-12 09:01] #752 closed

[2017-10-12 09:04] #757 closed

[2017-10-12 21:45] Jule- opened #772 "Use of symlinks in src does not work"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13|Windows 10

* **Node Version:**
6.9.2

* **NPM Version:**
3.10.9

* **Browser:**
all

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:**
Following this kind of project hierarchy:
[code]
And assuming that each `main.js` have an `imp

[2017-10-13 02:44] mzvast commented on #716
It will do a full reload rather than do a hmr when using `au run --watch --hmr`.
So It's still broken as I can see.

[2017-10-13 04:36] gregoryagu opened #773 "Default tsconfig.json settings produces many errors"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.1

* **NPM Version:**
3.10.10

TypeScript 2.5

Webpack

**Current behavior:**
37 errors are generated after creating a new aspnetcore 2.0 project and adding Aurelia. For example:

 `Severity	Code	Description	Project	File	Line	Suppres

[2017-10-13 17:08] diegohb opened #774 "[Enhancement/Bug] When CSS Source is Array of glob patterns, AU --watch should trigger rebuild on change in any source specified"
**I'm submitting a bug report**

* **Library Version:**
AU CLI 0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.6.0

* **NPM Version:**
5.4.2

* **Browser:**
all

* **Language:**
TypeScript 2.4.2

* **Loader/bundler:**
 SystemJS

**Current behavior:**
when setting css processor source property to array of globs [like so](https://github.co

[2017-10-13 17:10] diegohb commented on #774
Please see this branch that shows the change to reproduce and my attempt at fixing this...  it is watching for changes correctly and triggering processCss() ....and it **says** it writes bundles.. but it doesn't actually update the bundle's definition of the css.

https://github.com/diegohb/samples-aurelia-vanilla_cli/compare/master...master-task029-task030?expand=1

[2017-10-13 17:58] gregoryagu opened #775 "index.html not being created along with bundled files"
**I'm submitting a bug report**

* **Library Version:**
0.3.next

**Please tell us about your environment:**
Windows 10
ASP.net Core 2.0

* **Node Version:**
Latest

* **Language:**
TypeScript 2.5

* **Loader/bundler:**
Webpack

**Current behavior:**

I created a new ASPNETCORE 2.0 project and used the latest bits from the master branch.  It created the
new webpack.netcore.config.js as expected.

[2017-10-13 21:47] JeroenVinke commented on #775
We prefer not to replace existing Views/.cs files when they exist, because they can contain logic that the user does not want to lose. Therefore we provide instructions (that we put in an instructions.txt file in the project directory). Those were missing for the Views as you noticed. I've added those now, thanks for the heads up!

[2017-10-13 21:47] #775 closed

[2017-10-13 21:49] JeroenVinke commented on #773
@gregoryagu is this still an issue with the new aspnet core setup?

[2017-10-13 22:02] gregoryagu commented on #773
Yes, I just a few hours ago download Ed the master branch and tested with
this result.

On Oct 13, 2017 5:49 PM, "Jeroen Vinke" <notifications@github.com> wrote:

[2017-10-14 03:18] gregoryagu commented on #775
I tested using the updated bits and followed the instructions in instructions.txt and it worked great. The hot module reloaded worked perfectly which is what I was trying to achieve.

 (Note, however, there is still the other issue with the tsconfig.json, but that's a different issue).

[2017-10-14 04:08] gregoryagu opened #776 "Typo in instructions.txt"
This existing line from instructions.tx:

[code]

Should say:

[code]

[2017-10-15 19:34] #776 closed

[2017-10-15 19:34] JeroenVinke commented on #776
Thank you

[2017-10-16 01:23] gregoryagu commented on #773
@JeroenVinke To fix the typescript compile errors:

1. Remove the `"sourceRoot" : src` line. This setting is for telling the browser debugger where to find the debug files. At runtime, the browser never accesses the files in src, so this setting cannot be correct.  I think someone thinks it means where the *.ts files are located to be compiled, but this is not what it is for.

2. Remove '"allowJs"

[2017-10-16 01:35] gregoryagu commented on #773
@JeroenVinke Note that I did test the change to instructions.txt:

`<TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>`

With this line, typescript no longer compiles in VS, or otherwise.  After building, the "dist" folder is not created and no bundles are created. So I would revert the changes to editing csproj.

[2017-10-16 04:43] JeroenVinke commented on #773
@gregoryagu With these changes I had no other issues, so we should do some comparing. Visual Studio should not be transpiling typescript, it should leave that to webpack, hence the blocking.

Instead of adding Aurelia to an existing asp.net project (created with dotnet new) , it may be useful to try and have the aurelia cli generate the asp.net core bits, by running `au new` instead of `dotnet new

[2017-10-16 15:41] javadbat opened #777 "add a Document how to do cli job manually"
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebV

[2017-10-16 16:27] gregoryagu commented on #773
@JeroenVinke I tried as you suggested with using au new.  I then ran it with au run.  It did indeed compile the typescript just fine and show the app as expected.

However, I now try to open the project in Visual Studio, and run from there.  It does indeed build and run.  Then I enter some invalid code into a typescript file.  This should be caught by the editor as well as the compiler.  But since

[2017-10-16 19:59] gregoryagu opened #778 "Add Support for aspnetcore 2 Razor Pages"
**I'm submitting a feature request**

Add Support for aspnetcore 2.0 Razor Pages

* **What is the motivation / use case for changing the behavior?**

Razor Pages are now recommended for new development, especially for new developers.  It would be good to support them.

The master branch of Aurelia-cli does not currently support a project created with Razor Pages.  I have tried, and au gives a vagu

[2017-10-16 23:04] diegohb commented on #778
They're also ideal for SPAs because controllers typically just define the Get action and Return(View()) mapping to default convention-based razor view location.

[2017-10-17 18:43] diegohb commented on #774
This issue may be an enhancement to the watch.ts task to allow for multiple globs for css sources... but as far as why my fix didn't change in my last comment... it was a typo! https://github.com/diegohb/samples-aurelia-vanilla_cli/commit/6ce5eca111863736d703cf58214cfdfd3c339e67

[2017-10-18 17:11] PWKad opened #779 "Screen clearing is annoying and hides errors"
**I'm submitting a bug report**

* **Library Version:**
0.29.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.10.3

* **NPM Version:**
2.15.2

* **Browser:**
n/a

* **Language:**
ESNext

* **Loader/bundler:**
all

**Current behavior:**

The screen clears after ever command that is issued

* **What is the expected behavior?**

The screen does not

[2017-10-18 17:24] gheoan commented on #779
What commands are you referring to? Isn't `aurelia new` the only one that clears the screen?

[2017-10-18 17:27] PWKad commented on #779
Does it for me for on help and all commands it seems.

[2017-10-21 17:29] jemhuntr commented on #769
Hmm. It works when I use `au build --env [env]`.

Am I supposed to prefer the aurelia-cli for building and running the scripts instead of using `nps` directly?

Moreover, is the aurelia-cli referencing `nps` internally? does this mean I can't modify or customize `package-scripts.js`?

[2017-10-21 18:24] JeroenVinke commented on #769
Yes, that would be best because you'd be using the gulp tasks. One of these gulp tasks is copying of the environment specific files from `aurelia_projects/environments` to the `src` directory.

No, the aurelia-cli doesn't use nps internally. We can (and should IMO) remove nps at a later stage. For now it's necessary because I wasn't able to get protractor working through gulp nicely, so the only u

[2017-10-21 18:28] jemhuntr commented on #769
Ahhh. Alright. Thanks for clarifying :)

[2017-10-21 18:28] #769 closed

[2017-10-22 20:29] Mobe91 commented on #485
I am experiencing the same issue even after running
[code]
I am using
* aurelia-cli 0.31.3
* npm 3.10.10
* node 6.11.4

[2017-10-23 05:59] JeroenVinke commented on #485
Hmm. Perhaps try and remove the node_modules foldrr and `npm install` again?

If that doesn't help please include the project (without node modules) as a zip to this issue, if possible

[2017-10-23 12:47] Mobe91 commented on #485
Removing node_modules did not help, here is the project:
[aurelia-test.zip](https://github.com/aurelia/cli/files/1407109/aurelia-test.zip)

[2017-10-23 21:57] JeroenVinke commented on #485
@Mobe91 I see, thank you for sending me the ZIP.

There seems to be a mix of typescript and babel in the project, e.g. `.ts` files in the src folder and typescript also mentioned as the `transpiler` in `aurelia_project/aurelia.json`. But typescript isn't installed (in package.json there's no `typescript` entry), but babel is.

When I change the `transpiler` section in aurelia.json to:

[code]

the

[2017-10-24 16:50] diegohb commented on #724
question - none of this new build stuff is included in 0.32.0 right ?

[2017-10-24 16:51] JeroenVinke commented on #724
Correct, it's planned for the next one (0.33.0)

[2017-10-30 12:06] javadbat commented on #777
here is example work done for react js before :
https://www.andrewhfarmer.com/build-your-own-starter/

[2017-10-30 14:52] diegohb commented on #704
Good morning! Has this been pushed out to schema-store yet?

[2017-10-30 15:02] JeroenVinke commented on #704
Good afternoon :)

I don't think so. @zewa666 knows of the current status I think

[2017-10-30 20:11] gheoan commented on #777
A similar tutorial is on the to-do list for https://github.com/aurelia/documentation/issues/181.
[Here](https://github.com/aurelia-guides/aurelia-guides.md-articles/blob/master/Building-Skeleton-Navigation-From-Scratch.md) is an old one (found [here](https://github.com/aurelia/documentation/issues/181#issuecomment-168092677)) and another one [here](https://ilikekillnerds.com/2017/03/creating-minim

[2017-11-02 07:00] zewa666 commented on #704
I'm very sorry for not having been active on this one. Currently I'm having a really challenging situation in my company. So @diegohb if you wanna go forward with this I would definitely be willing giving you access to my working repo. I think the state is overall quite good and its more about the publishing process. I'd definitely love to see this feature available asap like you but my current ti

[2017-11-02 21:14] cottrellio commented on #658
Any update on this @manuel-guilbault? No pressure, just super excited :D

[2017-11-02 21:18] cottrellio commented on #658
Any update on this @manuel-guilbault? No pressure, just super excited! :D

[2017-11-02 22:54] JoakimSoderberg opened #781 "Support for YAML config?"
**I'm submitting a feature request**

* **Loader/bundler:**
aurelia

**Current behavior:**
A JSON file is used as config for the aurelia-cli

* **What is the expected behavior?**
A pleasant config editing experience

* **What is the motivation / use case for changing the behavior?**
Being happy!

Currently bundle configuration goes into `aurelia.json`. It's very common one has to edit this file ma

[2017-11-03 11:29] manuel-guilbault commented on #658
@cottrellio I have a hard time freeing up my schedule to work on this, it's super hot at work right now :(
I'm a bit frustrated that I can't make this progress as fast as I would like. Once the pressure lightens a bit, I'll be back on it and keep you guys posted.

[2017-11-04 22:49] s-hoff opened #782 "Webpack + karma misses jest plugins"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu)

* **Node Version:**
7.7.3

* **NPM Version:**
5.0.3

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
Choosing the webpack bundler with karma for testing, one gets two errors for missing jest modules on runni

[2017-11-05 09:41] JeroenVinke commented on #782
Hi, could you try this with the latest cli? `npm install aurelia-cli@latest -g` and create a new project. Thanks

[2017-11-05 21:18] s-hoff commented on #782
Just tried it. Looks like `jest-jasmine2/jasmine-async` is there now, but `jest-matchers` is still missing.

[2017-11-06 13:21] JeroenVinke commented on #781
Thanks for opening the feature request. It's certainly worth considering. @AStoker what are your thoughts?

[2017-11-06 17:14] bliu886 opened #783 "Error installing dependencies in a new typescript project"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6

* **Node Version:**
9.0.0

* **NPM Version:**
5.5.1

* **Browser:**
all

* **Language:**
TypeScript

* **Loader/bundler:**
RequireJS

**Current behavior:**
When installing the project dependencies in a new TypeScript project results in this error:

![scree

[2017-11-09 08:04] sizilium commented on #782
I have a similar issue with au 0.32.0 and a generated webpack skeleton (vanilla).
npm test failed:

Module not found: Error: Can't resolve 'jest-matchers' in 'C:\repositories\aurelia-webpack\webpack-test\test'
 @ ./test/karma-bundle.js 54:17-41

[2017-11-09 18:43] JeroenVinke commented on #782
Thank you, i'll have a look

[2017-11-09 20:54] volak opened #784 "webpack template - Use CommonsChunkPlugin more?"
No breaking issue here - just a suggestion.

Fired up a new webpack project and after some toying and fidling I'm at a pretty good place now.  I've setup webpack to bundle my build into a `vendor `and an `app` chunk using the CommonsChunkPlugin [documentation](https://webpack.js.org/plugins/commons-chunk-plugin/#explicit-vendor-chunk)

The way the template is setup now it creates multiple entries

[2017-11-10 11:53] mttmccb opened #786 ".Net Core 2.0 + Webpack fails out of the box"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

* **Operating System:**
OSX 10.31.1

* **Node Version:**
9.1.0

* **NPM Version:**
5.5.1

* **Browser:**
all

* **Language:**
TypeScript 2.6.1

* **Loader/bundler:**
Webpack

**Current behavior:**
Following installation the app fails to load (see the loading screen and that's it) after `dotnet run` with a 404 on http://localhost:5000/

[2017-11-12 09:23] grufffta commented on #786
I think you are seeing the loading screen as you have not set the environment variable `ASPNETCORE_ENVIRONMENT=Development` It should load, the missing vendor.css should just be a warning in the console and you can probably remove it from the _ViewLayout as the CSS is injected by webpack.

[2017-11-13 14:35] mttmccb commented on #786
I'll have a look (not in the office few a days) but I would still expect it to work regardless of the environment, I haven't looked into the config but I'm guessing it will minify/hash the files?

[2017-11-13 14:48] JeroenVinke commented on #786
If it turns out not to be the problem try to downgrade nodejs. 9.1 is pretty new

[2017-11-13 14:56] Gimly opened #787 "au run --watch doesn't detect file changes in some cases"
**I'm submitting a bug report**

* **Library Version:**
Aurelia cli 0.32.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Debian Jessie inside Docker container), Windows 10 (Docker Host)

* **Node Version:**
8.9.1

* **NPM Version:**
5.5.1

* **Browser:**
all

* **Language:**
TypeScript 2.6

* **Loader/bundler:**
RequireJS

**Current behavior:**
I'm testing Aurelia, and

[2017-11-13 15:57] grufffta commented on #786
@mttmccb the variable is required as the webpack dev middleware is only enabled in development environments within the startup project file. See here for more info: https://blogs.msdn.microsoft.com/webdev/2017/02/14/building-single-page-applications-on-asp-net-core-with-javascriptservices/

[2017-11-13 21:14] jamesond commented on #530
What is the work around on this? Do we included sub dependencies like regular ones?

[2017-11-13 23:29] bohdyone commented on #755
I've run into this problem too. For instance 'au install axios' fails to follow the dependency chain correctly. I'd call this a bug since it makes au run unusable without a bunch of manual work at the moment.

[2017-11-17 22:51] justindra commented on #759
Just wanted to give an update as I found out what the issue was.

Basically the bundled files was referring to other bundled files without the hash and as aurelia-cli does not clear the scripts folder beforehand, on serving it, it found an old version of `app.js` without the hash, which was created during the Dev build. Obviously that was still referencing Aurelia-testing.

This issue has been res

[2017-11-23 16:25] mipod commented on #755
+1 same proble with node "ws" package, you  end up in a loophole of manualy adding dependencies...

[2017-11-23 18:45] jmdavid opened #788 "project created with cli copied to git and cloned : missing dependencies with npm install"
I created a project with cli, then pushed my project on bitbucket, then cloned it elsewhere.  When running npm install, many dependencies are missing in node_modules (ex. aurelia-binding and many more).
Is there another package.json used by au new that I can copy from?

Thanks you.

[2017-11-23 19:07] JeroenVinke commented on #788
Could you compare node and npm versions between the two machines? `Npm -v` and `node -v`

[2017-11-23 19:59] jmdavid commented on #788
Ok I found the problem.  Apparently, my package-lock.json file was corrupted.  After deleting it, everything is ok.  However, I have no idea how that file got corrupted.

[2017-11-23 19:59] #788 closed

[2017-11-25 15:56] Jenselme commented on #343
That's good if you include minified files with source maps. But if like me you rely on the build process to minify your files, you're still stuck. And I don't see any improvements on this in #624. Should this issue be re-opened?

[2017-11-27 08:45] s-hoff commented on #782
Adding `jest-matchers` to the dev dependencies should do the trick. Thats what fixed it for me.

For those not running `32.0` and getting the `jest-jasmine2/jasmine-async` error: Go to your `karma-bundle.js` and change the import from `'jest-jasmine2/jasmine-async'` to `'jest-jasmine2/jasmine_async'`.

[2017-11-27 15:52] mttmccb commented on #786
Thanks, I can confirm for development worked

[code]

Where would the best place to document this? As part of the wizard or maybe just in the CLI docs?

[2017-11-27 22:44] firelizzard18 commented on #781
I would love this. It would be easy to implement using `js-yaml` from NPM. Perhaps a question in `au new`? Or just make the user add it. "You can use aurelia.yaml instead of aurelia.json, but you have to manually `npm install -D js-yaml`." Or have the CLI automatically install `js-yaml` if it detects a YAML config.

Technically, you don't actually need any conditional logic, if you're willing to a

[2017-11-28 18:47] schmarre commented on #544
Any news on this issue? Having the same problem.

[2017-11-28 19:12] JeroenVinke commented on #544
@schmarre no news yet

[2017-11-28 19:13] JeroenVinke commented on #782
@s-hoff thanks for the update. I wonder if we can separate the karma and jest setups entirely so that when you only need karma you don't need to install any jest libraries

[2017-11-28 19:14] JeroenVinke commented on #530
@jamesond that's the way to go

[2017-11-28 21:12] firelizzard18 opened #789 "Allow prefixes for packages"
**I'm submitting a feature request**

**Please tell us about your environment:**
* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
CLI

**Feature:**
Allow configuration of prefixed module names, similar to the way JSPM handles different registries.

I would like to migrate my application from JSPM/SystemJS to the CLI. I am using prefixed module names, such as `app:main`. The following

[2017-12-01 11:43] lj1000 opened #790 "plugins that include html not bundling correctly in cli production build"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-cli": "^0.30.1"

**Please tell us about your environment:**
* **Operating System:**
centros 7

* **Node Version:**
v6.11.2

* **NPM Version:**
6.11.2

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView

* **Langua

[2017-12-01 12:07] lj1000 commented on #790
my mistake to get this working i needed to add the following to to aurelia.json file

{
	"name": "hello-world-plugin",
  "path": "../node_modules/hello-world-plugin/dist/amd",
  "main": "hello-world",
  "resources": [
    "hello-world.js",
    "hello-world.html"
  ]
}

[2017-12-01 12:07] #790 closed

[2017-12-04 12:35] i5ar opened #791 "Incorrect name for PostCSS"
Is there a reason why PostCSS is called [Post CSS](https://github.com/aurelia/cli/blob/master/lib/commands/new/new-application.json) (with a space)?
Happy coding!

[2017-12-04 13:55] JeroenVinke commented on #791
No reason :)

[2017-12-04 13:56] JeroenVinke commented on #783
Please reopen if this is still an issue

[2017-12-04 13:56] #783 closed

[2017-12-04 13:59] JeroenVinke commented on #787
Could you provide a repository that has this setup? That would make it easier to start debugging

[2017-12-04 14:03] JeroenVinke commented on #786
Thanks for the update @mttmccb

We can link to the microsoft docs in the wizard and in the cli docs

[2017-12-05 14:25] Jhovanni opened #792 "Using Phaser is saying undefined"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.9.1

* **NPM Version:**
5.5.1

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView

* **Language:**

[2017-12-08 05:55] NightWulfe opened #794 "Webpack devServer options ignored when using au run"
**I'm submitting a feature request**

* **Library Version:**
aurelia-cli@0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.2.0

* **NPM Version:**
5.5.1

* **Browser:**
Firefox

* **Language:**
Typescript

* **Loader/bundler:**
Webpack

**Current behavior:**
Setting proxy, or other devServer configuration options, in webpack.config.json is

[2017-12-11 01:10] Jhovanni commented on #792
For someone with same issue later:
Phaser 2x was not designed to be modular,. To be able to use it you need to exports a couple of dependencies it requires.
First, use phaser-ce (Community-edition), it has support for webpack.
Second, export its dependencies:

In aurelia using requirejs, modify aurelia.json vendor dependencies.
[code]
Now you can use phaser without problems

`import * as Phaser fr

[2017-12-11 01:10] #792 closed

[2017-12-12 10:03] ccrd commented on #787
I had a similar observing files changes in a samba mount. Adding usePolling to gulp.watch configuration solved it.
` ...
gulp.watch(project.transpiler.source, chokidarConfig, refresh).on('change', onChange);
...`

[2017-12-13 15:04] ajoslin103 opened #795 "Success using Nightmare with Jest in the Aurelia CLI for E2E Testing!!"
I couldn't get Protractor running with the Aurelia CLI -- but Nightmare.js stepped up to the plate nicely

I open this as an issue so that the Aurelia team will know what I found, feel free to close it and pass it to the appropriate people.

#1 yarn add --dev nightmare

#2 create a file: test/e2e/nightmare.spec.js
[code]
#3 au run --watch

#4 au jest (in a different session)

The gorgeous result:

[2017-12-14 07:46] zewa666 commented on #795
Just for the sake of completeness I'll post the link to how you can setup Protractor with the Aurelia CLI. http://pragmatic-coder.net/setup-protractor-e2e-tests-with-aurelia-cli-apps/

As for your case it didn't work because you've been using Aurelia CLI with Webpack, which uses Jest as the test runner. Now Protractor is heavily tied to Karma/Jasmine which is the reason it didn't run that smooth.

[2017-12-14 07:46] #795 closed

[2017-12-14 20:48] ajoslin103 commented on #795
Yes I had seen that post, but it didn't work for me this time - my previous experience had been with the webpack skeleton where I executed 'WEBPACK_PORT=19876 npm start' in one session and then 'npm run e2e:start'  in another.  Whereas this time I am all 'au' all the way, loving it and modifying the tasks as needed (see discourse topics with 'solved:' prefixes) to adjust for this projects' odd req

[2017-12-15 01:24] pwoosam opened #796 "Bootstrap 4 scss doesn't bundle when built/compiled"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.3.0

* **NPM Version:**
5.6.0

* **Language:**
SCSS

* **Loader/bundler:**
RequireJS

**Current behavior:**

[code]

* **What is the expected behavior?**
The scss should compile to css, everything should bundle, and the Aurelia app sho

[2017-12-15 01:36] BringerOD commented on #796
+1

[2017-12-16 14:35] jaceenet commented on #796
+1

The same issue happen for me with foundation-sites npm package. This only happens on some of the sass files from foundation-sites bundle. My sass to reproduce: ``` scss :

@import 'foundation'
@include foundation-forms; // <-- issue arise with this
[code]

[2017-12-18 04:37] jemhuntr opened #797 "Overriding the default build environment"
**I'm submitting a feature request**

**Current behavior:**

As you can see on https://github.com/aurelia/cli/blob/master/lib/cli-options.js#L17 from that last bit, aurelia cli assumes that when no environment is set, it automatically falls back to `dev`.

* **What is the expected behavior?**

If there was a way to configure this default, or at the very least just be able to pass a fallback enviro

[2017-12-20 06:53] jaceenet commented on #796
Could anyone point me in a direction, so I could try to look at the issue myself, in the aurelia-cli sourcecode?

[2017-12-20 07:56] pwoosam commented on #796
@jaceenet The error is related to [libsass](https://github.com/sass/libsass/issues/2312). Basically, the source map generated by libsass does not match up with the resulting CSS due to a bug in the implementation.

This error goes away if you disable source maps for your SASS files in `/aurelia_project/tasks/process-css.js` or you could disable source maps all together if you wanted in `/aurelia_p

[2017-12-22 22:23] jpravetz commented on #309
Has there been progress and a conclusion as to the definitive way to include aurelia-animator-velocity when using the latest CLI? And is this documented in one location? Thanks

[2017-12-28 17:44] alexsaare opened #798 "Can't set NODE_ENV for redux based plugins"
**I'm submitting a feature request**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.6.0

* **NPM Version:**
3.10.3

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
RequireJS

**Current behavior:**
Error in the console of deployed application

You are currently using minified code outside of NODE_EN

[2017-12-29 13:30] aligneddev commented on #535
I'm stuck trying to use Aurelia CLI and Workbox. Please see my [question on StackOverflow](https://stackoverflow.com/questions/48023333/aurelia-cli-pwa-with-webpack-and-workbox).

I was hoping to figure this out to write a blog post detailing how to get a PWA running with Aurelia, but couldn't get past this. I've tried a few times in the past months.

I believe a walk-through, documentation and/or

[2017-12-29 18:24] eriklieben commented on #535
I am not a webpack expert/ for me webpack is a black box :-), but as far as I understand it the current version of workbox-webpack-plugin has no support for usage together with webpack-dev-server.

They have an alpha package that works with it.  I will try that and try to write a blog post about it with the setup instructions, etc.

With the current version, you need to start webpack in dev mode?

[2018-01-01 23:31] johnmanko opened #799 "au new errors"
**I'm submitting a bug report**

* **Library Version:**
[code]

**Please tell us about your environment:**
* **Operating System:**
Ubuntu Linux 17.10 x86_64 (kernel 4.13.0-19-generic)

* **Node Version:**
[code]

* **NPM Version:**
[code]

* **Browser:**
Not relevant.

* **Language:**
TypeScript

* **Loader/bundler:**
Not relevant.

**Current behavior:**
`au new test`

[code]
[code]
[code]
[code]

[2018-01-03 20:46] andrewwiik commented on #799
I could not reproduce this issue on my Windows 10 Machine with the same node and npm version and project creation options

[2018-01-03 20:49] johnmanko commented on #799
@andrewwiik Thanks, Andy. I'll dig deeper to resolve this.  @EisenbergEffect, I guess if more users don't report an issue then this can be closed. Closing now.

[2018-01-03 20:49] #799 closed

[2018-01-08 06:56] ganesh-phadtare opened #800 "Popper is not defined error in vendor-bundle.js"
I have setup a client application using Aurelia-Cli. On further I am trying to run the application using au run command. I am getting an issue in browser console as **"Popper is not defined"**. My pages are working properly even this error occurred.
But whenever I am trying to run the **au test** command it is throwing the same error and I cannot execute the test cases.

I have added popper in ind

[2018-01-08 16:12] heikomat opened #801 "gulp is a devDependency, when it should be a regular or peerDependency"
**I'm submitting a bug report**

* **Library Version:**
0.30.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **Browser:**
not important

* **Language:**
not important

* **Loader/bundler:**
not important

**Current behavior:**
when installing aurelia-cli, gulp is not installed alongside it, because it is list

[2018-01-11 15:08] f3lang commented on #530
I'll go and pick this up, since this is quite a drawback in using 3rd party modules. Usually there is a chain of dependencies in almost any npm package. Some get quite big and it is very time consuming and annoying to resolve and include them manually.

@jwx do you have a WIP on this?

[2018-01-11 15:11] AshleyGrant commented on #530
I've been using the CLI with webpack recently, and I have to say I enjoy not having to configure this stuff. I'm excited to see what you all create to solve this though!

[2018-01-11 15:54] jwx commented on #530
I thought this would become less relevant once webpack was supported by the CLI so I've got to admit I stopped working on my PR before it was finished. Is this still wanted? If so, I could pick up the work again.

[2018-01-11 19:19] eric-914 commented on #493
My 2¢:

Using `au new` to build my project, the following line compiles from the command line, but errors in Visual Studio:

`import * as project from '../aurelia.json';`

but is ok***, if I change it to:

`const project = require('../aurelia.json');`

_***Well, almost ok -- "cannot resolve 'require'", but I suspect that is ReSharper at the moment, as it builds fine._

[2018-01-12 02:00] huochunpeng commented on #787
This is likely a limitation from chokidar (which gulp-watch uses) instead of aurelia-cli.

https://github.com/paulmillr/chokidar/issues/242

The solution is similar to @ccrd suggested, just use polling.

[2018-01-14 23:12] DarkHarlock opened #802 "Remove the `File not found or not accessible` tracing warning and declare runtime only modules"
**I'm submitting a feature request**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
All

* **Node Version:**
7.10.0

* **NPM Version:**
4.2.0

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**

When a module is only available at deploy/run time the builder reports something like:

[code]

* **What is the ex

[2018-01-15 14:16] kayle commented on #716
@JeroenVinke should this be reopened for the open issue described above? or create a new issue? It's unfortunate that hmr is broken for app.html.

changes in the app.html only were not reflected back to the browser.

[2018-01-15 15:17] JeroenVinke commented on #716
@kayle I believe this issue is relevant: https://github.com/aurelia/hot-module-reload/issues/9. It’s not something we can fix in the CLI so the hmr repo seems like the best place

[2018-01-19 22:17] reft commented on #337
What is the status on this?
Can you provide documentation for how to modify the task if this is not to be patched?
I have implementat a .net core backend fix for PushState but I'm unable to make it work with browsersync while develoing, as MikaelPorttila describes it.

[2018-01-21 21:27] GunsAkimbo commented on #800
Try referencing the file `bootstrap.bundle.min.js` instead of `bootstrap.min.js` in aurelia.json

[2018-01-22 14:43] fkleuver commented on #800
You need to reference the file in Popper's umd folder in your aurelia.json:
[code]

Then, referencing Popper anywhere in your application (main.js/ts for app, setup.js/ts for tests) should work fine:

`import * as Popper from "popper.js";`

[2018-01-22 15:31] fkleuver commented on #796
Looks like that issue was [fixed](https://github.com/sass/libsass/pull/2540) a few days ago.

I informed [node-sass](https://github.com/sass/node-sass/issues/2188#issuecomment-359454319) and [gulp-sass](https://github.com/dlmanning/gulp-sass/issues/639#issuecomment-359457663).

Now we just wait for the dependency chain to be updated :)

[2018-01-24 18:02] jholland918 commented on #624
Is debugging with sourcemaps supported when using WebPack? Or is it only supported for projects created using the requirejs/systemjs options? I ask because I'm trying out unit testing for a project using the WebPack option and I'm only able to debug through the transpiled JavaScript.

[2018-01-26 19:36] AshleyGrant opened #808 "Delete the extremely old branches"
There's a load of extremely old branches on this repo. We should delete them to reduce clutter.

[2018-01-27 17:25] ShawnTalbert opened #809 "error installing due to 'dezalgo' package"
**I'm submitting a bug report**
* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Mint 18)

* **Node Version:**
8.9.4
* **NPM Version:**
5.6.0
**Current behavior:**
Installing via npm locally (no `-g`) the package fails. I'm installing with `npm install aurelia-cli`

[code]

As a workaround, if I first install dezalgo (e.g. `npm install dezalg

[2018-01-27 17:29] ShawnTalbert opened #810 "running au with 'help' or no commandline options throws TypeError"
<!--
BUGS: Please use this template.

**I'm submitting a bug report**
* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Mint)

* **Node Version:**
8.9.4

**Current behavior:**
If you run `au` with no options, or with the option `--help` it returns an exception.

[code]

* **What is the expected behavior?**
I expect the program shouldn't termin

[2018-01-27 17:33] #810 closed

[2018-01-27 17:36] ShawnTalbert opened #811 "running au with 'help' or no options results in TypeError"
**I'm submitting a bug report**
* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Mint)

* **Node Version:**
8.9.4

**Current behavior:**
Running `au` (no options) or `au help` results in:

[code]

[2018-01-29 09:39] ganesh-phadtare commented on #800
Thanks, "bootstrap.bundle.min.js" works for me.

[2018-02-01 18:32] jmdavid commented on #658
Thanks for great work @manuel-guilbault! I used your skeleton successfully.  Do you have any update on the status of CLI generation?

[2018-02-01 21:59] jholland918 opened #812 "Sourcemaps not included in karma configuration"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.3

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
Creating a new app using Webpack and Karma does not include sourcemaps while debugging karma tests

* **Wha

[2018-02-02 09:39] JeroenVinke commented on #809
Hmm this looks to be an npm issue: https://github.com/npm/npm/issues/17444

[2018-02-02 09:41] JeroenVinke commented on #808
Done, nice catch

[2018-02-02 09:41] #808 closed

[2018-02-02 09:43] JeroenVinke commented on #802
Yes!! I am definitely interested, as this could also play a role in adding electron support. Thank you for looking into it

[2018-02-02 09:48] #800 closed

[2018-02-02 09:52] JeroenVinke commented on #798
Hi, thanks for opening up the issue report. Could you perhaps put together a new app that has this problem?

[2018-02-02 09:54] JeroenVinke commented on #797
Nice idea, and I also think we can add a setting to aurelia.json for this

[2018-02-02 09:59] jwx commented on #797
I've already added this to the build targets PR https://github.com/aurelia/cli/pull/765.

[2018-02-02 10:00] JeroenVinke commented on #797
Ah excellent, i'm having a look today or in the weekend

[2018-02-02 11:50] avrahamcool opened #813 "opening the browser when running `au run -o`"
**I'm submitting a feature request**
I would like to see a `--open` or `-o` option for the `au run` command, that will open the browser at the application location.

* **What is the motivation / use case for changing the behavior?**
currently, we have to open the browser ourself at navigate to `localhost:9000`,
it will be very helpful if it could be automated.

[2018-02-02 12:10] manuel-guilbault commented on #658
@jmdavid I submitted a pull request which was reviewed; now I need to do some refactoring to reduce code duplication as per Rob's feedback. I'll get to it as soon as I have a couple of free days :)

[2018-02-02 21:13] AshleyGrant commented on #813
This shouldn't be too hard to implement. Is there any chance you would be interested in trying to implement it for the default ESNext project? You could have it default to Chrome, but could open a different browser if the user wishes. https://www.browsersync.io/docs/options#option-browser

You would need to add the flag here: https://github.com/aurelia/cli/blob/master/lib/resources/tasks/run.json

[2018-02-02 21:17] AshleyGrant commented on #811
Works fine on Windows 10/git bash env, but I can definitely see how the code can fail.

[2018-02-02 21:23] AshleyGrant commented on #809
Yep, downgrading to npm v5.5.1 fixes the issue for me for now. I've confirmed this across multiple developers over the last two weeks to work as a temporary fix.

[2018-02-02 21:32] AshleyGrant commented on #794
I'm not sure if this behavior should be changed. Users familiar with webpack will likely want to completely remove themselves from the aurelia cli environment, and so we might not want to give preference to options in that file.

What we might want to do, though, is look at moving the webpack config file in to the `aurelia_project` folder.

[2018-02-03 18:54] avrahamcool commented on #813
that was easier than I expected.
I created a PR for this - https://github.com/aurelia/cli/pull/815

I choose to go with default browser only - because I think it's the easiest way to use (in term of user experience).

I've edited the `js` as well as the `ts` versions.

[2018-02-04 18:28] Jenselme opened #816 "Bundled files are not alwasy concatenated in the same order causing rev to change"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Fedora 27)

* **Node Version:**
v8.9.4

* **NPM Version:**
5.6.0

* **Browser:**
NA

* **Language:**
ESNext

* **Loader/bundler:**
RequireJS

**Current behavior:** When building a project with [build revision](http://aurelia.io/docs/build-systems/aurelia-cli#bui

[2018-02-04 19:43] avrahamcool commented on #813
the `webpack` version of the cli project uses a different approach.
it expect a value inside `project.platform.open`.

but I think it's not handy for the user.

[2018-02-05 21:37] #813 closed

[2018-02-05 21:40] JeroenVinke commented on #816
Thanks for looking into it. A PR is always very welcome.

Is this easy to reproduce? I'd like to have a look at the problem as well, and it would help me to test the PR

[2018-02-06 09:52] Jenselme commented on #816
It is easy to reproduce on my project (see the provided steps) at least on a linux machine. I'll open a PR rigth away!

[2018-02-06 10:48] ttadla commented on #577
Hello All,

As I am new to Aurelia, Can any one please sent me the steps to deploy Aurelia application to IIS which is developed in Visual Studio 2017.

[2018-02-08 22:27] jholland918 commented on #812
I did a little research on this. A generated project using webpack/karma/**babel** already generates sourcemaps. But by the time the `istanbul-instrumenter-loader` finishes its work, the sourcemaps are altered to a state that's no longer usable.

So setting the coverage parameter to false (`webpack: require('../webpack.config')({ coverage: false }),`) inside the `karma.conf.js` file fixes the sour

[2018-02-09 03:09] jholland918 commented on #812
So it looks like istanbul making sourcemaps unusable is a known issue according to https://github.com/gotwarlost/istanbul/issues/212. From the looks of it a few projects have split their test scripts to either run code coverage with istanbul or run tests without it to keep working sourcemaps.

[2018-02-10 02:25] jonathaneckman opened #821 "import and install: "This command is only available for the Aurelia CLI Bundler""
**I'm submitting a bug report**

* **Library Version:**
0.32.0

* **Operating System:**
Windows 10

* **Node Version:**
8.9

* **NPM Version:**
5.6

**Current behavior:**
Reading the [documentation](http://aurelia.io/docs/build-systems/aurelia-cli#adding-client-libraries-to-your-project), I see I should be able to `au install library` or `au import library`. Running either of these commands return

[2018-02-10 06:36] ShawnTalbert commented on #811
I just confirmed the same error on the new 'Microsoft Bash' (Bash on Ubuntu on Windows) in Win10.

[2018-02-10 15:31] jholland918 opened #822 "Jest test suite fails to run"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.5.1

* **Browser:**
Chrome 64.0.3282.140 (Official Build) (64-bit)

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
Running `au jest` fails to run the pre-configured test and prints t

[2018-02-10 23:14] Alexander-Taran commented on #822
It's been fixed in
"aurelia-pal-nodejs": "1.0.0-beta.3.0.0",
you got to update the dependency manually for now.
I cant find the issue at the moment but I stumbled upon the same behavior and found it somewhere around here.
So there you have it (-:

[2018-02-10 23:18] Alexander-Taran commented on #821
Yep. If you chose to run along with webpack you just npm install or yarn add and see where that gets you.

[2018-02-11 01:05] jonathaneckman commented on #821
I thought that was the case but keep running into Aurelia plugins that fail to import. I was hoping I was missing something or that there was some manual configuration I could add to aurelia.json to teach it how to load these incompatible libraries.

[2018-02-11 01:06] #821 closed

[2018-02-11 04:29] jholland918 commented on #822
Updating aurelia-pal-nodejs to 1.0.0-beta.3.0.0 worked, thanks for the help!

I still see we have version 1.0.0-beta.2.0.0 in /lib/dependencies.json. I wonder if there's a reason for not bumping the version or if it's just an oversight.

[2018-02-11 19:47] JPAhnen opened #823 "Using aurelia with requireJS in a Razor page, app-bundle.js isn't found"
* **Operating System:**
Windows 10

* **Node Version:**
8.2.0

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
TypeScript

* **Loader/bundler:**
RequireJS

**Current behavior:**
I use my Aurelia application inside a Razor page (ASP.NET Core 2). The content of the .cshtml file looks like the content of index.html which was generated by aurelia-cli.
But `vendor-bundle.js` references `a

[2018-02-12 04:05] jholland918 opened #824 "Webpack/Karma tests fail when related elements use slots"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.5.1

* **Browser:**
Chrome 64.0.3282.140 (Official Build) (64-bit)

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
Webpack/Karma projects fail to run tests that create elements that

[2018-02-12 19:29] #822 closed

[2018-02-12 19:52] #782 closed

[2018-02-14 09:53] nenadvicentic commented on #809
I've ran into the same issue, but to me it happens only when `node_modules` folder contains `aurelia-cli` package.

I was testing this on already existing Aurelia project, already containing needed npm packages in `node_modules`.

1. `npm install <any package>` fails with above described error (`.dezalgo.DELETE`).
2. remove Aureli CLI by running `npm remove aurelia-cli`
3. `npm install <any packag

[2018-02-14 15:04] Alexander-Taran commented on #809
world is moving towards yarn

[2018-02-14 18:16] fkleuver commented on #809
This is directly related to the way package-lock.json is resolved since npm@5.6.0. For aurelia-cli it happens because of the dependency on `npm@3.10.8` as somewhat clarified [here](https://github.com/npm/npm/issues/17444#issuecomment-365692331) and [here](https://github.com/npm/npm/issues/19304#issuecomment-358384940).

### Possible workarounds (pick any):

- Downgrade global npm version to 5.5.1

[2018-02-15 10:16] monis01 opened #826 "aurelia cli does not run after installing dependency from npm"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 16.04)

* **Node Version:**
8.6.0

* **NPM Version:**
5.6.0

* **Language:**
ESNext

**Current behavior:**
(I am following the contact manager example from the [contact-manager](http://aurelia.io/docs/tutorials/creating-a-contact-manager#building-the-appl

[2018-02-17 10:41] charlesodili commented on #826
I am experiencing the exact same thing with the Contact Manager tutorial application. Everything was working fine until I ran ```au run --watch``` after installing bootstrap and jquery, as recommended by the tutorial.  While I await a fix for this, I think I will try re-doing the tutorial without the bootstrap and jquery dependencies - whatever they are intended for, in the project, I can write by

[2018-02-19 18:09] LittleGnome opened #828 "Removable favicon in root folder"
Hello,

When I create a Aurelia app with the newest version of the CLI, there is a favicon.ico in the root folder and in the static folder.

If I'm right the favicon.ico in the root folder can be removed. The favicon.ico is copies/bundled via CopyWebpack.

Greetings,

Little Gnome

[2018-02-22 04:46] monis01 commented on #826
so, any update on this other than doing tweaks?

[2018-02-22 10:03] charlesodili commented on #826
See what I explored here: https://twitter.com/chaluwa/status/966611908274130950

[2018-02-22 12:32] Rud156 opened #829 "Aurelia CLI does not compile on invalid media query (Stylus, RequireJS)"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
9.5.0

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
TypeScript 2.7

* **Loader/bundler:**
RequireJS

**Current behavior:**
If you setup Aurelia CLI to use Stylus and write some invalid media query like `@media only scr

[2018-02-22 13:03] monis01 commented on #826
But the point is tutorial itself is breaking if following official docs (I mean it does not work until if we tweak and trick things out). Btw I have not came across other tutorials for aurelia other than what is mentioned in docs, if anyone here plz do share.
Thanks

[2018-02-22 15:59] Rud156 commented on #826
@monis01 I think this will be helpful https://www.youtube.com/channel/UCtWxbsaQzLIHR3Jl-Q0ZlmA

[2018-02-23 18:55] reft commented on #337
@MikaelPorttila @EisenbergEffect @tmmunro Do you have any examples of a modified run task that I can take a look at or does it actually exist documentation for this? Would really appreciate some help..

I'm using latest cli with ts.

Thanks :)

[2018-02-23 20:19] Alexander-Taran commented on #337
I believe, that this is what you are looking for
config sample
https://gist.github.com/kcmr/eba67564af1a72baa19c
for middleware
https://github.com/bripkens/connect-history-api-fallback

[2018-02-24 10:01] quooston opened #830 "Brand new CLI project fails to build"
**I'm submitting a bug report**

* **Library Version:**
CLI: 0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10 Pro

* **Node Version:**
9.5.0

* **NPM Version:**
5.6.0

* **Browser:**
N/A

* **Language:**
ESNext

* **Loader/bundler:**
SystemJS and RequireJS

**Current behavior:**
`au new --here` does it's thing. After installing dependencies, I run `au build`, a

[2018-02-24 11:18] Alexander-Taran commented on #830
please provide the steps you chose while runing au new

[2018-02-24 11:40] Alexander-Taran commented on #830
Looks like it does not get transpiled correctly. I just tried on node 8.5 and it worked as it should.
You can debug cli with vscode
modify launch.json to add a configuration like this:
`{
  // Use IntelliSense to find out which attributes exist for node debugging
  // Use hover for the description of the existing attributes
  // For further information visit https://go.microsoft.com/fwlink/?linkid

[2018-02-27 18:50] omniscient commented on #809
I agree with @fkleuver. Team, can we just move the cli npm dependency to v5.6 and be done with it?

[2018-02-27 19:10] AshleyGrant commented on #809
@JeroenVinke let's get the dep upgraded and get the issue closed.

[2018-02-27 20:59] Alexander-Taran commented on #464
Probably can be closed

[2018-02-27 22:15] Alexander-Taran commented on #646
http://aurelia.io/docs/build-systems/aurelia-cli#adding-client-libraries-to-your-project
docs are updated to reflect the meaning of fields, when adding 3d party libraries

can be closed

[2018-02-27 22:20] #646 closed

[2018-02-27 22:20] Alexander-Taran commented on #669
no longer the case with 0.32

can be closed

[2018-02-27 22:37] Alexander-Taran commented on #787
documentation
help_needed

edge case with watching not real file system

[2018-02-27 22:41] Alexander-Taran commented on #794
Alternative solution: a nice commented webpack.config.js file  where it is clearly stated that options would be set via cli if used..
so the tinkering kind will know better.

[2018-02-27 23:16] Alexander-Taran commented on #816
@JeroenVinke does team prefer PRs as single commit? I could not find exact wording in [contribution guidelines](https://github.com/DurandalProject/about/blob/master/CONTRIBUTING.md#submit).

Other than 3 commits - pr seems relatively simple.

[2018-02-28 01:19] Alexander-Taran commented on #811
runs fine for me on mint
how did you install node / aurelia-cli

[2018-02-28 18:26] Alexander-Taran commented on #791
Can be closed

[2018-02-28 20:02] JeroenVinke commented on #826
for some reason it seems to uninstall aurelia-cli from your node_modules after installing bootstrap, but we'd have to debug it further. I wonder if this has anything to do with the package-lock.json file that NPM creates

[2018-02-28 20:14] JeroenVinke commented on #809
Yeah I agree

[2018-02-28 20:31] JeroenVinke commented on #811
also, could you explain more about the project structure? Is there an aurelia_project directory next to the node_modules folder? When I rename my `aurelia_project` folder to `aurelia_project1` I can reproduce the error.

[2018-02-28 20:31] #669 closed

[2018-02-28 22:29] Alexander-Taran commented on #826
There is a lot of bad rep for recent versions of npm. Like kining the production servers and such.
I'd wait out the storm

[2018-02-28 22:43] Alexander-Taran commented on #809
https://github.com/npm/npm/issues/19883
and
https://www.google.ru/search?newwindow=1&ei=LjCXWr2AM5DCwQKSlovADA&q=npm+5.7.0++production+servers&oq=npm+5.7.0++production+servers&gs_l=psy-ab.3...58763.62414.0.62684.7.7.0.0.0.0.90.570.7.7.0....0...1c.1.64.psy-ab..0.0.0....0.HnE2QhgtQLQ

for that matter..

please don't rush

[2018-02-28 22:46] AshleyGrant commented on #809
That's v5.7.0, which isn't the current release. v5.6.0 is the current release, and I don't believe it has the terrible bug in it.

[2018-02-28 22:52] Alexander-Taran commented on #809
<3 yarn

[2018-02-28 23:50] maroy1986 commented on #809
Yeah that was only in 5.7.0 which is a pre release version. 5.6.0 is fine.

If we really want to avoid trouble with future release, why not locking to 5.6.0 for now in the CLI package.json since we know it's working fine? Anyway, we were kind of locked on the latest 3.x version...

[2018-03-01 01:06] ShawnTalbert commented on #811
I was running it from my home directory, in which there is a `node_modules` folder and that's where aurelia-cli was installed (with `npm install aurelia-cli`)

I expect _any_ commandline app should not just explode for the **help** or **no options** use case. Am I wrong?

[2018-03-01 02:25] Alexander-Taran commented on #811
was able to reproduce it:

in any folder install aurelia-cli locally as per op `npm install aurelia-cli`
run au
./node_modules/.bin/au

or
yarn add aurelia cli
yarn au

so there is no project.json (in case of npm), just node modules

seems like a.. "you are holding it wrong".. I guess (-;

[2018-03-01 21:47] Alexander-Taran commented on #185
no activity since July 2016

[2018-03-01 21:51] Alexander-Taran commented on #200
To be fair, I worked that around.
For development I used symlinks from au project /dist to /scripts folder or something in mvc project
and for deployment I created another cmd file that published /dist or export to subpath on IIS..

If this scenario is not interesting to anybody else, this can be closed

[2018-03-01 21:52] Alexander-Taran commented on #202
maybe can be closed

[2018-03-01 21:56] Alexander-Taran commented on #278
merged: https://github.com/aurelia/cli/pull/427
can be closed

[2018-03-01 22:03] Alexander-Taran commented on #387
workaround offered.
no activity since June 2017

[2018-03-01 23:30] #185 closed

[2018-03-01 23:32] #202 closed

[2018-03-01 23:33] EisenbergEffect commented on #202
I think the best path is to move to Webpack and then ask the web components community to support Webpack.

[2018-03-01 23:33] #278 closed

[2018-03-02 00:47] Vheissu opened #833 "Proposal: Make Webpack the default CLI bundler option"
**I'm submitting a feature request**

**Current behavior:**
The Aurelia CLI recommends RequireJS as the default bundling option of choice. Although RequireJS is battle-tested and works, it requires a little more work to add in dependencies (namely inside of your `aurelia.json` file).

After reading [this article](https://medium.com/@mattburgess/party-of-five-aurelia-af83ed881046) the author runs i

[2018-03-02 01:56] AshleyGrant commented on #833
I, for one, welcome our webpack overlords.

Also, I'm in favor of this proposal.

[2018-03-02 06:45] Alexander-Taran commented on #833
Pleae consider also —i-know-what-im-doing flag
And dont allow for any options unless provided

[2018-03-02 07:03] zewa666 commented on #833
Meh, not really a fan of Webpack ... what a surprise :), but I see the case and especially that first steps become much less troublesome, although you sacrifice flexibility and the features of a real loader for extended use cases.
Ones PLATFORM.moduleName gets dropped this should be a pretty easy for newcomers to start with.

[2018-03-02 13:44] Alexander-Taran opened #834 "moduleNameMapper section in jest config sometimes prevents testing"
# clarification of a confg setting needed

https://github.com/aurelia/cli/blob/81b029191f4752fecdaf0192bb03c7cd0bc87d8f/lib/commands/new/buildsystems/webpack/unit-test-runners/jest.js#L90-L92

while figuring out https://github.com/aurelia/framework/issues/869 and https://github.com/aurelia/testing/issues/80

I discovered that for my setup
typesccript
jest
and a jest section in package.json like th

[2018-03-02 13:57] Alexander-Taran commented on #833
@zewa666 choice is good when you know how to choose. It is good to inform about different options after newcomers get a taste of goodness. And face real difficulties.

[2018-03-02 18:21] Alexander-Taran commented on #317
stale since 2016

[2018-03-02 23:09] Alexander-Taran commented on #183
Works for vscode for the packages with typings.
![image](https://user-images.githubusercontent.com/1029452/36926280-ed7ad3d4-1e87-11e8-941a-170fc9bea178.png)

[2018-03-03 13:33] #809 closed

[2018-03-03 13:55] JPAhnen opened #835 "Unnecessary output if a test fails when running "au test""
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.7.1

* **NPM Version:**
5.7.1

* **Browser:**
Chrome | PhantomJS

* **Language:**
TypeScript 2.7.1

* **Loader/bundler:**
RequireJS

**Current behavior:**
When running `au-test` and at least one test fails, something like this is writt

[2018-03-03 14:23] Alexander-Taran commented on #835
@JPAhnen  would you like to create a pull request for it?

[2018-03-03 14:40] JPAhnen commented on #835
Sure, but I just don't know what causes this output.

[2018-03-03 15:06] AshleyGrant commented on #809
Closed via #832

[2018-03-03 15:39] Alexander-Taran commented on #388
Stale since 2016

[2018-03-03 17:55] Alexander-Taran commented on #835
I can give a hint how to debug cli with vscode. If it is of any help.

[2018-03-03 18:48] JeroenVinke commented on #685
I've just merged a PR that might fix this issue. Give it a try and let me know if it doesn't fix it

[2018-03-03 18:48] #685 closed

[2018-03-03 19:26] JeroenVinke commented on #312
[updated.zip](https://github.com/aurelia/cli/files/1777801/updated.zip)

This seems to be resolved in the current version of the CLI

[2018-03-03 19:26] #312 closed

[2018-03-03 19:40] #802 closed

[2018-03-03 19:46] JeroenVinke commented on #816
@Alexander-Taran I usually think about what the changelog would look like. If I want one thing to show up as a feature and another as a bug fix then I create two commits, if not I try to do it as a single commit

[2018-03-03 19:49] JeroenVinke commented on #834
I'm in the process of updating webpack to 4.0 and noticed an issue with this as well (it tried to locate aurelia-polyfills in `node_modules/polyfills` instead of `node_Modules/aurelia-polyfills`. I had to change

[code]
to
[code]

I'll have a closer look to see if this is still necessary

[2018-03-03 20:33] Alexander-Taran commented on #834
@JeroenVinke
with that change you probably will face the other issue as in m.configure is not a function.
This one is really weird one. Can't understand the need for it.

[2018-03-04 03:53] DarkHarlock commented on #217
In the last few days doing some analysis on how to migrate an existing Electron Typescript application to Aurelia I created a poc project on my Github account [aurelia-electron-app](https://github.com/DarkHarlock/aurelia-electron-app).

The main difference from all other project I found is that this fully compile all the code (main aka browser and renderer) and also allow shared code between the t

[2018-03-04 10:32] jwx commented on #217
@DarkHarlock I've got both build targets and added features in the pipeline for the CLI and once those foundations are in place I'll look into adding the Cordova and Electron platforms. Help would be greatly appreciated. :)

[2018-03-04 16:28] DarkHarlock commented on #217
@jwx I don't know what changes have you done, but yes, I can help you in my spare time.
Have you changed something about where files are loaded? My major problem was that all not bundled files are loaded from the source folder instead that from the target, so I have patched it with [this](https://github.com/DarkHarlock/cli/tree/trace_unbundled_files). This is not a perfect solution because also fi

[2018-03-04 17:04] #816 closed

[2018-03-04 18:26] JeroenVinke commented on #388
I believe you can do this now by using the loaderConfig property ([it's picked up here](https://github.com/aurelia/cli/blob/master/lib/build/loader.js#L51)). Let me know if this is not the case

[2018-03-04 18:26] #388 closed

[2018-03-04 20:12] Alexander-Taran commented on #388
shipt it (-:

[2018-03-05 10:34] BBosman commented on #822
I'm seeing this issue again, but on `aurelia-pal-nodejs@1.0.0-beta.3.1.0`.

[2018-03-05 11:11] Alexander-Taran commented on #822
That'd make me responsible
Only thing changed between 3.0.0 and 3.1.0 was addition of NodeList

https://github.com/aurelia/pal-nodejs/compare/394da3e21b55925e16c3bb91294a245acfa99bc2...master

[2018-03-05 13:16] BBosman commented on #822
Yes, same repro.

Thanks for looking into it!

[2018-03-05 13:33] Alexander-Taran commented on #822
seems like you created project anew and did not update pal-nodejs
au new..
your steps..
updated pal-nodejs and everything worked.

note: cli was not released with the updates

also, probably need another bump of pal-nodejs dependency in produced configs.

[2018-03-05 14:32] BBosman commented on #822
That does solve it in my test repo, but not in my actual (private) repo. So now I need to figure out what's different between those two.

[2018-03-05 14:51] JeroenVinke commented on #822
Try to remove the package-lock.json before installing the update

[2018-03-05 19:52] Alexander-Taran commented on #822
yeah.. and get rid of npm as well (-:
yarn add ftw..

[2018-03-05 19:59] Alexander-Taran commented on #822
@vermilion what's your use case not covered by yarn?

[2018-03-05 22:23] JeroenVinke commented on #834
I didn't get that error, but i'll remove the section, it seems to be unnecessary

[2018-03-05 22:56] Alexander-Taran commented on #834
No clarification then huh? (-:

[2018-03-05 23:08] JeroenVinke commented on #834
Maybe @niieani can shed some light on this

[2018-03-06 02:58] sam-piper commented on #685
Great, thanks Jeroen - can you confirm the relevant commits for me? I'll merge them into our code and see if it works.

[2018-03-06 10:22] Alexander-Taran opened #837 "Convert configs from .json to .js or .ts"
**I'm submitting a _discussion_ request**

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**

Config files are now mostly in .json format which does not allow comments.
https://stackoverflow.com/questions/244777/can-comments-be-used-in-json

* **What is the _desired_ behavior?**
Have most config files in .js format
Like webpack.config.js
[code]

* **What is the motivation / use

[2018-03-06 18:07] niieani commented on #834
It is there in case of duplicated Aurelia modules inside of nested `node_modules`. This ensures we resolve to the top-level version of each Aurelia module. Naturally, there was a typo, as it should be:

[code]

[2018-03-06 20:28] JPAhnen commented on #835
That would be great.
Where is the entry point of the `test` command, i.e. what gets called when invoking `au test`?

[2018-03-06 21:00] JeroenVinke commented on #834
Thanks @niieani

@Alexander-Taran do you have the issue even when using `'<rootDir>/node_modules/aurelia-$1'` instead of `'<rootDir>/node_modules/$1'?

[2018-03-06 21:28] Alexander-Taran commented on #835
https://github.com/aurelia-contrib/aurelia-getting-started/blob/master/guides/how-to-debug-cli.md

instead of arguments ["run","--watch"] put ["test"]

[2018-03-06 21:44] Alexander-Taran commented on #834
It's not me who had it. And I think there were some. Yes.
It was very strange.
I still think that it should stay removed unless there will be issues with jest without it. Jest docs say it is meant to mock modules specified by name with modules located at value.

[2018-03-07 06:23] huochunpeng commented on #688
@JeroenVinke this issue need to be reopened.

App created by cli still has broken `favicon.ico` file. The files in cli repo are good, sadly they are not the real issue.

The real issue is
https://github.com/aurelia/cli/blob/15b1f1f6d4ee74a5a429ca90651d61b0e8d8abdf/lib/project-item.js#L145

That line then use
https://github.com/aurelia/cli/blob/15b1f1f6d4ee74a5a429ca90651d61b0e8d8abdf/lib/file-syst

[2018-03-07 07:46] Sascha89 commented on #787
Hi, not sure if this topic is already solved. The watcher does detect file changes and refreshes the browser. You only need to assure, that you also map the browsersync port (3000) to your local environment. Following an example of my docker-compose file. This works for me:

[code]
Then you can run ```docker-compose -f docker-compose.dev.yml up -d```. After a few seconds of booting, everything sho

[2018-03-07 18:15] JeroenVinke commented on #685
@sam-piper sure: https://github.com/aurelia/cli/commit/e773161b7ece0d5628a9b5d6364df5937be2bec9

[2018-03-07 19:06] JPAhnen commented on #835
The problem was in the template file for the `test` task. I fixed it in `test.ts` and `test.js`.

[2018-03-07 22:08] huochunpeng commented on #688
@Alexander-Taran thx. I will try to refactor the code to use fs.copyFile which makes more sense.

[2018-03-07 22:14] huochunpeng commented on #833
@zewa666 do you mean there is on-going effect to remove the api? can you share a link?

[2018-03-07 23:11] sam-piper commented on #685
So far this seems to be working - I've done about 30 test runs and no failures. Thanks for fixing this.

[2018-03-07 23:26] Alexander-Taran commented on #835
Great.
So without wraping if produces that json.. and with not?
I'm not yet familiar with karma.. Can't understand why it didn't work before if it does now.
Would be great if you could clarify that.

[2018-03-08 05:29] zewa666 commented on #833
There is an active PR but for the sake of it i cant remember where i've seen it. @bigopon was working on it

[2018-03-08 05:37] bigopon commented on #833
The PR is here https://github.com/aurelia/framework/pull/858

It is useful for plugins distribution, as it helps distributing whole plugin as 1 file easily, but not so much with application development as messing with Origin / file path is quite annoying for requiring sub modules. Could help with scenarios where multiple teams are working on same project, each team could distribute their features

[2018-03-08 05:37] JPAhnen commented on #835
So I'm no expert either, but I think Karma expects a callback function as second parameter, but `done` doesn't seem to be a plain function. And Karma outputs this `done` object if an error occured, i.e. a test failed.
The output I mentioned is the `gulp series` task (containing the series to build the application and the Karma task), followed by the error code.
And `done()` is never invoked, becau

[2018-03-08 05:55] huochunpeng commented on #833
I ask this because I have bit interest to add support of `PLATFORM.moduleName` in cli AMD tracing.

There is a chance to drop `"dependencies"` section all together by finding missing dependency automatically in node_modules. `importer/strategies/amodro` also needs to be improved to handle all commonjs cases.

I want to live without knowing webpack. @bigopon your PR means I don't have to touch (or

[2018-03-08 10:16] Alexander-Taran commented on #835
@JPAhnen you know what? You are awesome!

[2018-03-08 16:57] Alexander-Taran commented on #830
@quooston have you been able to resolve your issue?

[2018-03-08 17:25] Alexander-Taran commented on #829
@Rud156 whould you like to provide a PR for this?

[2018-03-08 17:26] Alexander-Taran commented on #688
@huochunpeng while you at it, may as well check this one?
https://github.com/aurelia/cli/issues/828

[2018-03-08 17:50] Alexander-Taran commented on #823
@JPAhnen
check out this issue:
https://github.com/aurelia/cli/issues/200
does it look the same?

[2018-03-09 10:22] JPAhnen commented on #823
I don't think it's the same. If I put `index.html` into the `wwwroot` folder it works, but if I use an MVC Razor page for loading it, it doesn't.
In my case, the Aurelia app is a separate part of my web application and is included in a Razor page.

And in this case the route is e.g. `localhost:5000/Game/Play/1001`, and so it tries to load `app.bundle.js` from `localhost:5000/Game/Play/scripts/app.

[2018-03-09 12:23] Rud156 commented on #829
@Alexander-Taran I would like to but have no idea as how to go about it

[2018-03-09 19:47] Alexander-Taran commented on #829
I'll try to reproduce the error and give some pointers on how to handle this.
Meanwhile you can try to trace the behavior with debuging the cli

https://discourse.aurelia.io/t/better-know-a-framework-4-debugging-cli/871/2

[2018-03-09 23:06] Alexander-Taran commented on #372
It works on bundle level.
Should we mention it in the docs?

[2018-03-10 01:33] EisenbergEffect commented on #372
@JeroenVinke Can you comment? Is there a good place to put this in the CLI docs?

[2018-03-10 09:27] Alexander-Taran commented on #372
http://aurelia.io/docs/build-systems/aurelia-cli#javascript-minification
In my opinion

[2018-03-10 12:49] huochunpeng commented on #688
Could not use fs.copyFile due to `fileExistsStrategy`.

[2018-03-10 12:58] huochunpeng commented on #828
@Alexander-Taran since I am not a webpack user, I can only guess the default setup is asking user to put all customised static resources (including `favicon.ico`) in `static/` folder, then update `webpack.config.js` to copy them into desired places.

Seems nothing wrong to me. BTW, as the root favicon is regenerated by webpack, you can just add it in `.gitignore`.

[2018-03-11 13:22] Alexander-Taran opened #843 ""Out of stack space" error in IE 11"
for reference
Cli setup with webpack and babel has the same error in IE 11
as in this issue with skeletons
https://github.com/aurelia/skeleton-navigation/issues/821

![image](https://user-images.githubusercontent.com/1029452/37253862-82cb1054-2548-11e8-8cf8-42c86921fade.png)

[2018-03-11 17:47] fkleuver commented on #826
@monis01 @JeroenVinke This is a npm 5.6.0 problem and it should be fixed with the recent 5.7.1. Maybe update the docs to explicitly mention this because lots of people will probably still be running 5.6.0 for a while..

[2018-03-12 00:03] Alexander-Taran commented on #829
Ok. I got it reproduced.

[2018-03-12 00:24] Alexander-Taran commented on #829
@Rud156
I've submited a pull request to fix cli for future generations of stylus users
in the mean time, to fix your setup, you can modify your
aurelia_project/tasks/process-css.ts to look like this

[code]

[2018-03-12 03:12] Rud156 commented on #829
Thanks a lot. But I think that shouldn't plumber and notify be present in each gulp file. Currently 2 files are left out. On  is the `lint` file and the other is the `processMarkup` file.

[2018-03-12 09:53] quooston commented on #830
No I haven't. My work machine is on an older version of Node and it worked
there. So, there is some issue with the latest version(s).

Thanks for the tip though, I will try it at home.

Q

On 9 March 2018 at 03:57, Alexander-Taran <notifications@github.com> wrote:

[2018-03-12 10:19] Alexander-Taran commented on #830
@quooston might me npm issue btw.
do you have yarn installed?
If not can you try with installing yarn and rescaffolding with au new?

[2018-03-12 10:41] Alexander-Taran commented on #200
related question on SO
https://stackoverflow.com/questions/43857681/aurelia-cli-build-to-parent-folder
can't answer it )-:

[2018-03-12 19:09] Alexander-Taran commented on #829
@Rud156 are there any known issues with the plugins used in those that throw exceptions and prevent watch from continuing?

[2018-03-12 22:53] quooston commented on #830
Ok I'll give that a go.

On Mon, 12 Mar 2018, 21:19 Alexander-Taran, <notifications@github.com>
wrote:

[2018-03-12 23:06] Alexander-Taran commented on #830
Keep me posted (-:

[2018-03-13 04:57] Rud156 commented on #829
@Alexander-Taran These are the files that can cause a problem.
[code]
 I'll make a PR for this tonight

[2018-03-13 08:20] Alexander-Taran commented on #829
@EisenbergEffect @JeroenVinke
do we want to play safe and add plumber to all tasks just in case?

[2018-03-13 17:22] EisenbergEffect commented on #829
I'll leave this decision up to @JeroenVinke

[2018-03-13 23:21] Alexander-Taran commented on #456
Would you like to provide a pull request for it @RichiCoder1 ?

[2018-03-13 23:23] Alexander-Taran commented on #475
Stale since may 2017

[2018-03-13 23:27] Alexander-Taran commented on #206
Would you like to provide a pull request for it @Ganbin ?

[2018-03-14 01:45] aligneddev opened #845 "Request: Update Webpack to 4.0+"
It would be great if the cli was updated to use webpack 4+.
[Here is a write-up using webpack 4](https://medium.com/@mikko.vuorinen/aurelia-skeleton-with-webpack-and-asp-net-core-af9dc5f5b233)

https://github.com/vuorinem/aspnet-aurelia-webpack-skeleton is his linked Github project.

This also might lead the way so I can retry PWAs. https://stackoverflow.com/questions/48023333/aurelia-cli-pwa-with

[2018-03-14 02:04] aligneddev commented on #845
I created a new Aurelia app with `au new` and webpack as the option.  I have Aurelia-cli 0.32.0 installed.
Then I went through these steps:
* update all webpack
* error: webpack.optimize.CommonsChunkPlugin has been removed, please use config.optimization.splitChunks instead.
  * https://bluebottle.idv.tw/?p=12482 ???
* https://medium.com/@mikko.vuorinen/aurelia-skeleton-with-webpack-and-asp-net-co

[2018-03-14 06:05] Alexander-Taran commented on #845
You can use webpack 4 with updated version of aurelia webpack plugin

For configs you can lookup jods4 repository with demoes

Next version of CLI will have it

[2018-03-14 13:07] aligneddev commented on #845
Thanks @Alexander-Taran. I'm adding the link to the repo for easier finding: https://github.com/jods4/aurelia-webpack-build

[2018-03-14 15:08] Jule- opened #846 "Update to babel 7 ?"
Is there any plan to update `aurelia-cli` to `babel` 7 soon?

It seems that these 2 requires messed transpilation when we want to use new `babel` version:
https://github.com/aurelia/cli/blob/15b1f1f6d4ee74a5a429ca90651d61b0e8d8abdf/lib/project.js#L207-L218

And it seems that this transformation do the trick:
[code]

This will allow us to use improvements of [`@babel/preset-env`](https://github.com

[2018-03-14 15:13] Alexander-Taran commented on #846
Would you like to provide a pull request for it @Jule- ?

[2018-03-14 15:18] Jule- commented on #846
Yes if nothing is already planned. Maybe tomorrow.

[2018-03-14 16:40] arabsight commented on #846
babel 7 is still in beta

[2018-03-14 18:43] #845 closed

[2018-03-14 18:56] aligneddev commented on #845
https://twitter.com/AureliaEffect/status/973943835146444800

[2018-03-14 20:06] Jule- commented on #846
Indeed but at least I want to migrate to new babel repo (`@babel/*`), removing warnings, and maybe wait for the release before switching to `babel` 7?

[2018-03-14 20:41] bigopon commented on #846
Babel 7 has several upgrades, regard to spec changes. One of that is the decorator proposal spec upgrade. Aurelia current decorator implementation is based on old version of that, and probably won't work well together with Babel 7. I'm not sure what our strategy towards this change is @EisenbergEffect

[2018-03-14 21:03] EisenbergEffect commented on #846
A couple of weeks ago there was a meeting with Yahuda, who is working on the decorators spec, and the major framework leaders. I'm completely up to speed about where decorators is at now :) The new spec looks very good and is poised to move into stage 3. At that point, we'll probably see transpiler and polyfill implementations. During that meeting we also talked about compatibility layers for tran

[2018-03-15 12:01] quooston commented on #830
Unfortunately installing yarn did not resolve the issue. I also uninstalled
node and installed 8.1 to no avail. It's a windows box, so I used the
control panel to do those things.

So, I will try to debug it as you pointed out before and let you know how I
go.

Thanks

On 13 March 2018 at 10:06, Alexander-Taran <notifications@github.com> wrote:

[2018-03-15 13:00] Alexander-Taran commented on #830
@quooston this one is very strange. Might also try on another box?

[2018-03-15 21:18] Alexander-Taran commented on #697
No pull request so far
common sense -> vNext
or not

[2018-03-15 22:28] Alexander-Taran commented on #737
fail with a message.
can see it in the console.
can see it when testing build
certainly will investigate failed build

what reasons could be not to fail?
to produce a build that a user didn't ask for?

can it be closed?
or should someone come up with a PR?

[2018-03-15 22:53] Alexander-Taran commented on #754
Will there be any issues if we replace dependency?

[2018-03-15 23:53] rquast opened #847 "Implement SSR support in Aurelia CLI"
Since SSR seems to be working reasonably well, an SSR option to the CLI for webpack builds. This would be a great thing for new people who want SEO without having to fork the typescript skeleton or create a static build. Both TS and esnext should also be supported.

[2018-03-16 00:02] Alexander-Taran commented on #847
How do you envision this?

[2018-03-16 00:06] rquast commented on #847
The addition of server-main.js, webpack server config, server.js, ssr dependencies and anything else required to run a Koa SSR server.

[2018-03-16 10:55] Alexander-Taran commented on #593
Issue on Algolia repo was closed with recomendation to use another more generic library

[2018-03-16 18:04] maroy1986 commented on #843
If I remember correctly, this error is only caused by missing Polyfills... I remember hitting this few months ago... Adding aurelia-polyfills fix it. I'm surprised the CLI doesn't include them by default.

[2018-03-16 23:20] Alexander-Taran commented on #847
Would you like to get a stab at pull request for it @rquast?

[2018-03-17 00:08] rquast commented on #847
@Alexander-Taran Sure. I'll give this a go once I've submitted the PR for the ssr updates.

[2018-03-17 00:12] Alexander-Taran commented on #847
Yeah.. no rush with that.
Would love to have your how-to ssr though in contrib.
Like a journey to a result.

[2018-03-17 01:32] Alexander-Taran commented on #223
stale since mid 2017
but looked almost ready

[2018-03-17 02:16] EisenbergEffect commented on #223
Yes. If I recall it's partially implemented. @JeroenVinke might have some idea as to how much work would be required to complete this.

[2018-03-17 02:46] ghiscoding commented on #833
I think @JeroenVinke already did the switch for WebPack being default in this [commit](https://github.com/aurelia/cli/commit/15b1f1f6d4ee74a5a429ca90651d61b0e8d8abdf) and new version [0.33.0](https://github.com/aurelia/cli/releases/tag/0.33.0) seems to have it merged as well.

[2018-03-18 07:32] JeroenVinke commented on #833
Correct :)

[2018-03-18 07:32] #833 closed

[2018-03-18 07:36] JeroenVinke commented on #847
@rquast that’s the plan exactly

[2018-03-18 07:46] #593 closed

[2018-03-18 07:56] JeroenVinke commented on #830
Perhaps try a different folder as well, maybe on the C disk

[2018-03-18 08:05] JeroenVinke commented on #829
@Alexander-Taran i wonder if this would change the exit code to always be zero which could affect CI's (e.g. CI's that do au build and fail when the exitcode is non-zero)

[2018-03-18 08:13] JeroenVinke commented on #811
@ShawnTalbert could you explain the reason for not installing the cli globally using the -g flag?

[2018-03-18 08:18] #791 closed

[2018-03-18 09:37] Alexander-Taran commented on #829
@Rud156 can you test what exit code would au build produce with my fix? I already deleted the repro

[2018-03-18 10:14] Alexander-Taran commented on #829
@JeroenVinke yep. Like this it will be zero.
there is a relevant comment:
https://gist.github.com/floatdrop/8269868#gistcomment-1751738

proposed solution is conditional variable

we are trying to be DRY and to be awesome during development and in CI
where in dev we want it to be smooth and forgiving but fail hard otherwise.

we already use plumber in  other tasks for less, markup and transpile (b

[2018-03-18 18:24] Alexander-Taran commented on #313
Looks stale since 2016
was brought up on gitter

[2018-03-18 21:28] EisenbergEffect commented on #313
I'd love to get a community contribution for this.

[2018-03-19 04:05] huochunpeng opened #848 "latest 0.33.0 release breaks apps bootstrapped with requirejs/systemjs"
**I'm submitting a bug report**

* **Library Version:**
0.33.0

* **Loader/bundler:**
SystemJS | RequireJS

**Current behavior:**
* **What is the expected behavior?**
* **What is the motivation / use case for changing the behavior?**

@EisenbergEffect latest 0.33.0 release breaks apps bootstrapped with requirejs/systemjs

The `gulp-babel` version was upgraded from `7.0.1` to `8.0.0-beta.2` in a ro

[2018-03-19 04:13] EisenbergEffect commented on #848
Released fix! Apologies!

[2018-03-19 04:13] #848 closed

[2018-03-19 18:32] Alexander-Taran commented on #834
troublesome code removed
closing this one

[2018-03-19 18:33] #834 closed

[2018-03-19 18:36] Alexander-Taran commented on #830
@quooston  Another thought is that you might be behind a proxy.
There is new version of CLI that just came out
can you update yours and try again?

[2018-03-19 18:39] Alexander-Taran commented on #826
CLI has been updated
@monis01 & @charlesodili
do you still have this problem ?

[2018-03-19 18:43] Alexander-Taran commented on #811
@ShawnTalbert it's not just any cmd-line tool.
and for global installs of npm packages there is a certain workflow
if you install it otherwise than the thinking is that you know what you are doing and why you are doing that.

If you need help with runing your setup, please feel free to follow up with questions.

can be closed

[2018-03-19 18:46] Alexander-Taran commented on #801
@JeroenVinke how can this issue be improved to be actionable?

[2018-03-19 18:48] Alexander-Taran commented on #797
@JeroenVinke  how can we help with merging the PR or.. don't know..

[2018-03-19 18:51] Alexander-Taran commented on #796
node-sass: Fixed in 4.8.0
 gulp-sass: updated to depend on 4.8.1

 can bump CLI dependencies and close

[2018-03-19 18:52] Alexander-Taran commented on #784
no more common chunks plugin
webpack 4

[2018-03-19 18:53] Alexander-Taran commented on #779
@PWKad do you think you could come up with a non-breaking-change PR for `--no-cls` option? (-:

[2018-03-19 19:13] Alexander-Taran commented on #777
[code]

[2018-03-19 19:14] Alexander-Taran commented on #773
Seems resolved

[2018-03-19 19:17] Alexander-Taran commented on #750
@colindembovsky were you able to resolve your issue?
there is a section in docs describing how to add dependencies to aurelia.json

[2018-03-19 19:18] Alexander-Taran commented on #737
@eriklieben can we close this?

[2018-03-19 19:20] Alexander-Taran commented on #719
No need since 0.33.1 (-:
also there is a PR waiting

[2018-03-19 19:23] Alexander-Taran commented on #704
Awesome idea.
But seems stale (-:
asked for some help @ discourse https://discourse.aurelia.io/t/up-for-grabs-aurelia-json-schema/925/1

[2018-03-19 19:26] Alexander-Taran commented on #652
Would you like to provide a pull request for it @tdamir ?

[2018-03-19 19:29] Alexander-Taran commented on #633
https://github.com/aurelia/cli/pull/836 (resolve conflicts of https://github.com/aurelia/cli/pull/635) merged

can be closed

[2018-03-19 19:41] volak commented on #784
Yeah that's true - upgrade to webpack 4 will make this unnecessary

[2018-03-19 19:41] #784 closed

[2018-03-19 19:41] Alexander-Taran commented on #556
[code]

[2018-03-19 19:45] Alexander-Taran commented on #464
Either fixed or OP lost interest.

[2018-03-19 19:46] Alexander-Taran commented on #442
https://github.com/aurelia/cli/pull/765

[2018-03-19 19:49] Alexander-Taran commented on #381
The only solution that worked for me is to rebuild all on any change
there is a gulp-sass-watch plugin or something.. that adds files that import the one changed to streams..
but it is not compatible with logging and all.

[2018-03-19 19:51] Alexander-Taran commented on #337
@JeroenVinke  & @EisenbergEffect
 we can add commented out lines to task
would it hurt?

[2018-03-19 19:51] Alexander-Taran commented on #317
Maybe can be closed

[2018-03-19 19:53] Alexander-Taran commented on #183
@EisenbergEffect can be closed

[2018-03-19 20:11] EisenbergEffect commented on #317
Closing this since it's an old issue. We're also working on updating to the official gulp 4 release, which would address this issue.

[2018-03-19 20:11] #317 closed

[2018-03-19 20:12] EisenbergEffect commented on #183
Closing as fixed.

[2018-03-19 20:12] #183 closed

[2018-03-19 20:17] EisenbergEffect commented on #337
@JeroenVinke Can we put this in for the next CLI release?

[2018-03-19 20:42] zewa666 commented on #811
I am not too sure about that. I also prefer not to pollute the global package space. I think this should be handled by at least throwing a proper cmd info that its supposed to be operated differently vs crashing hard.

[2018-03-19 20:46] #464 closed

[2018-03-19 20:49] Alexander-Taran commented on #811
@zewa666
`try {} catch{ console.error ('you are holding it wrong ') }` ???
(-:

[2018-03-19 21:14] JeroenVinke commented on #393
@AStoker @EisenbergEffect would you agree that Discourse is now the best place to share these recipes? if so we can probably close this

[2018-03-19 21:16] #777 closed

[2018-03-19 21:17] JeroenVinke commented on #777
i've added a document on the task system here: https://github.com/aurelia/cli/pull/747

[2018-03-19 21:31] adriatic commented on #393
This same issue was the main drive behind the AUCS project and details like **[au import recipes](https://github.com/aurelia/cli/issues/586#issue-219046812)** that @JeroenVinke just closed are of specific concern because I was writing that code with the hope that it will be used as the help in the process of building the CLI-next.

[2018-03-19 21:39] JeroenVinke commented on #787
added this to https://github.com/aurelia/cli/issues/787

[2018-03-19 21:39] #787 closed

[2018-03-19 21:45] JeroenVinke commented on #786
added this to https://github.com/aurelia/cli/pull/747

[2018-03-19 21:45] #786 closed

[2018-03-19 21:45] #699 closed

[2018-03-19 21:45] #709 closed

[2018-03-19 21:45] Alexander-Taran commented on #393
@EisenbergEffect we can dump raw content into contrib and pick and choose whatever fits core docs.
different level of standards.
cant put whatever in core.
but yet raw has useful stuff..
examaple: https://github.com/aurelia-contrib/aurelia-getting-started/pull/27/files

[2018-03-19 21:45] #719 closed

[2018-03-19 21:57] JeroenVinke commented on #826
I'd think so, because this is an issue with the NPM version installed on your machine, not the version that the CLI uses internally

i've added this to the docs PR here: https://github.com/aurelia/cli/pull/747

[2018-03-19 21:57] #826 closed

[2018-03-19 22:13] JoakimSoderberg commented on #837
Similar to #781 (Yaml config)... Commented configs is a must.

The huge gap between the cli help and actually having to edit the config file without any help is a big usability gap.

[2018-03-19 22:21] JoakimSoderberg opened #849 "Usability issues (behave like normal CLI applications please)"
**I'm submitting a feature request**

The usability of the cli is really bad. Some extremly annoying behavior that is not common for cli-applications (at least not outside the Javascript world):
- Running `au` does a `clear` of the screen. Extremely annoying! You should not decide for the user to clear the screen.
- The `help` output is different depending on context. Very bad. For example, I have

[2018-03-19 22:36] JeroenVinke commented on #779
I think we should remove this screen clearing thing, it's been more annoying than anticipated

[2018-03-19 22:40] JeroenVinke commented on #849
I agree with everything except the context-aware help command. `au new` is only relevant when you're not inside a project directory. It's not useful to show `au build` outside of a project directory, or to show `au jest` as an option when your project is not setup for jest.

[2018-03-19 22:46] Alexander-Taran commented on #779
Oh.. while we are at it.. there was another issue about ui-less flow..
I tried an old hack with `au new name < answers.txt`
and it gets the first answer.. but all the rest is missed.. I guess whatever is used for reading console swallows all the input after the first answer and when tries to readLine there is EOF aka ^Z

[2018-03-19 22:52] JoakimSoderberg commented on #849
Well if that is important, then at least provide a `full_help` so I can see everything available like in normal command line applications.

But most important I guess is not to have a bug where all you see is `new` in an existing project directory.

[2018-03-19 23:01] JeroenVinke commented on #849
Yep i'll have a look what's causing that.

[2018-03-19 23:22] JoakimSoderberg commented on #849
Ok thanks.

I have a use case for the `help` stuff, which I use quite often.

Say I have a console window open, I'm inside of a project directory and I'm using `au`... ok now I want to read the help, but I don't want to spam my backlog by repeatedly running `au help` (especially not when it does `clear` like today).

Instead I quickly open a second console window and type `au help` ... oh right, n

[2018-03-19 23:44] JeroenVinke commented on #849
Thanks for the description of the use case. I'm trying to see how that would work in practice, you'd see commands that you're not going to be able to use for your project (and you end up with a pretty large output too). It would be kind of misleading for the CLI to tell you that you can run `au karma` while Karma hasn't been setup, or that you could run `au karma` from outside a project dir.

In a

[2018-03-19 23:48] JeroenVinke commented on #811
how about https://github.com/aurelia/cli/pull/850

[2018-03-19 23:55] Alexander-Taran commented on #811
will it handle:

[2018-03-20 05:22] zewa666 commented on #811
If it catches Alex case I'm all for that PR. :+1:

[2018-03-20 14:10] hozn commented on #249
@EisenbergEffect can we reopen this?  This does not appear to be fixed.  The empty "main" attr does not work anymore, as noted by @szogun1987 .  Also errs out during build for me -- trying to include "select2-bootstrap-theme" package:

`aurelia.json`:
[code]
(Tried with and without `"main": ""` line.)

Error during build:
[code]

[2018-03-20 15:07] zewa666 commented on #249
Have you tried it with main:false?

[2018-03-20 15:12] hozn commented on #249
@zewa666 , thanks for the tip; `"main": false` does seem to work!  -- Was that documented somewhere that I missed?

[2018-03-20 16:22] zewa666 commented on #249
@hozn over at the [docs](http://aurelia.io/docs/build-systems/aurelia-cli#adding-client-libraries-to-your-project)  in build-systems-->aurelia-cli-->adding-client-libraries-to-your-project-->a commonjs package

[2018-03-20 16:32] hozn commented on #249
@zewa666 , thanks for the link (and help).  Sorry I missed that!

[2018-03-20 17:18] Alexander-Taran opened #851 "define engines section for package.json"
**I'm submitting a feature request**
add engines section to package.json
https://docs.npmjs.com/files/package.json#engines
https://yarnpkg.com/lang/en/docs/package-json/#toc-engines

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
All

**Current behavior:**
there are plenty different versions of
node, npm and yarn around
some of them behave strange

[2018-03-20 18:06] JeroenVinke commented on #811
@Alexander-Taran by handle you mean that it displays the message that no project could be found? i've confirmed that it does that

[2018-03-20 21:55] Alexander-Taran commented on #811
I'm happy if you are (-:

[2018-03-21 07:52] zewa666 commented on #811
Awesome

[2018-03-21 19:49] weegeekps opened #852 "Compilation fails with Webpack 4.2.0 when using `au run` through the CLI."
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13

* **Node Version:**
8.10.0

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
When running `au run` with Webpack 4.2.0 in a brand new project, an error occurs which prevents the applicatio

[2018-03-21 20:10] Alexander-Taran commented on #852
I can reproduce this
au new -> default typescript
au run

[2018-03-21 20:25] Alexander-Taran commented on #852
Ok
1st thing -  au run --watch works fine
2nd it looks like without --watch webpack dev server waits for page to be actually navigated to before kicking in with compilation
and then barfs..

[2018-03-21 20:37] fkleuver commented on #852
It's a bit strange how this works, because all that the absence of `--watch` does is enable lazy mode for webpack-dev-server. I don't believe `--watch` actually affects whether files are watched or not. They are watched regardless. It only affects whether a recompile is triggered **directly after the change** or only after you **load/reload** the page.

So when in lazy mode (in other words, `run`

[2018-03-21 21:06] Alexander-Taran commented on #852
@fkleuver thanks for all your help with investigation

[2018-03-21 21:40] Alexander-Taran commented on #852
yep. Current workaround is to `au run with --watch` option.
it is not a CLI issue.

runing webpack-dev-server with --lazy breaks the same way.
Issue was filed for webpack team

[2018-03-22 14:48] WizzApp commented on #685
I'm still getting the `Firefox 54.0.0 (Windows 10 0.0.0) ERROR Error: Dynamic load not allowed: modules/machine/index.html at scripts/vendor-bundle.js:24832` errors ;-/
Seems like with Firefox Karma is executing the tests before the files are loaded properly ...

[2018-03-22 21:59] Alexander-Taran opened #854 "output setting for webpack/ts scaffold mismatch with .gitignore excludes"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

* **Language:**
 TypeScript

* **Loader/bundler:**
Webpack

**Current behavior:**
scaffolded project with webpack/typescript has output set as 'dist'
.gitignore has exclude for scripts

.gitignore also does not have exclude for `coverage-jest`

* **What is the expected behavior?**
.gitignore has exclude for dist specified
or output is

[2018-03-22 22:02] fkleuver commented on #854
There's no question `scripts` should go because that's aurelia-cli only. Webpack doesn't write there.

I think for apps that are not plugins, it's typically better to have the `dist` in gitignore. Contents in the folder behave much like a cache - it keeps changing, and the changes are large. You typically publish to another location anyway.

[2018-03-22 22:14] Alexander-Taran commented on #854
@fkleuver are you stalking me? (-:

[2018-03-22 22:54] fkleuver commented on #854
I'm stalking whatever pops up in the gitter feed. Can't help it that that's all you :)

[2018-03-23 23:29] millicandavid commented on #701
Hey guys. I'm just curious why anyone would want to run Aurelia in a .NET Core web site. I come from a .NET background and I don't see any advantage to it so I must be missing something. What is the use case? I do my API in .NET but as a separate hosted app. I really don't like the project structure that Visual Studio creates. I prefer just creating my solution folder, having a UI folder under it

[2018-03-23 23:37] Alexander-Taran commented on #701
@millicandavid  Assuming is the worst thing we can do as developers.
Fact is we can't know for sure for anybody else but us.

Real advantage is with JavaScript services when middleware runs webpack-dev-server and you have  `F5 experience`

Like out of the box... boom f5
And everything is runing..
That's how most developers in vs world like it.

And that's actually great to get things going when yo

[2018-03-24 01:57] Alexander-Taran commented on #535
workbox webpack plugin is updated to support webpack 4
and docs hint that dev-server is supported also

[2018-03-24 03:06] millicandavid commented on #701
@Alexander-Taran Thanks for the reply. That makes sense. The ease of the operating environment of VS and F5. I just thought typing "au run" was pretty simple too. My issue with the ASP.NET route was I couldn't tell what I need to deploy to my app when staging for QA. It was clearer to me with the structure set up by the CLI. But I guess that answers my question of it just being a more familiar ope

[2018-03-24 03:56] obedm503 commented on #535
i've been using the workbox plugin with webpack 4 and dev server. It works really well.

[2018-03-24 06:43] Alexander-Taran commented on #535
@obedm503 dont be shy to share relevant parts of configs (-;

[2018-03-24 16:51] obedm503 commented on #535
it's really not much
[code]
then in the index.ejs
[code]

[2018-03-24 18:20] mobilemancer opened #855 ""au new --here" still has old defaults"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Current behavior:**
The "au new --here" alternative still use the old deafult for bundler (RequireJS)

* **What is the expected behavior?**
Default bundler: WebPack

[2018-03-24 22:20] Alexander-Taran commented on #624
@jholland918 it is supported. depends on how you configure typescript/babel and webpack
HMR though breaks the maps.. after 1st hot injection

[2018-03-24 22:26] Alexander-Taran commented on #798
...Shooting range...
- we have a problem with this new weapon. It does not hit the target!!!
- well.. the bullet left the barrel successfully. The problem is with the target.

can be closed I guess

[2018-03-24 22:28] Alexander-Taran commented on #658
for all those seeking
here is a thread on discourse [aurelia plugin starter kits](https://discourse.aurelia.io/t/aurelia-library-template/938/3)

[2018-03-25 00:07] Alexander-Taran commented on #835
@JeroenVinke PR waiting.
Can you review please?

[2018-03-25 00:19] Alexander-Taran commented on #688
@JeroenVinke PR waiting to fix favicon

[2018-03-26 04:18] Rud156 commented on #829
@Alexander-Taran The build doesn't stop. It throws an error but continues to build. Sorry about the super late reply

[2018-03-26 06:46] #633 closed

[2018-03-26 16:47] aligneddev commented on #535
I had to: `npm install workbox-webpack-plugin --saveDev`
then use `new WorkboxPlugin.GenerateSW({` instead of `new WorkboxPlugin` in the webpack.config.js to get `au build` to build.

Thanks for the info.

Maybe this is for a new Workbox version?
I have  "workbox-webpack-plugin": "^3.0.1",
and got a `au build` WARNING in You're using the following Workbox configuration options: [globDirectory, glo

[2018-03-27 07:12] JeroenVinke commented on #685
@wizzApp please open an issue with steps to reproduce, and we’ll have a look. Thanks

[2018-03-27 22:48] huochunpeng opened #859 "[BUG] `au new project` never returns on windows with GIT Bash shell"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

* **Operating System:**
Windows 10

* **Node Version:**
8.9.4 and 9.9.0

* **NPM Version:**
5.6.0, 5.8.0

* **Browser:**
N/A

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**
`au new project` command never returns back to shell.

It does nothing after "Happy Coding!" or "Dependencies not installed." depending on w

[2018-03-27 23:06] huochunpeng commented on #859
Must have some edge condition here.

Well, @si2030 and I are in similar timezone. Maybe we should ask @bigopon to try too.

[2018-03-27 23:41] huochunpeng commented on #859
Well, modify `bin/aurelia-cli.js` to explicitly exit solve this issue. But I have no idea what condition on the OS makes this mandatory. It seems to be a harmless fix though.

[code]

[2018-03-28 00:17] lancelot316 commented on #859
I'm experiencing this same problem, only with git bash, power shell is fine. What I am noticing in task manager is this,
 1. When au new is run in  git bash a node process appears in task manager
 2. if I choose to install project dependencies then a second node process appears in task manager, and
     when the 5 steps for that part of the process completes the second node process is killed. The

[2018-03-28 00:21] huochunpeng commented on #859
@lancelot316 thx for your inside. Can you try modify your global cli's `bin/aurelia-cli.js` to see whether my fix works for you?

[2018-03-28 00:35] lancelot316 commented on #859
@huochunpeng your code will fix the “an new” problem, but it breaks “au run”

[2018-03-28 00:41] huochunpeng commented on #859
Thx, I did not try that.

[2018-03-28 00:49] huochunpeng commented on #859
It feels like something is holding some resource like file handler or socket, which prevents nodejs to exit.

[2018-03-28 01:00] huochunpeng commented on #859
@lancelot316 could you try another round of test without my fix?

I just found out with default cli 0.33.1 (by clean re-install `npm i -g aurelia-cli`), the `au run` doesn't work for me. It's weird, I remember it worked the day before yesterday.

@si2030, does `au run` work for you with default cli 0.33.1?

[2018-03-28 01:33] lancelot316 commented on #859
@huochunpeng no "au run" throws an error for me also but "au run --watch" works fine.
this is the error that I am getting with "au run":
[code]

[2018-03-28 01:48] huochunpeng commented on #859
As a Mac user, I tried.

Some Windows master need to jumping here.

The problem is we don’t know what edge condition on Windows triggers this issue.

It seems like majority of Windows users are not affected.

[2018-03-28 06:18] WizzApp commented on #685
Will do if the issue persists.

FWIW and for others who stumble upon this issue: We set the concurrency down to 1 (where previously it was 4, running all browsers in parallel) as well as adding another short timeout between the require of `setup.js` and the rest of the test files in `aurelia-karma.js`. This fixed our problems with failing tests on Jenkins so all is well for now :-)

[2018-03-28 06:44] JeroenVinke commented on #859
The webpack error is known : https://github.com/aurelia/cli/issues/852. Webpack is looking into it.

Any information to reproduce is welcome

[2018-03-28 06:46] Alexander-Taran commented on #859
I bet it is again some external dependency... like node (-:

[2018-03-28 06:47] JeroenVinke commented on #859
This one is likely related: https://github.com/aurelia/cli/issues/269, but without a way to reproduce the problem it’s difficult to debug and fix

[2018-03-28 12:53] lancelot316 commented on #859
This is likely related to these two issues. [nodejs #5620] [git for windows #738](https://github.com/nodejs/node/issues/5620#issuecomment-254171323)
https://github.com/git-for-windows/git/issues/738#issuecomment-213424855

if I pull up a cmd window and run ```"C:\Program Files\Git\usr\bin\bash.exe" -l -i```
as one of the comenters suggests everything works as expected.

[2018-03-28 17:28] lovetostrike opened #860 "Json loader failed to import aws-amplify json files"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 16.04

* **Node Version:**
8.10.0

* **NPM Version:**
3.10.4

* **Browser:**
all
* **Language:**
TypeScript 2.7.2

* **Loader/bundler:**
Webpack

**Current behavior:**
You can create a new cli project and choose typescript and webpack defaults.

Install aws-ampl

[2018-03-28 18:21] Alexander-Taran commented on #860
Would you like to provide a pull request for it @lovetostrike to remove json loader from generated webpack.config files for cli?

[2018-03-28 18:44] Alexander-Taran commented on #859
to summarize - au new - not working because of git bash
au run not working because of webpack.
issue for webpack is created and is tracked

to workaround git bash - use bloody cmd (-:

right?

[2018-03-28 20:06] lancelot316 commented on #859
@Alexander-Taran Yes, au new works fine for me in both power shell and cmd. It is just git bash that has the problem.

[2018-03-28 21:02] CasiOo commented on #852
@Alexander-Taran would you mind linking the issue opened in the Webpack repository? :)

[2018-03-28 21:48] huochunpeng commented on #859
@JeroenVinke tested in requirejs based app, my previous fix in `bin/aurelia-cli.js` totally destroys `au run` and `au run --watch`.

To improve compatibility with GIT bash shell on Windows. It is possible to create a new activity in
`lib/commands/new/new-application.json` to explicitly exit after project-install.

[code]

@Alexander-Taran a proper shell is very important for non-Windows users 😄
It

[2018-03-28 22:21] Alexander-Taran commented on #859
proper shell would be proper bash on windows.. which is totally supported in windows 10
https://docs.microsoft.com/en-us/windows/wsl/about

[2018-03-28 22:23] Alexander-Taran commented on #852
![image](https://user-images.githubusercontent.com/1029452/38059623-cf4257ee-32ef-11e8-8a71-7f5d149f2c7d.png)

[2018-03-28 22:34] huochunpeng commented on #859
Thx, will try that.

[2018-03-29 00:30] huochunpeng commented on #859
Indeed, that bash is a proper shell. It works.
Only complain is that the ubuntu subsystem in Windows is bit out of date, the node and npm versions are quite old.

[2018-03-29 00:42] Alexander-Taran commented on #859
apt-get is your friend.. I think (-:
it is a truthy lixux

[2018-03-29 00:43] huochunpeng commented on #859
Yes, I am talking about the nodejs/npm versions installed by apt-get.

I might use nodenv to get better nodejs.

[2018-03-29 05:55] Alexander-Taran commented on #860
@JeroenVinke legit PR
1 line removed

[2018-03-29 05:56] Alexander-Taran commented on #859
Can't you add another source?
there

[2018-03-29 06:02] huochunpeng commented on #859
Probably yes. But using nodenv can avoid apt-get and sudo.

Doesn't matter, I can keep using and testing nodejs v4 (which I never did) on Windows.

[2018-03-29 06:05] Alexander-Taran commented on #859
can be closed then

[2018-03-29 06:11] #859 closed

[2018-03-30 17:00] huochunpeng commented on #833
Hi guys, I wrote some code to backup my mouth. #862.
Appreciate if you wanna help testing it.

[2018-03-30 18:09] adriatic opened #863 "application created with aurelia CLI fails to run"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre
0.33.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

8.8.4

* **NPM Version:**
3.8.9

5.8.0

* **Browser:**
Chrome Version 65.0.3325.181 (Official Build) (64-bit)
* **Language:**
Typescript
2.5
* **Loader/bundler:**
 webpack 4.

[2018-03-30 21:08] Alexander-Taran commented on #863
webpack issue
tracked here https://github.com/aurelia/cli/issues/852 for cli
and here https://github.com/webpack/webpack/issues/6825 for webpack

this one can be closed

[2018-03-30 21:13] adriatic commented on #863
I agree - as I checked both references [above](https://github.com/aurelia/cli/issues/863#issuecomment-377623821).

Closing.

[2018-03-30 23:06] #863 closed

[2018-04-02 09:02] joonhwan commented on #830
same here.

Win7 / node-8.11.1 / npm-5.6.0  / au-0.33.1

I did

 - `au new router-tutorial` (default configuratino)
 - `au build`

[code]

`au run` did make same result.

[2018-04-02 10:49] #737 closed

[2018-04-02 11:34] Alexander-Taran commented on #830
@joonhwan looks like npm issue from here..
can we retrace your steps?
I assume you installed aurelia-cli with `npm i -g aurelia-cli`
then you ran `au new something`
what were the choices?

also run `where au` from command line there might be more CLIs than you think of (-:

anyway try to update npm to latest (5.8 I think) with `npm i -g npm`
and redo from scratch.
all the scenarios should work.
It

[2018-04-03 21:59] Alexander-Taran commented on #490
@rodu could it be also incorporated in ts builds?
and webpack builds for that matter?
Also, you can create a PR.. so we could look at your modifications.

[2018-04-03 22:57] Alexander-Taran commented on #796
@JeroenVinke ping

[2018-04-03 22:58] Alexander-Taran commented on #773
can be closed

[2018-04-03 22:59] Alexander-Taran commented on #337
@JeroenVinke ping (-:

[2018-04-04 14:39] rodu commented on #490
From my tests, webpack@4 seems OK as it should be using uglify-es under the hood already:
https://webpack.js.org/plugins/uglifyjs-webpack-plugin/

For TypeScript, I created a new project and changed the `tsconfig.json` to target ES6 output. Then the `au  build --prod` completed successfully. Same for ESNext project using babel to generate ES6 code as output.

I am not an expert of the CLI by any m

[2018-04-04 20:25] CasiOo commented on #852
People are still running into this issue when creating new projects.
Maybe we should stop them from installing webpack 4.2.x until they fix the issue (or we do) ?

https://github.com/aurelia/cli/blob/master/lib/dependencies.json#L105
Change it to something like `~4` for the time being ?

[2018-04-04 23:18] Alexander-Taran commented on #490
@rodu
can you comment on how ppl can test your PR in their setups?
https://discourse.aurelia.io/t/testers-welcome/1037

[2018-04-05 16:12] rodu commented on #490
From my analysis, new projects created with the CLI containing this patch should work out of the box. This is easy to test:

1. Take a note of the current CLI you are using: `au --version` just in case you want to reinstall that
2. Pull down [the patch](https://github.com/aurelia/cli/pull/864)
3. uninstall your current aurelia-cli (`npm uninstall -g aurelia-cli`)
4. Follow the instructions in the

[2018-04-05 17:10] JesseNewman19 commented on #685
I'm still having this issue. Luckily @JeroenVinke's fix worked for me, but I can't say I'm a huge fan.

[2018-04-06 05:57] WizzApp commented on #685
@JesseNewman19 Have a look at https://github.com/aurelia/cli/commit/e773161b7ece0d5628a9b5d6364df5937be2bec9
This contains the merged fix and does not use setTimeout anymore ...

[2018-04-08 12:49] MaximBalaganskiy commented on #257
This is now happening with CLI 0.33.1, jquery, and materialize-amd (and AMD build of materialize-css). Even though jquery is listed before materialize... Prepend solves it.

[2018-04-09 07:33] nuxy commented on #811
Experiencing this _same issue_ with a fresh install of `aurelia` and the latest version of the `aurelia-cli`.

- **Library Version:**
  0.33.1

- **Operating System:**
  Ubuntu (bash)

- **Node Version:**
  8.9.4

**Current behavior:**

1. Create new NPM project using `npm init`
2. Install both `aurelia` and the `aurelia-cli`
3. Execute `./node_modules/.bin/au help`

[code]

If you need any other

[2018-04-09 07:51] Alexander-Taran commented on #811
@nuxy and why would you do it like that?

[2018-04-09 09:46] Alexander-Taran commented on #811
Yep. That's why issue is not yet closed.
Would be great If you'd like to test out the PR https://github.com/aurelia/cli/pull/856
that is supposed to resolve this

[2018-04-09 18:38] jpsala commented on #535
Thanks, it's working fine, except that after building the app the page is updated after refresh a second time, does someone know's what's happening?

[2018-04-09 22:55] huochunpeng opened #866 "[question] babel loose mode usage in Aurelia"
Could someone share some historical information on babel loose mode usage in Aurelia?

[code]

From what I read, the loose mode can result in smaller and faster code, but risk compatibility of some es6 features, like:
https://babeljs.io/docs/plugins/transform-es2015-classes/#loose
https://babeljs.io/docs/plugins/transform-es2015-spread/#loose

I have tested with both `preset-es2015` and newer `pre

[2018-04-10 09:47] quooston commented on #830
Hi again,

No proxy here, I'm at home.

I've recently had to reinstall my box because my mobo died... and arrived
at the exact same issue.

Q

On 20 March 2018 at 05:37, Alexander Taran <notifications@github.com> wrote:

[2018-04-10 09:49] quooston commented on #830
​where au =>
C:\Program Files\nodejs\au
C:\Program Files\nodejs\au.cmd​

On 10 April 2018 at 19:46, Qerim Shahini <qerims@gmail.com> wrote:

[2018-04-10 09:55] quooston commented on #830
SOLVED!

It's a path issue.

My code is at c:\users\q\code\... But that code folder is actually a
symlink to e:\code.

When I run au build from   c:\users\q\code\... it fails.
When I run au build from e:\code\... it works!

Don't know why, but there you have it.

Q

On 10 April 2018 at 19:49, Qerim Shahini <qerims@gmail.com> wrote:

[2018-04-10 10:57] constructor opened #868 "Error: Path variable [contenthash] not implemented in this context: [contenthash].css"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.10.0

* **NPM Version:**
5.8.0

* **Browser:**
all

* **Language:**
TypeScript X.X

* **Loader/bundler:**
Webpack

**Current behavior:**
1) Using Windows 10, I create a new folder and open Powershell.

2) `au new --here` with options:

[2018-04-10 11:45] Alexander-Taran commented on #830
@joonhwan do you also use symlinks ?

[2018-04-10 12:48] Alexander-Taran commented on #868
Would you like to provide a pull request for it @constructor ?

[2018-04-10 22:27] constructor commented on #868
@Alexander-Taran yes, I can do that. I have just one question. The changes I made consist of 3 commits that address 3 issues. The main one being the '[contenthash] not implemented' error. This issue was a single commit (af08725fca36d2ab94f408bf9870a8f2e264915e). The other 2 smaller issues were a 404 css error and the addition of a launchSetting for convenient switching of ASPNETCORE_ENVIRONMENT to

[2018-04-10 23:01] huochunpeng commented on #816
@JeroenVinke I am working on proper shim support on #862, I need to change the sorting algorithm to properly deal with shimmed packages with deps.

So if shimmed "A" has deps on "B", I need to make sure "B" writes to the bundle before "A" to ensure those legacy libs to work.

[2018-04-10 23:24] Alexander-Taran commented on #868
let's ask @JeroenVinke  (-:

but there is a chance that plugins will get fixed and this won't be needed right?

[2018-04-11 00:11] jpsala commented on #535
Thanks @obedm503

[2018-04-11 08:50] constructor commented on #868
@Alexander-Taran Yes, but is that the default position? My experience was I installed the tools and it did not work as expected. At that point many would look elsewhere. It does not matter to me if these changes are included, but it should matter to everyone that the tools work out of the box without issue to give newcomers a pain free experience and let them see just how great Aurelia is.
In [lib

[2018-04-11 18:12] Alexander-Taran commented on #868
@constructor I totally agree with you on things not working out of the box. That's exactly my position. Apparently webpack devs did not see some of the changes as breaking.

For a better quicker problem solving, I'd ask you to create separate pull requests for each independent change.
I'm not totally "in" the fixes you are talking about.
If it is not too much to ask could you create 3 separate bra

[2018-04-12 19:45] constructor commented on #868
@Alexander-Taran After reading around about the wider issues caused by the webpack breaking changes, although my changes work (and I am currently using them) it does not seem to be the correct direction to take. The initial problem, that of newly installed aurelia-cli not working, can be fixed by changing  how webpack is referenced in lib/dependencies.json webpack from `"webpack": "^4.1.1"` to `"w

[2018-04-12 23:11] Alexander-Taran commented on #868
@JeroenVinke what do you think of locking webpack dependency temporarily @ 4.1.1 ?

[2018-04-12 23:12] tomstylesncc commented on #868
I've not dig into the causes but I can verify that dropping the `^` from the webpack version fixes the build.
Incidentally it was only the prod build that was breaking in our project, both the dev and stage builds were fine. Hope this helps to track down or fix the issue. Thanks for all the work the CLI team have done.

[2018-04-13 08:47] Alexander-Taran commented on #868
@tomstylesncc it is external to aurelia issue with webpack.. not much the team can do really. apart from locking down the dependency version

[2018-04-13 12:27] constructor commented on #868
@Alexander-Taran @tomstylesncc There must be a lack of understanding on my part as I can not understand why not reference exactly? I understand that a ^version  is a 'compatible with version' but that still leaves the release open to failure by the dependency (as seems to be in this case). To my mind a specific software release version should not be put at subsequent risk of failure by dependencie

[2018-04-13 22:54] Alexander-Taran commented on #868
@constructor It might be a convenience for future fixes.. (-:
But with issues like this.. yes.. I think that locking is the way..
But that destroys the daily `npm upgrade` routine.. how much fun is that now? (-:

[2018-04-17 20:35] martynchamberlin commented on #822
This issue was originally created because of [this JSDOM change](https://github.com/jsdom/jsdom/pull/2098) per what **domenic** [said](https://github.com/jsdom/jsdom/pull/2092#discussion_r162832406):

You can see `_core` being referenced in `aurelia-pal-nodejs` [here](https://github.com/aurelia/pal-nodejs/blob/4044b30f7da4bb0f935717e1095a0ba0a918f851/src/nodejs-pal-builder.ts#L67) still, however.

[2018-04-19 06:47] JeroenVinke commented on #822
@martynchamberlin thanks for looking into this. Please open an issue in the aurelia-pal-nodejs repo so it can be looked into

[2018-04-20 02:27] huochunpeng opened #870 "Not compatible with source-map v0.6.1"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

* **Operating System:**
All

* **Node Version:**
8.10.0

* **NPM Version:**
5.8.0
yarn is not affected

* **Browser:**
NA

* **Language:**
NA

* **Loader/bundler:**
NA

**Current behavior:**

Depends on user app's extra dependencies (like postcss), sometimes npm resolved source-map package to v0.6.1 instead of v0.5.7.

Yarn somehow al

[2018-04-20 09:39] gama410 opened #871 "GZip compression as a build option?"
**I'm submitting a feature request**

* **Library Version:**
any

**Please tell us about your environment:**
* **Operating System:**
any

**Current behavior:**
No compression on output bundles

* **What is the expected behavior?**

I was wondering if there was a reason why output compression was not activated/activatable with the serve task.
I was thinking it could maybe be activated behind a flag

[2018-04-20 09:50] avrahamcool commented on #871
actually, this is applicable for `build` even more than for `run`.
you typically use `run` in the developing stage, where compression is not relevant as much.

`run` calls `build` internally, so if the flag is available for `build` - you will be able to also use it with `run`.

[2018-04-20 10:01] gama410 commented on #871
I was not really thinking of gzipping the bundles themselves but rather gzipping them on the fly as my output is actually served from a different server in production environment in which compression is handled implicitely.

I implemented that feature in my codebase (for the run task) and it works quite well. This looks like this:
``
var compress = require('compression');
...
var middlewares = (CL

[2018-04-21 06:04] aicokleinovink commented on #846
So yesterday I wanted to upgrade to Babel 7 (because of Typescript support), but if I'm correct that won't work at the moment?? Because of the decorators getting transpiled differently?

[2018-04-21 18:27] Alexander-Taran commented on #871
@gama410  It looks more like a recipe. Would you like to provide one?

[2018-04-23 08:03] gama410 commented on #871
@Alexander-Taran gladly! Although I'm not sure of what I would have to do...

[2018-04-23 12:51] pmanu93 opened #872 ""No strategies were able to configure" bpmn-js"
**I'm submitting a bug report**
* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Linux Mint 17.3 Rosa

* **Node Version:**
v8.10.0

* **NPM Version:**
5.8.0

* **Language:**
all

* **Loader/bundler:**
RequireJS

**Current behavior:**

I'm trying to install the "bpmn-js" library using the `au install` command but returns the following exception:
[gis

[2018-04-23 22:37] Alexander-Taran commented on #872
@pmanu93 thank you for report

[2018-04-23 22:41] Alexander-Taran commented on #871
# How to enable gzip compression when..

step by step instruction
(-:

and PR here: https://github.com/aurelia-contrib/aurelia-getting-started/tree/master/guides

I sometime wish to see the true minified sizes too

[2018-04-24 09:58] gama410 commented on #871
I created a PR for aurelia-getting-started [here](https://github.com/aurelia-contrib/aurelia-getting-started/pull/30)

[2018-04-24 10:01] gama410 commented on #871
Although I would be interested to know the point of view of some aurelia's core team member about the presence of this flag directly in aurelia-cli 's code...

[2018-04-24 14:14] 4imble commented on #852
I experienced this error also, but notice when using `--watch` it will reload on changes but will not rebuild. This means any changes you made will not show. Also if you create a brand new project and then immediately do `au run --watch` it will fail due to the dist folder being empty.

[2018-04-24 15:12] fmonroe commented on #535
@aligneddev @eriklieben So, has there been a blog post written (as per your comments above)? Can Aurelia be used to build _real_ PWAs? I think that would be a great blog post! Thank you kindly!

[2018-04-24 15:15] aligneddev commented on #535
I agree :-). I unfortunately haven't found/made the time to actually build one and do a good write up about it.

It should be "easy" to get one running with webpack 4 and Aurelia.

[2018-04-24 15:26] 4imble opened #873 "Aurelia Cli with webpack, `au run --watch` does not work with spaces in project directory"
**I'm submitting a bug report**

* **Library Version:**
Au Cli - 0.33.1
Webpack - 4.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.9.4

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Loader/bundler:**
Webpack

**Current behavior:**
- Create a folder `C:\Temp\Aurelia Project`
- Create new project there using CLI, I chose Webpack with Ty

[2018-04-24 15:40] Alexander-Taran commented on #871
@gama410 thanks for the PR

[2018-04-24 15:50] Alexander-Taran commented on #871
@gama410 about adding it to CLI itself.. I for one don't think it is a good idea.
It brings down a dependency.
It has to be supported
For webpack as well
and 99% of the time it will not be used.

I merged your pr and made some edits.. mostly cmd-line formatting.
I'll add it to index and will have a post @ discourse

[2018-04-26 15:29] graycrow opened #874 "dotnet runtime, ASP.NET Core Webpack template and copy-webpack-plugin doesn't work together"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
9.11.1

* **NPM Version:**
5.6.0

* **Browser:**
all
* **Language:**
TypeScript

* **Loader/bundler:**
Webpack

**Current behavior:**

1. Create a new project:
[code]

2. Run project with dotnet

[code]

3. Open a browser and go to [htt

[2018-04-27 10:28] graycrow commented on #874
Found a reason for this behavior.

In the `webpack.netcore.config.js` `config.plugins.indexOf(HtmlWebpackPlugin)` returns -1 (not found). When -1 passed into `config.plugins.splice()` it removes the last element from the end, which is our CopyWebpackPlugin (files not get's copied) and leaves HtmlWebpackPlugin (index.html is generated).

[2018-04-27 11:33] graycrow commented on #874
And finally, solution. In the `webpack.netcore.config.js`:

~~`config.plugins.splice(config.plugins.indexOf(HtmlWebpackPlugin));`~~
`config.plugins.splice(config.plugins.findIndex((x) => x.constructor.name === HtmlWebpackPlugin.name), 1);`

[2018-04-28 07:02] eriklieben commented on #535
I didn't have the time yet to look into it or write a blog post about it.

[2018-04-28 17:12] TonyLugg commented on #873
Same issue here.  I was actually getting "Cannot GET /" when navigating to localhost:8080 but it suddenly started working.  I have the watch issue though.  It is apprently an issue with the Webpack dev server, see https://github.com/webpack/webpack-dev-server/issues/1375.

[2018-04-29 10:17] #688 closed

[2018-04-29 10:41] #829 closed

[2018-04-29 10:43] #849 closed

[2018-04-29 10:43] #779 closed

[2018-04-29 10:43] #811 closed

[2018-05-01 00:40] huochunpeng commented on #870
@Alexander-Taran @JeroenVinke I have strong feeling that everyone are using yarn.
Because I can consistently reproduce this issue on new cli+requirejs app with npm v6.

Let me know your thoughts on the proposed temporary solution. I have not spent anytime on long term solution.

[2018-05-01 10:40] avrahamcool commented on #873
I almost killed myself today in a live presentation because of this issue.
for the sake of a fellow developers, can somebody fix this?

[2018-05-02 12:37] reefath commented on #852
I'm using 4.6.0 version of webpack and still face the same problem. I do not use au though. Can you please help debug how to fix this issue? Also I noticed that its happening with chrome.

[2018-05-02 13:14] fkleuver commented on #852
@reefath If you're not using `au`, then what are you using? I believe this issue is specific to the `au run` command

[2018-05-03 05:16] gordon-matt commented on #701
@millicandavid Well, I can't speak for others, but for me .NET and Aurelia make a perfect couple. I have my own framework full of useful stuff, including various HTML Helpers and localization, amongst other things. None of which I would be able to make use of in plain HTML.

**EXAMPLE 1**
![Example 1](https://user-images.githubusercontent.com/2860937/39560824-76f8c34a-4ee0-11e8-9168-97973a8ba4ca.P

[2018-05-03 10:46] Alexander-Taran commented on #873
@avrahamcool webpack issue.. linked in @TonyLugg reply

[2018-05-03 12:01] millicandavid commented on #701
@gordon-matt that's another good point. To make use of existing framework code that you have built up in .NET.

The backend is a different story. I like to house my service layer in a separate project anyway as I consider it a more generic use. You might have other client apps or even other systems making use of your service layer. But Aurelia is a web client framework that seems to be focused on

[2018-05-03 12:15] TonyLugg commented on #873
@Alexander-Taran Agreed.  Since Webpack 4 is now Aurelia's default CLI configuration, will the Aurelia team not be keeping an eye on this Webpack issue to get the Aurelia community a fix as soon as possible.  It is such a fundamental flaw that will likely bite many of us.

[2018-05-04 12:54] Alexander-Taran commented on #873
@JeroenVinke would we want to temporarily lock the webpack < 4.2 ? or remove `lazy:true` and lock < 4.5 ?

[2018-05-05 09:28] leebenson commented on #520
Try `npm i -D @types/node`

[2018-05-05 11:32] Alexander-Taran commented on #520
I'd suggest renaming the typings directory and checking if everything builds without it.. and go from there..

[2018-05-06 18:45] #860 closed

[2018-05-08 18:32] jpravetz commented on #223
I've had pug working with cli for ages, but am migrating to webpack while da boss is out of town and not reming me of the feature list. I've got this so far.

## webpack.config.js rules and plugins

[code]

[code]

## index.pug

[code]

## main.js

[code]

[code]

*But* my components aren't loading, with the complaint that the view can't be found `Unable to find module with ID: resources/elements/

[2018-05-09 12:51] Alexander-Taran commented on #223
@jpravetz could you create a step by step guide and PR it here https://github.com/aurelia-contrib/aurelia-getting-started/tree/master/guides ?
would be great to have a recipe for that (-:

[2018-05-09 23:57] wtilton commented on #800
@ganesh-phadtare how did it work? Currently trying to get this to work. What syntax did you use? Nothing works for me.

[2018-05-10 06:18] 1hella opened #877 "Default TypeScript setup won't build: node_modules/aurelia-pal-nodejs/dist/index"' has no exported member 'globalize'."
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
MacOS 10.13.4

* **Node Version:**
9.11.1

* **NPM Version:**
5.8.0

* **Language:**
TypeScript 2.8.3

* **Loader/bundler:**
Webpack

**Current behavior:**
1.  Run `au new ts-test`
2. Choose `2` for Default TypeScript
3. Type `yes` to create project
4. `yes` to install

[2018-05-10 14:42] EisenbergEffect commented on #877
We apologize for this issue. I’m having someone from the CLI team look into this. I suspect this is a breaking change in one of our dependencies, rather than the CLI itself. In the past, we’ve had a number of occasions when the Webpack team made a breaking change on a minor release, which broke us with no warning at all. We’ll work to get this addressed asap. Thanks for your patience.

[2018-05-10 15:15] JeroenVinke commented on #877
Hey @1hella, i'm having trouble to reproduce this. I've tried using the same NPM, Node, Aurelia-CLI versions but i'm not getting this error. I'm on ubuntu though, not on Mac OS.

Can you look for the file `/Users/Stephen/Workspace/ts-test/node_modules/aurelia-pal-nodejs/dist/index.js` and post the content of that file here? For me the `aurelia-pal-nodejs` directory looks like
![image](https://user

[2018-05-10 18:17] 1hella commented on #877
@EisenbergEffect @JeroenVinke
Thanks for the quick response!

aurelia-pal-nodejs/dist/index.js looks like this:
[code]

My yarn version is 1.6.0.

Something that's interesting is that after `npm cache clean` and `rm -rf node_modules` and npm/yarn install it builds fine.

I saved a backup of the yarn.lock file that was generated from `au new` and it's different from the file that was created from r

[2018-05-10 18:27] JeroenVinke commented on #877
@1hella thanks for the extra info :)

@EisenbergEffect When I was working on the SSR stuff I noticed that aurelia-pal-nodejs suddenly got a 1.0.0 version, even though the latest released version is a beta one. Any idea where this is coming from?

![image](https://user-images.githubusercontent.com/2189477/39886632-52ae94f0-5490-11e8-9dcb-d61461e9f84a.png)

[2018-05-11 08:57] fjogstad opened #878 "after npm install au run fails with missing module gulp"
**I'm submitting a bug report**

* **Library Version:**
0.33.0

**Please tell us about your environment:**
* **Operating System:**
Linux (KDE neon (ubuntu 16.04)

* **Node Version:**
10.1.0

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**
When I install packages with npm install bootstrap etc, au run fails to start and complains w

[2018-05-11 09:35] fjogstad commented on #878
Reverted back to 0.32.0 and bug went away.

[2018-05-11 10:34] avrahamcool commented on #878
did you try upgrading to 0.33.1 instead of downgrading?

[2018-05-11 12:47] fjogstad commented on #878
I tried to upgrade and got the same behavior. I have also tried to delete the project and generate it from scratch multiple times with different loaders and configuration. No difference.

What I have not tried it is to upgrade a project made with the au new 0.32.0 to a 0.33.X and then install a package. I can try that later to day.

[2018-05-13 20:16] ShawnTalbert commented on #811
@JeroenVinke as a matter of security I generally don't `npm install` anything with `-g`. Rather than use other approaches I just npm install things I use often in my home directory and have `~/node_modules/.bin` in my path. Hence no need to write to protected spots on the filesystem nor reconfigure npm to use a different 'global'.

[2018-05-14 10:10] fjogstad commented on #878
Hm, I do not have yarn, but are there other similar tools that I can have installed that does the same?

Not sure how I should debug this, any help is much appreciated. I am quite new to node universe and playing with aurelia is my introduction to this world. My background is from the traditional libc, gnu and linux developer world...

[2018-05-15 08:33] stevies opened #880 ""au install" does not work with webpack"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

* **Loader/bundler:**
Webpack

**Current behavior:**
au install does now work
au import does not work

Example:
`au install aurelia-store` -  generates error:

If I use npm to install, and then do `au import aurelia-store` - same error as above.

Although webpack is now the CLI default, there does not appear to be any instructions for

[2018-05-15 09:34] zewa666 commented on #880
With respect to aurelia-store nothing besides npm/yarn Install should be needed. What would you expect to happen with au install?

[2018-05-15 10:15] stevies commented on #880
When I just did `npm install aurelia-store`, then when I run my app, I get error:
`Unhandled rejection Error: Unable to find module with ID: aurelia-store`.

Then I followed the instructions at: https://aurelia.io/docs/build-systems/aurelia-cli - that does not work, hence raising this defect.  Perhaps it is the documentation that is out-of-date and needs to be fixed?

Anyway, I still need a means

[2018-05-15 10:36] zewa666 commented on #880
The issue you mentioned sounds more like an in App configuration issue. Can you share your main.js/ts where you register the plugin?

Yes the Docs are still pointing to the requirejs cli, and Au Install and import are only necessary for that target since aurelia.json needs to be updated, which isnt needed for webpack though. Npm Install should be enough

[2018-05-15 10:44] stevies commented on #880
Standard main.js created from CLI `au new` plus I have an empty object at "./state.js" - just starting to convert over the sample app at aurelia-store and getting blocked at this very early stage.

[code]
I am not sure if I need to start manually hacking around in webpack.config.js - I was assuming `au import` would do any configuration necessary.

[2018-05-15 10:58] stevies commented on #880
Looks like I need to add `PLATFORM.moduleName`:
[code]
Nothing else needed now as far as I can see.  OK to close this, I think.

[2018-05-15 11:12] Alexander-Taran commented on #878
well start from using stable node 8.x.x  and upgrading npm from 5.6.0 it is a source of many issues.
yep. start from upgrading npm.

[2018-05-15 15:27] zewa666 commented on #880
Exactly what I thought. That was the reason

[2018-05-15 15:27] #880 closed

[2018-05-15 18:48] JeroenVinke commented on #877
@EisenbergEffect it appears that 1.0.0 was released once in 2016

![image](https://user-images.githubusercontent.com/2189477/40077180-21aaa05c-5881-11e8-8bf4-9c91367a15f8.png)

I don't think we can unpublish though. We'd probably have to release as 1.0.1 to correct this.

[2018-05-15 23:28] EisenbergEffect commented on #877
I'll get a post 1.x release out this weekend to fix this, probably 1.1.0 since there are likely to be larger changes since 2016.

[2018-05-16 00:53] EisenbergEffect commented on #877
Ok, version 1.1.0 is released. @1hella Please give it a try and let us know if the issue is resolved. Thanks!

[2018-05-16 04:51] HamedFathi opened #881 "au run does not work (freezing/waiting)"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7/10
Tested on two computers

* **Node Version:**
Node 8 / 10

* **NPM Version:**
5.3.0/6.0.1

* **Browser:**
all

* **Language:**
TypeScript 2.5/2.8

* **Loader/bundler:**
Webpack

**Current behavior:**
Recently I created a new clean project with `au new` and

[2018-05-16 07:01] 1hella commented on #877
@EisenbergEffect Yep, it works now! The generated project resolved to 1.1.0.

[2018-05-16 07:18] avrahamcool commented on #881
what is the `npm` version in the other computer?
can you upgrade `npm` and try again?

[2018-05-16 09:01] HamedFathi commented on #881
@avrahamcool

```node -v => 8.9```
```npm -v => 5.3.0```

Based on your request I updated nodejs to 10.1.0 on my office PC so now

```node -v => 10.1.0```
```npm -v =>  5.3.0```

The same as before :(

[2018-05-16 10:06] avrahamcool commented on #881
I just tried with `yarn` and `npm` and it works fine.
(also I had problems when installing dependency because of bad network)

can you try answering `no` to the `cli` when he tries to install your dependencies, and then install them by yourself, and see if something changes?

`npm -v` : `6.0.1`
`yarn -v`: `1.6.0`
`node -v`: `v8.11.1`

[2018-05-16 13:56] meta-pratap-ranawat commented on #300
Hi @EisenbergEffect ,

 I facing issue regard imprt for svg file in component

**`import logo from 'text!resources/aurelia-logo.svg';`**

This is not working for me. Is that i am missing any step for it.

I am working with typescript&webpack

 @EisenbergEffect

Thanks in Advance

[2018-05-16 14:33] EisenbergEffect commented on #300
@meta-pratap-ranawat You may be using a require.js or system.js specific syntax in your import, which wouldn't work with Webpack. You probably want to look up how Webpack handles bundled svg resources. My guess is that you should start by just trying to import `resources/aurelia-logo.svg` and make sure the webpack config is setup to bundle svg correctly.

[2018-05-16 14:34] EisenbergEffect commented on #877
Excellent. Apologies for the issue!

[2018-05-16 14:34] #877 closed

[2018-05-16 23:04] n2liquid opened #883 "Production builds fail on Uglify step when TypeScript target is ES6"
**I'm submitting a bug report**

* **Library Version:**
0.32.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 16.04

* **Node Version:**
8.9.1

* **NPM Version:**
5.5.1

* **Browser:**
N/A

* **Language:**
TypeScript 2.8.3

* **Loader/bundler:**
RequireJS

**Current behavior:**

* **Steps to reproduce:**

[code]

* **What is the expected behavior?**

Build should succee

[2018-05-17 01:10] PWKad commented on #638
Currently when starting a new project and using the aurelia-cli you are giving up configurability for convenience.  It makes deciding to use the cli a bit of a gamble because once a project starts to grow larger or the team decides to tweak tooling it can be very tough to maintain a large cli project.

As mentioned before, at this point there should be a command in the cli which ejects and moves a

[2018-05-17 21:08] JesseNewman19 commented on #549
I am still having this issue with the latest version of the CLI.

[2018-05-18 02:09] huochunpeng commented on #870
The PR is a proper long-term fix. Please ignore my proposed short-term fix.

[2018-05-18 09:34] HamedFathi commented on #881
@avrahamcool

Thank you, my friend 👍

[2018-05-18 09:34] #881 closed

[2018-05-20 09:43] mobilemancer opened #885 "Switch option order for integration test choise"
**I'm submitting a feature request**

* **Library Version:**
0.33.1

**Current behavior:**
Would you like to configure integration testing?

1. Protractor (Default)
   Configure your app with Protractor
2. No
   Skip testing. My code is always perfect anyway.

* **What is the expected behavior?**
Would you like to configure integration testing?

1. No
   Skip testing. My code is always perfect any

[2018-05-20 09:46] bigopon commented on #885
This feels funny to me, someone may actually write test because of this, not sure if it's a bad thing 😆

[2018-05-20 15:16] zewa666 commented on #885
Wonder why for other scenarios No is the default answer.

[2018-05-21 05:02] mobilemancer commented on #885
Imo, for when setting up a quick project to do a spike, I think the defaults should all lead to the least amount of install time. But whatever is decided upon, it should at least be consistent :)

[2018-05-28 01:57] geomorillo commented on #852
when is this gonna be fixed?

[2018-05-28 02:12] fkleuver commented on #852
@geomorillo Considering there is a very easy workaround (simply use `au run --watch` instead of `au run`), I don't think this is very high on the priority list atm.

[2018-06-01 04:24] Vheissu opened #887 "Proposal: 4 space indentation instead of the current default 2"
Currently when you start a new Aurelia CLI project the default setting in `.editorconfig` is 2 space indentation. This is an argument that has hung over the heads of programming since the dawn of time (it's inscribed in caves from thousands of years ago).

I am proposing we change this to be 4 by default. It might be personal preference and bias, but I find that 4 character space indentation looks

[2018-06-01 04:37] fkleuver commented on #887
Option to configure: 👍
4 space default: 👎
I like my code dense. Less scrolling, less eye movement. More info at a glance.

[2018-06-01 07:39] zewa666 opened #888 "Out-of-the-box high vulnerabilities for Aurelia-CLI generated projects"
**I'm submitting a bug report**

* **Library Version:**
latest

**Please tell us about your environment:**
* **Operating System:**
all

**Current behavior:**
The out-of-the box setup has a dependency on npm which is introducing vulnerabilities with `https-proxy-agent`. Run `npm audit` to see the vulnerability marked as `high`

* **What is the expected behavior?**
Do we even need npm as a dependenc

[2018-06-04 14:53] amar-muratovic opened #889 "TypeError: Cannot read property 'indexOf' of undefined"
Starting 'readProjectConfiguration'...
{ uid: 2,
  name: 'readProjectConfiguration',
  branch: false,
  error: TypeError: Cannot read property 'indexOf' of undefined
    at exports.PackageAnalyzer.reverseEngineer (C:\Users\Amar.M\Desktop\blog-start\node_modules\aurelia-cli\lib\build\package-analyzer.js:22:27)
    at analyzeDependency (C:\Users\Amar.M\Desktop\blog-start\node_modules\aurelia-cli\lib

[2018-06-06 15:42] avrahamcool commented on #889
please provide more details about your project configuration.
is it a CLI project? (what version of the cli, what option did you choose?)
`npm` or `yarn`?
verison of node..
are you running `au build` or `au run`? are you runing with `--watch`?
did you change the build/run tasks? or is it out of the box?

[2018-06-06 15:51] avrahamcool commented on #868
I can confirm that locking `webpack` to `4.1.1` fixes the `au build --env prod` issue.
would be nice if someone can comment here when a new version of `webpack` fixes the issue.
(it's ugly to lock version and stop updates)

[2018-06-07 08:45] stevies opened #890 "Webpack production build - uglification should be optional and/or fully configurable"
**I'm submitting a feature request**

* **Language:**
ESNext

* **Loader/bundler:**
Webpack

**Current behavior:**
Running production CLI webpack build uglifiies code by default.  Uglification breaks code. No obvious way to prevent (or configure) uglify.

**What is the expected behavior?**
Uglification should be optional and/or fully configurable.

I guess some of this may be just Webpack doing it

[2018-06-07 11:32] stevies commented on #890
For anyone looking for a solution to this, I have found that doing this allows you to configure webpack to not automatically uglify code:
[code]
Then you can do:
[code]
to set your own config for uglify.

[2018-06-07 11:32] #890 closed

[2018-06-08 13:41] jamesond commented on #883
Has anyone got this working properly?

[2018-06-09 00:37] n2liquid commented on #883
@jamesond, I haven't tried it yet, but it seems the way to go is to setup Babili. I think the easiest way is probably to disable minification in `aurelia.json` like I mentioned and add Babili to your production Gulp pipeline. If you give it a try, let us know if it works.

[2018-06-13 16:55] Alexander-Taran commented on #883
you could look @ this pr https://github.com/aurelia/cli/pull/864

[2018-06-13 16:58] Alexander-Taran commented on #887
that's why tabs could work better in teams with more than 1 person.
everyone can have their own tab "width" (-:

[2018-06-13 19:50] TonyLugg commented on #873
I created a new project and it is building with webpack 4.12.0 and this issue is resolved.

[2018-06-13 21:48] Alexander-Taran commented on #873
@EisenbergEffect  this one can be closed then (-:

[2018-06-13 21:50] Alexander-Taran commented on #868
@avrahamcool can you recheck with latest webpack?

[2018-06-13 22:33] #873 closed

[2018-06-14 12:48] avrahamcool commented on #868
tested with `4.12.0`. issue is still there..

[2018-06-17 19:15] geomorillo commented on #231
now 2018 no updates?

[2018-06-17 19:18] djensen47 commented on #641
It's located in `./aurelia_project/tasks/process-css.js`

[2018-06-17 20:03] geomorillo commented on #231
or maybe just follow this steps
1) delete /node_modules and package-lock.json (if you have any)

2) run npm update. this will update package.json to the latest version with installed dependencies

[2018-06-18 08:11] tkvinfolio opened #891 ""au new" errors out, can't start a project. Please help"
**I'm submitting a bug report**

**Please tell us about your environment:**
* **Mac OSX 10.12.6 Sierra :**

* **Node Version:**
Now using node v8.11.3 (npm v5.6.0)

* **NPM Version:**
npm v5.6.0

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView

* **Language:**
ESNext

* **Lo

[2018-06-18 09:16] kladebo commented on #891
I'm having the same problems here..

internal/modules/cjs/loader.js:596
    throw err;
    ^

Error: Cannot find module 'aurelia-dependency-injection'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:594:15)
    at Function.Module._load (internal/modules/cjs/loader.js:520:25)
    at Module.require (internal/modules/cjs/loader.js:650:17)
    at require (internal/modules/cjs/h

[2018-06-18 09:17] ShauniArima commented on #891
Same problem for all `au` commands.

[code]

[2018-06-18 09:19] marekpetak commented on #891
I can see the same error creating new project on Windows 10 Pro, Node 8.11.3, aurelia-cli 0.33.
Project will get created OK, but when runnin _au run --watch_
 I get same error

`
        module.js:549
		throw err;
		^

	Error: Cannot find module 'aurelia-dependency-injection'
		at Function.Module._resolveFilename (module.js:547:15)
		at Function.Module._load (module.js:474:25)
		at Module.require

[2018-06-18 09:34] gcastre commented on #891
Same problem here

[2018-06-18 16:11] jasonbiondo commented on #214
@JeroenVinke @EisenbergEffect  is an update for this dead or is there some other place I can go to find a Cordova skeleton?  I'm hitting errors when trying to load my build in iOS and Android because of resource file path issues and the use of the base tag.  If there is a skeleton, I'd love to see it so that I can fix my errors.

[2018-06-18 18:20] jwx commented on #214
@jasonbiondo Not a skeleton (and possibly a bit outdated), but might provide some help/ideas: http://in90seconds.jwenzel.se/2017/03/22/aurelia-cordova-in-90-seconds-or-less/

[2018-06-19 16:20] tkvinfolio commented on #891
thanks for the the hint on issue #166.  After installing dependency injection 1.4.1, as:
   "npm install -g aurelia-dependency-injection@1.4.1"
"au new" command successfully starts.

[2018-06-19 16:24] tkvinfolio commented on #891
"npm install -g aurelia-dependency-injection@1.4.1"
"au new" command gives same error.

[2018-06-22 07:41] tkvinfolio commented on #891
1. install "npm install -g aurelia-dependency-injection@^1.4.1"
2. install "npm install -g aurelia-cli"
These two steps seem to fire "au new" without error.
Will close it after verifying again.

[2018-06-23 20:30] ghiscoding opened #892 "au run not working with custom WebPack insllation but npm start works"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.11.0

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
TypeScript

* **Loader/bundler:**
Webpack

**Current behavior:**

* **What is the expected behavior?**
`au run` should start the application

* **What is the motivatio

[2018-06-24 07:10] avrahamcool commented on #892
try to run `au run --watch`.

https://github.com/aurelia/cli/issues/863

[2018-06-24 15:48] ghiscoding commented on #892
thanks @avrahamcool
I couldn't find any ticket referencing this issue but after seeing the issue you sent, I see it's a duplicate of #852 so I'll close and thanks for the command, I'll give that a try.

[2018-06-24 15:48] #892 closed

[2018-06-24 15:49] ghiscoding commented on #855
Also noticed that and was very surprised of it since I heard it was supposed to change.

[2018-06-24 15:50] avrahamcool commented on #892
yes.. its the same workaround..

[2018-06-25 11:22] hanssens opened #894 "Errors in default, empty webpack project: Uncaught (in promise) - Could not establish connection. Receiving end does not exist."
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
macOS 10.13.5

* **Node Version:**
8.9.4

* **NPM Version:**
5.5.1

* **Browser:**
Chrome 67.0.3396.87 (Official Build) (64-bit)

* **Language:**
TypeScript 2.5.2

* **Loader/bundler:**
Webpack

**Current behavior:**
On starting a new, Default TypeScript project (with

[2018-06-25 12:30] codermrrob opened #895 "au new --here in .Net Core 2.1 project crashes during installing project dependencies"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows10Pro

* **Node Version:**
6.11.4

* **NPM Version:**
3.10.10

**Current behavior:**
`au new --here` running in a .Net Core 2.1 project folder.
cli crashes out during installing project dependencies. Happens with a variety of options.

`Would you

[2018-06-25 15:53] doktordirk commented on #894
hmm, works for me but i have a more current node and tsc. maybe update those if you can

[2018-06-26 02:40] 1hella opened #896 "jest.runCli returns a promise now, the callback in tasks/jest.js never gets executed"
**I'm submitting a bug report**

* **Library Version:**
0.33.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.5

* **Node Version:**
9.11.1

* **NPM Version:**
5.8.0

* **Browser:**
N/A

* **Language:**
all

* **Loader/bundler:**
all

**Current behavior:**

I wanted to run the jest tests automatically when running `au build --env dev` so I added the following to task

[2018-06-27 11:44] alexss3 commented on #894
I have been experiencing this problem for a few days now. Initially I thought it was something in my Angular 6 code as it first appeared after I made some changes, but it is now appearing on completely different websites.

**OS:**
Windows 7 Enterprise x64

**Node:**
8.11.1

**NPM:**
6.1.0

**Browser:**
Chrome Version 66.0.3359.139 (Official Build) (64-bit)

![webpack-errors](https://user-images.gi